﻿@using AutoIndicators.Models
@using System.Web.UI.WebControls
@model dynamic

@{
    Layout = null;
    string strNotif = "Notif ";
    
    if (ViewBag.Track)
    {
        strNotif = "Track ";
    }
}
@if (!ViewBag.Refresh)
{
    <ul class="w3-navbar w3-black">
        <li><a href="#" id="NotiDash" onclick="openTab('PrevNotif')">Existing @strNotif</a></li>
        <li><a href="#" id="NewNoti" onclick="openTab('NewNotif')">New @strNotif</a></li>
    </ul>


@*this table show the notifs that belong to the clicked element*@
    <div class="modal fade" id="BModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">
    <div class="modal-content" id="Bmodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myBModalLabel">Please leave a comment explaining the negative Result</h4>
        </div>
        <div class="modal-body" id="BmodalContainer"></div>
    </div>
</div>
        
<div id="PrevNotif" class="w3-container Tabs">
    <div id="grid_table" style="float:left"></div>
    <div id="Akcnowledge" style="float:left; display:none">
        Assignees<div style="float:right; text-align:center; width:20%; height:30px; border:1px solid black; cursor:pointer" onclick="$('#Akcnowledge').toggle('slide',800); $('#grid_table').css('width','100%')">X</div>
        <div id="Data" style="width:100%">
            <table id='DAssign' align=center><tr><th>Name</th><th>Acknowledge</th></tr><tbody></tbody></table><br />Loading...
        </div>
    </div>
    <table style="width:100%; display:none" align="center" id="NotifTable">
        <thead>
            <tr>
                <th id="" align="center">@strNotif ID</th>
                <th id="" align="center">Name</th>
                <th id="" align="center">Type</th>
                <th id="" align="center">Due</th>
                <th id="" align="center">Status</th>
                <th id="" align="center">Go to App</th>
                <th id="" align="center">Description</th>
                <th id="" align="center">Acknowledge</th>
                <td id="" align="center">Create Date</td> 
                <th id="" align="center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Notif item in Model.list)
            {
                <tr id="Notif-@item.NotifId">
                    <td>@item.NotifId</td>
                    <td>@item.NotifName</td>
                    <td>@item.NotifType</td>
                    <td>@item.DueDate.ToShortDateString()</td>
                    <td>@item.NotifStatusName
                    <td><a href="#" data-reference="@item.referenceID" data-app="@item.appId" data-additional="@item.AdditionalId" onclick="GotoApp(this)">@item.appName</a></td>
                    <td>@MvcHtmlString.Create(item.Descr)</td>
                    <td align="center">
                        @if (ViewBag.ShowAcknowledge!=null && ViewBag.ShowAcknowledge)
                        {
                            <input type="button" value="Show" onclick="ShowAcknowledge(@item.NotifId)" />
                        }
                        else
                        {
                            <input type="checkbox" @(item.Acknowledge ? "checked=checked" : "") onclick="Acknowledge(@item.NotifId,$(this).is(':checked'))" />
                        }
                    </td>
                    <td>@item.createDate.ToShortDateString()</td>    
                    <td>
                        <input type="button" value="Edit" id="EditBtn" onclick="EditNotif($('#Notif-@(item.NotifId)'))" />
                        <div id="AppIcon-@item.NotifId" style="display:none">@item.appIcon</div>
                        <div style="display:none" id="NotifStatus-@item.NotifId">@item.NotifStatusId</div>
                        <div style="display:none" id="NotifType-@item.NotifId">@item.NotifTypeId</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>

   <div id="NewNotif" class="w3-container Tabs">
       @if (ViewBag.CreateNew)
{
    <div id="Datas" style="display: none" data-continuity="@ViewBag.Data[1]" data-view="@ViewBag.Data[0]" data-string="@ViewBag.DataString" data-additional="@(((string)ViewBag.Data[2]).Length>0? ViewBag.Data[2] : 0)" data-subtype="@(((string[])ViewBag.Data).Length>8? ViewBag.Data[8] : 0 )"></div>
}
else
{
        <div id="Datas" style="display: none" data-continuity="" data-view="0" data-string="" data-additional="0"></div>
       }
       
        <div class="alert alert-warning" hidden="hidden" id="warning">
            <a href="#" class="close" aria-label="close" onclick="$('#warning').hide()">&times;</a>
            <strong>Warning!</strong>
            <div id="warningMessage"></div>
        </div>
        <div class="alert alert-success" hidden="hidden" id="success">
            <a href="#" class="close" aria-label="close" onclick="$('#success').hide()">&times;</a>
            <strong>Success!</strong>
            <div id="successMessage"></div>
        </div>
        <div id="editItems">
            <table width="1024" align="center" border="1" id="fieldsTable" class="SnapShot">
                <colgroup>
                    <col span="1" style="width: 15%" />
                    <col span="1" style="width: 25%" />
                    <col span="1" style="width: 25%" />
                    <col span="1" style="width: 25%" />
                </colgroup>
                <tr>
                    <td rowspan="3" align="center">@Html.Label("Go to App: ") <br /><img id="appIcon" class="MainMenu" @(ViewBag.Data!=null? "src="+ViewBag.Data[4].Replace("~","") :"") /></td>
                    <td><div id="fType">Step #1: </div> @Html.Label(strNotif+"Type: ")<br />
                            <select id="pType">
                                @if (ViewBag.Data != null && (string)ViewBag.Data[0] == "6")
                                {
                                    foreach (NotifTypes type in ViewBag.Types)
                                    {
                                        if (type.idType == 2)
                                        {
                                            <option selected="selected" value="@type.idType">@type.Name</option>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (NotifTypes type in ViewBag.Types)
                                    {
                                        if(type.idType<3)
                                        { 
                                            <option value="@type.idType">@type.Name</option>
                                        }
                                    }
                                }
                            </select>
                        <div id="dType"></div>
                    </td>
                    <td colspan="3">
                        <div id="fName">Step #2: Provide</div>@Html.Label(strNotif+"Title: ") @Html.TextBox("pNotifName", null)
                        <div id="dTitle"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div id="fDesc">Step #3: </div>@Html.Label(strNotif+"Description, Deliverables: ") 
                        <div id="dDesc"></div>
                        <textarea id="pDescr" name="pDescr"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><div id="fAssign">Step #4: Provide </div> @Html.Label("Assignees")</td>
                            </tr>
                            @if (!ViewBag.UpdateOnly)
                            { 
                                <tr>
                                    <td>@Html.TextArea("emails",AutoIndicators.GeneralClasses.General.FindEmailByAccount(User.Identity.Name))
                                    <input type="button" id="AddAssignees" value="Add" style="display:none" onclick="AddAssignees()" /></td>
                                </tr>
                            }
                            <tr>
                                <td id="Assignees" style="display: inline; border: none; padding-left: 5px; padding-right: 5px;"></td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top"><div id="dCreationDate"></div><br />
                        <div id="fDue">Step #5: </div>
                        @Html.Label("Requested Due Date: ") <br />@Html.TextBox("pDueDate") <div id="dDue"></div>
                    </td>
                    <td colspan="2">
                        <div id="StatusN">
                            <div id="fStatus">Step #6: Select</div>@Html.Label("Status ")
                            <br />
                            <select id="pStatus" @(ViewBag.UpdateOnly? "onchange=SaveNotif()" :"")>
                                @foreach (NotifStatus status in ViewBag.Status)
                                {
                                    <option value="@status.idStatus">@status.Name</option>
                                }
                            </select>
                            <div id="dStatus"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="right">
                        <input type="button" value="Cancel" id="CancelBtn" onclick="hideEditFields()" style="display:none">
                        @if (!ViewBag.UpdateOnly)
                        {
                            <input type="submit" value="Save" onclick="SaveNotif()" id="SaveBtn">
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <table width="950" align="center" id="NotifUpdateTable" class="SnapShot">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                @*<col span="1" style="width: 25%;">*@
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 50%;">
                                @*<col span="1" style="width: 10%;">*@
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th id="" align="center">Update ID</th>
                                    @*<th id="" align="center">Value</th>*@
                                    <th id="" align="center">Type</th>
                                    <th id="" align="center">Description</th>
                                    @*<th id="" align="center">Acnkow-ledge</th>*@
                                    <th id="" align="center">Status</th>
                                    <th id="" align="center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
                <tr id="trUpdates">
                    <td colspan="5"><input type="button" id="btnAddUpdate" style="width:100%" value="Add New Update ▼" onclick="AddUpdate()" /></td>
                </tr>
            </table>
            <table id="AddUpdate" width="1024" align="center">
                <colgroup>
                    <col style="width:25%" />
                    <col style="width:50%" />
                    <col style="width:20%" />
                </colgroup>
                <tr>
                    <td valign="top">@Html.Label("Type :")<br />
                    <select id="pTypeUpdate">
                        @foreach (NotifTypes type in ViewBag.Types)
                        {
                            if (type.Name != "RAPID" && type.Name != "Discrepancy")
                            { 
                                <option value="@type.idType">@type.Name</option>
                            }
                        }
                    </select></td>
                    <td valign="top">@Html.Label("Description :")<br /> 
                        <textarea id="pDescrUp" name="pDescrUp">   </textarea>
                    </td>
                    <td valign="top">
                        
                       <input type="checkbox" id="chkUpdateAknowledge" value="1" style="display:none" /><br /> 
                        <div id="fStatusUpdate" style="display:none">
                            @Html.Label("Status: ")
                            <select id="pStatusUpdate">
                                @foreach (NotifStatus status in ViewBag.Status)
                                {
                                    <option value="@status.idStatus.ToString().Trim()" selected="selected">@status.Name.Trim()</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" valign="top">Assignees @Html.TextBox("pAssignUpdate")<br />
                    @Html.Hidden("hAssgin")
                    <div id="AssignUpdate"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="Cancel" onclick="cleanUpdates()" /></td>
                    <td><input type="button" value="Save" onclick="SaveUpdates()" /></td>
                </tr>
            </table>
            
</div>
    </div>
    <script>
        openTab("PrevNotif")
        $('#pDueDate').datepicker();

        stand=1;
        Row=""; 
        
        ContinuityID='@(ViewBag.Data!=null? ViewBag.Data[1] : "")';
        Owner=@(ViewBag.Data!=null? ViewBag.Data[5]: "0") ;
        ProgramType = @(ViewBag.Data!=null? ViewBag.Data[6] :"0");
        PXT = @(ViewBag.Data!=null? ViewBag.Data[7] : "0");

        @if(!ViewBag.UpdateOnly)
        { 
            @:CreateRT();
        }
        
        $('#BModal .close').click(function(){
            $('#BModal').hide();
        })
    </script>
}
else {
    <div id="grid_table"></div>
    <table width="100%" align="center" id="NotifTable" style="display:none">
        <thead>
            <tr>
                <th id="" align="center">@strNotif ID</th>
                <th id="" align="center">Name</th>
                <th id="" align="center">Type</th>
                <th id="" align="center">Due</th>
                <th id="" align="center">Status</th>
                <th id="" align="center">Go to App</th>
                <th id="" align="center">Description</th>
                <th id="" align="center">Acknowledge</th>
                <td id="" align="center">Create Date</td> 
                <th id="" align="center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Notif item in Model.list)
            {
                <tr id="Notif-@item.NotifId">
                    <td>@item.NotifId</td>
                    <td>@item.NotifName</td>
                    <td>@item.NotifType
                    <td>@item.DueDate.ToShortDateString()</td>
                    <td>@item.NotifStatusName
                    <td><a href="#" data-reference="@item.referenceID" data-app="@item.appId" data-additional="@item.AdditionalId" onclick="GotoApp(this)">@item.appName</a></td>
                    <td>@MvcHtmlString.Create(item.Descr)</td>
                    <td align="center">
                        @if (ViewBag.ShowAcknowledge!=null && ViewBag.ShowAcknowledge)
                        {
                            <input type="button" value="Show" onclick="ShowAcknowledge(@item.NotifId)" />
                        }
                        else
                        {
                            <input type="checkbox" @(item.Acknowledge ? "checked=checked" : "") onclick="Acknowledge(@item.NotifId,$(this).is(':checked'))" />
                        }
                    </td>
                    <td>@item.createDate</td>
                    <td>
                        <input type="button" value="Edit" id="EditBtn" onclick="EditNotif($('#Notif-@(item.NotifId)'))" />
                        <div id="AppIcon-@item.NotifId" style="display:none">@item.appIcon</div>
                        <div style="display:none" id="NotifStatus-@item.NotifId">@item.NotifStatusId</div>
                        <div style="display:none" id="NotifType-@item.NotifId">@item.NotifTypeId</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    wwid=@ViewBag.WWID;

    changeToGridNotif(@(ViewBag.CreateNew? "true": "false"));
      
   
</script>



