﻿
@{
    ViewBag.Title = "NotiView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/pqgrid.min.css" rel="stylesheet" />
    <link href="http://paramquery.com/Content/css/themes/Office/pqgrid.css" rel="stylesheet">
    <link href="~/Content/pqselect.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">  
}
@section JSLibs{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/pqgrid.min.js"></script>
<script src="~/Scripts/pqselect.min.js"></script>
<script src="/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/tinymce.js"></script>
}
<div id="Notification"></div>

<script>
    wwid=@ViewBag.WWID;
    LoadMyNotif()
</script>
