﻿#mainTable th
{
    text-align: center !important;
    vertical-align: bottom !important;  
}
#mainTable th .headerstatus
{
    transform: rotate(-30deg);
    height:30px;
    text-align: left !important;
}
#mainTable th {
    background-color: #E6E6E6;
        
}
#header-fixed 
{ 
    position: fixed; 
    top: 0px; display:none;
    background-color:#E6E6E6;
}