﻿    div.collapseButton {
        width:30px;
        height:30px;
        background-color: black;
    }
    #mainTable > tr:nth-child(even) {
            background-color: #ebebeb;
        }
    #mainTable > table {
        table-layout:fixed;
        max-width:100%;
    }
    
    #mainTable > table, th, td {
        border: 1px solid gray;
        
    }

    #mainTable th {
        background-color: #E6E6E6;        
    }
    #mainTable td {
        padding: 5px 10px;
        word-wrap:break-word;
        width:20px;
        height:52px;
    }

    #mainTable tr, td {
        vertical-align: top;
    }
    h4 {
        margin-bottom: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
P {
    margin-bottom: 0;
}

     .modal-content {
            width: 600px;
            margin: 30px auto !important;
    }

    .comboBox {
        overflow:hidden;
    }

    