﻿table td{
    border:groove;
}

    .CommentText div {
        color:#000000!important;
        font-size:12px!important;
        font-family: Arial!important; 
    }   
    
    .CommentText span {
        color:#000000!important;
        font-size:12px!important;
        font-family: Arial!important; 
    }     

      #ql-editor-1 {
        
        border: 1px solid gray;
        /*min-height: 400px;
        max-width:300px;*/
        /*position: absolute;
        right:0px;
        top:75px;*/
    }

       #ql-editor {
      
        border: 1px solid gray;
        /*min-height:400px;
        max-width:300px;*/
          /*position: absolute;
        right:0px;
        top: 75px;*/
    }

#commentsDialog {
    top:0px;
    right:0px;
}
#BlockOnePage
{
    opacity: 0.6;
    filter : alpha(opacity=60);
    z-index: 100;
    position : absolute;
    width :100%;
    height :150%;
    background-color :darkgray;
    display: none;
    text-align : center
}
#mainselection select {
   border: 0;
   color: black;
   background: transparent;
   font-size: 30px;
   font-weight: bold;
   padding: 2px 10px;
   text-align-last:center; 
   width:600px !important;
   *background: #58B14C;
   -webkit-box-sizing:content-box;
}
#mainselection select option {
font-size: 12px;
}
 .modal-content {
            width: 600px;
            margin: 30px auto !important;
    }