﻿/**
 * ParamQuery Pro v2.0.4
 *
 * Copyright (c) 2012-2015 Paramvir Dhindsa (http://paramquery.com)
 * Released under GPL v3 license
 * http://paramquery.com/license
 *
 */
div.pq-grid{
    background:url("");/*to remove ui-widget-content background*/	
    color:#333;
    border:1px solid #99bce8;
}
div.pq-grid-top{
    background:rgb(211, 225, 241);
    color:#666;
}
div.pq-grid-title{    
    background:rgb(228, 236, 247);    
    border:1px solid #fff;
    border-bottom:1px solid #c5c5c5;
}
div.pq-toolbar{	
    border:1px solid #fff;		
    border-bottom:1px solid #c5c5c5;			
}
.pq-grid span.pq-separator{
    border-right:1px solid #fff;
}
div.pq-grid-footer{	
    
    border-top:1px solid #fff;
}	
.pq-grid div.pq-grid-bottom{
    background:rgb(211, 225, 241);
    color:#333;    
    border:1px solid #fff;
    border-top:1px solid #c5c5c5;    
}
.pq-grid div.pq-header-outer{	
    background:#eee;
    border-bottom:1px solid #c5c5c5;	
}
.pq-grid span.pq-grid-header{
    background-image: linear-gradient(#fefefe,#e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e6e6e6'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e6e6e6)); 
    background: -moz-linear-gradient(top,  #fefefe,  #e6e6e6); /* for firefox 3.6+ */	
}
.pq-grid-header td.pq-col-sort-asc,.pq-grid-header td.pq-col-sort-desc{
    background: url(images/header-hover.gif) #ebf3fd repeat-x 0px top;								
}
.pq-grid td.pq-grid-col, .pq-grid td.pq-grid-number-col{/*header cell*/
    font-weight:bold;
    color:#666;
    text-shadow:0 1px 0 #fff;
    border-left-width:0px;
    border-bottom-width:0px;
}
div.pq-cont{
    background:#fff;
}
div.pq-cont *{
    font-weight:normal;
}
tr.pq-grid-row > td{
    background:#fff;
    color:#333;
}	
tr.pq-grid-oddRow > td{
    background:#fafafa;
}
div.pq-hvscroll-square{
    background:#eee;
}			
tr.pq-grid-row-hover > td
{
    background-color:#efefef;
}     
tr.pq-row-select > td
{
    background:#d8e8fa;
}
.pq-grid td .ui-state-highlight{
    background:steelblue;
    border-width:0px;
    color:#fff;
}
div.pq-grid tr td.pq-grid-cell-hover
{
    background-color:#efefef;
    border-width:0px;
} 
.pq-grid tr td.pq-grid-number-cell
{
    background:#e4ecf7;
    color:#333; 
}
div.pq-grid tr td.pq-cell-select
{    
    background:#d8e8fa;
}       
.pq-grid div.pq-loading-mask{
    background:#dae5f3;
    border:1px solid steelblue;
    color:#333;
    font-weight:normal;
}
div.pq-loading-mask div{
    border:1px solid #999;
    background:#ddd;
}
.pq-sb-vert-theme .pq-sb-slider{
    border-color:#98AFC7;
}
.pq-sb-horiz-theme .pq-sb-slider{
    border-color:#98AFC7;
}