﻿#RAPID img {
    transform: scale(0.5, 0.5);
}
.button
{
    transform: scale(0.5, 0.5);
    cursor:pointer;
}
.section
{
 border: 5px solid #0062A8;
}
.group
{
    border-radius: 25px;
    border: 5px solid #0062A8;
    display:inline-block;
    width:100%;
}
.detail
{
    border-right: 5px solid #0062A8;
    float:left;
    width:20%;
    padding:10px;
}
.item{
    float:left;
    padding:10px;

}
.item-View {
    float:left;
    padding:10px;
    width:75%;
    background-color:lightgray;
    border: 1px ridge black;
}
#Description
{
    display:none;
}