﻿#Map{
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    width: 100%;
    height: 768px;
    background-color: #0079B5;
    color: white;
}
#Dmap{
  width: 100%; 
  background-color: #0079B5;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
}
.Year{
    float: left;
    width: 18%;
    height: 200px;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid white;
    display:inline;
    border-bottom: 3px solid white;
    border-bottom-style: dashed;
}
#Month
{
    width: 8.3%;
    border: solid 1px black;
    height:5%;
    float: left;
    background-color: white;
}
.MonthEmpty
{
    width: 8.3%;
    height:5%;
    float: left;
    position:relative;
}
.Month
{
    width: 8.3%;
    height:15%;
    float: left;
    border: 1px solid black;
    position:relative;
}
.Noncompliant{
    width:260px;
}
.Noncompliant .item
{
    background-color:red;
    height:30px;
    width:800px;
    border: 1px solid black;
    float:left;
    color:white;
}
.YearEmpty
{
    width:40%;
    border-bottom: 2px solid black;
    border-bottom-style: dashed;
    float: left;
    vertical-align: top;
    text-align: center;
    height: 200px;
    display:inline;
}