﻿.Step1{
    width: 500px;
    height: 250px;
    border: outset;
    float: left;
    background-color: lightsteelblue;
    color: white;
    text-align:center;
    padding-top:10%
}
.NavNext
{
    position:relative;
    border: solid 1px black;
    width: 100px;
    top :50%;
    left :70%;
    cursor:pointer
}
