﻿@using AutoIndicators.Models
@model dynamic
<link href="@Url.Content("~/Content/AcronymStyle.css")" rel="stylesheet" type="text/css" />

@*Modal for the Pop-Up View*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Program Add</h4>
            </div>
            <div class="modal-body" id="modalContainer">
                ...
            </div>
        </div>
    </div>
</div>

<div id="tableSearcher">
    <div id="SearchBox">
        <div>
            <a onclick="showPopUp(null); return false;" href="fallback.html">Add a new Proper Link</a>

        </div>
    </div>


    <div id="algo">
    </div>
    <div id="letterChooser">
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "A" })'> A </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "B" })'> B </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "C" })'> C </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "D" })'> D </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "E" })'> E </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "F" })'> F </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "G" })'> G </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "H" })'> H </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "I" })'> I </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "J" })'> J </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "K" })'> K </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "L" })'> L </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "M" })'> M </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "N" })'> N </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "O" })'> O </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "P" })'> P </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "Q" })'> Q </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "R" })'> R </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "S" })'> S </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "T" })'> T </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "U" })'> U </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "V" })'> V </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "W" })'> W </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "X" })'> X </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "Y" })'> Y </a>
        <a href='@Url.Action("ProperLinkList", "ProperLinks", new { ProperName = "Z" })'> Z </a>
    </div>

    <div id="dynamicTable">
        @using (Html.BeginForm())
        {
            if (Model != null)
            {
                <table width="100%" align="center" id="acronymTable" class="table table-bordered table-striped">
                    <thead id="TableHeaders">
                        <tr>
                            <th id="hProperName" align="center" height="30">Proper Name</th>
                            <th id="hDefinition" align="center">Definition</th>
                            <th id="hLink" align="center">Link</th>
                        </tr>
                    </thead>
                    @{int i = 0;}
                    @foreach (var item in Model.list)
                    {
                        i++;
                        <tr id="@item.id">
                            <td id="@("CProperName_" + i.ToString())"><a onclick="showPopUp(@item.id); return false;" href="fallback.html">@item.ProperName</a></td>
                            <td id="@("CDefinition_" + i.ToString())"> @item.Definition</td>
                            <td id="@("CLink_" + i.ToString())"> @item.Link</td>
                        </tr>
                    }


                </table>
            }

        }
    </div>

</div>

<script type="text/javascript">
    //Function to show the popup and pass the correct PWID to the view
    function showPopUp(ID) {
        if (ID == null) {
            var urlLink = "/ProperLinks/AddProperLink";
            $('#myModalLabel').html("Add a Proper Link")
            $('#Modal').data('url', urlLink);

            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");

            });
        }
        else {
            var textScheduleID = ID.toString();
            var text = "/ProperLinks/EditProperLink?ID=";
            var urlLink = text + textScheduleID;
            $('#myModalLabel').html("Edit the Proper Link")
            $('#Modal').data('url', urlLink);

            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");

            });
        }


    }
</script>