﻿@using AutoIndicators.Models;
@using System.Web.Mvc;
@using System.Data;

@helper MainMenu(UrlHelper Url, int? pWWID, string pWW, List<DEOSecurity.Model.mNodes> lstMenu,bool Complete)
{
    int i=0;
    <div class="navbar navbar-inverse navbar-fixed-top" id="navBar">
        <div class="container" style="padding-right:0px">
            <div class="navbar-collapse collapse" style="padding-right:0px">
                 <ul class="nav navbar-nav menu" id="layoutmenu">
                    @{
    foreach (DEOSecurity.Model.mNodes menu in lstMenu)
    {
        //if (Views.Where(x => x.strValue == menu.strTagID.Substring(1)).Count() > 0)
        //{
        //    CfgFreeHTML View = Views.Where(x => x.strValue == menu.strTagID.Substring(1)).First();

        //    if (!View.AllowedUser.Any(x => x == AutoIndicators.GeneralClasses.General.FindEmailByAccount(User.Identity.Name)))
        //    {
        //        continue;
        //    }
        //}
        <li style="position:relative" data-addnotify="1" data-countnotify="0" data-alignoti="top">
            @{
                string href=menu.strParameterString.Length>0? menu.strParameterString.Replace("<pWWID>",pWWID.ToString()).Replace("<pWW>",pWW) : "";
                href += Complete != null && Complete ? "&complete=true" : "";
                href= href.Length>0? "?"+href : "";
            }

            <a href="/@(menu.strName+"/"+ menu.strTarget+href)" id="@menu.strTagID" title="@menu.strTitle">
                @if (menu.strIcon != null && menu.strIcon.Length > 0)
                {
                    <img class="MainMenu" src="@Url.Content(menu.strIcon)" />
                }
            </a>
            <p align="center" style="color: #0062a8; vertical-align: middle;"><b>@menu.strVersion</b></p>
            @if (menu.strName.Equals("Snapshot"))
            {
                <ul>
                    <li class="last"><a href="#" onclick="Completed(); return false;" target="_self">Completed Snapshot</a></li>
                    <li class="last"><a href="#" onclick="Current(); return false;" target="_self">Working Snapshot</a></li>
                </ul>
            }

        </li>

    }
}
                </ul>
                
        <table border="0" align="right">
            <thead>
            <th id="thInfo@(Session["module"])" style="background-color:white; border: 1px solid white"><p style="display:none">info</p><img style="float:right; height:38px; width:38px" id="indicatorsImg" src="@Url.Content("~/Images/Information.png")" />
            </th>
            </thead>
       </table>
                <table align="right" style="color:black; border:none">
                    <tr>
                        <td style="border: none; cursor: pointer; color: #0062a8" id="NView">Create a New View</td>
                    </tr>
                </table>
        </div>
        </div>
    </div>
    <script>
        $('#NView').click(function(){
            $('#Modal').data('url', '../FreeHTML/CreateView?WWID=@pWWID&WName=@pWW');
            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");
                $('#modalcontent').width(600);
                $('#modalcontent').height('Auto');
                $('#myModalLabel').html("Add new Access View");
            });
        })
    </script>
}

@helper LabDetail(LabPerWeek item,string View,int extra,string WName, bool active=true, bool HistoricDislay = false)
{
    try
    {
        string collapseClass = HistoricDislay ? string.Empty : "collapse";
        string redFlagDivH = HistoricDislay ? string.Empty : "height:35px";
        string Name = "";
        <td id="@("F" + item.LabContinuityID)" style="padding-left:35px">
            <div style="@redFlagDivH;">
                @if (!HistoricDislay)
                {
                    <button style="color:blue" type="button" class="btn" data-toggle="collapse" data-target="#@("collapseme_" + item.LabContinuityID.ToString())" onclick="showPopUpCtrlClick('LabName', '@item.strName','@View','')">@(item.strName.Length>25? item.strName.Substring(0, 25) : item.strName)</button>
                }
            </div>

            <div id="@("collapseme_" + item.LabContinuityID)" class="@collapseClass">
                @if (item.strLayout != null)
                {<p><b>Lab Layout: </b><a href="@item.strLayout" target="_blank">@item.strLayout</a></p>
                }
                @if (item.Links != null)
                {
                    foreach (LabLink link in item.Links)
                    {
                        <p><a href="@link.strLink" target="_blank">@link.strName</a></p>
                    }
                }
                @if (active)
                {
                    <p><a onclick="LabDetailEdit(@item.Id,'@item.strName'); return false;" href="fallback.html">Edit</a></p>
                    <p><a onclick="DeleteLab(@item.Id,'@item.strName',@item.Campus.GeoID); return false;" href="fallback.html">Delete</a></p>
                    <p><a href="/Lab/SweepReport?WWID=@item.WWID&Continuity=@item.LabContinuityID&Name=@item.Geo @item.CampusName @item.strName&Lead=@item.strLeadName&WW=@WName" target="_blank">Sweep Report</a></p>
                }
            </div>
            <br />
            <p style="cursor: pointer; color: #428bca; display:none" onclick="window.open('/Lab/Request?LabContinuityID=@item.LabContinuityID&Lab=@item.strName')">Space Request</p>
            <div style="float:right"><img data-lpwid="@item.Id" data-imgcampus="@item.Campus.id" src="~/Content/images/plus.jpg" style="cursor:pointer" width="15" height="15" onclick="Space.extracols=@extra; ShowHideSpaces(this,'@item.LabContinuityID')" /></div>
        </td>
    }
    catch (Exception ex)
    {
        throw ex;
    }
}
@helper AddART(string id,string DivId,string TAId,string EditFunction,string Text)
{
    <div data-div="@(id)" id="@(DivId + id)" onclick="@EditFunction" style="width:100%; height:@(Text!=null && Text.Length > 0 ? "auto" : "50px");">@MvcHtmlString.Create(Text)</div>
    <textarea data-area="@(id)" id="@(TAId + id)" name="@(TAId + id)" style="width:400px; display:none">@Text</textarea>                        
}
@helper ProgDetail(dynamic item, UrlHelper Url, bool active, string View="", bool HistoricDislay = false, bool WW=false )
{
    try
    {
        AutoIndicators.Controllers.ProgEditController ProgControl =new AutoIndicators.Controllers.ProgEditController();
        List<BPOPRJID> proj = ProgControl.getProjectID(item.PWID);
            
        string collapseClass = HistoricDislay ? string.Empty : "collapse";
        string redFlagDivH = HistoricDislay ? string.Empty : "height:35px";
        
        <td onclick="showPopUpCtrlClick('PXTName', '@item.PXTName','','')" style="cursor:pointer"><a href="@item.PXTLink" target="_blank">@item.PXTName</a></td>
    <td id="@("F" + item.ContinuityID)">
        <div style="@redFlagDivH">
            @if (!HistoricDislay && item.RedFlag == 1)
            {
                <div style="float:right; background-color:lightgreen; position:relative; width:100%">
                    <div style="z-index:2; position: absolute; float:right; right:5%">
                        <a onclick="RedFlag(@item.PWID,'@item.ProgName'); return false;" style="cursor:pointer"><img src="@Url.Content("~/Images/flag-red.png")" /></a>
                        <a href="@Url.Action("IndexFromSnSh", "HealthIndicator", new { pPWID = item.PWID })" target="_blank">Go</a>
                    </div>
                </div>
            }
            @if (!HistoricDislay)
            {
                            //onclick="showPopUpCtrlClick('ProgName', '@item.ProgName','@View','')"
                <button style="color:blue" type="button" class="btn" data-toggle="collapse" data-target="#@("collapseme_" + item.PWID.ToString())">@item.ProgName</button>
            }
        </div>
        @{
        string progNameForBreakpoint = item.ProgName;                
        }
        <div id="@("collapseme_" + item.PWID.ToString())" class="@collapseClass">
            @if (item.ProgramLink != null)
            {<p><b>Name:</b><a href="@item.ProgramLink" target="_blank">@item.ProgName</a></p>}
            else
            {<p><b>Name:</b>@item.ProgName</p>}
            <p>
                <b>Description:</b>
                @if (item.PDescLink != null && item.PDescLink.Trim().Length > 0)
                {<a href="@item.PDescLink" target="_blank">@item.ProgDesc</a>}
                else
                {@item.ProgDesc}
            </p>
            @if (item.ProgTypeLink != null)
            {<p><b>Type:</b><a href="@item.ProgTypeLink" target="_blank">@item.ProgType</a></p>}
            else
            {<p><b>Type:</b> @item.ProgType</p>}
            @if (item.SharepointLink !=null)
            {
              <p><a href="@item.SharepointLink">Sharepoint</a></p>  
            }
            <p><b>GEO:</b> @item.GEO</p>
            <p><b>PLC Status:</b> @item.PLCStatus</p>
            <p><b>Program Owner:</b><a href="mailto:@item.OwnerEmail?subject=Snapshot @item.weekName - @item.ProgName">@item.OwnerName</a></p>
            @if (item.Clasification > 0)
            {
                <p>
                    <b>Clasification:</b>
                    @switch ((int)item.Clasification)
                    {
                        case 1: @:Lead
                            break;
                        case 2: @:Draft
                            break;
                    }
                </p>
            }
            
            @if(proj.Count>0)
            {
                <p><b>Projects</b> <input type="image" src="~/Content/images/plus.jpg" onclick="expandProj(this, '@item.ContinuityID'); return false" width="10" height="10"><br />
                <div id="ProjectDetail-@item.ContinuityID" style="display:none">
                    @foreach(BPOPRJID data in proj)
                    { 
                          @data.BPOProjName<br />
                    }
                </div>
                </p>
            }
            <p>
                @if (item.ProgramLink!=null && item.ProgramLink.Length > 0 && item.ProgramLink.Contains("PowerPoint"))
                {
                    <a href="@item.ProgramLink" target="_blank">Indicator</a>
                }
                else
                {
                    <a href="@Url.Action("Indicator", "Indicator", new {ContinuityID = item.ContinuityID })">Indicator</a>
                }
            </p>
            @if (active)
            {<p><a onclick="ProgDetailEdit(@item.PWID,'@item.ContinuityID'); return false;" href="fallback.html">Edit</a></p>}
        </div>
        @if(WW)
        {
            @:(@item.weekName)
        }
        
    </td>
    }
    catch (Exception ex)
    {
        throw ex;
    }
}
@helper Filter2 (List<object> item, List<mFilter> mFiltersToShow,string strModule,bool bCompleted=false, int WWID=0)
{
    AutoIndicators.GeneralClasses.ViewDataFilter fFil = new AutoIndicators.GeneralClasses.ViewDataFilter();
    List<List<Calendar>> lstWW = new List<List<Calendar>>();
    
    List<Calendar> Calendars = AutoIndicators.GeneralClasses.ViewDataFilter.Calendar();
    var objPass = item;

    fFil.oSource = item;
    fFil.mFiltersToShow = mFiltersToShow;
    fFil.vCreateFilter();

    Session["DataFil"] = fFil.dtData;
    Session["DataSource"] = fFil.oSource;

    int intCurrentWW = AutoIndicators.Controllers.CalendarController.getCurrentWorkingWeek();
    bool bSelected = bCompleted && Session["Current"] == null;
    bool bfirst = true;
    int YearSel = 0;
    
    <script src="~/Scripts/filter.js"></script>

        <div id="collapseFil_WW" class="collapse" style="color:white; width:200px; overflow-y:hidden; overflow-x:scroll; width:100%">
            <table style="border:none; width:100%">
              
                <tr>
                    <td style="border:none; width:10%"><b>Working Week</b></td>
                    <td style="border: none; width:15%">
                        Year
                        <select id="cmbFilYear" onchange="SelWW(this.value)">
                            <option>Select a Year</option>
                            @{
                                int intYear = 0;
                                    foreach (Calendar cal in Calendars)
                                    {
                                        if (cal.Year != intYear)
                                        {
                                            if (Session["FilWW"] != null && Convert.ToInt32(Session["FilWW"].ToString()) > 0)
                                            {
                                                if (Calendars.Where(x => x.id == Convert.ToInt32(Session["FilWW"].ToString())).Where(y => y.Year == cal.Year).Count() > 0)
                                                {
                                                    YearSel=cal.Year;
                                                    @:<option value="@cal.Year" selected="selected"> @cal.Year</option>
                                                }
                                                else
                                                {
                                                    @:<option value="@cal.Year"> @cal.Year</option>

                                                }
                                            }
                                            else
                                            {
                                                YearSel=DateTime.Now.Year;
                                                @:<option value="@cal.Year" @(cal.Year == DateTime.Now.Year ? "selected=selected" : "")> @cal.Year</option>
                                            }

                                            intYear = cal.Year;
                                        }
                                    }
                            }

                        </select>
                        <select id="cmbfilWW" name="cmbfilWW" class="cmbfilSearch">
                            <option value="0">Select</option>
                            <option value="Cu" @(!bCompleted && Session["Current"] != null ? "selected=selected" : "")>Current</option>
                            <option value="Co" @(bCompleted && Session["Current"]==null? "selected=selected":"")>Complete</option>
                            @foreach (Calendar cal in Calendars)
                                {
                                    if (cal.id == WWID && !bCompleted && Session["Current"] == null)
                                    {
                                <option style="background-color:lightblue" selected="selected" data-year="@cal.Year" value="@cal.id">@cal.weekName</option>
                                    }
                                    else
                                    {
                                <option style="background-color:lightblue" data-year="@cal.Year" value="@cal.id">@cal.weekName</option>
                                    }
                                }
                        </select>

                        <script>
                            SelWW(@YearSel);
                                @if (Session["FilWW"] != null && !bCompleted && Session["Current"] == null)
                                {
                                    @:$('option[value=@(Convert.ToInt32(Session["FilWW"]))]').attr('selected', 'selected');
                                                                    @:$('option[value=@(Convert.ToInt32(Session["FilWW"]))]').attr('background-color', 'white');
                                                                }
                        </script>
                    </td>
                    <td style="border:none; width:5%" align="center">
                        <button style="color:blue;" type="button" onclick="search()" class="btn">Search</button>
                    </td>
                    <td style="border:none; width:5%" align="center">
                        @if (Session["Prefilter"] == null || (Session["Prefilter"] != null && !Convert.ToBoolean(Session["Prefilter"].ToString())))
                        {
                            if (Request.Cookies["Module"] != null)
                            {
                                if (!Request.Cookies["Module"].Value.Contains("Lab"))
                                {
                                    if (Request.Cookies["FilString"] != null)
                                    {
                                        <button style="color:blue;" type="button" onclick="cancel('@strModule')" id="btnCancel" name="btnCancel" class="btn">Clear</button>
                                    }
                                }
                                else
                                {
                                    if (Request.Cookies["FilStringLab"] != null)
                                    {
                                        <button style="color:blue;" type="button" onclick="cancel('@strModule')" id="btnCancel" name="btnCancel" class="btn">Clear</button>
                                    }
                                }
                            }
                        }
                    </td>
                    @if (mFiltersToShow != null)
{

    int intj = 0;
    int inti = 0;
    foreach (mFilter mFil in mFiltersToShow)
    {
        string strLabel = mFil.strLabelField.Length > 0 ? mFil.strLabelField : "Without label";
        bool bisLinked = mFiltersToShow.Exists(row => row.strLinkedField == mFil.strField);
        bool bOpen = false;
        string display = "";

        if (Request.Cookies["Module"].Value == "Labs")
        {
            bOpen = true;
        }else
        {
            bOpen = false;
        }
       
            if (bfirst)
            {
                display = "block";
                bfirst = false;
            }
            else
            {
                if (Request.Cookies["Module"].Value == "Labs")
                {
                    display = "none";
                }
                else
                { 
                    display = "block";
                }
            }
      
                        
                        <td style="border:none; width:auto">

                            <div @(Session["Prefilter"] != null && Convert.ToBoolean(Session["Prefilter"].ToString()) ? "style=display:none" : "") @(bOpen? "" :  "data-target=#collapseFil_" +mFil.strField+" data-toggle=collapse")>
                                <b>@mFil.strLabelField</b>
                            </div>
                            <div id="@("collapseFil_" + mFil.strField)" @( bOpen? "" : "class=collapse") style="color: white; padding-left: 5%;">
                                @{
                        if (mFil.mHtmlTypeOf == mFilter.mHtmlInputType.fList)
                        {
                            if (fFil.dtFilFields != null && fFil.dtFilFields.Rows.Count > 0)
                            {
                                fFil.dtFilFields.DefaultView.Sort = mFil.strField;


                                DataTable dtFil = fFil.dtFilFields.DefaultView.ToTable(true, mFil.strField);
                                string strValue = mFil.strValueField != null ? mFil.strValueField : mFil.strField;




                                List<string> lstSel = new List<string>(0);
                                    
                                 if (Session["ValSelLab"] != null)
                                 {
                                     lstSel = (List<string>)Session["ValSelLab"];
                                 }
                                 else if (Session["ValSel"] != null)
                                 {
                                     lstSel = (List<string>)Session["ValSel"];
                                 }
                                    
                                int inTotal = lstSel != null ? lstSel.Where(x => x.StartsWith(mFil.strField)).Count() : 0;
                    <div id="@("Found_"+mFil.strField)" style="text-decoration:underline"></div>
                    <br />

                            if(!bOpen)
                            { 
                                <div data-field-owner="@mFil.strField" data-fil-link="@mFil.strLinkedField">
                                    <input type="checkbox"
                                           name="@("filAll" + inti.ToString()+intj.ToString())"
                                           id="@("filAll" + inti.ToString()+ intj.ToString())"
                                           value=@mFil.strField
                                           onclick="FilAll(this.value)"
                                           @(dtFil.Rows.Count == inTotal ? "checked=checked" : "") />All<br />
                                </div>
                            }
                                foreach (DataRow drData in dtFil.Rows)
                                {
                                    string strDataValue = "";
                                    if (drData[0].ToString().Length > 0)
                                    {
                                        DataRow[] drRow = fFil.dtData.Select(strValue + "='" + drData[0].ToString() + "'");

                                        inti++;

                                        string strCheck = lstSel != null && lstSel.Count > 0 && lstSel.Exists(row => row.Equals(mFil.strValueField != null ? mFil.strValueField : mFil.strField + "," + @drRow[0][strValue].ToString())) ? "checked='cheked'" : "";
                                        string strDataTag = mFil.strLinkedField != null && mFil.strLinkedField.Length > 0 ? " data-field-owner=" + mFil.strField + " data-field-rel=" + mFil.strLinkedField + " data-value-rel=" + drRow[0][mFil.strLinkedField].ToString().Replace(' ', '_').Trim() + "" : " data-field-owner=" + mFil.strField;


                                        string strClick = "";

                                        if (mFil.strLinkedField == null || mFil.strLinkedField.Length == 0)
                                        {
                                            strClick = " subfilter('" + drData[0].ToString().Replace(' ', '_').Trim() + "','" + mFil.strField + "')";
                                        }
                                        else
                                        {
                                            var tmp = mFil.strLinkedField + "," + drRow[0][mFil.strLinkedField].ToString();
                                            strClick = " subfilter('" + drData[0].ToString().Replace(' ', '_').Trim() + "','" + mFil.strLinkedField + "'); // selParent('" + tmp + "')";
                                        }

                                      
                                    
                                    if (drRow.Count() > 0)
                                    {
                                        <div @strDataTag data-fil-link="@mFil.strLinkedField" style="display:@display">
                                            <input type="checkbox"
                                                   name="@("filSearch" + inti.ToString()+intj.ToString())"
                                                   id="@("filSearch" + inti.ToString()+ intj.ToString())"
                                                   value="@(mFil.strValueField != null ? mFil.strValueField : mFil.strField),@drRow[0][strValue]"
                                                   @strCheck
                                                   onclick="@strClick" />@drData[0].ToString()<br />
                                            </div>
                                    }
                                      if (strCheck.Length > 0)
                                        //&& strDataTag.Length == 0)
                                        {
                                    <script>
                                        owners[owners.length] = '@drData[0].ToString().Replace(' ', '_').Trim()';
                                    </script>
                                    }
                                    }
                                }
                            }
                        }
}
                            </div>
                        </td>

    }
    
}
</tr>
            </table>
        </div>
    if (Request.Cookies["FilStringLab"] != null && Request.Cookies["FilStringLab"].Value.Length>0)
    { 
        <script>
            SelectFilRun('@Request.Cookies["FilStringLab"].Value.Replace("'","")');
        </script>
    }
}
@helper Filter(List<object> item, List<mFilter> mFiltersToShow,string strModule)
{
    AutoIndicators.GeneralClasses.ViewDataFilter fFil = new AutoIndicators.GeneralClasses.ViewDataFilter();
    List<List<Calendar>> lstWW = new List<List<Calendar>>();
    
    
    List<Calendar> Calendars = AutoIndicators.GeneralClasses.ViewDataFilter.Calendar();
    var objPass = item;

    fFil.oSource = item;
    fFil.mFiltersToShow = mFiltersToShow;
    fFil.vCreateFilter();

    Session["DataFil"] = fFil.dtData;
    Session["DataSource"] = fFil.oSource;

    int intCurrentWW = AutoIndicators.Controllers.CalendarController.getCurrentWorkingWeek();
   
    <script src="~/Scripts/filter.js"></script>
    <div id="FilContent">
        <div id="Filter">
            <input type="hidden" name="removed" id="removed" />
            
            <p class="Filter" data-toggle="collapse" data-target="#collapseFil_WW"><b>Working Week</b></p>
            <div id="collapseFil_WW" class="collapse" style="color:white; padding-left:15%">
                Year
                <select id="cmbFilYear" onchange="SelWW(this.value)">
                    <option>Select a Year</option>
                    @{
                        int intYear = 0;
                        foreach (Calendar cal in Calendars)
                        {
                            if (cal.Year != intYear)
                            {
                                if (Session["FilWW"] != null && Convert.ToInt32(Session["FilWW"].ToString()) > 0)
                                {
                                    if (Calendars.Where(x => x.id == Convert.ToInt32(Session["FilWW"].ToString())).Where(y => y.Year == cal.Year).Count() > 0)
                                    {
                                        @:
                                        <option value="@cal.Year" selected="selected"> @cal.Year</option>
                                             }
                                    else
                                    {
                                        @:
                                        <option value="@cal.Year"> @cal.Year</option>
                                             }
                                }
                                else
                                {
                                    @:
                                    <option value="@cal.Year" @(cal.Year == DateTime.Now.Year ? "selected=selected" : "")> @cal.Year</option>
                                         }

                                intYear = cal.Year;
                            }
                        }
                    }

                </select>
                <select id="cmbfilWW" name="cmbfilWW" class="cmbfilSearch">
                    <option value="0">Select</option>
                    @foreach (Calendar cal in Calendars)
                    {
                        if(cal.weekStatus==1)
                        { 
                                <option style="background-color:lightblue" selected="selected" data-year="@cal.Year" value="@cal.id">@cal.weekName</option>
                        }else
                        { 
                            <option style="background-color:lightblue" data-year="@cal.Year" value="@cal.id">@cal.weekName</option>
                        }
                    }
                </select>
                <script>
                    @if(Session["FilWW"]!=null)
                    {
                        @:$('option[value=@(Convert.ToInt32(Session["FilWW"]))]').attr('selected', 'selected');
                        @:$('option[value=@(Convert.ToInt32(Session["FilWW"]))]').attr('background-color', 'white');
                    }
                </script>
            </div>
            @if(mFiltersToShow==null)
            {
                <p class="nofilter"><b>Please define a filter</b></p>
            }
            else
            {
                int intj = 0;
                <p class="Title" @(Session["Prefilter"] != null && Convert.ToBoolean(Session["Prefilter"].ToString()) ? "style=display:none" : "")>Filter By</p>

                foreach (mFilter mFil in mFiltersToShow)
                {
                    string strLabel = mFil.strLabelField.Length > 0 ? mFil.strLabelField : "Without label";
                    bool bisLinked = mFiltersToShow.Exists(row => row.strLinkedField == mFil.strField);

                    <p class="Filter" data-toggle="collapse" @(Session["Prefilter"] != null && Convert.ToBoolean(Session["Prefilter"].ToString())? "style=display:none" : "") data-target="#@("collapseFil_" +mFil.strField )"><b>@mFil.strLabelField</b></p>
                    <div id="@("collapseFil_" + mFil.strField)" class="collapse" style="color:white; padding-left:15%">
                    @{ 
                        if (mFil.mHtmlTypeOf == mFilter.mHtmlInputType.fTextBox) {
                            <input type="hidden" value="@(mFil.strValueField != null ? mFil.strValueField : mFil.strField)" name="Field" id="Field" />
                            <br />
                            <input type="text" name="txtfilSearch" id="txtfilSearch" />
                        }
                        if (mFil.mHtmlTypeOf == mFilter.mHtmlInputType.fComboBox)
                        {
                            fFil.dtFilFields.DefaultView.Sort = mFil.strField;
                            DataTable dtFil = fFil.dtFilFields.DefaultView.ToTable(true, mFil.strField).Copy();
                            string strValue = mFil.strValueField != null ? mFil.strValueField : mFil.strField;

                            List<string> lstSel = (List<string>)Session["ValSel"];
                            bool bFirst = true;



                            <select name="@("cmbfilSearch" + mFil.strField)" class="cmbfilSearch" onchange="resetList(); owners.splice(0, owners.length); subfilter(this.value.substring(this.value.indexOf(',') + 1, this.value.length).replace(' ', '_'))">

                            @foreach (DataRow drData in dtFil.Rows)
                            {
                                string strDataValue = "";

                                DataRow[] drRow = fFil.dtData.Select(strValue + "='" + drData[0].ToString() + "'");

                                string strCheck = lstSel != null && lstSel.Count > 0 && lstSel.Exists(row => row.Equals(mFil.strValueField != null ? mFil.strValueField : mFil.strField + "," + @drRow[0][strValue].ToString())) ? " selected='selected'" : "";
                                string strDataTag = mFil.strLinkedField != null && mFil.strLinkedField.Length > 0 ? " data-value-rel=" + drRow[0][mFil.strLinkedField].ToString().Replace(' ', '_').Trim() + "" : "";

                                if (strCheck.Length == 0 && bFirst)
                                {
                                    bFirst = false;

                                    <option value="0,0">Select ...</option>
                                }
                                if (strCheck.Length > 0 && strDataTag.Length == 0)
                                {
                                    <script>
                                        owners[owners.length] = '@drData[0].ToString().Replace(' ', '_').Trim()';
                                    </script>
                                }
                                <option @strDataTag value="@(mFil.strValueField != null ? mFil.strValueField : mFil.strField),@drRow[0][strValue]" @strCheck>@drData[0]</option>

                            }
                            </select>
                        }
                         if (mFil.mHtmlTypeOf == mFilter.mHtmlInputType.fList)
                         {
                             if (fFil.dtFilFields != null && fFil.dtFilFields.Rows.Count > 0)
                             {
                                 fFil.dtFilFields.DefaultView.Sort = mFil.strField;


                                 DataTable dtFil = fFil.dtFilFields.DefaultView.ToTable(true, mFil.strField);
                                 string strValue = mFil.strValueField != null ? mFil.strValueField : mFil.strField;

                                 int inti = 0;


                                 List<string> lstSel = (List<string>)Session["ValSel"];
                                 int inTotal=lstSel!=null? lstSel.Where(x => x.StartsWith(mFil.strField)).Count() :0;
                                            <div id="@("Found_"+mFil.strField)" style="text-decoration:underline"></div>
                                            <br />
                                <div data-field-parent="@mFil.strField">
                                                <input type="checkbox"
                                                       name="@("filAll" + inti.ToString()+intj.ToString())"
                                                       id="@("filAll" + inti.ToString()+ intj.ToString())"
                                                       value=@mFil.strField
                                                       onclick="FilAll(this.value)"
                                                       @(dtFil.Rows.Count ==inTotal  ? "checked=checked" : "")
                                                       />All<br />
                                                </div>
                                 foreach (DataRow drData in dtFil.Rows)
                                 {
                                     string strDataValue = "";

                                     DataRow[] drRow = fFil.dtData.Select(strValue + "='" + drData[0].ToString() + "'");

                                     inti++;
                                     string strCheck = lstSel != null && lstSel.Count > 0 && lstSel.Exists(row => row.Equals(mFil.strValueField != null ? mFil.strValueField : mFil.strField + "," + @drRow[0][strValue].ToString())) ? "checked='cheked'" : "";
                                     string strDataTag = mFil.strLinkedField != null && mFil.strLinkedField.Length > 0 ? " data-field-owner=" + mFil.strField + " data-field-rel=" + mFil.strLinkedField + " data-value-rel=" + drRow[0][mFil.strLinkedField].ToString().Replace(' ', '_').Trim() + "" : "";


                                     string strClick = "";

                                     if (mFil.strLinkedField == null || mFil.strLinkedField.Length == 0)
                                     {
                                         strClick = " subfilter('" + drData[0].ToString().Replace(' ', '_').Trim() + "','" + mFil.strField + "')";
                                     }
                                     else
                                     {
                                         var tmp = mFil.strLinkedField + "," + drRow[0][mFil.strLinkedField].ToString();
                                         strClick = " subfilter('" + drData[0].ToString().Replace(' ', '_').Trim() + "','" + mFil.strLinkedField + "'); //selParent('" + tmp + "')";
                                     }

                                     if (strCheck.Length > 0)
                                     //&& strDataTag.Length == 0)
                                     {
                                            <script>
                                                owners[owners.length] = '@drData[0].ToString().Replace(' ', '_').Trim()';

                                            </script>
                                     }

                                            <div @(strDataTag + " data-field-parent=" + mFil.strField)>
                                                <input type="checkbox"
                                                       name="@("filSearch" + inti.ToString()+intj.ToString())"
                                                       id="@("filSearch" + inti.ToString()+ intj.ToString())"
                                                       value="@(mFil.strValueField != null ? mFil.strValueField : mFil.strField),@drRow[0][strValue]"
                                                       @strCheck
                                                       onclick="@strClick" />@drData[0].ToString()<br />
                                                </div>
                                 }
                             }
                             else
                             {
                                            <p class="nofilter"><b>Categories not found @(mFil.strLinkedField!=null && mFil.strLinkedField.Length > 0 ? "in " + mFil.strLinkedField : "")</b></p>
                             }
                         }
                    }

</div>
         
                    intj++;
                }
            }
            <br /><br />
                <div style="float:left; padding-left:10%">
                    <button style="color:blue; width:100%;" type="button" onclick="search()" class="btn">Search</button>

                </div>
           
                <div style="float:right; padding-right:10%">
                    @if (Session["Prefilter"] == null && Session["CancelActivate"] != null && (Session["FilString"] != null || Session["FilWW"]!=null))
                    {

                        <button style="color:blue; width:100%" type="button" onclick="cancel('@strModule')" id="btnCancel" name="btnCancel" class="btn">Clear</button>
                    }
                </div>
            
            <div id="Load">
                <br /><br />
                <img src="~/Content/images/load.gif" width="150" height="150" /><br />
                <p>S E A R C H I N G</p>
            </div>

        </div>
        <div class="Tab" onclick="Show()">
            <p> >></p>
        </div>
    </div>
    <script>
        setTimeout(refreshFil(),5000);
    </script>
}
@helper MenuExtras(int WWID,bool bArchived,List<Users> lstUsers, List<string> options=null)
{
    bool bRes=lstUsers.Where(x=> x.validUsers==User.Identity.Name.Remove(0, 4) && x.UserType==1).Count()>0? true: false;
    <ul>
        @if(options!=null)
        {
            foreach(string url in options)
            {
                string[] urldata = url.Split('|');
                
                if(urldata[1]=="C" && bRes)
                {
                    <li>@MvcHtmlString.Create(urldata[0])</li>
                }
                else if (urldata[1] == "P")
                {
                    <li>@MvcHtmlString.Create(urldata[0])</li>
                }
            }
        }

                @if (bRes)
                {
                    <li><a href="fallback.html" onclick="CreateNewWW(); return false">Create New Week Snapshot</a></li>
                    <li><a href="/Snapshot/onOff?pWWID=@WWID&switcho=2" target="_self">Archive this Snapshot</a></li>
                    <li><a onclick="showPopUp(@WWID,5); return false;" href="fallback.html">Load Budget Data</a></li>
                    @*<li><a onclick="window.open('/Validation/Import','LoadFiles','width=325px,height=405px'); return false;" href="fallback.html">Load Validation Files</a></li>*@
                    @*<li><a onclick="showPopUp(@Model.WWID,9); return false;" href="fallback.html">Notifi</a></li>*@
                    <li><a onclick="showPopUp('',10); return false;" href="fallback.html">Noncompliant Owners</a></li>

                }
                @if (!bArchived)
                {
                    <li>
                        <a>Maintenance</a>
                        <ul>
                            <li><a onclick="showPopUp(@WWID,1); return false;" href="fallback.html">Add new Program</a></li>
                            <li><a onclick="showPopUp(@WWID,6); return false;" href="fallback.html">Add new Program Owner</a></li>
                            <li><a onclick="showPopUp(@WWID,13); return false;" href="fallback.html">Edit Program Owner</a></li>
                            <li><a href="/Filter/">Edit Filters</a></li>
                            <li><a href="/Totalnput/ManProgramType" target="_blank">Edit Program Types</a></li>
                            <li><a onclick="showPopUp(@WWID,12); return false;" target="_blank">Edit Relevant Silicon</a></li>
                            @if (bRes)
                            {
                                <li><a onclick="showPopUp(@WWID,8); return false;" href="fallback.html">Edit PXT</a></li>
                                <li><a onclick="showPopUp(@WWID,7); return false;" href="fallback.html">Free Html Security</a></li>
                            }
                        </ul>
                    </li>
                    if (bRes)
                    {
                        <li>
                            <a>Pre-Release</a>
                            <ul>
                                <li><a href="/Roadmap/" target="_blank">Roadmap</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a>Notifications</a>
                        <ul>
                            <li><a onclick="showPopUp(@WWID,11); return false;" href="fallback.html">Incompleted snapshot (will send an email)</a></li>
                        </ul>
                    </li>
                    <li><a href="/Reports/Notifweek/?year=0">Quick Reports</a></li>
                    <li>
                        <a>Reports</a>
                        <ul>
                            <li><a href="/Reports/">Report by program</a></li>
                            <li><a href="/Reports/Users?Report=1" target="_blank">Snapshot Report by user</a></li>
                            <li><a href="/Reports/Users?Report=7" target="_blank">Snapshot Report by program</a></li>
                            <li><a href="/Reports/Users?Report=2" target="_blank">Health Indicator Report by user</a></li>
                            <li><a href="/Reports/Users?Report=3" target="_blank">Schedule Report by user</a></li>
                        </ul>
                    </li>
                }
            </ul>
}