﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@model List<Roadmap>
@{
    ViewBag.Title = "Roadmap";
    ViewBag.Module = "Roadmap";
    ViewBag.HiddenFilter = true;
    bool bArchived = (bool)ViewBag.Archived;
    ViewBag.ShowExtra = true;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] Line=new string[10];
    int k = 0;
    foreach(Roadmap road in Model)
    {
        if(Array.IndexOf(Line,road.Vertical)<0)
        {
            if(road.Vertical.Length>0)
            {
                Line[k] = road.Vertical;
            }
            k++;
        }
       
    }

    bool bFirst = true;
    int top = 278;
    double Size =0;
    int minYear = 0;
    int maxYear = 0;
    int intCountYear = 0;
    
    if(Model.Count>0)
    { 
        minYear= Model.Min(x => x.StartYear)+2000;
        intCountYear = Model.Max(x => x.EndYear) + 2000 - minYear;
    }
    
    maxYear = minYear + 4;
    
    int intLine = 0;

    List<string> Menu = new List<string>();

    Menu.Add("<a onclick=\"showPopUpRoadmap("+ViewBag.WWID+",1); return false;\" href=\"fallback.html\">Add new Program</a>|C");
}
@section Extras{
    @{
        @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers, Menu)
    }
}
@section Styles{
    <link href="~/Content/roadmap.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/BudgetViewStyle.css")" rel="stylesheet" type="text/css" />
}
<div class="modal fade" id="BModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">
    <div class="modal-content" id="Bmodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myBModalLabel">Terminate program</h4>
        </div>
        <div class="modal-body" id="BmodalContainer"></div>
    </div>
</div>
<div id="Dmap">
    <table style="width:100%">
        <colgroup>
            <col style="width:70%; color:white; font-size:medium; text-align:center" />
            <col style="width:30%" />
        </colgroup>
        <tr>
            <td></td>
            <td align="center" style="cursor:pointer; background-color:lightgray; border: outset 1px solid" onclick="ShowHide()">Info</td>
        </tr>
        <tr>
            <td align="center" style="color:white; font-size:large"><b>DEG Board/System Roadmap</b></td>
            <td>
                <table width="500" align="center" id="InfoDetail" style="display:none">
                    <tr>
                        <td align="center">
                            <div style="border-radius: 25px; border: 2px solid black; background-color: #FF9D91; width: 150px ">Reference Platform</div>
                        </td>
                        <td rowspan="6" valign="top">
                            <table align="right" cellpadding="0" cellspacing="0" style="width: 350px; height: 150px; border: 3px solid black; background-color: white">

                                <tr>
                                    <td height="30" align="center">Project <br /> Type</td>
                                    <td align="center">DCG <br />Platform</td>
                                    <td align="center">CPU <br />Core</td>
                                    <td align="center">Project <br /> Code Name</td>
                                </tr>
                                <tr>
                                    <td height="30" align="center" style="padding-left:2%"><div style="border-radius: 25px 0px 0px 25px; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black; background-color: #96CF71; "><b>RP P</b></div></td>
                                    <td align="center"><div style="background-color: #96CF71; border-top: 2px solid black; border-bottom: 2px solid black"><b>Purley</b></div></td>
                                    <td align="center"><div style="background-color: #96CF71; border-top: 2px solid black; border-bottom: 2px solid black"><b>SKX</b></div></td>
                                    <td align="center" style="padding-right:2%"><div style="border-radius: 0px 25px 25px 0px; background-color: #96CF71; border-top: 2px solid black; border-bottom: 2px solid black; border-right: 2px solid black"><b>(Wolf Pass)</b></div></td>
                                </tr>
                                <tr>
                                    <td height="30" colspan="2" style="padding-left:5%">▲ 1st TO Build</td>
                                    <td colspan="2" style="padding-left:10%">Development Complete   ▲ <br />or Final Deployment</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><div style="border-radius: 25px; border: 2px solid black; background-color: green;"><b>Product Concept</b></div></td>
                    </tr>
                    <tr>
                        <td align="center"><div style="border-radius: 25px; border: 2px solid black; background-color: yellow;"><b>Commercial</b></div></td>
                    </tr>
                    <tr>
                        <td align="center"><div style="border-radius: 25px; border: 2px solid black; background-color: #00B0F0;"><b>Collaboration</b></div></td>
                    </tr>
                    <tr>
                        <td align="center"><div style="border-radius: 25px; border: 2px solid black; background-color: white;"><b>Machine Learning WL</b></div></td>
                    </tr>
                    <tr>
                        <td align="center"><div style="border-radius: 25px; border: 2px solid black; background-color: gray;"><b>DCG Commercial</b></div></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>

<div id="Map">
    @for (int i = 0; i < Line.Length; i++)
    {
        int intVerticalH=0;
        
        if (Line[i] != null && Line[i].Length > 0)
        {
            
            List<int> lstLine = new List<int>();
            int intL = Model.Where(x => x.Vertical == Line[i]).Max(x => x.Position);

            if (intL % 2==0)
            {

                for (int vh = 0; vh < intL; vh++)
                {
                    intVerticalH += 35;
                    top += 10;
                }
            }
            else
            {
                for (int vh = 0; vh < intL; vh++)
                {
                    intVerticalH += 30;
                    top += 5;
                }
            }
            <div class="Year" style="width:10%; height:@(intVerticalH)px; vertical-align:bottom" >
                @if(intL>1)
                {
                    <br /><br />   
                }
                @for (int j = 0; j < 12; j++)
                {
                    <div id="Month" data-month="@j" data-year="" style="border:none; background-color: transparent"></div>
                }
                <b>@Line[i]</b>
            </div>
            for (int year =minYear; year <= maxYear ; year++)
            {
                int ProgramPerYear = Model.Where(x => x.Vertical == Line[i] && x.StartYear>=year+2000 && x.EndYear<=year+2000).Count();
                
                @:<div class="Year" style="height:@(intVerticalH)px">
                if (bFirst)
                {
                    <span onclick="ShowDetail(@year,@Json.Encode(Model.Where(x => x.StartYear == year - 2000 || x.EndYear == year - 2000)))" style="cursor:pointer">@year</span><br /><br />
                    for (int j = 0; j < 12; j++)
                    {
                        <div id="Month" data-month="@j" style="height:10px" data-year="@year"></div>
                    }
                }

                int intProg = 0;

                
                for (int iline = 1; iline <= intL; iline++)
                {
                    List<Roadmap> programs = Model.Where(x => x.Vertical == Line[i] && x.Position == iline).ToList();
                    List<Roadmap> programsClosed = Model.Where(x => x.EndYear == year - 2000 && x.Vertical == Line[i] && x.Position == iline).ToList();
                    <div id="@iline" class="Line">
                        @if (programs.Count() > 0)
                        {
                            bool bOver = false;
                            int intLastM=0;
                        foreach (Roadmap road in programs)
                        {
                            int YearsInTime = road.EndYear - road.StartYear;
                            int intWB = road.StartYear == road.EndYear ? road.EndMonth - road.StartMonth : 0;
                            List<int> years = new List<int>();
                            int intWidth = 0;
                            int numM = road.StartMonth - 1;
                            string strProgname = "";
                            
                           
                            
                            string strZ = "z-index=9";
                            int intAdj = Model.Where(x => x.StartYear == (year + 1) - 2000 && x.Vertical == Line[i] && x.Position==iline).Count();
                            int intAdj2 = Model.Where(x => x.StartYear == (year) - 2000 && x.Vertical == Line[i] && x.Position == iline).Count();
                            int intLive = road.EndYear - road.StartYear;
                            int OthersHere = Model.Where(x => x.Vertical == Line[i] && x.Position == iline && x.ContinuityID!=road.ContinuityID).Count(); 
                            string strBackgrund = "";
                            string strBorderRadius = "";
                            int intStartYear = road.StartYear + 2000;
                            int intGradientPos = 0;
                            string strTop = "0%";
                            
                            for (int ye = road.StartYear; ye < road.EndYear; ye++)
                            {
                                years.Add(ye + 2000);
                            }

                            intGradientPos = Convert.ToInt32(Math.Round((double)years.Count / 2, MidpointRounding.AwayFromZero));

                            //Width Calc
                            if (intWB > 0)
                            {
                                intWidth = (intWB * 100) / 12;
                            }
                            else
                            {
                                intWidth = (100 - ((numM * 100) / 12));
                            }

                            //Border Calc
                            if (road.StartYear == road.EndYear)
                            {
                                strBorderRadius = "border-radius: 25px";
                            }
                            else
                            {
                                strBorderRadius = "border-radius:25px 0px 0px 25px";
                            }
                            //Bakground-color Calc
                            if (road.ColorStart.Length > 0)
                            {
                                strBackgrund = "background: linear-gradient(to right, " + road.ColorStart + " " + road.Perc + "%, " + (road.ColorEnd.Length > 0 ? road.ColorEnd : "white") + ")";
                            }
                            //Name Calc
                            if (road.ProgName.Trim().Length > 15 && numM > 6 && intAdj==0)
                            {
                                if(intLive>1)
                                {
                                    strProgname = road.ProgName.Trim();
                                }
                                else{ 
                                    strProgname =road.ProgName.Trim().Substring(0, 15);
                                }
                            }
                            else if (numM > 9)
                            {
                                if (YearsInTime == 0)
                                {
                                    if (road.ProgName.Trim().Length > 4)
                                    {
                                        strProgname = road.ProgName.Trim().Substring(0, 4);
                                    }
                                    else
                                    {
                                        strProgname = road.ProgName;
                                    }
                                }
                            }
                            else if(numM>2)
                            {
                                if (road.EndMonth > 0 && road.StartMonth > 0 && road.EndMonth - road.StartMonth < 3)
                                {
                                    if (road.StartYear+2000!=year)
                                    {
                                        strProgname = road.ProgName;          
                                    }else if (road.ProgName.Trim().Length > 4 && road.EndYear==year)
                                    {
                                        strProgname = road.ProgName.Trim().Substring(0, 4);
                                    }
                                    else
                                    { 
                                        strProgname = road.ProgName;
                                    }
                                }
                                else
                                {
                                    if (road.ProgName.Trim().Length > 10)
                                    {
                                        strProgname = road.ProgName.Trim().Substring(0, 10);
                                    }
                                    else { 
                                        strProgname = road.ProgName.Trim();
                                    }
                                }
                            }

                            if(road.StartMonth>10 && intLive>0 && road.StartYear+2000==year)
                            {
                                strProgname = "";
                            }else if(strProgname.Trim().Length>0)
                            { 
                                strProgname = "( " + strProgname + " )";
                            }

                            //intelisense
                            string strPT = "";
                            string strPXT = "";
                            string strSilicon = "";
                                
                            if(road.PTLink!=null && road.PTLink.Trim().Length>0)
                            {
                                strPT="<a title='" + road.ProgTypeFN + "' href='" + road.PTLink + "' target='_blank'>" + road.ProgramType + "</a>";
                            }else
                            {
                                strPT=road.ProgramType;
                            }
                                        
                            if(road.PXTLink!=null && road.PXTLink.Trim().Length>0)
                            {
                                strPXT="<a title='" + road.PXTFN + "' href='" + road.PXTLink + "' target='_blank'>" + road.PXTName + "</a>";
                            }else{
                                strPXT=road.PXTName;
                            }

                            if (road.SiliconLink!=null && road.SiliconLink.Trim().Length > 0)
                            {
                                strSilicon = "<a title='" + road.SiliconFN + "' href='" + road.SiliconLink + "' target='_blank'>" + road.Silicon + "</a>";
                            }
                            else
                            {
                                strSilicon = road.Silicon;
                            }
                                
                            if (!years.Exists(x => x == year))
                            {
                                continue;
                            }

                            
                            if (years.Count() > 1)
                            {
                                

                                if (years.IndexOf(year) == 0)
                                {
                                    if(road.StartMonth<12)
                                    {
                                        //if start and coninue for years
                                        strProgname = strPT + "   " + strPXT;  
                                    }
                                }
                                else if (years.IndexOf(year) == 1)
                                {
                                    if (road.StartMonth>11)
                                    {
                                        strProgname = strPT+"  "+strPXT+" "+strSilicon;
                                    }else
                                    {
                                        if((road.EndYear-road.StartYear) >1)
                                        {
                                            strProgname = strSilicon+"  ( "+road.ProgName+" )";
                                        }else
                                        {
                                            strProgname = strSilicon;    
                                        }
                                    }
                                }
                                
                                if (intStartYear != year)
                                {
                                    intWidth = 100;
                                    strBorderRadius = "";
                                }
                                if (years.IndexOf(year) < intGradientPos)
                                {
                                    strBackgrund = "background-color: " + road.ColorStart;
                                    
                                }
                                else if (years.IndexOf(year) > intGradientPos)
                                {
                                    strBackgrund = "background-color: " + road.ColorEnd;
                                    strProgname = "";
                                }
                            }
                            else if (intStartYear != year)
                            {
                                continue;
                            }else if(years.Count==1)
                            {
                                if (road.StartMonth <11)
                                {
                                    strProgname = strPT+ "      "+strPXT+"      "+strSilicon + strProgname;                                }
                                else
                                {
                                    strProgname = strSilicon;
                                }
                            }
                            //

                            intProg++;

                            
                            
                            if(bOver)
                            {
                                if(road.StartMonth+numM<intLastM)
                                { 
                                    strTop = "-40%";
                                    if(road.EndMonth<= intLastM)
                                    { 
                                        strZ = "display:none";
                                    }
                                }else
                                {
                                    strTop = "-80%";
                                }
                            }else if(intLive==1 && iline==2 && OthersHere==0)
                            {
                                strTop = "-70%";
                            }
                            
                            if(road.StartYear+2000==year)
                            { 
                                <div class="MonthEmpty" data-tag="1" style="width: @((numM * 100) / 12)%"></div>
                            }
                            <div id="@iline"
                                 data-continuity="@road.ContinuityID"
                                 data-order="@road.Position"
                                 class="Month"
                                 onmouseover="//FocusProgram('@road.ContinuityID')"
                                 title="@road.Label"
                                 onclick="showPopUpRoadmap(@road.Id,2,'@road.ProgName.Trim()','@road.ContinuityID')"
                                 style="@strBackgrund;top:@strTop; cursor:pointer; border-right:none; height:20px; width:@intWidth%; @strBorderRadius; color: black; @strZ">
                                @MvcHtmlString.Create(strProgname)
                            </div>

                            intLine++;

                            if (!lstLine.Exists(x => x == intLine))
                            {
                                lstLine.Add(intLine);
                            }

                            if (!bOver)
                            {
                                bOver = true;
                            }
                        }


                        if (programsClosed.Count() > 0)
                        {
                            intLine = 0;
                            intProg = 0;
                            foreach (Roadmap road in programsClosed)
                            {
                                string strTop = "5%";
                                string strZ = "z-index:9";
                                int numM = road.EndMonth;
                                List<Roadmap> prev = Model.Where(x => x.Vertical == Line[i] && x.Position == iline && x.StartYear + 2000 <= year - 1 && x.ContinuityID != road.ContinuityID).ToList();
                                List<Roadmap> startHere = Model.Where(x => x.Vertical == Line[i] && x.Position == iline && x.StartYear + 2000 == year).ToList();
                                List<int> years = new List<int>();
                                intProg++;
                                string strName = "";

                                for (int ye = road.StartYear; ye < road.EndYear; ye++)
                                {
                                    years.Add(ye + 2000);
                                }
                                
                                if(iline==2)
                                { 
                                    switch(numM)
                                    {
                                        case 4: strTop = "20%; left:-33%";
                                            break;
                                    }
                                }
                                switch (years.Count)
                                {
                                    //case 2: strTop = "5%";
                                    //    break;
                                    //case 3:
                                    //    if(numM!=3)
                                    //    {
                                    //        strTop = "5%";
                                    //    }
                                    //    break;
                                    case 4: strTop = "10%";
                                        break;
                                }

                                if (programsClosed.Count == 1 && startHere.Count > 0)
                                {
                                    strTop = "-85%";
                                }

                                if (prev.Count > 0 && programsClosed.Count > 1 && intProg < 2)
                                {
                                    strZ = "display:none";
                                }

                                if (years.Count > 1 && numM > 2 && road.ProgramType.Length > 6 && road.Silicon == null)
                                {
                                    if (road.ProgName.Length > 9 && numM < 5)
                                    {
                                        strName = "( " + road.ProgName.Substring(0, 6) + " )";
                                    }
                                    else
                                    {
                                        strName = "( " + road.ProgName + " )";
                                    }
                                }
                                else if (road.ProgName.Trim().Length > 15 && numM == 0)
                                {
                                    strName = road.ProgramType + " " + road.PXTName + " " + road.Silicon + " ( " + road.ProgName.Trim().Substring(15) + " )";
                                }
                                else if (road.ProgName.Trim().Length > 4 && road.StartMonth > 9 && road.Silicon != null && road.Silicon.Length > 6)
                                {
                                    strName = road.ProgramType + " " + road.PXTName + " " + road.Silicon + " ( " + road.ProgName.Trim().Substring(4) + " )";
                                }

                                if (road.StartYear != road.EndYear)
                                {
                                    <div id="@intLine" data-continuity="@road.ContinuityID"
                                         data-order="@road.Position"
                                         class="Month"
                                         title="@road.Label"
                                         onmouseover="FocusProgram('@road.ContinuityID')"
                                         onclick="showPopUpRoadmap(@road.Id,2,'@road.ProgName.Trim()','@road.ContinuityID')"
                                         style="height:20px; top:@strTop; border-radius: @(road.StartYear!=road.EndYear? "0px 25px 25px 0px" :"25px"); width:@((numM*100)/12)%; background-color: @(road.ColorEnd.Length > 0 ? road.ColorEnd : "white"); cursor:pointer; color: black; @strZ">
                                        @strName
                                    </div>

                                }
                            }
                        }

                        }
                    </div>
                }
                @:</div>

                intLine = 0;
            }
            bFirst = false;
        }
    }
</div>
<br /><div>Programs Not Available</div><br />
<div>
    <table class="table-bordered" style="width:100%">
        <tr>
            <th></th>
            <th>Program</th>
            <th>Message</th>
            <th></th>
            <th></th>
        </tr>
        @{
            int count=1;
            List<string> lstProgram=new List<string>();
            
            foreach (Roadmap prog in ((List<Roadmap>)ViewBag.Noncompliant).Distinct())
            {
                if(!lstProgram.Exists(x=> x==prog.ProgName))
                { 
                    <tr>
                        <td>@count</td>
                        <td>@prog.ProgName</td>
                        <td>@(prog.StarWWMsg + ", " + prog.EndWWMsg)</td>
                        @if (prog.InSnapshot)
                        {
                            <td align="center"><a onclick="GotoSchedule('@prog.ContinuityID'); return false;" target="_blank" href="fallback.html">Go to Schedule</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        
                        <td align="center"><a onclick="showPopUp(@prog.Id,2,'@prog.ProgName','@prog.ContinuityID'); return false;" href="fallback.html">Edit Program</a></td>
                    </tr>
                    count++;
                    lstProgram.Add(prog.ProgName);
                }
            }
        }
    </table>
</div>

<script>
    $('#Map').css("height",@top);
  
    var RD={
        year: 0,
        programs:[]
    }
    function GotoSchedule(cont)
    {
        $.post('/Roadmap/Goto',{Continuity:cont},function(response){
            if(response)
            {
                window.open('/ScheduleV/');
            }
        });
    }
    function ShowDetail(year,obj)
    {
        RD.programs=obj;

        $.post('/Roadmap/DetailView',{Programs: RD.programs},function(data){
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
            $('#myModalLabel').html('Program for '+year);
        });
    }
    function ShowHide()
    {
        $('#InfoDetail').toggle('blind',500);
    }
    function showPopUpRoadmap(ID, num, ProjectName, Cont) {

        var urlLink="";
        if(num==1){ //Show the Modal to Create a new Program
            urlLink= "/ProgEdit/IndexAdd?WWID="+ID+"&InSnapshot=false";
            $('#myModalLabel').html("Program Add to Roadmap")
        }else if(num==2)
        {
            if(Cont!=null && Cont.length>0)
            {
                urlLink="/ProgEdit/Index?PWID="+ID+"&InSnapshot=true";
            }else
            {
                urlLink="/ProgEdit/Index?PWID="+ID+"&InSnapshot=false";
            }

            $('#myModalLabel').html("Program Edit -"+ProjectName);
        }
        
        $('#Modal').data('url',urlLink);
        var url = $('#Modal').data('url');
        $.post(url, function(data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
            $('#modalcontent').width(600);
        });
    }
    function FocusProgram(cont)
    {
        $('[data-continuity]').zIndex(0);
        $('[data-continuity='+cont+']').zIndex(9);
        $('[data-continuity='+cont+']').show();
    }
</script>