﻿@using AutoIndicators.Models
@model dynamic
@{
    Layout = null;
    ViewBag.Module = "ProgEdit";
    int res = -1;

    string userName = User.Identity.Name;
    int size = Model.Users.Count;
    int j = 0;

    string[] valid1Users = new string[size];

    foreach (var item in Model.Users)
    {
        if (item.UserType == 1)
        {
            valid1Users[j] = item.validUsers;

            j++;
        }

    }

    res = Array.IndexOf(valid1Users, userName.Remove(0, 4));
    
    
}
<script src="~/Scripts/progEdit.js"></script>
<link href="@Url.Content("~/Content/ProgEditStyle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />

@Scripts.Render("~/bundles/jqueryui")
@*@Styles.Render("~/Content/css")*@
@Styles.Render("~/Content/themes/base/css")
@*@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")*@

<input type="hidden" id="ArrValues">
<input type="hidden" id="ArrText">
<input type="hidden" id="ArrMsg">
<input type="hidden" id="Once">

<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Error!</strong>
    <div id="warningMessage"></div>
</div>
<div class="alert alert-success" hidden="hidden" id="success">
    <a href="#" class="close" aria-label="close" onclick="$('#success').hide()">&times;</a>
    <strong>This program was added to snapshot successfuly</strong>
    <div id="successMessage"></div>
</div>
<form id="EditForm">
    @Html.Hidden("WWstatus", (int)Model.ProgramData[0].weekStatus)
    @Html.Hidden("WWID", (int)Model.ProgramData[0].WWID)
    @Html.Hidden("PWID", (int)Model.ProgramData[0].PWID)
    @Html.Hidden("PID", (int)Model.ProgramData[0].PID)
    @Html.Hidden("PWContinuityID", (string)Model.ProgramData[0].PWContinuityID)
    @Html.Hidden("ddlPT", (int)Model.ProgramData[0].PTID)
    @Html.Hidden("InSnapshot", (int)ViewBag.InSnapshot)
    <ul class="w3-navbar w3-black">
        <li><a href="#" class="w3-bar-item w3-button" onclick="openTab('tGeneral','General')" id="General">General Data</a></li>
        <li><a href="#" class="w3-bar-item w3-button" onclick="openTab('tBudget','Budget')" id="Budget">Budget</a></li>
        <li><a href="#" class="w3-bar-item w3-button" onclick="openTab('tRoadmap','Roadmap')" id="Roadmap">Roadmap</a></li>
        
    </ul>
    <div id="tGeneral" class="w3-container Tabs">
        <table width="400" align="center" id="ST" class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 45%;">
                <col span="1" style="width: 55%;">
            </colgroup>
            <tbody>
                <tr>
                    <td>@Html.Label("Vertical :")</td>
                    <td>@Html.DropDownList("ddlVertical", (IEnumerable<SelectListItem>)Model.VerticalList, (string)Model.ProgramData[0].VerticalName)</td>
                </tr>
                <tr>
                    <td>@Html.Label("PXT: ")</td>
                    <td>
                        <select name="ddlPXT" id="ddlPXT">
                            @foreach (PXTs pxt in Model.PXTList)
                            {
                                <option value="@pxt.id" @(pxt.id == (int)Model.ProgramData[0].PXTId ? "selected=selected" : "")>@pxt.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Relevant silicon:")</td>
                    <td>@Html.DropDownList("ddlRevelant", (IEnumerable<SelectListItem>)Model.RelSiliconList, (string)Model.ProgramData[0].RelevantSilicon)</td>
                </tr>
                <tr>
                    <td>@Html.Label("GEO: ")</td>
                    <td>@Html.DropDownList("ddlGEO", (IEnumerable<SelectListItem>)Model.GEOList, (string)Model.ProgramData[0].GEO)</td>
                </tr>
                @if (res > -1)
                {
                    <tr>
                        <td>@Html.Label("Program Type: ")</td>
                        <td>
                            <select id="ddlPT2" name="ddlPT2" onchange="$('#ddlPT').val($(this).val())">
                                @foreach (SelectListItem item in Model.PTList)
                                {
                                    <option value="@item.Value" @(item.Value == Model.ProgramData[0].PTID.ToString() ? "selected=selected" : "")>@item.Text</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="display:none">
                        <td>@Html.Label("Program Type: ")</td>
                        <td>
                            <select id="ddlPT2" name="ddlPT2">
                                @foreach (SelectListItem item in Model.PTList)
                                {
                                    <option value="@item.Value" @(item.Value == Model.ProgramData[0].PTID.ToString() ? "selected=selected" : "")>@item.Text</option>
                                }
                            </select>
                        </td>
                    </tr>
                }
                <tr>
                    <td>@Html.Label("Program Owner: ")</td>
                    <td>@Html.DropDownList("ddlOwner", (IEnumerable<SelectListItem>)Model.ActorsList, (string)Model.ProgramData[0].OwnerName)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Program Name: ")</td>
                    <td>@Html.TextBox("pName", (string)Model.ProgramData[0].ProjectName, new { required = string.Empty })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Program Description: ")</td>
                    <td>@Html.TextBox("pDesc", (string)Model.ProgramData[0].ProgramDescription, new { required = string.Empty })</td>
                </tr>
                <tr>
                    <td>@Html.Label("Clasification: ")</td>
                    <td>
                        <select id="ddlClasification" name="ddlClasification">
                            <option value="0" @(Model.ProgramData[0].Clasification != null && (int)Model.ProgramData[0].Clasification == 0 ? "selected=selected" : "")>Select</option>
                            <option value="1" @(Model.ProgramData[0].Clasification != null && (int)Model.ProgramData[0].Clasification == 1 ? "selected=selected" : "")>Lead</option>
                            <option value="2" @(Model.ProgramData[0].Clasification != null && (int)Model.ProgramData[0].Clasification == 2 ? "selected=selected" : "")>Draft</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("MRD Link: ")</td>
                    <td>
                        @Html.TextBox("pMRD", (string)Model.ProgramData[0].MRD)
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("PRD Link ")</td>
                    <td>
                        @Html.TextBox("pPRD", (string)Model.ProgramData[0].PRD)
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://sharepoint.amr.ith.intel.com/sites/PED_Exec_MRC/SitePages/Home.aspx?RootFolder=%2Fsites%2FPED%5FExec%5FMRC%2FShared%20Documents%2FProgram%20Description%20Slide%20Decks&FolderCTID=0x012000C87FD65F43D315409EC0FA4843317A12&View=%7b0C5F6975-7C79-4F0E-9139-3F54336BF435%7d" target="_blank">
                            @Html.Label("Program Description Link: ")
                        </a>
                    </td>
                    <td>@Html.TextBox("pDescLink", (string)Model.ProgramData[0].PDescLink)</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://sharepoint.amr.ith.intel.com/sites/PED_Exec_MRC/SitePages/Home.aspx" target="_blank">
                            @Html.Label("One Page Indicator Link: ")
                        </a>
                    </td>
                    <td>@Html.TextBox("pLink", (string)Model.ProgramData[0].ProgramLink)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Sharepoint Site :")</td>
                    <td>@Html.TextBox("pSharepoint", (string)Model.ProgramData[0].SharepointLink)</td>
                </tr>
                @if (res > -1)
                {
                    <tr>
                        <td>@Html.Label("Terminate this program? ")</td>
                        <td>@Html.CheckBox("chk", false)</td>
                    </tr>
                }
                else
                {
                    <tr style="visibility:hidden">
                        <td>@Html.Label("Terminate this program? ")</td>
                        <td>@Html.CheckBox("chk", false)</td>
                    </tr>
                }
                @if ((int)ViewBag.InSnapshot == 0)
                {
                    <tr>
                        <td></td>
                        <td><input type="button" value="Add to Snapshot" id="addSnap" onclick="AddtoSnapshot('@Model.ProgramData[0].PID','@((string)Model.ProgramData[0].ProgramLink)')" /></td>
                    </tr>
                }
            </tbody>
            </table>
    </div>
    <div id="tBudget" class="w3-container Tabs" style="display:none">
        <table width="400" align="center" id="ST" class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 45%;">
                <col span="1" style="width: 55%;">
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="2" align="center">@Html.Label("Budget Project IDs: ")</td>

                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="ui-widget">
                            @*@Html.TextBox("ddlBPOSelector")*@
                            @Html.DropDownList("ddlBPO", (IEnumerable<SelectListItem>)Model.BPOList)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">@Html.Label("Project IDs: ")</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        @Html.ListBox("lstAddedBPO", (IEnumerable<SelectListItem>)Model.AddedBPOList, new { @style = "width: 500px;" })
                        @{
                            string projs = "";
                            foreach (SelectListItem item in ((IEnumerable<SelectListItem>)Model.AddedBPOList))
                            {
                                projs += "," + item.Value;
                            }
                            if (projs.Length > 0)
                            {
                                projs = projs.Substring(1);
                            }
                        }
                        @Html.Hidden("lstAddBPO", projs)
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" value="Add Project" id="addPrjBtn" onclick="addPrj(); return false" />
                    </td>

                    <td align="center">

                        <input type="submit" value="Delete Project" id="delPrjBtn" onclick="delPrj(); return false" />
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <div id="tRoadmap" class="w3-container Tabs" style="display:none">
        <table width="400" align="center" id="ST" class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 45%;">
                <col span="1" style="width: 55%;">
            </colgroup>
            <tbody>
                @if (Model.ProgramData[0].StartDate != null && Model.ProgramData[0].EndDate!=null && ( Model.ProgramData[0].StartDate.Length > 0 || Model.ProgramData[0].EndDate.Length > 0))
                { 
                    <tr>
                        <td>@Html.Label("Dates sets in Schedule view:")</td>
                        <td>@Html.Label("Start Milestone") : @Model.ProgramData[0].StartDate <br /> @Html.Label("End Milestone") : @Model.ProgramData[0].EndDate</td>
                    </tr>
                }
                <tr>
                    <td>@Html.Label("Roadmap Date :")</td>
                    <td>
                        @Html.Label("Start WW : ")
                        <input type="number" id="pWWI" name="pWWI" style="width:40px" value="@Model.ProgramData[0].StartWW" min="1" max="54" maxlength="2" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" />
                        @Html.Label("Year: ")
                        <input type="number" id="pWWYI" name="pWWYI" style="width:40px" value="@Model.ProgramData[0].StartWWY" max="99" maxlength="2" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" /><br />
                        @Html.Label("End WW : ")
                        <input type="number" id="pWWE" name="pWWE" style="width:40px" value="@Model.ProgramData[0].EndWW" min="1" max="54" maxlength="2" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" />
                        @Html.Label("Year: ")
                        <input type="number" id="pWWYE" name="pWWYE" style="width:40px" value="@Model.ProgramData[0].EndWWY" max="99" maxlength="2" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" />
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Roadmap Color Start:")</td>
                    <td><input type="color" id="pColorStart" name="pColorStart" value="@Model.ProgramData[0].ColorStart" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Roadmap Color End:")</td>
                    <td><input type="color" id="pColorEnd" name="pColorEnd" value="@Model.ProgramData[0].ColorEnd" /></td>
                </tr>
                <tr style="display:none">
                    <td>@Html.Label("Roadmap Color %:")</td>
                    <td>
                        <input type="number" id="pColorW" name="pColorW" value="@Model.ProgramData[0].Perc" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" />
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Position on Roadmap:")</td>
                    <td>
                        <input type="number" id="pPosition" name="pPosition" value="@Model.ProgramData[0].Position" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Start</td>
                </tr>
                @{ int intCol = 1; }
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                @foreach(ScheduleV  Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if(intCol<=6)
                                    {
                                        <th>@Sched.Milestone</th>
                                    }
                                    intCol++;
                                }
                            </tr>
                            @{intCol = 1;}
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol <= 6)
                                    {
                                        <td id="@Sched.PTMID" data-start="1" style="height:30px; cursor:pointer; @(Sched.RoadmapValue!=null && Sched.RoadmapValue=="S"? "background-color:lightgreen":"")"
                                            onclick="PutRoadmap(true,this,'@Sched.ContinuityID',@Sched.PTMID)">
                                            @Sched.value
                                        </td>
                                        if (Sched.RoadmapValue != null && Sched.RoadmapValue == "S")
                                        {
                                            <script>start=@Sched.PTMID</script>
                                        }
                                    }
                                    intCol++;
                                }
                            </tr>
                            @{intCol = 1;
                              }
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol>6 && intCol <= 12 )
                                    {
                                        <th>@Sched.Milestone</th>
                                    }
                                    intCol++;
                                }
                            </tr>
                            @{intCol = 1;}
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol > 6 && intCol <= 12)
                                    {
                                        <td id="@Sched.PTMID" data-start="1" style="height:30px; cursor:pointer; @(Sched.RoadmapValue != null && Sched.RoadmapValue == "S" ? "background-color:lightgreen" : "")"
                                            onclick="PutRoadmap(true,this,'@Sched.ContinuityID',@Sched.PTMID)">@Sched.value</td>
                                        if (Sched.RoadmapValue != null && Sched.RoadmapValue == "S")
                                        {
                                            <script>start=@Sched.PTMID</script>
                                        }
                                    }
                                    intCol++;
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">End</td>
                </tr>
                @{ intCol = 1; }
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol <= 6)
                                    {
                                        <th>@Sched.Milestone</th>
                                    }
                                    intCol++;
                                }
                            </tr>
                            @{intCol = 1;}
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol <= 6)
                                    {
                                        <td data-end="1" id="@Sched.PTMID" style="height:30px; cursor:pointer; @(Sched.RoadmapValue != null && Sched.RoadmapValue == "E" ? "background-color:lightgreen" : "")" 
                                            onclick="PutRoadmap(false,this,'@Sched.ContinuityID',@Sched.PTMID)">@Sched.value</td>
                                        if (Sched.RoadmapValue != null && Sched.RoadmapValue == "E")
                                        {
                                            <script>end=@Sched.PTMID</script>
                                        }
                                    }
                                    intCol++;
                                }
                            </tr>
                            @{intCol = 1;
                            }
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol > 6 && intCol <= 12)
                                    {
                                        <th>@Sched.Milestone</th>
                                    }
                                    intCol++;
                                }
                            </tr>
                            @{intCol = 1;}
                            <tr>
                                @foreach (ScheduleV Sched in (List<ScheduleV>)Model.Schedule)
                                {
                                    if (intCol > 6 && intCol <= 12)
                                    {
                                        <td id="@Sched.PTMID" data-end="1" style="height:30px; cursor:pointer; @(Sched.RoadmapValue != null && Sched.RoadmapValue == "E" ? "background-color:lightgreen" : "")" 
                                            onclick="PutRoadmap(false,this,'@Sched.ContinuityID',@Sched.PTMID)">@Sched.value</td>
                                        if(Sched.RoadmapValue != null && Sched.RoadmapValue == "E")
                                        {
                                            <script>end=@Sched.PTMID</script>
                                        }
                                    }
                                    intCol++;
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div style="text-align:right"><input type="button" value="Save" onclick="if(validateFormEdit()){ $(this).prop('disabled',true)}" id="saveBtn" /></div>
</form>

<script type="text/javascript">
    // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
    $('body').on('click', '.close', function (e) {
        $("#warning").hide();
    });

</script>
<script type="text/javascript">
    $('#EditForm').submit(function () {
        $("#lstAddBPO option").attr("selected", "selected");
    });
    function openTab(tab,tabid) {
        $(".Tabs").hide();
        $('#'+tab).show();
        $('#'+tabid).css("background-color: gray");
    }
    
    function SaveProgTerm(value)
    {
        if(value.length>0)
        {
            $.post('/ProgEdit/TerminateProgram', {programId: @Model.ProgramData[0].PID, Continuity: '@Model.ProgramData[0].PWContinuityID', WWID: @Model.ProgramData[0].WWID, Comments:value}, function (dat) {
                if(dat>0)
                {
                    $.post('/ProgEdit/Save', $('#EditForm').serialize(), function (response) {
                        location.reload();
                    });
                }
            });
        }else
        {
            alert('Please enter a comment');
        }
    }
</script>

<script>
    (function( $ ) {
        $.widget( "custom.combobox", {
            _create: function() {
                this.wrapper = $( "<span>" )
                  .addClass( "custom-combobox" )
                  .insertAfter( this.element );

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },

            _createAutocomplete: function() {
                var selected = this.element.children( ":selected" ),
                  value = selected.val() ? selected.text() : "";

                this.input = $( "<input>" )
                  .appendTo( this.wrapper )
                  .val( value )
                  .attr( "title", "" )
                  .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                  .autocomplete({
                      delay: 0,
                      minLength: 0,
                      source: $.proxy( this, "_source" )
                  })
                  .width("500")
                  .tooltip({
                      tooltipClass: "ui-state-highlight"
                  });

                this._on( this.input, {
                    autocompleteselect: function( event, ui ) {
                        ui.item.option.selected = true;
                        this._trigger( "select", event, {
                            item: ui.item.option
                        });
                    },

                    autocompletechange: "_removeIfInvalid"
                });
            },

            _createShowAllButton: function() {
                var input = this.input,
                  wasOpen = false;

                $( "<a>" )
                  .attr( "tabIndex", -1 )
                  .attr( "title", "Show All Items" )
                  .tooltip()
                  .appendTo( this.wrapper )
                  .button({
                      icons: {
                          primary: "ui-icon-triangle-1-s"
                      },
                      text: false
                  })
                  .removeClass( "ui-corner-all" )
                  .addClass( "custom-combobox-toggle ui-corner-right" )
                  .mousedown(function() {
                      wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                  })
                  .click(function () {
                        input.focus();

                      // Close if already visible
                      if ( wasOpen ) {
                          return;
                      }

                      // Pass empty string as value to search for, displaying all results
                      input.autocomplete("search", "");
                  });
            },

            _source: function( request, response ) {
                var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                response( this.element.children( "option" ).map(function() {
                    var text = $( this ).text();
                    if ( this.value && ( !request.term || matcher.test(text) ) )
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                    
                }) );
            },

            _removeIfInvalid: function( event, ui ) {
                
                // Selected an item, nothing to do
                if ( ui.item ) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                  valueLowerCase = value.toLowerCase(),
                  valid = false;
                this.element.children( "option" ).each(function() {
                    if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                        this.selected = valid = true;
                        
                        return false;
                    }
                });

                // Found a match, nothing to do
                if ( valid ) {
                   
                    return;
                }

                // Remove invalid value
                
                this.input
                  .val( "" )
                  .attr( "title", value + " didn't match any item" )
                  .tooltip( "open" );
                this.element.val( "" );
                this._delay(function() {
                    this.input.tooltip( "close" ).attr( "title", "" );
                }, 2500 );
                this.input.autocomplete( "instance" ).term = "";
              
            },

            _destroy: function() {
                
                this.wrapper.remove();
                this.element.show();
                
            }
        });
    })( jQuery );

    $(function() {
        $( "#ddlBPO" ).combobox();
        $( "#toggle" ).click(function() {
            $( "#ddlBPO" ).toggle();
           
        });
        
    });
</script>

<script>
    window.setInterval(function () {
        var count = 0,
         OwnerName,
         model = @Html.Raw(Json.Encode(Model.BPOInfo)),
         ArrVal = [],
         ArrTit = [],
         i = 0;

        ArrVal= JSON.parse($('#ArrValues').text());
        $('#ui-id-1 li').each(function () {
          
            while($(this).text()!=ArrVal[count] && count<ArrVal.length)
            {
                count++;
            }
            
            try { OwnerName = model[count].OwnerName; }
            catch (err) { return false; }
            if (OwnerName != null) 
            {
                $(this).prop('title', 'Taken by ' + model[count].OwnerName + ' on ' + model[count].ProgName);
                $(this).css('background-color', '#d3d3d3');
                ArrTit[i]= $(this).text();
                i++;        
            }
            count++;
        });
            $('#ArrMsg').text(JSON.stringify(ArrTit));

    },1000)
</script>

<script>
    $(document).ready(function(){
        var ArrVal = [],
         i = 0;
        $('#ddlBPO option').each(function () //Cycle through every item of ddlBPO, taking out the elements that don't match with the new given string
        {
                ArrVal[i]=($(this).text());
                i++;
        });
        $('#ArrValues').text(JSON.stringify(ArrVal));
    });
</script>