﻿@{
    Layout = null;
}
@using StackExchange.Profiling;
@{
    DEOSecurity.Controller.DEOController control = new DEOSecurity.Controller.DEOController();
    //List<CfgFreeHTML> Views = AutoIndicators.Controllers.FreeHTMLController.GetViews().Where(x => x.strProperty == "Mod").ToList<CfgFreeHTML>();
    List<DEOSecurity.Model.mNodes> lstMenu = control.GetMenu();
    ViewBag.Menu = lstMenu;
}
<!DOCTYPE html>
<html ng-app="AwesomeAngularMVCApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Intel</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Content/LayoutStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/filter.css" rel="stylesheet" type="text/css">
    <link href="~/Content/jquery-ui-1-12-0.css" rel="stylesheet" />
    <link href="~/Content/pqgridOffice.css" rel="stylesheet" />
    <link href="~/Content/pqgrid.min.css" rel="stylesheet" />
    <link href="~/Content/pqselect.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1-9-2.css" rel="stylesheet" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/pqgrid.min.js"></script>
    <script src="~/Scripts/pqselect.min.js"></script>
    <script src="~/Scripts/notification.js"></script>

    <link rel="shortcut icon" href="~/Images/ico.ico">
    <link rel="icon" href="~/Images/ico.ico">
</head>
<body>
    <acme-navbar></acme-navbar>
    <div ui-view></div>
    <footer></footer>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.0/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular-animate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

    <!--RICH TEXT-->
    <script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular-rangy.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular-sanitize.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular.min.js'></script>
    <!--RICH TEXT-->

    <script src="~/Scripts/Controllers/CCBController.js"></script>
    <script src="~/Scripts/Controllers/CCBRegisterController.js"></script>
    <script src="~/Scripts/Controllers/HealthController.js"></script>
    <script src="~/Scripts/Controllers/IndicatorsController.js"></script>
    <script src="~/Scripts/Controllers/LandingPageController.js"></script>
    <script src="~/Scripts/Controllers/MainController.js"></script>
    <script src="~/Scripts/Controllers/ProductCostController.js"></script>
    <script src="~/Scripts/Controllers/ScheduleController.js"></script>
    <script src="~/Scripts/Controllers/Components/navbar/navbar.controller.js"></script>
    <script src="~/Scripts/Controllers/Components/navbar/navbar.directive.js"></script>
    <script src="~/Scripts/AwesomeAngularMVCApp.js"></script>

    @*@Scripts.Render("~/bundles/AwesomeAngularMVCApp")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/LayoutJs")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
</body>
</html>