﻿@using StackExchange.Profiling;
@{
    DEOSecurity.Controller.DEOController control = new DEOSecurity.Controller.DEOController();
    //List<CfgFreeHTML> Views = AutoIndicators.Controllers.FreeHTMLController.GetViews().Where(x => x.strProperty == "Mod").ToList<CfgFreeHTML>();
    List<DEOSecurity.Model.mNodes> lstMenu = control.GetMenu();
    ViewBag.Menu = lstMenu;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/LayoutStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/filter.css"  rel="stylesheet" type="text/css">
    <link href="~/Content/jquery-ui-1-12-0.css" rel="stylesheet" />
    <link href="~/Content/pqgridOffice.css" rel="stylesheet" />
    <link href="~/Content/pqgrid.min.css" rel="stylesheet" />
    <link href="~/Content/pqselect.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1-9-2.css" rel="stylesheet" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
    
    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("JSLibs", required: false)
    <script src="~/Scripts/relevantSilicon.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tinymce.js?1.0"></script>
    <script src="~/Scripts/pqgrid.min.js"></script>
    <script src="~/Scripts/pqselect.min.js"></script>
    <script src="~/Scripts/notification.js"></script>
    <link rel="shortcut icon" href="~/Images/ico.ico">
    <link rel="icon" href="~/Images/ico.ico">
</head>

<body onunload="Close();" style="overflow:visible;">
    @*modal container*@
    <div id="dialog"></div>
    <div id="dialog-confirm"></div>
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalcontent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Program Add</h4>
                </div>
                <div class="modal-body" id="modalContainer">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div id="chipHeader">
    </div>
    <div id="whiteBorder">
    </div>
    <div id="blackBorder">
    </div>
    @*Complete. Move this to manage the total height or weight of the content.*@
    <div class="wrapper" id="main_Wrapper">
        @*Left. We might put navigation bars over here *@
        <div id="left_Wrapper">
            @*Left Nav*@
        </div>

        <div id="content_Wrapper">
            <div id="header">
                <div id="logoHeader">
                    <a href="/" target="_self"><img id="intelLogo" src="@Url.Content("~/Images/intellogo.png")" /></a>
                    DEO PROGRAM SNAPSHOT
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">Hello, @User.Identity.Name!<span id="TotNotif" data-wwid="@ViewBag.WWID" data-wwname="@ViewBag.WW" style="text-align:right"></span></li>
                        @if (Session["Prefilter"] != null)
                        {
                            if (Convert.ToBoolean(Session["Prefilter"].ToString()))
                            {
                                <li class="navbar-text" style="cursor:pointer; text-decoration:underline" onclick="activedeactive(false)">
                                    Deactivate Prefilter
                                    <img src="~/Content/images/ballgreen.png" width="15" height="15" />
                                </li>
                            }
                            else
                            {
                                <li class="navbar-text" style="cursor:pointer; text-decoration:underline" onclick="activedeactive(true)">
                                    Activate Prefilter
                                    <img src="~/Content/images/ballgray.png" width="15" height="15" />
                                </li>
                            }
                        }
                    </ul>
                    <font size=3><b>@ViewBag.WW</b></font><br /><a href="#" onclick="AddFeedBack()"><font color="white">Feedback</font></a>
                </div>
                @GeneralHelpers.MainMenu(Url, ViewBag.WWID, ViewBag.WW, ViewBag.Menu, ViewBag.Complete)
                <div id="HelpBar">
                    <div class="navbar navbar-inverse navbar-fixed-top" id="navBar2" style="z-index:0">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav menu" id="menuSizer">
                                <li>
                                    <a>
                                        <table style="background-color:transparent" border="0">
                                            <tr>
                                                <th id="thHelp" style="background-color: transparent; border: solid 1px transparent">Help</th>
                                            </tr>
                                        </table>
                                    </a>
                                    <ul>
                                        <li><a href='fallback.html' onclick="showPopUpRYG(); return false;">RYG Indicator</a></li>
                                        @if (ViewBag.Module != null && ViewBag.Module == "Budget")
                                        { 
                                            <li><a href="fallback.html" onclick="ShowHelp(1); return false;">Budget data load</a></li>
                                            <li><a href="https://videoportal.intel.com/media/HOW+TOA+DEGEX+Snapshot+Budget+App/0_fd5wg3eo" target="_blank">Instructional Video </a></li>
                                        }
                                    </ul>
                                </li>
                                @{
                                    if (ViewBag.Module != null)
                                    {

                                        //if (((string)ViewBag.Module).Equals("Snapshot") || ((string)ViewBag.Module).Equals("Indicator/Indicator") || ((string)ViewBag.Module).Equals("Validation"))
                                        if (ViewBag.ShowExtra != null && ((bool)ViewBag.ShowExtra))
                                        {
                                            @:
                                            <li><a><table><tr><th id="thExtras" style="background-color:transparent; border: solid 1px transparent">Extras</th></tr></table></a>@RenderSection("Extras", required: false)</li>
                                }
                                    }
                                }
                            </ul>
                            <div class="FilterLayout" data-toggle="collapse" style="color:white" data-target="#collapseFil_WW">Filter</div>
                        </div>
                    </div>
                </div>
                <div style="width:100%">
                    @if (ViewBag.HiddenFilter != null && !(bool)ViewBag.HiddenFilter)
                    {
                        using (Html.BeginForm("Search", "Search", new { Module = ViewBag.Module, Param = ViewBag.Params }, FormMethod.Post, new { onsubmit = "return validateForm()", id = "SearchForm" }))
                        {

                            @GeneralHelpers.Filter2(ViewBag.objFil, ViewBag.Filter, ViewBag.Module, ViewBag.Complete, ViewBag.WWID)
                        }
                    }
                </div>
                @if (Session["Prefilter"] == null && Session["CancelActivate"] != null && (Request.Cookies["FilString"] != null || Session["FilWW"] != null))
                {
                    <script>

                        $('.FilterLayout').click();
                    </script>
                }

                <div id="Block"></div>
                @*Center. Header and Content are processed here*@
                <div id="center_Wrapper">

                    <div class="container body-content" id="bodyContent">
                        @RenderBody()
                    </div>
                    <div class="push"></div>
                </div>
                <div class="footer" id="footer">
                    <p>&copy; @DateTime.Now.Year - Intel and Customer Confidential. @Html.Encode(ViewBag.elapsedTime) <a href="/BugReporting/BugList"><font color="white">View Feedback</font></a></p>
                </div>

            </div>
            @*Right. We might put a navbar in here*@
            <div id="right_Wrapper">

            </div>

            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Program Add</h4>
                        </div>
                        <div class="modal-body" id="modalContainer">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var elementFocus = '@(ViewBag.elementFocus)';
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/LayoutJs")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("Scripts", required: false)
    @MiniProfiler.RenderIncludes()

</body>
</html>
 
<script type="text/javascript">

    function showPopUpBug() {
        var urlLink = "/BugReporting/AddBug";
        $('#myModalLabel').html("Add a Bug");

        $('#Modal').data('url', urlLink);
        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
        });
    }
    function ShowHelp(opt)
    {
        if (opt==1) {
            $('#myModalLabel').html("Budget Data Load Help ");
            $('#Modal').data('url', skip + 'FreeHTML/FreeHTMLRegView');

            var url = $('#Modal').data('url');

            $.post(url, { Property: "thBudgetLoadHelp", Value: "BudgetLoadHelp", View: null, WWID: wwid }, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");
                $('#modalcontent').width(1050);
                $('#modalcontent').height(1090);
            });   
        }
    }
</script>

<script type="text/javascript">

    function showPopUpRYG() {
        var urlLink = "/Help/RYGIndicator";
        $('#myModalLabel').html("RYG Indicator Meaning and Expectations");

        $('#Modal').data('url', urlLink);
        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
        });
    }

    function showPopUpInfo() {
        var urlLink = "/Help/SnapshotExpectations";
        $('#myModalLabel').html("Snapshot Coment Expectations");

        $('#Modal').data('url', urlLink);
        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
        });
    }
    
</script>

