﻿@using AutoIndicators.Models
@model List<CCB>

@{
    ViewBag.Module = "CCB";
    ViewBag.Params = null;
    List<CCBStatus> lstFil = new List<CCBStatus>();
    ViewBag.HiddenFilter = false;
   
 }
@section Scripts
{
    <script>
        module = '@ViewBag.Module';
        skip = '../';
        view=6;
        wwid=@ViewBag.WWID;
    </script>
}


@section Styles{
    <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/ccb.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "CCBAllView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string strProgram = "";
    string strOther="";
}
<div id="grid_table"></div>
    <table id="Data" style="display:none">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Main Program</th>
        <th>Title</th>
        <th>Status</th>
        <th>Submit Date</th>
        <th>Create User</th>
        <th>NBI / Sustaining</th>
        <th>HW</th>
        <th>SW</th>
        <th>Program Affected</th>
        <th>Other Program Affected</th>
        <th>Continuity</th>
    </tr>
    @foreach (CCB ccb in Model.OrderByDescending(x=> x.dttCreateDate))
    {
        List<CCBOtherProgramAffected> lstCCBOtherAffected = ccb.OPA;
        strOther = "";
        strProgram = "";
        
        string strRute= "/CCB/RegisterCCB?WWID="+ViewBag.WWID+"&ccbid=" + ccb.intCCBid + "&ContID=" + ccb.ContinuityID+ "&proj=" + ccb.ProgName+"&WWName="+ViewBag.WW.Replace("'","_");
        <tr>
            <td><input style="color:blue" class="btn" type="button" onclick="window.open('@strRute')" value="GO" /></td>
            <td>@ccb.intCCBid</td>
            <td>@ccb.ProgName</td>
            <td>@ccb.strTitle</td>
            <td>@ccb.strStatus</td>
            <td>@ccb.dttSubmitDate.ToShortDateString()</td>
            <td>@ccb.strUser</td>
            <td>@(ccb.bDWA? "NPI" : "Sustaining")</td>
            <td>@(ccb.IsHW? "Yes" :"No")</td>
            <td>@(ccb.IsSW? "Yes" : "No")</td>
            @foreach (CCBSProj program in ccb.ProjAffected)
            {
                strProgram += "," + program.strProgName;
            }
            <td>@(strProgram.Length > 0 ? strProgram.Substring(1) : "")</td>

            @foreach (CCBOtherProgramAffected program in ccb.OPA)
            {
                strOther += "," + program.Name;
            }
            <td>@(strOther.Length > 0 ? strOther.Substring(1) : "")</td>
            
            <td>@ccb.ContinuityID</td>
        </tr>
    }
</table>



    <script>
        $(document).ready(function () {
            $('#aCCB').css("background-color", "#0062a8");
            $('#helpbar').height(30);
            changeToGrid(this);
        });

        var CCBModel = {
            id: 0,
            Title: '',
            Status: '',
            CreateDate:'',
            CreateUser:'',
            ProgramAffected:'',
            ProgramOtherAffected:'',
            ProgramName:'',
            Continuity:'',
            create: function (config) {
                var newObject = Object.create(this);
                //If a config object has been used to initialize the
                //sprite, assign those values to the new object
                if (config !== undefined) {
                    Object.keys(config).forEach(function (key) {
                        newObject[key] = config[key];
                    });
                }
                return newObject;
            },
            parse: function(data)
            {
                var newObject = Object.create(this);
                if (data !== undefined) {
                    if(data[0] != undefined)
                    {
                        newObject.id = data[0];
                        newObject.Title = data[1];
                        newObject.Status = data[2];
                        newObject.CreateDate = data[3];
                        newObject.CreateUser = data[4];
                        newObject.ProgramAffected = data[5];
                        newObject.ProgramOtherAffected = data[6];
                        newObject.ProgramName = data[7];
                        newObject.Continuity = data[8];
                    }
                }
                return newObject;
            }
        };
        var CCB=CCBModel;

        function changeToGrid(that) {
            var tbl = $("#Data");
            var type = $("#Data").data("type");
            var obj = $.paramquery.tableToArray(tbl);
            var newObj = {
                width: '100%',
                height: 850,
                title: "Details",
                //DataGrid Menu
                stripeRows: true,
                //collapsible: false,
                rowBorders: true,
                filterModel: { mode: 'AND', header: true, on: true },
                datatype: 'local',
                toolbar: {
                    cls: 'pq-toolbar-export',
                    items: [
                    //    {
                    //    type: 'button',
                    //    label: "Export to Excel",
                    //    icon: 'ui-icon-document',
                    //    listeners: [{
                    //        "click": function (evt) {
                    //            $("#grid_export").pqGrid("exportExcel", { url: "/", sheetName: "pqGrid sheet" });
                    //        }
                    //    }]
                    //},
                    {
                        type: 'button',
                        label: 'New CCB',
                        icon: 'ui-icon-document',
                        listeners: [{
                            "click": function(evt){
                                window.location.href="/CCB/RegisterCCB?WWID=@ViewBag.WWID&WWName=@ViewBag.WW";
                            }
                        }]
                    }
                    ]
                },
            };

            newObj.dataModel = {
                data: obj.data,
                sorting: "local",
                sortDir: ["up", "down"]
            };
            newObj.colModel = obj.colModel;

            newObj.colModel[1].dataType = "int";
            newObj.colModel[1].width=100;
            newObj.colModel[2].dataType = "string";
            newObj.colModel[2].sortIndx = "Program";
            newObj.colModel[2].width=300;
            newObj.colModel[3].dataType = "string";
            newObj.colModel[3].width=450;
            newObj.colModel[4].dataType = "string";
            newObj.colModel[4].width=100;
            newObj.colModel[5].dataType = "date";
            newObj.colModel[5].sortIndx = "SubmitedDate";
            newObj.colModel[5].width=150;
            newObj.colModel[6].dataType = "string";
            newObj.colModel[6].width=100;
            newObj.colModel[7].dataType = "string";
            newObj.colModel[7].width=100;
            newObj.colModel[8].dataType = "string";
            newObj.colModel[9].width=100;
            newObj.colModel[10].width=400;
            newObj.colModel[11].width=400;
            newObj.colModel[12].hidden=true;

            var items = newObj.dataModel.data;
            var result = [];

            for(x=0; x<newObj.colModel.length; x++)
            {
                Val = [];
                for (var item, i = 0; item = items[i++];) {
                    if (Val.indexOf(item[x]) < 0)
                    {
                        Val[Val.length] = item[x];
                    }
                }
                result[result.length] = Val;
            }
            for (i = 0; i < newObj.colModel.length; i++) {
                newObj.colModel[i].filter = {
                    type: 'select',
                    attr: "multiple",
                    cache: null,
                    options: result[i],
                    condition: 'range',
                    listeners: ['change'],
                    init: function () {
                        $(this).pqSelect({ checkbox: true, radio: true, width: '100%' });
                    }
                };
            }
            newObj.colModel[0].filter=null;
            
            newObj.colModel[5].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };
            newObj.colModel[2].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };
            newObj.colModel[3].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };
            newObj.colModel[10].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };
            newObj.colModel[11].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };
            
            newObj.pageModel = { rPP: 50, type: "local" };
            $grid = $("#grid_table").pqGrid(newObj);
            
            try {
                if ($("#grid_table").pqGrid() != null)
                    $("#grid_table").pqGrid("destroy");

                $grid=$("#grid_table").pqGrid(newObj);
                $("#grid_table").pqGrid("option", "editable", false);
            } catch (err) { }
        }
    </script>
