﻿@using AutoIndicators.Models

@model List<CCBOtherProgramAffected>
@{
    Layout = null;
}

@if(ViewBag.Saved==null)
{ 
    <div class="alert alert-warning" hidden="hidden" id="warning">
            <a href="#" class="close" aria-label="close" onclick="$('#warning').hide()">&times;</a>
            <strong>Warning!</strong>
            <div id="warningMessage"></div>
        </div>
        <div class="alert alert-success" hidden="hidden" id="success">
            <a href="#" class="close" aria-label="close" onclick="$('#success').hide()">&times;</a>
            <strong>Saved!</strong>
            <div id="successMessage"></div>
        </div>
<table>
    <tr>
        <td>PXT :</td>
        <td>
            <select id="cmbPXT" onchange="SelectPXT()">
                <option value="0">Select PXT</option>
                @foreach (PXTs pxt in ViewBag.PXT)
                {
                    <option value="@pxt.id">@pxt.Name</option>
                }
            </select>
            <input type="button" class="button" onclick="SaveProgram()" value="Save"></input>
        </td>
    </tr>
    <tr>
        <td>Name :</td>
        <td>@Html.TextBox("txtProgram")</td>
    </tr>

</table>
<br />
<br />
}
<table id="OthersProg" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:100px">Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CCBOtherProgramAffected prog in Model)
        {
            <tr data-typecat="@prog.PXTID" style="display:none">
                <td>@prog.id</td>
                <td>@prog.Name</td>
            </tr>
        }
    </tbody>
</table>