﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "CCB Register";
    List<CCBOtherProgramAffected> OpaSel = new List<CCBOtherProgramAffected>();
    CCB ccbDat = new CCB();
    ViewBag.ShowExtra = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Module = "CCB";
    
    if(Model.OPASel!=null)
    {
        OpaSel = Model.OPASel;
    }

    if (Model.CCB != null)
    {
        ccbDat = Model.CCB;
    }
    int rowOP=0;
}
@section Extras{
    <ul>
        <li><a href="@Url.Action("All", "CCB")" target="_blank">All CCBs</a></li>
    </ul>
}
@section JSLibs{
    <script src="~/Scripts/dhtmlxribbon.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}
@*
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> *@
@section Styles{
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="~/Content/dhtmlxribbon.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />

    <style>
        #mainTable input[type=text] {
            width: 400px;
        }

        #mainTable textarea {
            width: 400px;
        }
    </style>
}

@{
    string strBtnDelete = "";
    string strBtnEdit = "";
    string strAttch = "";
    string strBlockEdit = "";
    string strTrack = "";
    string strNotif = "";
    string strSuscribe = "";
    
    if (Model.CCBid > 0)
    {
        strBtnDelete = "{ id: \"btnDelete\",  type: \"button\", text: \"Delete Item\", isbig: true, img: \"48/delete.png\" },";
        strBtnEdit = "{ id: \"btnEdit\",  type: \"button\", text: \"Edit\", img: \"48/paste.gif\", isbig: true }";
        strAttch = "{ id: \"btnAttach\",  type: \"button\", text: \"Attach File\", isbig: true, img: \"48/attachement.png\" },";
        strTrack = "{ id: \"btnLog\",  type: \"button\", text: \"Track\", isbig: true, img: \"48/open.gif\" },";
        strNotif = "{ id: \"btnNotif\",  type: \"button\", text: \"Notif\", isbig: true, img: \"48/open.gif\" },";
        strSuscribe = "{ id: \"btnSuscribe\",  type: \"button\", text: \"Suscribe\", isbig: true, img: \"48/tab_go.png\" },";
        strBlockEdit = "{ type: \"block\", text: \"Action\", mode: \"col\", list: [";
        strBlockEdit += strBtnDelete + strAttch +strTrack+strSuscribe+strNotif+ strBtnEdit;
        strBlockEdit += " ] }";
    }
}

<script>


    var myRibbon, data = {
        parent: "ribbonObj",
        icons_path: "../Content/common/",
        tabs: [
            {
                id: "tab_1", text: "", active: true, items: [
                   {
                       type: "block", text: "Commit", mode: "cols", list: [
                          { id:"btnSave", type: "button", text: "Save", isbig: true, img: "48/Save.png" },
                          { id:"btnBack", type: "button", text: "Cancel", isbig: true, img: "48/cancel.png" },
                       ]
                   },
                   @MvcHtmlString.Create(strBlockEdit)
                ]
            },

        ]
    };

    $(function () {
        $("#pSubmitDate").datepicker();
        $("#pAproveDate").datepicker();
        $("#pTargetDate").datepicker();
        $("#pImplementDate").datepicker();
        myRibbon = new dhtmlXRibbon(data);

        myRibbon.attachEvent("onClick", function (itemId, bId) {
            switch(itemId.toString())
            {
                case 'btnBack': window.open('/CCB?WWID=@(Model.WWID)&weekName=@(Model.WWName)', '_self');
                    break;
                case 'btnSave':
                    if(edit)
                    {
                        if(validateForm())
                            RegisterForm.submit();
                    }else
                        alert('Action not allowed');
                    break;
                case 'btnEdit': Edit();
                    break;
                case 'btnDelete': if (confirm('Do you want eliminate this item?'))
                    DeleteForm.submit();
                    break;
                case 'btnAttach': showPopUpRegister('/CCB/CCBLinksView?CCBID=@(Model.CCBid)&WWID=@(Model.WWID)&ContID=@(Model.ContID)&proj=@(Model.Project)','','"Attachments for @(Model.Project)');
                    break;
                case 'btnSuscribe': Suscribe();
                    break;
                case 'btnLog': Log($('#CCB'));
                    break;
                case 'btnNotif':
                    showPopUpRegister('/CCB/CCBNotif?CCBID=@(Model.CCBid)&NotifData='+$('#CCB').data('notif'),'','Notif for CCB @(Model.CCBid)');
                    break;
            }
        });

    });

    function doOnUnload() {
        if (myRibbon) {
            myRibbon.unload();
            myRibbon = null;
        }
    };
</script>

@using (Html.BeginForm("SaveCCB", "CCB", new { Deleted = true }, FormMethod.Post, new { id = "DeleteForm" }))
{
    if (Model.CCBid > 0)
    {
        @Html.Hidden("idCCB", (int)Model.CCBid)
    }
    else
    { @Html.Hidden("idCCB", 0)  ;
    }
    @Html.Hidden("txtWWID", (int)Model.WWID)
    @Html.Hidden("txtWWName", (string)Model.WWName)
}

@using (Html.BeginForm("SaveCCB", "CCB", FormMethod.Post, new { onsubmit = "return validateForm()", id = "RegisterForm" }))
{
    string strCheckT = "";
    string strCheckF = "";
    bool putCheck = false;
    //View|continuity|elementId|WWID|icon|Owner|ProgType|PXT|SubType|Subtype
    string notifData = "6|" + Model.ContID + "|" + Model.CCBid + "|" + Model.WWID + "|" + AutoIndicators.GeneralClasses.General.getIcon(6) + "|" + ccbDat.OwnerId + "|" + ccbDat.ProgTypeID + "|" + ccbDat.PXTId+"|10";
                           
    <input type="hidden" id="CCB" data-notif="@notifData" data-notifproj="@Model.Project" />
    
    <table id="header-fixed" class="table table-bordered table-striped" style="width: 87% !important"></table>
    <div class="alert alert-warning" hidden="hidden" id="warning">
        <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
        <strong>Warning!</strong>
        <div id="warningMessage"></div>
    </div>
    <div id="ribbonObj" style="width:100%"></div>
    <table id="mainTable" width="400" align="center" class="table table-bordered table-striped">
        <colgroup>
            <col style="width : 20%;">
            <col style="width : 80%;">
        </colgroup>
        <tbody>
            @Html.Hidden("txtWWID", (int)Model.WWID)
            @Html.Hidden("txtWWName", (string)Model.WWName)
            @Html.Hidden("ContinuityID",(string)Model.ContID)
            @Html.Hidden("txtProj", (string)Model.Project)
            @if (Model.CCBid > 0)
            {
                @Html.Hidden("idCCB", (int)Model.CCBid)
            }
            else
            { @Html.Hidden("idCCB", 0)  ;
            }
           
            <tr>
                <td><b>Project</b></td>
                <td data-field-edit="true">
                        <select id="cmbProgram" name="cmbProgram" onchange="SelectProgram()">
                            @if ("Non Snapshot" == Model.Project)
                            {
                                <option value="NON-SNAPSHOT" selected="selected">Non Snapshot</option>
                            }else
                            {
                                <option value="NON-SNAPSHOT">Non Snapshot</option>
                            }
                            <option value="">Select Program</option>
                            @foreach (SnapshotIndex prog in Model.Programs)
                            {
                                if (prog.ContinuityID == Model.ContID)
                                {
                                    <option value="@prog.ContinuityID" selected="selected">@prog.ProgName</option>
                                }
                                else
                                {
                                    <option value="@prog.ContinuityID">@prog.ProgName</option>
                                }
                            }
                        </select>
                </td>
                <td id="tdProject" data-field-edit="false">
                    @Model.Project
                </td>
                
            </tr>
            @{
    if (Model.CCBid > 0)
    {
        <tr>
            <td><b>Number</b></td>
            <td>@Model.CCBid</td>
        </tr>

    }
            }

            <tr>
                <td class="FHtml" id="thCCBTitle">Title *</td>
                <td data-field-edit="true" style="border:none">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td style="border:none">@Html.TextBox("txtTitle", ccbDat.strTitle, new { required = string.Empty, @class = "inputW" })</td>
                        </tr>
                        <tr>
                            <td>
                                @if (ccbDat.IsHW != null)
                                {
                                    if (ccbDat.IsHW)
                                    {
                                        strCheckT = "checked='checked'";
                                    }
                                    else
                                    {
                                        strCheckT = "";
                                    }
                                }
                                <input type="checkbox" value="true" id="thw" name="thw" @strCheckT onclick="Selection($(this))" />HW
                                @if (ccbDat.IsSW != null)
                                {
                                    if (ccbDat.IsSW)
                                    {
                                        strCheckT = "checked='checked'";
                                    }
                                    else
                                    {
                                        strCheckT = "";
                                    }
                                }
                                <input type="checkbox" value="true" id="thsw" name="thsw" @strCheckT onclick="Selection($(this))" />SW
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Is SW CCB required?
                                @{
    if (ccbDat.bSWRequired != null)
    {
        if (ccbDat.bSWRequired)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }
                                }
                                Yes <input type="radio" name="SWReq" id="SWReq" value="1" @if (putCheck) { @strCheckT              } /> / No <input type="radio" name="SWReq" id="SWReq" value="0" @if (putCheck) { @strCheckF               } />
                                SW CCB#
                                @Html.TextBox("txtCCBSW", ccbDat.strSWNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>SW Category @Html.TextBox("pSWCategory", ccbDat.strSWCategory)</td>
                        </tr>
                    </table>





                </td>

                <td data-field-edit="false">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td style="width:800px; border:none">@ccbDat.strTitle</td>
                            <td data-field-edit="false" style="border:none">
                                <table data-field-edit="false" class="table table-bordered table-striped">
                                    <tr>
                                        <td style="border:none">HW @(ccbDat.IsHW ? "Yes" : "No") Is SW CCB required? @(ccbDat.bSWRequired ? "Yes" : "No") SW CCB# @ccbDat.strSWNumber</td>
                                    </tr>
                                    <tr>
                                        <td style="border:none">SW @(ccbDat.IsSW ? "Yes" : "No") SW Category @ccbDat.strSWCategory</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="FHtml" id="thCCBPhaseTag">Project Phase tag</td>
                @{
    if (ccbDat.bDWA != null)
    {
        if (ccbDat.bDWA)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }
                }
                <td data-field-edit="true">
                    NPI <input type="radio" name="PNPI" id="PNPI" value="1" @if (putCheck) { @strCheckT    } /> / Sustaining <input type="radio" name="PNPI" checked="checked" id="PNPIN" value="0" />
                </td>
                <td data-field-edit="false">@(ccbDat.bDWA ? "NPI" : "Sustaining")</td>
            </tr>
                <tr>
                    <td class="FHtml" id="thCCBStatus">CCB Status *</td>
                    <td data-field-edit="true">
                        <select name="CCBStatus" class="comboBox">
                            @foreach (CatCCBStatus status in Model.StatusList)
                            {
                                if (ccbDat.intCCBStatus == status.intStatus)
                                {
                                    <option value="@status.intStatus" selected="selected">@status.strName</option>
                                }
                                else
                                {
                                    if(status.intStatus==9)
                                    {
                                        <option value="@status.intStatus" selected="selected">@status.strName</option>
                                    }else
                                    { 
                                        <option value="@status.intStatus">@status.strName</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                    <td data-field-edit="false">
                        @foreach (CatCCBStatus status in Model.StatusList)
                        {
                            if (ccbDat.intCCBStatus == status.intStatus)
                            {
                                @status.strName;
                            }
                        }
                    </td>
                </tr>
            <tr>
                <td class="FHtml" id="thCCBProjectAffected">Project Affected * </td>
                <td data-field-edit="true">
                    <table style="border:none">
                        <tr style="border:none">
                            @{
    int inti = 0;
    foreach (CCBSProj proj in ((List<CCBSProj>)Model.PorjList).OrderBy(x => x.strProgName))
    {
        if (Model.ProjListSel != null && Model.ProjListSel.Count > 0)
        {
            List<CCBSProj> projSel = Model.ProjListSel;

            if (projSel.Exists(row => row.ContinuityID == proj.ContinuityID))
            {
                strCheckT = "checked='checked'";
            }
            else
            {
                strCheckT = "";
            }
        }
        else
        {
            strCheckT = "";
        }

        if (inti == 5)
        {
            inti = 0;
        <tr></tr>
                                <td style="border:none"><input type="checkbox" name="@("Proj"+proj.ContinuityID)" id="@("Proj"+proj.ContinuityID)" value="@proj.ContinuityID" @strCheckT>@proj.strProgName</td>
        }
        else
        {
            inti++;
            <td style="border:none"><input type="checkbox" name="@("Proj"+proj.ContinuityID)" id="@("Proj"+proj.ContinuityID)" value="@proj.ContinuityID" @strCheckT>@proj.strProgName</td>
        }
        if (inti == 0)
        {
            MvcHtmlString.Create("</tr><tr>");
        }


    }
                            }
                        </table>
                    </td>
                    
                    <td data-field-edit="false">
                        <table style="border:none">
                            <tr style="border:none">
                                @{
    inti = 0;
    foreach (CCBSProj proj in Model.PorjList)
    {

        if (Model.ProjListSel != null && Model.ProjListSel.Count > 0)
        {
            List<CCBSProj> projSel = Model.ProjListSel;

            if (projSel.Exists(row => row.ContinuityID == proj.ContinuityID))
            {
                strCheckT = "checked='checked'";
            }
            else
            {
                strCheckT = "";
            }
        }
        else
        {
            strCheckT = "";
        }

        if (strCheckT.Length > 0)
        {
            if (inti == 5)
            {
                inti = 0;
            <tr></tr>
                                    <td style="border:none">@proj.strProgName</td>
            }
            else
            {
                inti++;
                <td style="border:none">@proj.strProgName</td>
            }
            if (inti == 0)
            {
                MvcHtmlString.Create("</tr><tr style='border:none'>");
            }
        }

    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="FHtml" id="thCCBOtherProgram">
                            Other Program(s)
                            <br />
                            <span onclick="newprogram()" style="cursor: pointer; text-decoration: underline; color: #428bca;">New</span>
                        </td>
                        <td data-field-edit="true">
                            <table>
                                <tr>
                                    <td>
                                        @*<select id="PXT" onchange="showProg(this.value)">
                                            @foreach (PXTs pxt in Model.PXT)
                                            {
                                               <option value="@pxt.id">@pxt.Name</option>
                                            }
                                        </select>*@



                                    </td>
                                    <td style="border-top:none">
                                        @*<select id="OPA" name="OPA" style="display:none">
                                            <option value="0">Select Program</option>
                                            @foreach (CCBOtherProgramAffected OPA in Model.OPA)
                                            {

                                                if (OpaSel.Any(x => x.id == OPA.id))
                                                {
                                                    <option data-pxt="@OPA.PXTID" value="@OPA.id" selected="selected">@OPA.Name</option>
                                                }
                                                else
                                                {
                                                    <option data-pxt="@OPA.PXTID" value="@OPA.id">@OPA.Name</option>
                                                }

                                            }
                                        </select>*@

                                        <div>
                                        <div style="float:left; width:250px">
                                       
                                            @foreach (CCBOtherProgramAffected OPA in Model.OPA)
                                            {
                                                if(rowOP==10)
                                                {
                                                    rowOP = 0;
                                                    @:</div><div style="float:left; width:250px">
                                                }
                                                if (OpaSel.Any(x => x.id == OPA.id))
                                                {
                                                    <div data-pxt="@OPA.PXTID">
                                                        <input type="checkbox" id="OPA-@OPA.id" name="OPA-@OPA.id" value="@OPA.id" checked="checked">
                                                    
                                                        @(((List<PXTs>)Model.PXT).Where(x=> x.id==OPA.PXTID).First().Name+" - "+OPA.Name)
                                                
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div data-pxt="@OPA.PXTID">
                                                        <input type="checkbox" id="OPA-@OPA.id" name="OPA-@OPA.id" data-pxt="@OPA.PXTID" value="@OPA.id">
                                                        @(((List<PXTs>)Model.PXT).Where(x => x.id == OPA.PXTID).First().Name + " - " + OPA.Name)
                                                    </div>
                                                }
                                                rowOP++;
                                            }
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td data-field-edit="false">
                        @{
                            
                            foreach(CCBOtherProgramAffected OPA in OpaSel)
                            {
                                @(((List<PXTs>)Model.PXT).Where(x=> x.id==OPA.PXTID).First().Name+" - "+OPA.Name) <br />
                            }
                        }
                        </td></tr>
                    <tr>
                        <td class="FHtml" id="thCCBPriority">Priority</td>
                        <td data-field-edit="true">
                            <select id="cmbPriority" name="cmbPriority">
                                @{
    CCBPriority prioritySel = new CCBPriority();

    foreach (CCBPriority priority in Model.Priorities)
    {
        if (ccbDat.intPriority == priority.intID)
        {
            prioritySel = priority;
            <option value="@priority.intID" selected="selected">@priority.strName</option>
        }
        else
        {
            <option value="@priority.intID">@priority.strName</option>
        }
    }
                                }
                            </select>
                        </td>
                        <td data-field-edit="false">@prioritySel.strName</td>
                    </tr>
                    <tr>
                        <td class="FHtml" id="thCCBInitiatorName">Initiator Name *</td>
                        <td>
                            <table style="border:none">
                                <tr style="border:none">
                                    <td style="border:none" data-field-edit="true">@Html.TextBox("txtInitiator", ccbDat.strInitiator)</td>
                                    <td style="border:none" data-field-edit="false">@ccbDat.strInitiator</td>
                                    <td style="border:none">Initiator Email *</td>
                                    <td style="border:none" data-field-edit="true">@Html.TextBox("txtInitiatorEmail", ccbDat.strEmailInitiator, new { required = string.Empty })</td>
                                    <td style="border:none" data-field-edit="false"><a href="mailto:@ccbDat.strEmailInitiator">@ccbDat.strEmailInitiator</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="FHtml" id="thCCBSubmitDate">CCB Submit Date *</td>
                        <td data-field-edit="true">@Html.TextBox("pSubmitDate", ccbDat.dttSubmitDate.ToShortDateString(), new { required = string.Empty })</td>
                        <td data-field-edit="false">@ccbDat.dttSubmitDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td class="FHtml" id="thCCBImplementedDate">CCB Target Implemented Date</td>
                        <td data-field-edit="true">@Html.TextBox("pTargetDate",ccbDat.dttTargetImplementedDate.Equals(new DateTime(1900,1,1))? null : ccbDat.dttTargetImplementedDate.ToShortDateString())</td>
                        <td data-field-edit="false">@(ccbDat.dttTargetImplementedDate.Equals(new DateTime(1900,1,1))? "" : ccbDat.dttTargetImplementedDate.ToShortDateString())</td>
                    </tr>
                    <tr>
                        <td class="FHtml" id="thCCBChangeDesc">Change Description *</td>
                        <td data-field-edit="true">@Html.TextArea("txtChangeDesc", ccbDat.strChangeDesc, new { required = string.Empty })</td>
                        <td data-field-edit="false">@MvcHtmlString.Create(ccbDat.strChangeDesc)</td>
                    </tr>
                    <tr>
                        <td class="FHtml" id="thCCBChangeJustification">Change Justification *</td>
                        <td data-field-edit="true">
                            @Html.TextArea("txtChangeJustify", ccbDat.strChangeJustificaiton, new { required = string.Empty })<br />
                        Link @Html.TextBox("txtChangeJustifyLink", ccbDat.strChangeJustificaitonLink, new { required = string.Empty })
                    </td>
                    <td data-field-edit="false">@MvcHtmlString.Create(ccbDat.strChangeJustificaiton) Link @ccbDat.strChangeJustificaitonLink</td>
                </tr>
                <tr>
                    <td>Spec or Doc need to be modified? *</td>
                    @{
    if (ccbDat.bModSpec != null)
    {
        if (ccbDat.bModSpec)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="SpecMod" id="SpecMod" value="1" @if (putCheck) { @strCheckT     } /> / No <input type="radio" name="SpecMod" id="SpecMod" value="0" @if (putCheck) { @strCheckF      } /></td>
                    <td data-field-edit="false">@(ccbDat.bModSpec ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBfunctionalareas">What functional areas does this change affect?</td>
                    <td data-field-edit="true">
                        @foreach (CCBsFunctionalTeam team in Model.TeamList)
                        {
                            if (Model.TeamListSel != null && Model.TeamListSel.Count > 0)
                            {
                                List<CCBsFunctionalTeam> teamExist = new List<CCBsFunctionalTeam>();
                                List<CCBsFunctionalTeam> teamSel = Model.TeamListSel;

                                if (teamSel.Exists(row => row.intId == team.intId))
                                {
                                    strCheckT = "checked='checked'";
                                }
                                else
                                {
                                    strCheckT = "";
                                }
                            }
                            else
                            {
                                strCheckT = "";
                            }
                            <input type="checkbox" name="@("Team"+team.intId)" id="@("Team"+team.intId)" value="@team.intId" @strCheckT />@team.strDescription<br />
                        }

                    </td>
                    <td data-field-edit="false">
                        @foreach (CCBsFunctionalTeam team in Model.TeamList)
                        {
                            if (Model.TeamListSel != null && Model.TeamListSel.Count > 0)
                            {
                                List<CCBsFunctionalTeam> teamExist = new List<CCBsFunctionalTeam>();
                                List<CCBsFunctionalTeam> teamSel = Model.TeamListSel;

                                if (teamSel.Exists(row => row.intId == team.intId))
                                {
                                    @team.strDescription<br />
                                }
                            }
                        }

                    </td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBImpactedFuntion">Impacted Function(scoping input is reqd)</td>
                    @{
    if (ccbDat.bImpactedFunction != null)
    {
        if (ccbDat.bImpactedFunction)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="ImpacFunc" id="ImpacFunc" value="1" @if (putCheck) { @strCheckT       } /> / No <input type="radio" name="ImpacFunc" id="ImpacFunc" value="0" @if (putCheck) { @strCheckF       } />
                    @Html.TextBox("pImpactedFuntionLink", ccbDat.strImpactedFunctionLink,new{ style="width:92%" } )
                    </td>
                    <td data-field-edit="false">@(ccbDat.bImpactedFunction ? "Yes" : "No")   @ccbDat.strImpactedFunctionLink</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBHC">Impact to Program HC</td>
                    @{
    if (ccbDat.strImpactHC != null)
    {
        if (ccbDat.strImpactHC.Equals("1"))
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }
                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtProgramHC" id="txtProgramHC" value="1" @strCheckT /> / No <input type="radio" name="txtProgramHC" id="txtProgramHC" value="0" @strCheckF />
                        @Html.TextBox("pImpactedHCLink", ccbDat.strImpactHCLink, new { style = "width:92%" })
                    </td>
                    <td data-field-edit="false">@(ccbDat.strImpactHC != null && ccbDat.strImpactHC.Equals("1") ? "Yes" : "No")   @ccbDat.strImpactHCLink</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBBTI">Impact to Program BTI</td>
                    @{
    if (ccbDat.strImpactBTI != null)
    {
        if (ccbDat.strImpactBTI.Equals("1"))
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtProgramBTI" id="txtProgramBTI" value="1" @strCheckT /> / No <input type="radio" name="txtProgramBTI" id="txtProgramBTI" value="0" @strCheckF />
                        @Html.TextBox("pImpactedBTILink", ccbDat.strImpactBTILink, new { style = "width:92%" })
                    </td>
                    <td data-field-edit="false">@(ccbDat.strImpactBTI != null && ccbDat.strImpactBTI.Equals("1") ? "Yes" : "No")  @ccbDat.strImpactBTILink</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBOEM">Impact to Customer - OEM, Channel</td>
                    @{
    if (ccbDat.bImpactCOEM != null)
    {
        if (ccbDat.bImpactCOEM)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtbProgramCOEM" id="txtbProgramCOEM" value="1" @strCheckT /> / No <input type="radio" name="txtbProgramCOEM" id="txtbProgramCOEM" value="0" @strCheckT />
                    Link @Html.TextBox("txtProgramCOEMLink", ccbDat.strImpactCOEMLink, new { style = "width:90%" })</td>
                    <td data-field-edit="false">@(ccbDat.bImpactCOEM != null && ccbDat.bImpactCOEM ? "Yes" : "No") Link <a href="@ccbDat.strImpactCOEMLink" target="_blank">@ccbDat.strImpactCOEMLink</a></td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBImpactMarketing">Impact to Marketing - PME, TME</td>
                    @{
    if (ccbDat.bImpactMarketing != null)
    {
        if (ccbDat.bImpactMarketing)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtbImpactMarketing" id="txtbImpactMarketing" value="1" @strCheckT /> / No <input type="radio" name="txtbImpactMarketing" id="txtbImpactMarketing" value="0" @strCheckT />
                    Link @Html.TextBox("txtImpactMarketingLink", ccbDat.strImpactMarketingLink, new { style = "width:90%" })</td>
                    <td data-field-edit="false">@(ccbDat.bImpactMarketing != null && ccbDat.bImpactMarketing ? "Yes" : "No") Link <a href="@ccbDat.strImpactMarketingLink" target="_blank">@ccbDat.strImpactMarketingLink</a></td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBImpactEngineering">Impact to Engineering</td>
                    @{
    if (ccbDat.bImpactEngine != null)
    {
        if (ccbDat.bImpactEngine)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtbImpactEngine" id="txtbImpactEngine" value="1" @strCheckT /> / No <input type="radio" name="txtbImpactEngine" id="txtbImpactEngine" value="0" @strCheckT />
                    Link @Html.TextBox("txtImpactEngineLink", ccbDat.strImpactEngineLink, new { style = "width:90%" })</td>
                    <td data-field-edit="false">@(ccbDat.bImpactEngine != null && ccbDat.bImpactEngine ? "Yes" : "No")  Link <a href="@ccbDat.strImpactEngineLink" target="_blank">@ccbDat.strImpactEngineLink</a></td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBSecurityImpact">Design for Security Impact</td>
                    @{
    if (ccbDat.bImpactDesignSecurity != null)
    {
        if (ccbDat.bImpactDesignSecurity)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtbImpactDesignSecurity" id="txtbImpactDesignSecurity" value="1" @strCheckT /> / No <input type="radio" name="txtbImpactDesignSecurity" id="txtbImpactDesignSecurity" value="0" @strCheckT />
                    Link @Html.TextBox("txtImpactDesignSecurityLink", ccbDat.strImpactDesignSecurityLink, new { style = "width:90%" })</td>
                    <td data-field-edit="false">@(ccbDat.bImpactDesignSecurity != null && ccbDat.bImpactDesignSecurity ? "Yes" : "No") Link <a href="@ccbDat.strImpactDesignSecurityLink" target="_blank">@ccbDat.strImpactDesignSecurityLink</a></td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBOtherImpact">Other Impact (QRE, Customer Service, etc)</td>
                    @{
    if (ccbDat.bImpactOther != null)
    {
        if (ccbDat.bImpactOther)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="txtbImpactOther" id="txtbImpactOther" value="1" @strCheckT /> / No <input type="radio" name="txtbImpactOther" id="txtbImpactOther" value="0" @strCheckT />
                    Link @Html.TextBox("txtImpactOtherLink", ccbDat.strImpactOtherLink, new { style = "width:90%" })</td>
                    <td data-field-edit="false">@(ccbDat.bImpactOther != null && ccbDat.bImpactOther ? "Yes" : "No") Link <a href="@ccbDat.strImpactOtherLink" target="_blank">@ccbDat.strImpactOtherLink</a></td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBROI">ROI Analysis</td>
                    @{
    if (ccbDat.strROIAnalysis != null)
    {
        if (ccbDat.strROIAnalysis.Equals("1"))
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }
                    }
                    <td data-field-edit="true">Yes <input type="radio" name="ROI" id="ROI" value="1" @strCheckT /> / No <input type="radio" name="ROI" id="NROI" value="0" @strCheckF />
                    Link @Html.TextBox("txtROIAnalysisLink", ccbDat.strROIAnalysisLink, new { style = "width:90%" })</td>
                    <td data-field-edit="false">@(ccbDat.strROIAnalysis != null && ccbDat.strROIAnalysis.Equals("1") ? "Yes" : "No") Link <a href="@ccbDat.strROIAnalysisLink" target="_blank">@ccbDat.strROIAnalysisLink</a></td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBImpactSchedule">Impact to Program Schedule</td>
                    <td data-field-edit="true">@Html.TextArea("txtAProgramSchedule", ccbDat.strImpactSchedule)</td>
                    <td data-field-edit="false">@MvcHtmlString.Create(ccbDat.strImpactSchedule)</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBSOWRequired">SOW Required</td>
                    @{
    if (ccbDat.strSOWReq != null)
    {
        if (Convert.ToBoolean(ccbDat.strSOWReq))
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">Yes <input type="radio" name="NPI" id="NPI" value="1" @strCheckT /> / No <input type="radio" name="NPI" id="NPIN" value="0" @strCheckF /> Link @Html.TextBox("txtSOWReqLink", ccbDat.strSOWReqLink)</td>
                    <td data-field-edit="false">@(ccbDat.strSOWReq != null && Convert.ToBoolean(ccbDat.strSOWReq) ? "Yes" : "No") Link <a href="@ccbDat.strSOWReqLink" target="_blank">@ccbDat.strSOWReqLink</a></td>
                </tr>
                <tr>
                    <td class ="FHtml" id="thCCBARComments">AR/Comments</td>
                    <td data-field-edit="true">@Html.TextArea("txtARsComments", ccbDat.strARsComments)</td>
                    <td data-field-edit="false">@MvcHtmlString.Create(ccbDat.strARsComments)</td>
                </tr>
                <tr>
                    <td>Design Win Involved(Y/N)</td>
                    @{
    if (ccbDat.bDWI != null)
    {
        if (ccbDat.bDWI)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }

                    }
                    <td data-field-edit="true">
                        Yes <input type="radio" name="DWI" id="DWI" value="1" @if (putCheck) { @strCheckT      } /> / No <input type="radio" name="DWI" id="DWIN" value="0" @if (putCheck) { @strCheckF      } />
                        @Html.TextBox("txtWINInvolved", ccbDat.strWINInvolved)
                    </td>
                    <td data-field-edit="false">@(ccbDat.bDWI ? "Yes" : "No") @ccbDat.strWINInvolved</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBDWA">Design Win Achieved</td>
                    @{
    if (ccbDat.bDWA != null)
    {
        if (ccbDat.bDWA)
        {
            strCheckT = "checked='checked'";
        }
        else
        {
            strCheckF = "checked='checked'";
        }
        putCheck = true;
    }
                    }
                    <td data-field-edit="true">
                        Yes <input type="radio" name="DWA" id="DWA" value="1" @if (putCheck) { @strCheckT      } /> / No <input type="radio" name="DWA" id="DWAN" value="0" @if (putCheck) { @strCheckF      } />
                        @Html.TextBox("txtWINAchieved", ccbDat.strWINAchieved)
                    </td>
                    <td data-field-edit="false">@(ccbDat.bDWA ? "Yes" : "No") @ccbDat.strWINAchieved</td>
                </tr>
                
                <tr>
                    <td class="FHtml" id="thCCBApprovedDate">CCB Approved Date</td>
                    <td data-field-edit="true">@Html.TextBox("pAproveDate",ccbDat.dttApprovedDate.Equals(new DateTime(1900,1,1))? null: ccbDat.dttApprovedDate.ToShortDateString())</td>
                    <td data-field-edit="false">@(ccbDat.dttApprovedDate.Equals(new DateTime(1900,1,1))? "": ccbDat.dttApprovedDate.ToShortDateString())</td>
                </tr>
                <tr style="display:none">
                    <td class="FHtml" id="thCCBReleaseDate">Scheduled CCB Release Dates</td>
                    <td data-field-edit="true">@Html.TextBox("pReleaseDate",ccbDat.dttApprovedDate.Equals(new DateTime(1900,1,1))? null: ccbDat.dttApprovedDate.ToShortDateString())</td>
                    <td data-field-edit="false">@(ccbDat.dttApprovedDate.Equals(new DateTime(1900,1,1))? "": ccbDat.dttApprovedDate.ToShortDateString())</td>
                </tr>
                <tr>
                    <td class="FHtml" id="thCCBCategoryChange">Category Change</td>
                    <td data-field-edit="true">
                        <select name="cmbCategoryChange" id="cmbCategoryChange" class="comboBox">
                            <option value="0">N/A</option>
                            @foreach (CCBCategoryChange CC in Model.lstCategoryChange)
                            {
                                if (ccbDat.ChangeCategoryID == CC.intID)
                                {
                                    <option value="@CC.intID" selected="selected">@CC.strName</option>
                                }
                                else
                                {
                                    <option value="@CC.intID">@CC.strName</option>
                                }
                            }
                        </select>
                    </td>
                    <td data-field-edit="false">
                        @foreach (CCBCategoryChange CC in Model.lstCategoryChange)
                        {
                            if (ccbDat.ChangeCategoryID == CC.intID)
                            {
                                @CC.strName;
                            }
                        }
                    </td>
                </tr>
            <tr>
                <td class="FHtml" id="thCCBApprovedby">Common CCB Approved by</td>
                <td>
                    <table style="border:none">
                        <tr style="border:none">
                            <td style="border:none" data-field-edit="true"><input id="txtCommondApproved" name="txtCommondApproved" type="text" value="@ccbDat.strCommonApproved" /></td>
                            <td style="border:none" data-field-edit="false">@ccbDat.strCommonApproved</td>
                            <td style="border:none" class="FHtml" id="thCCBEmailApprovedBy">Email Common CCB Approved by</td>
                            <td style="border:none" data-field-edit="true"><input id="txtEmailCommondApproved" name="txtEmailCommondApproved" type="text" value="@ccbDat.strCommonEmailApproved" /></td>
                            <td style="border:none" data-field-edit="false"><a href="mailto:@ccbDat.strCommonEmailApproved">@ccbDat.strCommonEmailApproved</a></td>
                        </tr>
                    </table>
                </td>
            </tr>

           <tr data-sw="1">
                    <td class="FHtml" id="thCCBSBMC">Version Where Fixed\ Supported -  BMC</td>
                    <td data-field-edit="true">@Html.TextBox("pSupportBMC", ccbDat.strSupportedBMC)</td>
                    <td data-field-edit="false">@ccbDat.strSupportedBMC</td>
                </tr>
            <tr data-sw="1">
                <td class="FHtml" id="thCCBSBIO">Version Where Fixed\ Supported -  BIOS</td>
                <td data-field-edit="true">@Html.TextBox("pSupportBIOS", ccbDat.strSupportedBIOS)</td>
                <td data-field-edit="false">@ccbDat.strSupportedBIOS</td>
            </tr>
            <tr data-sw="1">
                <td class="FHtml" id="thCCBSUtilities">Version Where Fixed\ Supported -  Utilities</td>
                <td data-field-edit="true">@Html.TextBox("pSupportUtil", ccbDat.strSupportedUtilities)</td>
                <td data-field-edit="false">@ccbDat.strSupportedUtilities</td>
            </tr>
            <tr>
                <td class="FHtml" id="thCCBActualImplemented">CCB Actual Implemented Date</td>
                <td data-field-edit="true">@Html.TextBox("pImplementDate", ccbDat.dttActualImplementedDate.Equals(new DateTime(1900, 1, 1)) ? null : ccbDat.dttActualImplementedDate.ToShortDateString())</td>
                <td data-field-edit="false">@(ccbDat.dttActualImplementedDate.Equals(new DateTime(1900, 1, 1)) ? "" : ccbDat.dttActualImplementedDate.ToShortDateString())</td>
            </tr>
                <tr>
                    <td class="FHtml" id="thCCBBTISpending">CCB Actual BTI Spending</td>
                    <td data-field-edit="true">@Html.TextBox("txtCCBActualBTI", ccbDat.strActualBTI)</td>
                    <td data-field-edit="false">@ccbDat.strActualBTI</td>
                </tr>
                @if (ccbDat.lsFile != null && ccbDat.lsFile.Count > 0)
                {
                    <tr>
                        <td class="FHtml" id="thCCBAttachments">Attachments</td>
                        <td>
                            <div>

                                @{
                    if (ccbDat.lsFile != null && ccbDat.lsFile.Count > 0)
                    {
                        foreach (CCBFiles file in ccbDat.lsFile)
                        {
                            <div data-field-edit="true" id="@file.intId" style="float:left; cursor:pointer; border:solid 1px black; width:200px; padding:5px;">
                                <div style="float:left; width: 150px" onclick="window.open('@file.strURL','_blank')">@file.strName</div>
                                <div style="float:right; width:30px; color:black; text-align:center; padding-left:5px; border-left: solid 1px black" data-cbb-file="@(Model.CCBid + "," + file.strName + "," + @file.strURL)" onclick="deleteFile(this,@file.intId)">X</div>
                            </div>
                                    <div data-field-edit="false" id="@file.intId" style="float:left; cursor:pointer; border:solid 1px black; width:200px; padding:5px;">
                                        <div style="float:left; width: 150px" onclick="window.open('@file.strURL','_blank')">@file.strName</div>
                                    </div>
                        }
                    }
                    else
                    {
                        if (Session["CCBFiles"] != null)
                        {
                            List<CCBFiles> lsfile = new List<CCBFiles>();
                            lsfile = (List<CCBFiles>)Session["CCBFiles"];
                            int intif = 0;

                            foreach (CCBFiles file in lsfile)
                            {
                                intif++;
                                <div id="0" style="float:left; cursor:pointer; border:solid 1px black; width:200px; padding:5px;">
                                    <div style="float:left; width: 150px" onclick="window.open('@file.strURL','_blank')">@file.strName</div>
                                    <div style="float:right; width:30px; text-align:center; padding-left:5px; border-left: solid 1px black; color:black" data-cbb-file="@(Model.CCBid + "," + file.strName + "," + @file.strURL)" onclick="return false">X</div>
                                </div>
                                    @Html.Hidden("file" + intif, file.strName + "," + file.strURL);
                            }
                        }
                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
                <!--  <tr>
                      <td>Common CCB Approved by</td>
                      <td>@Html.TextBox("CommonCCBAproved", null)</td>
                  </tr> -->
            </tbody>
        </table>
}
<script type="text/javascript">
    var edit = false;
    ContinuityID='@Model.ContID';
    Owner=@ccbDat.OwnerId;
    ProgramType = @ccbDat.ProgTypeID;
    PXT = @ccbDat.PXTId;
    module=@ViewBag.Module;

    var tableOffset = $("#mainTable").offset().top;
    var $header = $("#mainTable > ribbonObj");
    var $fixedHeader = $("#header-fixed").append($header.clone());

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();


        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function (ind, val) {
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding", original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });
    function validateForm() {

        //  URL validation
        //if (!validateURL($("#txtChangeJustifyLink").val())) {
        //        $('#warning').show();
        //        $('#warningMessage').text("Please enter a valid URL, remember including http://");
        //        return false;
        //} if (!validateURL($("#txtSOWReqLink").val())) {
        //        $('#warning').show();
        //        $('#warningMessage').text("Please enter a valid URL, remember including http://");
        //        return false;
        //}
        //email validation
        if($("#txtTitle").val().length==0)
        {
            $('#warning').show();
            $('#warningMessage').text("A Title is required");
            return false;
        }
        if(tinyMCE.get('txtChangeDesc').getContent().length==0)
        {
            $('#warning').show();
            $('#warningMessage').text("A Change Description is required");
            return false;
        }
        if(tinyMCE.get('txtChangeJustify').getContent().length==0)
        {
            $('#warning').show();
            $('#warningMessage').text("A Change Justificaiton is required");
            return false;
        }
        if ($("#txtInitiatorEmail").val().length>0 && !validateEmail($("#txtInitiatorEmail").val())) {
            $('#warning').show();
            $('#warningMessage').text("Please enter a valid email");
            return false;
        }
        return true;
    }
    function validateEmail(email)
    {

        var reurl =@("/^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,4})+$/");

        return reurl.test(email);
        //return true;
    }
    function validateURL(url) {
        var reurl = /(ftp|http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
        return reurl.test(url);
    }

    $(function () {

        readOnly();

        @if (Model.CCBid == 0)
        {
            @MvcHtmlString.Create("Edit();");
        }
    }

    )

    var tableOffset = $("#mainTable").offset().top;
    var $header = $("#mainTable > thead");
    var $fixedHeader = $("#header-fixed").append($header.clone());

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();


        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function (ind, val) {
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding", original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });
    function readOnly()
    {
        var components = document.querySelectorAll('[data-field-edit]');
        for (i = 0; i < components.length; i++) {
            if (components[i].getAttribute('data-field-edit')=='true')
                components[i].style.display = 'none';

        }
    }

    function Edit() {
        var components = document.querySelectorAll('[data-field-edit]');
        for (i = 0; i < components.length; i++) {
            if (components[i].getAttribute('data-field-edit') == 'true')
                components[i].style.display = 'block';
            else
                components[i].style.display = 'none';
        }
        edit = true;
    }
    function showPopUpRegister(urlLink,Title) {
        $('#myModalLabel').html(Title);
        $('#Modal').data('url', urlLink);

        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");

        });
    }
    function newprogram()
    {
        $('#myModalLabel').html("Programs");

        $.get('/CCB/OtherProgram', function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");

        });
    }
    function deleteFile(File,id)
    {
        var url='/CCB/DeleteFile?File=' + File.getAttribute('data-cbb-file')+'&id='+id;
        $.post(url, function (data) {});
        $('#'+id).hide();
    }
    function showProg(val)
    {
        $('#OPA').show();
        $('[data-pxt]').hide();
        $('[data-pxt="'+val+'"]').show();
    }
    $(document).ready(function () {
        $('#aCCB').css("background-color", "#0062a8");
    });


    var textbox1=tinymce.init({
        selector: 'textarea#txtChangeDesc' // change this value according to your HTML
        , width: '100%'
        , height: '200px'
        , statusbar: false
        , plugins: 'textcolor save link'
        , menu :'edit'
        , default_link_target: '_blank'
        //, save_onsavecallback: function () {  UpdateSnapshot(Row, 1, tinyMCE.get('txtDescription_'+Row).getContent()); }
        , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
        , setup: function (editor) {
            editor.addButton('AcronymsSearch', {
                text: 'Auto',
                icon: 'link',
                onclick: function () {
                    $.post( "/Snapshot/SearchAcronyms",{TextAcronyms:tinyMCE.get('txtChangeDesc').getContent(), WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                        tinyMCE.get('txtChangeDesc').setContent(data);
                    });
                }
            });
            editor.addButton('LinkAdd', {
                text: 'Manual',
                icon: 'link',
                onclick: function () {
                    AddLinkStandAlone('txtChangeDesc');
                }
            });
        }
    });

    var textbox2=tinymce.init({
        selector: 'textarea#txtChangeJustify' // change this value according to your HTML
           , width: '100%'
           , height: '200px'
           , statusbar: false
           , plugins: 'textcolor save link'
           , menu :'edit'
           , default_link_target: '_blank'
        //, save_onsavecallback: function () {  UpdateSnapshot(Row, 1, tinyMCE.get('txtDescription_'+Row).getContent()); }
           , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
           , setup: function (editor) {
               editor.addButton('AcronymsSearch', {
                   text: 'Auto',
                   icon: 'link',
                   onclick: function () {
                       $.post( "/Snapshot/SearchAcronyms",{TextAcronyms:tinyMCE.get('txtChangeJustify').getContent(), WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                           tinyMCE.get('txtChangeJustify').setContent(data);
                       });
                   }
               });
               editor.addButton('LinkAdd', {
                   text: 'Manual',
                   icon: 'link',
                   onclick: function () {
                       AddLinkStandAlone('txtChangeJustify');
                   }
               });
           }
    });
    var textbox3=tinymce.init({
        selector: 'textarea#txtAProgramSchedule' // change this value according to your HTML
               , width: '100%'
               , height: '200px'
               , statusbar: false
               , plugins: 'textcolor save link'
               , menu :'edit'
               , default_link_target: '_blank'
        //, save_onsavecallback: function () {  UpdateSnapshot(Row, 1, tinyMCE.get('txtDescription_'+Row).getContent()); }
               , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
               , setup: function (editor) {
                   editor.addButton('AcronymsSearch', {
                       text: 'Auto',
                       icon: 'link',
                       onclick: function () {
                           $.post( "/Snapshot/SearchAcronyms",{TextAcronyms:tinyMCE.get('txtAProgramSchedule').getContent(), WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                               tinyMCE.get('txtAProgramSchedule').setContent(data);
                           });
                       }
                   });
                   editor.addButton('LinkAdd', {
                       text: 'Manual',
                       icon: 'link',
                       onclick: function () {
                           AddLinkStandAlone('txtAProgramSchedule');
                       }
                   });
               }
    });
    var textbox4=tinymce.init({
        selector: 'textarea#txtARsComments' // change this value according to your HTML
                   , width: '100%'
                   , height: '200px'
                   , statusbar: false
                   , plugins: 'textcolor save link'
                   , menu :'edit'
                   , default_link_target: '_blank'
        //, save_onsavecallback: function () {  UpdateSnapshot(Row, 1, tinyMCE.get('txtDescription_'+Row).getContent()); }
                   , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
                   , setup: function (editor) {
                       editor.addButton('AcronymsSearch', {
                           text: 'Auto',
                           icon: 'link',
                           onclick: function () {
                               $.post( "/Snapshot/SearchAcronyms",{TextAcronyms:tinyMCE.get('txtARsComments').getContent(), WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                                   tinyMCE.get('txtARsComments').setContent(data);
                               });
                           }
                       });
                       editor.addButton('LinkAdd', {
                           text: 'Manual',
                           icon: 'link',
                           onclick: function () {
                               AddLinkStandAlone('txtARsComments');
                           }
                       });
                   }
    });


    function AddLinkStandAlone(origin)
    {
        var word = tinyMCE.get(origin).selection.getContent({ format: 'text' }).trim();
        stand=1;
        if (word.length > 0) {
            var urlLink = "/Snapshot/AddAcronymLink?Row=" + origin + "&Word=" + word.replace('&', '^') + '&WWID=' + wwid + "&ContinuityID=" + ContinuityID + "&Owner=" + Owner + "&ProgType=" + ProgramType + "&PXT=" + PXT;
            $('#myModalLabel').html("Save a Link");

            $('#Modal').data('url', urlLink);
            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");
                $('#modalcontent').width(600);
                $('#modalcontent').height(450);
                $('#Modal').css("zIndex", 1100)
            });
        } else
            alert('The word is empty');
    }
    function Selection(obj)
    {
        if($(obj).attr('name')=='thw')
        {
            $('tr[data-sw=1]').hide();

            $('#thw').val($(obj).is(":checked"));
        }
        else
        {
            $('tr[data-sw=1]').show();
            $('#thsw').val($(obj).is(":checked"));
        }

    }
    function SelectProgram()
    {
        $('#ContinuityID').val($('#cmbProgram').val());
        $('#txtProj').val($('#cmbProgram option[value='+$('#cmbProgram').val()+']').text());
        $('#tdProject').text($('#cmbProgram option[value='+$('#cmbProgram').val()+']').text());
    }
    function SaveProgram()
    {
        if ($('#txtProgram').val().length > 0) {
            $.post("/CCB/SaveProgram", { Name: $('#txtProgram').val(), PXT: $('#cmbPXT').val() }, function (response) {
                var html = '';
                $.each(response,function() {
                    html += '<tr data-typecat="'+this.PXTID+'"><td>' + this.id + '</td><td>' + this.Name + '</td></tr>';
                });
                $('#OthersProg tbody').html(html);
                SelectPXT();
                $('#success').show();
            })
        }
    }
    function Suscribe()
    {

        @{
                List<Users> users = ((List<Users>)Model.userList).Where(x=> x.UserType==1).ToList();

                if(users.Exists(x=> x.validUsers==User.Identity.Name.Remove(0,4)))
                {
                    @:var urlLink = "/CCB/Suscribers?CCBID=" + $('#idCCB').val();
                                                            @:$('#myModalLabel').html("Suscribers for CCB #"+$('#idCCB').val());

                    @:$('#Modal').data('url', urlLink);
                                                            @:var url = $('#Modal').data('url');
                                                            @:$.get(url, function (data) {
                                                                                    @:$('#modalContainer').html(data);
                                                                                    @:$('#Modal').modal("show");
                                                                        @:$('#modalcontent').width(600);
                                                @:$('#modalcontent').height(450);
                                    @:$('#Modal').css("zIndex", 1100)
                    @:});
                }else
                {
                    @:SaveSuscribe(false,'@AutoIndicators.GeneralClasses.General.FindEmailByAccount(User.Identity.Name)');
                }

        }

        
    }
    function SaveSuscribe(deleted,user)
    {
        $.post("/CCB/SaveCCBSuscribe",{ CCBID: $('#idCCB').val(),Email:user, Deleted:deleted});
    }
    function SelectPXT()
    {
        $('[data-typecat]').hide();
        $('[data-typecat='+$('#cmbPXT').val()+']').show();
    }
    function AddSuscriber(user)
    {
        SaveSuscribe(false,user);
    }
    function DeleteSuscriber(user)
    {
        SaveSuscribe(true,user);
        RefreshSuscribers();
    }
    function AddRow()
    {
        AddSuscriber($('#txtEmailSusc').val());

        RefreshSuscribers();
    }
    function RefreshSuscribers()
    {
        var urlLink = "/CCB/Suscribers?CCBID=" + $('#idCCB').val();
        $('#myModalLabel').html("Suscribers for CCB #"+$('#idCCB').val());

        $('#Modal').data('url', urlLink);
        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
        });
    }
    function Log(obj)
    {
        $.post('/Notif/NotifQuery', { NotifData: $(obj).data('notif'),Track:true }, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
            $('#myModalLabel').html('Track for ' + $(obj).data('notifproj'));
            $('#modalcontent').width(1500);
            $('#modalcontent').height('100%');
            $('.modal-dialog').css('margin-left', '15%');
        });
    }
</script>