﻿@using AutoIndicators.Models
@model List<CCBSuscriber>
@{
    Layout = null;
}

Email: @Html.TextBox("txtEmailSusc") <button onclick="AddRow()">Add New</button>
<br />
<table id="Suscriber">
    <tr>
        <th>Email</th>
        <th>Nombre</th>
        <th></th>
    </tr>
    @foreach(CCBSuscriber susc in Model)
    {
        <tr>
            <td contenteditable="true" onkeyup="AddSuscriber($(this).text())">@susc.Email</td>
            <td>@susc.Name</td>
            <td><button onclick="DeleteSuscriber('@susc.Email')">Delete</button></td>
        </tr>
    }
</table>