﻿@media (min-width: 1200px){
    .container {
        width: 1700px;
    }
}

.navbar-brand{
    width: 1000px;
}
.nav>li>a {
    position: relative;
    color: #fff !important;
    display: block;
    padding: 5px 30px !important;
}
.nav>li>a>h5{
    font-size: 17px;
}
.active{
    text-decoration: none;
    background-color: #0062a8;
}
.nav>li>a:focus, .nav>li>a:hover{
    text-decoration: none;
    background-color: #0c568a;
}
.titleLogo{
    float: left; 
    color: #fff; 
    font-weight: bold; 
    margin-top: 19px;
}
.blue {
    width: 15%;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #0062a8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.bluethead{
    background-color: #0062a8;
    color: #fff;
}
.table-responsive{
    margin-top: 10px;
    margin-bottom: 10px;
}
.redb{
    background-color: red;
    color: #fff;
}
.yellowb{
    background-color: yellow;
    color: #000;
}
.greenb{
    background-color: green;
    color: #fff;
}
.redbb{
    background-color: red;
    color: #000;
}
.yellowbb{
    background-color: yellow;
    color: #000;
}
.greenbb{
    background-color: green;
    color: #000;
}