﻿@using AutoIndicators.Models
@model dynamic
@{
    Layout = null;

    Acronym acronym = new Acronym();

    if (Model.Acronym != null)
    {
        acronym =(Acronym)Model.Acronym;
    }
}

    @Html.Hidden("Row", (string)Model.Row)
<div style="top:0px; position:relative">
    <a onclick="showAcronyms(@Model.Row); return false;" href="fallback.html">Choose from list...</a>
    @*<button onclick="showAcronyms(@Model.Row)"></button>*@
</div>
<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>
    <table width="400" align="center" id="SnapshotTable" class="SnapShot">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 70%;">
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.Label("Link Text:")</td>
                <td>
                    @Html.TextBox("pAbbreviation", acronym.Abbreviation!=null? acronym.Abbreviation: (string)Model.Word , new {required = string.Empty})
                </td>
            </tr>
            @*<tr>
                <td>@Html.Label("Name: ")</td>
                <td>
                    @Html.TextBox("pTerm", null, new { required = string.Empty })
                </td>
            </tr>*@
            <tr>
                <td>@Html.Label("HoverOver Text: ")</td>
                <td>
                    @Html.TextArea("pDefinition", acronym.Definition, new { required = string.Empty })
                </td>
            </tr>
            <tr>
            <tr>
                <td>@Html.Label("Hyperlink: ")</td>
                <td>
                    @Html.TextBox("pLink", acronym.Link, new {})
                    <font color="Gray">Optional</font>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right">
                    @if(acronym.Actor==User.Identity.Name)
                    { 
                        <button  onclick="DeleteAcronym(@acronym.id,'@acronym.ContinuityID','')">Delete</button>
                    }
                    @if(((List<Users>)ViewBag.Users).Where(x=> x.validUsers== User.Identity.Name.Remove(0,4) && x.UserType==1).Count()>0)
                    { 
                        <button  onclick="DeleteAcronym(@acronym.id,'@acronym.ContinuityID','@acronym.Abbreviation')">Global Delete</button>
                    }
                    <button onclick="Save('@Model.Row')" >Save</button> 
                </td>
            </tr>
        </tbody>
    </table>


@section Scripts
{
    <link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
        $('body').on('click', '.close', function (e) {
            $("#warning").hide();
        });

    </script>

    
}