﻿@using AutoIndicators.Models
@model IEnumerable<SnapshotIndex>
@{
    ViewBag.Title = "Snapshot";
    ViewBag.ShowExtra = true;
    ViewBag.Module = "Snapshot";
    if(Model.Count()>0)
    { 
        ViewBag.Params = "WWID," + Model.ElementAt(0).WWID;
    }
    ViewBag.HiddenFilter = false;
}
@section Scripts
{
    <script>
    module = '@ViewBag.Module';
        skip = '../';
        wwid=@ViewBag.WWID;
    </script>

}
@section JSLibs{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.quilljs.com/0.19.14/quill.js"></script>
}


@section Styles{
        <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="~/Scripts/quill/examples/styles/style.css">
    }

@{
    string userName = User.Identity.Name;

    int size = ViewBag.validUsers.Count;
    int j = 0;

    string[] valid1Users = new string[size];

    foreach (var item in ViewBag.validUsers)
    {

        if (item.UserType == 1)
        {
            valid1Users[j] = item.validUsers;

            j++;
        }

    }

    int res = Array.IndexOf(valid1Users, userName.Remove(0, 4)); 
    if (res > -1)
    {
         @section Extras{
            <ul>
             <li><a href="@Url.Action("CreateNewWW", "Snapshot")">Create New Week Snapshot</a></li>
            <li><a href="@Url.Action("onOffWW", "Snapshot", new { pWWID = ViewBag.WWID, switcho = 2 })" target="_self">Archive this Snapshot</a></li>
            <li><a onclick="showPopUp(@ViewBag.WWID,5); return false;" href="fallback.html">Load Budget Data</a></li>
            <li><a onclick="window.open('/Validation/Import','LoadFiles','width=325px,height=405px'); return false;" href="fallback.html">Load Validation Files</a></li>
            <li><a onclick="showPopUp(@ViewBag.WWID,1); return false;" href="fallback.html">Add new Program</a></li>
            <li><a onclick="showPopUp(@ViewBag.WWID,6); return false;" href="fallback.html">Add new Program Owner</a></li>
            <li><a href="@Url.Action("ProgramManagerList", "ProgEdit")">Edit Program Owner</a></li>
             </ul>
        }
        @:<div style="float:right"><a href="@Url.Action("onOffWW", "Snapshot", new { pWWID = Session["FilWW"] != null && Convert.ToInt32(Session["FilWW"].ToString()) > 0?  Convert.ToInt32(Session["FilWW"].ToString()) : Model.ElementAt(0).WWID, switcho = 1})" target="_self">Activate this Snapshot</a></div>
    }
    
}

<div style="color:red"><b>Archived</b></div>
<table id="header-fixed" class="table table-bordered table-striped" style="width: 87% !important"></table>

    <table width="100%" align="center" id="SnapshotTable" class="table table-bordered table-striped">
        <colgroup>
            <col span="1" style="width : 8%;">
            <col span="1">
            <col span="1" style="width : 15%;">
            <col span="1">
            <col span="1" style="width : 50%;">
        </colgroup>
        <thead id="TableHeaders">
            <tr>
            <th id="thEGPXTSP" align="center" height="30">DEG PXT</th>
                <th id="thProjectName" align="center">Project</th>
                <th id="thPlCStatus" align="center">PLC Status</th>
                <th id="thProgramOwner" align="center">Program Owner</th>
                <th id="thUpdate" align="center">Update</th>
            </tr>
        </thead>
        <tbody id="TableBody">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr id="@item.PWID info">
                    <td id="rowId" style="display:none">i</td>
                    <td style="display:none">@item.PWID</td>
                    @GeneralHelpers.ProgDetail(item, Url,false, (string)ViewBag.Module,true)                    
                    <td class="comboBox">@item.PLCStatus</td>
                    <td><a href="mailto:@item.OwnerEmail?subject=Snapshot @item.weekName - @item.ProgName">@item.OwnerName</a></td>
                    <td class="CommentText">@(new HtmlString(item.Updatetxt))</td>
                </tr>

            }
        </tbody>
    </table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
        $(document).ready(function () {
            $('#aSnapshot').css("background-color", "#0062a8");
        });
    </script>





<script>
    document.addEventListener("click", function (e) {
        if (e.target.tagName == "A" && !e.target.hasAttribute("target")) {
            e.target.setAttribute("target", "_blank");
        }
    });
</script>

<script>
    //Function to show the popup and pass the correct PWID to the view

    function showPopUp(ID, num, ProjectName) {

        if (num = 2) {
            var textWWID = ID.toString();
            var text = "/Snapshot/RedFlag?PWID=";
            var urlLink = text + textWWID;
            $('#myModalLabel').html("Red Flagged Health Indicators for " + ProjectName)
            $('#Modal').data('url', urlLink);
            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");

            });
        }
        else {
            var textScheduleID = ID.toString();
            var text = "/Acronyms/SeeAcronym?ID=";
            var urlLink = text + textScheduleID;
            $('#myModalLabel').html("Acronym Definition")
            $('#Modal').data('url', urlLink);
            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");

            });
        }
           
    }
</script>

<script>
    var tableOffset = $("#SnapshotTable").offset().top;
    var $header = $("#SnapshotTable > thead");
    var $fixedHeader = $("#header-fixed").append($header.clone());

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();


        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function (ind, val) {
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding", original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });
</script>


























