﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@model dynamic

@{
    ViewBag.Title = "Budget";
    ViewBag.Module = "Budget";
    // ViewBag.Params = "WWID," + ViewBag.WWID + ";weekName, " + ViewBag.WW;
    ViewBag.ShowExtra = true;
    ViewBag.Complete = false;
    ViewBag.HiddenFilter = false;
    List<BudgetGraph> Data = new List<BudgetGraph>();
        
    foreach(BudgetGraph dat in Model.Data)
    {
        Data.Add(dat);
    }
       
    string strBTI = "['BTI',#Data]";
    string strHC = "['HC',#Data]";

    string strBTIPOR = "['BTI',#Data]";
    string strHCPOR = "['HC',#Data]";
    
    string Value = "";
    foreach (BudgetGraph graph in Data.Where(x=> x.categoryName=="HC"))
    {
        Value += ","+graph.ammnt;
    }

    if (Data.Where(x => x.categoryName == "HC").Count()==1)
    {
        Value += ",0";
        
    }    
    
    if(Value.Length>0)
    { 
        strHC= strHC.Replace("#Data", Value.Substring(1));
    }
    Value = "";
    
    foreach (BudgetGraph graph in Data.Where(x => x.categoryName == "BTI"))
    {
        Value += "," + graph.ammnt;
    }

    if (Data.Where(x => x.categoryName == "BTI").Count() == 1)
    {
        Value += ",0";

    } 
    
    if(Value.Length>0)
    { 
        strBTI=strBTI.Replace("#Data", Value.Substring(1));
    }
      
    Data.Clear();
    foreach (BudgetGraph dat in Model.POR)
    {
        Data.Add(dat);
    }

    Value = "";
    foreach (BudgetGraph graph in Data.Where(x => x.categoryName == "HC"))
    {
        Value += "," + graph.ammnt;
    }

    if (Data.Where(x => x.categoryName == "HC").Count() == 1)
    {
        Value += ",0";
    }
    
    if(Value.Length>0)
    { 
        strHCPOR = strHCPOR.Replace("#Data", Value.Substring(1));
    }
    
    Value = "";
    foreach (BudgetGraph graph in Data.Where(x => x.categoryName == "BTI"))
    {
        Value += "," + graph.ammnt;
    }

    if (Data.Where(x => x.categoryName == "BTI").Count() == 1)
    { 
        Value += ",0";
    }
    
    if(Value.ToString().Length>0)
    { 
        strBTIPOR = strBTIPOR.Replace("#Data", Value.Substring(1));
    }

    
    string strTitle="";
    List<string> strOwnerVal = new List<string>();
    string strDataOwn ="";
    
    foreach (BudgetDiscrepancy Owner in Model.Owners)
    {
        string strOwner = "";
        if(Owner.diff!=null)
        { 
            strOwner += ",'" + Owner.OwnerName + "'";
            for (int i = 0; i < Owner.diff.Count; i++)
            {
                strOwner += "," + Owner.diff[i];
            }
        }
        
        if(strOwner.Length>0)
        { 
            strOwnerVal.Add(strOwner.Substring(1));
        }
    }
   
    foreach (string Owner in strOwnerVal)
    {
        strDataOwn += ",[" + Owner + "]";
    }


    if (strDataOwn.Length>0)
    {
        strDataOwn = strDataOwn.Substring(1);
    }
    
    List<BudgetDiscrepancy> OwnerD = new List<BudgetDiscrepancy>();
    List<string> title = new List<string>();
     
    foreach(BudgetDiscrepancy butD in Model.Owners)
    {
        OwnerD.Add(butD);
    }

    strDataOwn = "";
    if (OwnerD.Count > 0)
    {
       if (OwnerD[0].Title != null)
        {
            for (int i = 0; i < OwnerD[0].Title.Count; i++)
            {
                strTitle += ",'" + Model.Owners[0].Title[i]+"'";
            }
        }
    }

    string Col0 = "";
    string Col1 = "";
    string Col2 = "";
    string Col3 = "";
    string Col4 = "";

    List<BudgetChart> C0 = new List<BudgetChart>();
    List<BudgetChart> C1 = new List<BudgetChart>();
    List<BudgetChart> C2 = new List<BudgetChart>();
    List<BudgetChart> C3 = new List<BudgetChart>();
    List<BudgetChart> C4 = new List<BudgetChart>();
        
    foreach (BudgetUserChart chart in Model.UserChart)
    {
        BudgetChart ChartData = new BudgetChart();
        
        if(chart.BTI1>0 || chart.HC1>0)
        {
            ChartData.Amount = chart.BTI1;
            ChartData.Value="['" + chart.ProgName.Trim() + "'," + chart.BTI1 + "," + chart.HC1 + "]";

            C0.Add(ChartData);
        }
        
        if(chart.BTI2>0 || chart.HC2>0)
        {
            ChartData.Amount = chart.BTI2;
            ChartData.Value = "['" + chart.ProgName.Trim() + "'," + chart.BTI2 + "," + chart.HC2 + "]";

            C1.Add(ChartData);
        }
        
        if(chart.BTI3>0 || chart.HC3>0)
        {
            ChartData.Amount = chart.BTI3;
            ChartData.Value = "['" + chart.ProgName.Trim() + "'," + chart.BTI3 + "," + chart.HC3 + "]";

            C2.Add(ChartData);
        }
        
        if(chart.BTI4>0 || chart.HC4>0)
        {
            ChartData.Amount = chart.BTI4;
            ChartData.Value = "['" + chart.ProgName.Trim() + "'," + chart.BTI4 + "," + chart.HC4 + "]";

            C3.Add(ChartData);
        }
        if (chart.BTI5 > 0 || chart.HC5 > 0)
        {
            ChartData.Amount = chart.BTI5;
            ChartData.Value = "['" + chart.ProgName.Trim() + "'," + chart.BTI5 + "," + chart.HC5 + "]";

            C4.Add(ChartData);
        }
    }
    
    foreach(BudgetChart Chart in C0.OrderByDescending(x=> x.Amount))
    {
        Col0 += "," + Chart.Value;
    }
    foreach (BudgetChart Chart in C1.OrderByDescending(x => x.Amount))
    {
        Col1 += "," + Chart.Value;
    }
    foreach (BudgetChart Chart in C2.OrderByDescending(x => x.Amount))
    {
        Col2 += "," + Chart.Value;
    }
    foreach (BudgetChart Chart in C3.OrderByDescending(x => x.Amount))
    {
        Col3 += "," + Chart.Value;
    }
    foreach (BudgetChart Chart in C4.OrderByDescending(x => x.Amount))
    {
        Col4 += "," + Chart.Value;
    }
    
    
    
    
    
    if(strTitle.Length>0)
    { 
        strTitle = strTitle.Substring(1);
    }
}

<script src="~/Scripts/canvasjs.min.js"></script>
<script src="~/Scripts/html2canvas.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    function Send() {
        //$.post('/Budget/SendChart', { Body: $('html').html() });

        html2canvas(document.body, {
            onrendered: function (img) {
                $(img).attr('id', 'can');
                document.body.appendChild(img);
                $.post('/Budget/SendChart', { Body: document.getElementById("can").toDataURL() });

            }
        });

    }
    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        @if ((strBTI.Length > 0 && !strBTI.Contains("#Data")) || (strHC.Length > 0 && !strHC.Contains("#Data")))
        {
            @:var data = new google.visualization.arrayToDataTable([
                @:['Type', 'Correct', 'Incorrect'],@(new HtmlString(strHC)),@(new HtmlString(strBTI))
            @:]);

            @:var options = {
                @:title: "@MvcHtmlString.Create(Model.Owners[0].Title[2]) Discrepancies levels",
                @:isStacked: 'percent'
            @:};

            @:var chart = new google.visualization.BarChart(document.getElementById('chartContainer1'));
            @:chart.draw(data, options);
        }
        
        @if ((strBTIPOR.Length > 0 && !strBTIPOR.Contains("#Data")) || (strHCPOR.Length > 0 && !strHCPOR.Contains("#Data")))
        {
            @:var dataPOR = new google.visualization.arrayToDataTable([
                @:['Type', 'Correct', 'Incorrect'],@(new HtmlString(strHCPOR)),@(new HtmlString(strBTIPOR))
            @:]);

            @:var optionsPOR = {
                                @:title: "Actual spendings: @Model.Owners[0].Title[3] Discrepancies levels",
                                @:isStacked: 'percent'
                            @:};

            @:var chart2 = new google.visualization.BarChart(document.getElementById('chartContainer2'));
                        @:chart2.draw(dataPOR, optionsPOR);
                    }

        var formatter = new google.visualization.NumberFormat({ prefix: '$ ', formatType: 'short', suffix: 'K' });

        @if (Col0.Length > 0) {
        @:var dataOwner0 = new google.visualization.arrayToDataTable([
                @:["Program", 'BTI', 'HC']@(new HtmlString(Col0))
            @:]);

        @:formatter.format(dataOwner0, 1);
                                            @:var optionOwner0 = { title: "Discrepancies Level @MvcHtmlString.Create(Model.Owners[0].Title[0])", width: 1800, height: 500, vAxis: { format: '####K', title: 'Dollars' } };

        @:var chart3 = new google.visualization.ColumnChart(document.getElementById('chartContainer3'));
                                              @:chart3.draw(dataOwner0, optionOwner0);
                                            }

        @if (Col1.Length > 0) {
            @:var dataOwner1 = new google.visualization.arrayToDataTable([
                    @:["Program", 'BTI', 'HC']@(new HtmlString(Col1))
                @:]);

        @:formatter.format(dataOwner1, 1);
                                    @:var optionOwner1 = { title: "Discrepancies Level @MvcHtmlString.Create(Model.Owners[0].Title[1])", width: 1800, height: 500, vAxis: { format: '####K', title: 'Dollars' } };
                                    @:var chart4 = new google.visualization.ColumnChart(document.getElementById('chartContainer4'));
                                    @:chart4.draw(dataOwner1, optionOwner1);
                                    }

        @if (Col2.Length > 0) {
            @:var dataOwner2 = new google.visualization.arrayToDataTable([
                    @:["Program", 'BTI', 'HC']@(new HtmlString(Col2))
                @:]);

            @:formatter.format(dataOwner2, 1);
                                @:var optionOwner2 = { title: "Discrepancies Level @MvcHtmlString.Create(Model.Owners[0].Title[2])", width: 1800, height: 500, vAxis: { format: '####K', title: 'Dollars' } };
                                @:var chart5 = new google.visualization.ColumnChart(document.getElementById('chartContainer5'));
                                @:chart5.draw(dataOwner2, optionOwner2);
                            }

        @if (Col3.Length > 0) {

            @:var dataOwner3 = new google.visualization.arrayToDataTable([
                    @:["Program", 'BTI', 'HC']@(new HtmlString(Col3))
                @:]);

            @:formatter.format(dataOwner3, 1);
                        @:var optionOwner3 = { title: "Discrepancies Level @MvcHtmlString.Create(Model.Owners[0].Title[3])", width: 1800, height:500, vAxis: { format: '####K', title: 'Dollars' } };

            @:var chart6 = new google.visualization.ColumnChart(document.getElementById('chartContainer6'));
                        @:chart6.draw(dataOwner3, optionOwner3);
        }
        
        @if (Col4.Length > 0) {

            @:var dataOwner4 = new google.visualization.arrayToDataTable([
                @:["Program", 'BTI', 'HC']@(new HtmlString(Col4))
                @:]);

            @:formatter.format(dataOwner4, 1);
            @:var optionOwner4 = { title: "Discrepancies Level @MvcHtmlString.Create(Model.Owners[0].Title[4])", width: 1800, height:500, vAxis: { format: '####K', title: 'Dollars' } };

            @:var chart7 = new google.visualization.ColumnChart(document.getElementById('chartContainer7'));
            @:chart7.draw(dataOwner4, optionOwner4);
        }
    }
    function ShowPQ()
    {
        if ($('.PQ').is(':visible')) {
            $('.PQ').hide();
            $("#btnPQ").text('Show previus quarter');
        }
        else {
            $('.PQ').show();
            $("#btnPQ").text('Hide previus quarter');
        }
    }
    function ShowPOR() {
        if ($('.MPOR').is(':visible')) {
            $('.MPOR').hide();
            $("#btnPOR").text('Show MPOR');
        }
        else {
            $('.MPOR').show();
            $("#btnPOR").text('Hide MPOR');
        }
    }
</script>





<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#defaultdisplay">Budget Discrepencies Indicator</a>
    @if (User.Identity.Name.Contains("orozcor") || User.Identity.Name.Contains("lobato"))
    { 
        <input type="button" value="Send email" onclick="Send()" />
    }
    </li>
    <li><a data-toggle="tab" href="#folder1">Discrepancy Entered</a></li>
</ul>

<div class="tab-content">
    <div id="defaultdisplay" class="tab-pane fade in active">
        <div id="chartContainer1" style="height: 500px; width: 50%; float:left">No Data Found</div>
        <div id="chartContainer2" style="height: 500px; width: 50%; float:left">No Data Found</div>
        
    </div>
    <div id="folder1" class="tab-pane fade">
        <table align="center" width="400" class="table table-bordered table-striped">
            <tr>
                <th colspan="3"></th>
                @if (Model.Owners.Count > 0)
                {
                    if (Model.Owners[0].Title != null)
                    {
                        <th colspan="@Model.Owners[0].Title.Count" style="text-align: center !important">Differences</th>
                    }
                }
            </tr>
            <tr>
                <th>Program</th>
                <th>Owner</th>
                <th>Category Name</th>
                @if (Model.Owners.Count>0)
                {
                    if (Model.Owners[0].Title != null)
                    {
                        for (int i = 0; i < Model.Owners[0].Title.Count; i++)
                        {
                            <th>@Model.Owners[0].Title[i]</th>
                        }
                    }
                }
            </tr>
            @foreach (BudgetDiscrepancy Owner in Model.Owners)
            {
                 if(Owner.diff!=null)
                        {
                <tr>
                    <td>@Owner.ProgName</td>
                    <td>@Owner.OwnerName</td>
                    <td>@Owner.CategoryName</td>
                    @if(Owner.diff!=null)
                    {
                        
                            for(int i=0;i<Owner.diff.Count;i++)
                            {
                                <td>@Owner.diff[i]</td>
                            }
                        
                    }
                </tr>
            }
            }
        </table>
        <button id="btnPQ" onclick="ShowPQ()">Show previus quarter</button>
        <div style="width:100%; text-align:center">
            
            @if (Col0.Length > 0) {
                <div id="chartContainer3" class="PQ" style="float:left; display:none">No Data Found</div>
            }
            @if (Col1.Length > 0) {
                <div id="chartContainer4" class="PQ" style="float:left; display:none">No Data Found</div>
            }
            @if (Col2.Length > 0) {
                <div id="chartContainer5" style="float:left; width:100%">No Data Found</div>
            }
            @if (Col3.Length > 0) {
                <div id="chartContainer6" style="float:left; width:100%">No Data Found</div>
            }   
        </div>
        <button id="btnPOR" onclick="ShowPOR()">Show MPOR</button>
        @if (Col4.Length > 0)
        {
            <div id="chartContainer7" class="MPOR" style="float:left; width:100%; display:none">No Data Found</div>
        }
       
    </div>
</div>