﻿<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="$('#warning').hide()">&times;</a>
    <strong>Error in file</strong>
    <div id="warningMessage"></div>
</div>
<div class="alert alert-success" hidden="hidden" id="success">
    <a href="#" class="close" aria-label="close" onclick="$('#success').hide()">&times;</a>
    <strong>Success!</strong>
    <div id="successMessage"></div>
</div>
@using (Html.BeginForm("SaveLoadMasterProjId", "Budget", FormMethod.Post, new { id="FileData", name="FileData", enctype = "multipart/form-data" }))
{
    @Html.Hidden("WWID", (int)ViewBag.WWID)
    <input type="file" name="FileUpload" id="FileUpload" placeholder="File" />
    <br>
    <input type="button" name="Submit" id="Submit" value="Upload" onclick="Save()" />
}

<script>
  
</script>