﻿@using AutoIndicators.Models
@model ScheduleV

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("UploadShopCart", "Budget", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("WWID", (int)ViewBag.WWID)
    <input type="file" name="FileUpload" />
    <br>
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
