﻿@using AutoIndicators.Models
@model List<BudgetNoncompliant>

<table width="800" class="table-bordered">
    <thead>
        <tr>
            <th>Project</th>
            <th>Owner</th>
            <th>Email</th>
            <th>Trend</th>
        </tr>
    </thead>
    @{
        string strEmails = "";
        foreach (BudgetNoncompliant item in Model)
        {
            if (strEmails.IndexOf(item.Email) < 0)
            {
                strEmails += item.Email.Trim() + ";";
            }
            <tr>
                <td>@item.Project</td>
                <td>@item.Owner</td>
                <td><a href="mailto:@item.Email">@item.Email</a></td>
                <td>@item.Trend</td>
            </tr>

        }
    }
    <tr>
        <td colspan="5" align="right"><button class="button" onclick="window.location.href='mailto:@strEmails'">Send Email</button></td>
    </tr>
</table>
