﻿@using AutoIndicators.Models
@model IEnumerable<ProgramProjIds>
@{
    Layout = null;
}


    <table width="400" align="center" class="table table-bordered table-striped">
        <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;">
        </colgroup>
        <thead>
            <tr>
            <th>Program</th>
            <th>Project ID</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td>@item.program</td>
                <td>@item.PRJID</td>
            </tr>   
        }     
        </tbody>
    </table>

