﻿@using AutoIndicators.Models
@model BudgetHeaders
<table align="center" width="600">
    <tr>
        <td>Title</td>
        <td>@Html.TextBox("txtTitle",Model.Title)</td>
    </tr>
    <tr>
        <td>Link</td>
        <td>@Html.TextBox("txtLink", Model.Link)</td>
    </tr>
    <tr>
        <td>Comments</td>
        <td valign="bottom">@Html.TextArea("txtCommentsTitle", Model.Comments)</td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" value="Save" onclick="SaveTitle()" /></td>
    </tr>

</table>