﻿@using AutoIndicators.Models
@using System.Web.UI.WebControls
@model Pcos

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />


<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>

<div class="modal fade" id="redModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">

    <div class="modal-content" id="redmodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please leave a comment explaining the negative Result</h4>
        </div>
        <div class="modal-body" id="modalContainer">
            <table>
                <tr>
                    <td>
                    @Html.Label("Comments: ")<textarea name="txtDescription_Popup" id="txtDescription_Popup"></textarea>
                    <td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <input type="button" value="Save" id="saveRedBtn" onclick="save()" style="float:right"/>
                    <td>
                </tr>
            </table>
        </div>
    </div>

</div>


@using (Html.BeginForm("Save", "PCOS", FormMethod.Post, new { id = "CommentForm" }))
{
    @Html.Hidden("pPcosId", (int)Model.PcosId)
    <table width="500" align="center" class="table table-bordered table-striped">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tbody>
            @if (Model.oldPcosId != null)
            { 
            <tr>
                <td>@Html.Label("Previous Target: ") @Model.oldTargetValue.ToString()</td>
                <td>@Html.Label("Previous Actual: ") @Model.oldActualValue.ToString()</td>
                <td>@Html.Label("Previous Trend: ") @Model.oldTrendValue.ToString()</td>
                <td>@Html.Label("Previous Comments:") @MvcHtmlString.Create(Model.oldComments)</td>
                <td>@Html.Label("By:") @Model.oldActor</td>
            </tr>
            }
            <tr>
                <td>@Html.Label("Target: ") @Model.TargetValue.ToString()</td>
                <td>@Html.Label("Actual: ") @Model.ActualValue.ToString()</td>
                <td>@Html.Label("Trend: ") @Model.TrendValue.ToString()</td>
                <td>@Html.Label("Comments:") @MvcHtmlString.Create(Model.Comments)</td>
                <td>@Html.Label("By:") @Model.Actor</td>
            </tr>
            @if (Model.weekStatus == 1)
            {
            <tr>
                <td>@Html.Label("Target: ") @Html.TextBox("pTarget", null, new { required = string.Empty, InputType = "number", onkeypress = "return isNumberKey(event)" })</td>
                <td>@Html.Label("Actual: ") @Html.TextBox("pActual", null, new { required = string.Empty, InputType = "number", onkeypress = "return isNumberKey(event)" })</td>
                <td>@Html.Label("Trend: ") @Html.TextBox("pTrend", null, new { required = string.Empty, InputType = "number", onkeypress = "return isNumberKey(event)" })</td>
                <td>@Html.Label("Comments:") <textarea name="txtDescription_" id="txtDescription_"></textarea></td>
                <td colspan="2" align="right"><input type="submit" value="Save" id="saveBtn" /></td>
            </tr>
            }
        </tbody>
    </table>
}


<script type="text/javascript">
    // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
    $('body').on('click', '.close', function (e) {
        $("#warning").hide();
    });
</script>

<script type="text/javascript">
    $('#CommentForm').submit(function () {
        var gap = $('#pTarget').val() - $('#pTrend').val();
        if (gap < 0 && $('#pCommentsRed').val().length == 0)
        {
            $('#redmodalcontent').width(600);
            $('#redmodalcontent').height("auto");
            $('#redModal').modal("show");
            return false;
        }
        $("#saveBtn").attr('disabled', 'disabled');
    });
</script>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57)))
            return false;
        return true;
    }
 </script>

<script>
    function save() {
        $('#pCommentsRed').val($('#pCommentsPopup').val());
        $("#CommentForm").submit();
    }
    //$('#saveRedBtn').click(function () {
      
    //});

    var textbox1 = tinymce.init({
                    selector: 'textarea#txtDescription_'  // change this value according to your HTML
                   , width: 350
                   , statusbar: false
                   , plugins: 'textcolor save link'
                   , menu: 'edit'
                   , default_link_target: '_blank'
                   , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | AcronymsSearch | LinkAdd'
                   , setup: function (editor) {
                       editor.addButton('AcronymsSearch', {
                           text: 'Auto',
                           icon: 'link',
                           onclick: function () { AutoAcronym(tinyMCE.get('txtDescription_').getContent(), 'txtDescription_'); }
                       });
                       editor.addButton('LinkAdd', {
                           text: 'Manual',
                           icon: 'link',
                           onclick: function () { AddLinks(''); }
                       });
                       editor.on('keydown', function (args) {
                           if (args.keyCode == 27) {
                               cancelEdit(Row);
                           }
                       });
                   }
    });
    var textbox2 = tinymce.init({
        selector: 'textarea#txtDescription_Red'  // change this value according to your HTML
                   , width: 350
                   , statusbar: false
                   , plugins: 'textcolor save link'
                   , menu: 'edit'
                   , default_link_target: '_blank'
                   , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | AcronymsSearch | LinkAdd '
                   , setup: function (editor) {
                       editor.addButton('AcronymsSearch', {
                           text: 'Auto',
                           icon: 'link',
                           onclick: function () { AutoAcronym(tinyMCE.get('txtDescription_Red').getContent(), 'txtDescription_Red'); }
                       });
                       editor.addButton('LinkAdd', {
                           text: 'Manual',
                           icon: 'link',
                           onclick: function () { AddLinks('Red'); }
                       });
                       editor.on('keydown', function (args) {
                           if (args.keyCode == 27) {
                               cancelEdit(Row);
                           }
                       });
                   }
    });
    var textbox3 = tinymce.init({
        selector: 'textarea#txtDescription_Popup'  // change this value according to your HTML
                   , width: 350
                   , statusbar: false
                   , plugins: 'textcolor save link'
                   , menu: 'edit'
                   , default_link_target: '_blank'
                   , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | AcronymsSearch | LinkAdd '
                   , setup: function (editor) {
                       editor.addButton('AcronymsSearch', {
                           text: 'Auto',
                           icon: 'link',
                           onclick: function () { AutoAcronym(tinyMCE.get('txtDescription_Popup').getContent(), 'txtDescription_Popup'); }
                       });
                       editor.addButton('LinkAdd', {
                           text: 'Manual',
                           icon: 'link',
                           onclick: function () { AddLinks("Popup"); }
                       });
                       editor.on('keydown', function (args) {
                           if (args.keyCode == 27) {
                               cancelEdit(Row);
                           }
                       });
                   }
    });
</script>



