﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@model IEnumerable<Pcos>

@section Styles{
    <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
}
@section JSLibs{
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}
@{ 
    ViewBag.Title = "Pcos";
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    ViewBag.Module = "Pcos";
    ViewBag.Params = null;
    bool bArchived = false;
 List<Pcos> dataCol = new List<Pcos>();
 List<int> procProgs = new List<int>();
 int onlyOnce = 0;
 int programSKUId = 0;
 decimal actual = 0;
 decimal trend = 0;
 decimal target = 0;
 string comments;
 string commentsRed;
 StringCollection actualTotal = new StringCollection();
 StringCollection trendTotal = new StringCollection();
 StringCollection targetTotal = new StringCollection();
 StringCollection CommentsTotal = new StringCollection();
 StringCollection CommentsRedTotal = new StringCollection();
}

@{
    if (ViewBag.WeekStatus.Equals(1)) { 
        string userName = User.Identity.Name;

        int size = ViewBag.validUsers.Count;
        int j = 0;
        int k = 0;
        string[] valid1Users = new string[size];
        string[] valid2Users = new string[size];

        foreach (var item in ViewBag.validUsers)
        {
            if (item.UserType == 1)
            {
                valid1Users[j] = item.validUsers;

                j++;
            }
            else if (item.UserType == 2)
            {
                valid2Users[k] = item.validUsers;

                k++;
            }
       

        }

        int res = Array.IndexOf(valid1Users, userName.Remove(0, 4)); 
                @*if (res > -1)
                { 
                    @:<div style="float:right"><a href="@Url.Action("AddSku", "PCOS", new { WWID = ViewBag.WWID})">Add SKU</a></div><br>        
                }
            res = Array.IndexOf(valid2Users, userName.Remove(0, 4)); 
                if (res > -1)
                { 
                    @:<div style="float:right"><a href="@Url.Action("AddSku", "PCOS", new { WWID = ViewBag.WWID})">Add SKU</a></div><br>        
                }*@
                @:<div style="float:right"><a href="@Url.Action("AddSku", "PCOS", new { WWID = ViewBag.WWID})">Add SKU</a></div><br> 

    }
    else if (ViewBag.WeekStatus.Equals(2))
    {
        <div style="color:red"><b>Archived</b></div>
        bArchived = true;
    }
    else
    {
       <div style="color:red"><b>No Data Found</b></div>
       
    }
            
    
    
}
@section Extras{
    @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers)

}
<div class="modal fade" id="PCOSModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">

    <div class="modal-content" id="PCOSmodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myPCOSModalLabel">Please leave a comment explaining the negative Result</h4>
        </div>
        <div class="modal-body" id="PCOSmodalContainer"></div>
    </div>

</div>
@*main loop through the whole model from controller*@
<table id=="header-fixed" class="table table-bordered table-striped" style="width: 88.3% !important; position:fixed; top:0px; display:none; background-color:white"></table>
<table class="table table-bordered table-striped" id="mainTable">
    <colgroup>
        <col span="1" style="width: 85px;">
        <col span="1" style="width: 230px;">
    </colgroup>
    <thead>
        <tr>
            <th id="thEGPXTSP"><b>DEG PXT</b></th>
            <th id="thProjectName"><b>Project</b></th>
            <th id="thProductCode"><b>Product Code</b></th>
            <th id="thCostCategory"><b>Cost Category</b></th>
            <th id="thPOP"><b>POPL3 Target</b></th>
            <th id="thActual"><b>Actual</b></th>
            <th id="thTrend" title="Actual quote minus all CROs implemented"><b>HVM Trend</b></th>
            <th id="thGAP" title="Delta between POL3 target and HVM Trend"><b>GAP</b></th>
            <th id="thComment" data-View="@ViewBag.Module">Comment</th>
        </tr>
    </thead>
    <tbody>

@if(Model.Count()>0)
{ 
        foreach (var item in Model)
{
    //if Program Has already been processed is discarted, this is because data is vertical and progID is repeated
    if (procProgs.Contains(int.Parse(item.progID.ToString())))
    {
       
        continue;
    }
    else
    {
        //in procProgs we keep a record of every program ID processed
        procProgs.Add(int.Parse(item.progID.ToString()));
        dataCol.Clear();
        actual = 0;
        trend = 0;
        target = 0;
        comments = string.Empty;
        commentsRed = string.Empty;
        actualTotal.Clear();
        trendTotal.Clear();
        targetTotal.Clear();
        CommentsTotal.Clear();    
        CommentsRedTotal.Clear();    
    }
    

    //re-scan the model to get a collection of all the items pertaining to this program
    foreach (var subitem in Model)
    {
        if (subitem.progID == item.progID)
        { dataCol.Add(subitem); }
    }

    try
    {
    onlyOnce = 1;
    int totalsCount = 0;
    int skuSwitchCount = 0;
    int bitCount = 0;

    foreach (Pcos bit in dataCol)
    {//get totallz
        totalsCount++;
        if (totalsCount == 1)
        { programSKUId = bit.ProgramSKUid; }

        if (bit.ProgramSKUid != programSKUId)
        {
            programSKUId = bit.ProgramSKUid;
            targetTotal.Add(target.ToString());
            trendTotal.Add(trend.ToString());
            actualTotal.Add(actual.ToString());
            CommentsTotal.Add(comments);
            CommentsRedTotal.Add(commentsRed);

            target = 0;
            actual = 0;
            trend = 0;
            comments = string.Empty;
            commentsRed = string.Empty;
        }
        if (bit.TargetValue != null)
        { target = target + decimal.Parse(bit.TargetValue.ToString()); }
        if (bit.TrendValue != null)
        { trend = trend + decimal.Parse(bit.TrendValue.ToString()); }
        if (bit.ActualValue != null)
        { actual = actual + decimal.Parse(bit.ActualValue.ToString()); }
        if (bit.Comments != null)
            { comments = comments + @bit.CostCategory + ": " + bit.Comments + " | "; }
        if (bit.CommentsRed != null)
        { commentsRed = commentsRed + @bit.CostCategory + ": " + bit.CommentsRed + " | "; }
        //last total processed
        if (totalsCount == dataCol.Count)
        {
            targetTotal.Add(target.ToString());
            trendTotal.Add(trend.ToString());
            actualTotal.Add(actual.ToString());
            CommentsTotal.Add(comments);
            CommentsRedTotal.Add(commentsRed); 
        }
    }
    programSKUId = 0;
    foreach (Pcos bit in dataCol)
    {
        bitCount++;
        recreate:
        string gap;
        string trId;
        string trCssClass;
        
        if (bit.ProgramSKUid != programSKUId)
        {
            trId = "Fsummary" + bit.ProgramSKUid.ToString();
            trCssClass = string.Empty;
        }
        else
        {
            trId = "Frow" + bit.ProgramSKUid.ToString() + bitCount.ToString();
            trCssClass = "collapse";
        }   
        <tr id=@trId class="@trCssClass">
        @if (onlyOnce == 1)
        {
            //pxt and project info
            @GeneralHelpers.ProgDetail(bit, Url, true)  
            onlyOnce = 0;
        }
        else
        {
            <td></td>
                <td></td>
            }

        @if (bit.ProgramSKUid != programSKUId)
        {
            programSKUId = bit.ProgramSKUid;
            gap = (decimal.Parse(targetTotal[skuSwitchCount]) - decimal.Parse(trendTotal[skuSwitchCount])).ToString();
            //this is SKU summary
            @*product code*@
            <td id="@("F" + bit.ProgramSKUid.ToString())" title="@bit.SKUDesc">
                <b>@bit.SKU</b>
            </td>
            @*Cost Category*@
            <td>
                <b>Summary</b>
                <input type="image" style="float:right" src="~/Content/images/plus.jpg" onclick="expand(this)" width="10" height="10" data-toggle="collapse" data-target="[id^=@("Frow" + bit.ProgramSKUid.ToString())]">
            </td>
            @*//popl3 target*@
            <td>
                <b>@targetTotal[skuSwitchCount].ToString()</b>
            </td>
            @*//actual*@
            <td>
                <b>@actualTotal[skuSwitchCount].ToString()</b>
            </td>
            @*//trend*@
            <td title="Actual quote minus all CROs implemented">
                <b>@trendTotal[skuSwitchCount].ToString()</b>
            </td>
            @*//gap*@
            string gapTitle;
            string fontColor;
            
            if (decimal.Parse(gap) < 0)
            {
                fontColor = "red";
                gapTitle = CommentsRedTotal[skuSwitchCount]; 
            }
            else
            {
                fontColor = "black";
                gapTitle = CommentsTotal[skuSwitchCount];                 
            }
            <td title="@gapTitle">
                <b>
                <font color="@fontColor">@gap</font>              
                </b>
            </td>
            <td></td>
            skuSwitchCount++;
            //this iteration was only to create the summary
            goto recreate;
        }
        else
        {
            string notifData = "4|" + item.ContinuityID + "||" + item.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(4) + "|" + item.OwnerId + "|" + item.ProgTypeID + "|" + item.PXTId;
            gap = (bit.TargetValue - bit.TrendValue).ToString();
            //cost category row
            @*product code*@
            <td title="@bit.SKUDesc">
                @bit.SKU
            </td>
            @*Cost Category*@
            <td title="@bit.CostDesc">
                @bit.CostCategory
            </td>
            @*//popl3 target*@
            string popUpHeader = "Amount Change for " + bit.ProgName + " on " + bit.SKU + " - " + bit.CostCategory;
            <td style="cursor:pointer" id="@("F" + bit.PcosId.ToString())" data-header="@popUpHeader" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-programtype="@bit.ProgTypeID" data-pxt="@bit.PXTId">
                @bit.TargetValue
            </td>
            @*//actual*@
    <td style="cursor:pointer" id="@("F" + bit.PcosId.ToString())" data-header="@popUpHeader" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-programtype="@bit.ProgTypeID" data-pxt="@bit.PXTId">
        @bit.ActualValue
    </td>
            @*//trend*@
    <td style="cursor:pointer" id="@("F" + bit.PcosId.ToString())" data-header="@popUpHeader" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-programtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" title="Actual quote minus all CROs implemented">
        @bit.TrendValue
    </td>
            @*//gap*@
            <td title="@bit.Comments">
                @gap
            </td>
            <td data-addnotify="1" data-titlenoti="Notif Enabled! - Shift + Click on area" data-notif="@notifData" data-notifproj="@item.ProgName">@MvcHtmlString.Create(bit.Comments)</td>
        }
        </tr>
        
    }
    }
    catch (Exception ex)
    {
        throw ex;
    }  

}
}else
{
    <tr><td colspan="9">No Matches for filter</td></tr>
}
    </tbody>
    </table>


@section Scripts
{
<link href="@Url.Content("~/Content/GeneralStyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $('td').dblclick(function () {  
            var header = $(this).data("header");

            if(tinyMCE.editors.length>0)
            {
                tinyMCE.editors[0].destroy();
            }

            var stringID = $(this).attr('id');
            var splitString = ("F" + stringID.split("F").join(''));
            var ID = stringID.split("F").join('');
            var Sub = $(this).closest('tr');
            if(Sub.attr('id').indexOf("summary") == -1)
            {
                if (stringID == splitString) 
                {
                    showPopUpPCOS(ID, 1, header,$(this).data("continuity"),$(this).data("owner"),$(this).data("programtype"),$(this).data("pxt"));
                }
            }
        });


    </script>

    <script type="text/javascript">
    //Function to show the popup and pass the correct PWID to the view
        function showPopUpPCOS(ID, Op, information,continuity,owner,progtype,pxt) {
        if (Op == 1) {
            var textHealthID = ID.toString();
            var text = "/Pcos/CommentView?PcosID=";
            var urlLink = text + textHealthID;
            $('#myPCOSModalLabel').html(information);
            $('#PCOSModal').data('url', urlLink);

            ContinuityID = continuity;
            Owner = owner;
            ProgramType = progtype;
            PXT = pxt;
        }      
        var url = $('#PCOSModal').data('url');
        $.get(url, function (data) {
            $('#PCOSmodalContainer').html(data);
            $('#PCOSModal').modal("show");
            $('#PCOSmodalcontent').width(1000);
        });
    }
</script>


    <script type="text/javascript">
        //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
        $(document).ready(function () {
            $('#aPCOS').css("background-color", "#0062a8");
        });
    </script>

    <script type="text/javascript">
    var tableOffset = $("#mainTable").offset().top;
    var $header = $("#mainTable > thead");
    var $fixedHeader = $("#header-fixed").append($header.clone());

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();


        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function (ind, val) {
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding", original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });
    </script>
    <script>
        module = '@ViewBag.Module';
        skip = '../';
        view=4;
        wwid=@ViewBag.WWID;
    </script>
    <script>
    function expand(btn) {
        if ($(btn).attr('src') == '/Content/images/minus.png')
            $(btn).attr('src', '/Content/images/plus.jpg');
        else
            $(btn).attr('src', '/Content/images/minus.png');
    }
    </script>

}







