﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@model dynamic

@section Styles{
    <link href="@Url.Content("~/Content/BudgetViewStyle.css")" rel="stylesheet" type="text/css" />
}
@section JSLibs{
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}
@{
    ViewBag.Title = "Budget";
    ViewBag.Module = "Budget";
    // ViewBag.Params = "WWID," + ViewBag.WWID + ";weekName, " + ViewBag.WW;
    ViewBag.ShowExtra = true;
    ViewBag.HiddenFilter = false;
    ViewBag.validUsers = Model.validUsers;

    List<BudgetModel> dataCol = new List<BudgetModel>();
    List<SummaryBudget> dataColSummary = new List<SummaryBudget>();
    List<int> procProgs = new List<int>();
    List<string> procBPOCats = new List<string>();
    int onlyOnce = 0;
    int? ProjId_Id = null;
    string ProjId_Name = null;
    int? CategoryId = null;
    string CategoryName = null;
    int? Data1 = 0;
    int? Data2 = 0;
    int? Data3 = 0;
    int? Data4 = 0;
    int? Data5 = 0;
    int? futSpends1 = 0;
    int? futSpends2 = 0;
    int categoriesCount = 0;
    string rowSpan = "2"; //rowspan for ryg and comment area
    bool rowSpanCreate = false;
    bool bArchived = false;
    StringCollection DataTotal1 = new StringCollection();
    StringCollection DataTotal2 = new StringCollection();
    StringCollection DataTotal3 = new StringCollection();
    StringCollection DataTotal4 = new StringCollection();
    StringCollection DataTotal5 = new StringCollection();
    StringCollection futSpendsTotal1 = new StringCollection();
    StringCollection futSpendsTotal2 = new StringCollection();
    string comments;
    string RYG;

}


@*User security*@
@{
    string userName = User.Identity.Name;
    int size = ViewBag.validUsers.Count;
    int j = 0;
    int k = 0;
    string[] coreUsers = new string[size];
    string[] valid2Users = new string[size];
    bool editAllowed = false;

    foreach (var item in ViewBag.validUsers)
    {
        if (item.UserType == 1)
        {
            coreUsers[j] = item.validUsers;

            j++;
        }
        else if (item.UserType == 2)
        {
            valid2Users[k] = item.validUsers;

            k++;
        }
    }

    editAllowed = Array.IndexOf(coreUsers, userName.Remove(0, 4)) > -1;


    string[] strFuture = Model.Headers[0].Header3.Split(' ');
    string strTitleFuture = "";
    DateTime resDate = new DateTime();

    int intQ = 0;
    int intNextQ = 0;

    for (int i = 0; i < strFuture.Length; i++)
    {
        if (strFuture[i].ToUpper().Contains("Q"))
        {
            intQ = Convert.ToInt32(strFuture[i].Substring(strFuture[i].IndexOf('Q') + 1, 1).Trim().Replace("'", ""));

            strTitleFuture = "Q" + intQ.ToString();

            if (intQ < 4)
            {
                intNextQ = intQ + 1;
            }
            else
            {
                intNextQ = 1;
            }
        }

        //if (strFuture[i].Trim().Length>3 && DateTime.TryParse("01-01-" + strFuture[i].Trim().Substring(2,2), out resDate))
        //{
        //    strTitleFuture += "'"+resDate.Year.ToString().Substring(2,2);
        //}

    }
}

@helper CategoryTitle(string catName)
{
    string retVal = string.Empty;
    switch (catName)
    {
        case "BTI":
            retVal = "BTI = BTI (Big Ticket Items) + Discretionary Spending";
            break;
        case "HC":
            retVal = "Headcount = Exempt + Non Exempt Headcount";
            break;
    }
    @retVal
}

@helper RYGTranslate(int? id, int retType)
{
    //rettype catalog:
    //1: title (popup)
    //2: color
    //3: text
    string retVal = string.Empty;
    switch (id)
    {
        case 1:
            switch (retType)
            {
                case 1:
                    retVal = "The Program is projected to Overspend (materially) vs what was budgeted";
                    break;
                case 2:
                    retVal = "red";
                    break;
                case 3:
                    retVal = "Over Spend";
                    break;
            }
            break;

        case 2:
            switch (retType)
            {
                case 1:
                    retVal = "The Program is Projected to Underspend (materially) vs what was budgeted";
                    break;
                case 2:
                    retVal = "red";
                    break;
                case 3:
                    retVal = "Under Spend";
                    break;
            }
            break;

        case 3:
            switch (retType)
            {
                case 1:
                    retVal = "The Program is at Risk of Overspending (materially)  due to Timing of Spend";
                    break;
                case 2:
                    retVal = "yellow";
                    break;
                case 3:
                    retVal = "Over Spend";
                    break;
            }
            break;
        case 4:
            switch (retType)
            {
                case 1:
                    retVal = "The Program is at Risk of Underspending (materially) due to Timing of Spend";
                    break;
                case 2:
                    retVal = "yellow";
                    break;
                case 3:
                    retVal = "Under Spend";
                    break;
            }
            break;
        case 5:
            switch (retType)
            {
                case 1:
                    retVal = "the Program Budget will meet Budgeted HC/BTI";
                    break;
                case 2:
                    retVal = "green";
                    break;
                case 3:
                    retVal = "On Track";
                    break;
            }
            break;
    }
    @retVal
}

@{
    if (ViewBag.WeekStatus.Equals(2))
    {
        <div style="color:red"><b>Archived</b></div>
        bArchived = true;
    }
    else if (!ViewBag.WeekStatus.Equals(1))
    {
        <div style="color:red"><b>No Data Found</b></div>
    }


    List<string>
        Menu = new List<string>();

    Menu.Add("<a href=\"/Budget/Charts" + ((bool)ViewBag.complete ? "?completed=true" : "") + "\">Discrepancies Indicator</a>|P");
    Menu.Add("<a onclick=\"showPopUpBudget(" + ViewBag.wwid + ",4); return false;\" href=\"fallback.html\">Load Financial Data</a>|C");
    Menu.Add("<a onclick=\"showPopUpBudget(" + ViewBag.wwid + ",5); return false;\" href=\"fallback.html\">Load Shopping Cart Data</a>|C");
    Menu.Add("<a onclick=\"showPopUpBudget(" + ViewBag.wwid + ",6); return false;\" href=\"fallback.html\">Load Master Project IDs</a>|C");
    Menu.Add("<a onclick=\"showPopUpBudget('', 3, 'Noncompliant Owners' ); return false;\" href=\"fallback.html\">Noncomplaint Owners</a>|C");
    if (!bArchived)
    {
        Menu.Add("<a href=\"fallback.html\" onclick=\"ClearData(); return false;\">Clear Data (will delete data)</a>|C");
    }
    Menu.Add("<a>Notifications</a><ul><li><a href=\"fallback.html\" onclick=\"CreateNotifNoncompliant(); return false;\">Noncompliant</a></li></ul>|C");

}
<div class="modal fade" id="BModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">
    <div class="modal-content" id="Bmodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myBModalLabel">Please leave a comment explaining the negative Result</h4>
        </div>
        <div class="modal-body" id="BmodalContainer"></div>
    </div>
</div>
@section Extras
{
     @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers,Menu)
}
<div style="float:right"><a onclick="showPopUpBudget(null,2); return false;" href="fallback.html">List of Project IDs per program</a></div>
<br>
@*//fixed headers table*@
<table id="header-fixed" class="table table-bordered table-striped" style="width: 88.3% !important; position:fixed; top:0px; display:none; background-color:white"></table>
<table class="table-bordered" id="SummariesTable" style="margin-bottom:0px; width:100%">
    @*<colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 12%; !important">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 2000px; !important">
        </colgroup>*@
    @if (Model.Headers.Count > 0)
    {
        <thead id="TableHeaders">
            <tr>
                <th colspan="2" style="border-top: white solid 1px; border-left: white solid 1px; background-color: white; "></th>
                <th colspan="6" id="TitleBudget" @(editAllowed ? "onclick=editTitle()" : "") style="height:50px; text-align:center" onblur="UpdateTitle($(this).html())">
                    @MvcHtmlString.Create(Model.Headers[0].Title)
                <br /><div id="CommentTitle">@Model.Headers[0].Comments</div>
            </th>
            <th colspan="3" style="border-top: white solid 1px; border-right: white solid 1px; background-color:white"></th>
        </tr>
        <tr>
            <th id="thEGPXTSP" rowspan="2"><b>DEG PXT</b></th>
            <th id="thProjectName" rowspan="2"><b>Project</b></th>
            <th id="thCategory" class="blink" onclick="ShowColPrev()">►</th>
            <th id="thHeader1" rowspan="2" data-hide="1"><b>@Model.Headers[0].Header1</b></th>
            <th id="thHeader2" rowspan="2" data-hide="1"><b>@Model.Headers[0].Header2</b></th>
            <th id="thHeader3" rowspan="2"><b>@Model.Headers[0].Header3</b></th>
            <th id="thHeader4" rowspan="2"><b>@Model.Headers[0].Header4</b></th>
            <th id="thActualQ" rowspan="2">Open @strTitleFuture PO's</th>
            <th id="thTrend" rowspan="2" title=" Program Owners Projected Program BTI Spending for the Current Qtr."><b>Trend @strTitleFuture</b></th>
            <th id="thHeader5" rowspan="2"><b>@Model.Headers[0].Header5</b></th>
            <th id="thNextQ" rowspan="2">Open Q@(intNextQ.ToString()) PO's</th>
            @*<th id="thNextQ" rowspan="2">Open Q@(intNextQ > 0 ? intNextQ.ToString() + "'" + resDate.Year.ToString().Substring(2, 2) : "") PO's</th>*@
            <th id="thTrendP" rowspan="2" title=" Program Owners Projected Program BTI Spending for the Current Qtr."><b>Trend Q@(intNextQ.ToString())</b></th>
            @*<th id="thTrendP" rowspan="2" title=" Program Owners Projected Program BTI Spending for the Current Qtr."><b>Trend Q@(intNextQ > 0 ? intNextQ.ToString()+"'"+resDate.Year.ToString().Substring(2,2) : "")</b></th>*@
            <th id="thHealth" rowspan="2"><b>Health</b></th>
            <th id="thComment" rowspan="2" data-view="@ViewBag.Module"><b>Comment</b></th>
        </tr>
        <tr>
            <th><b>Category</b></th>
        </tr>
    </thead>
    }
    <tbody>
        @*dynamic tables*@
        @{int summariesCount = 0;}
        @foreach (List<SummaryBudget> SummaryModel in Model.Summaries)
        {// 0: total; 1:related; 2:non related
            string summaryTitle = string.Empty;
            string summaryPXT = string.Empty;
            string sectionid = string.Empty;
            switch (summariesCount)
            {
                case 0:
                    summaryTitle = "Budget Proj's";
                    summaryPXT = "Budget Total";
                    sectionid = "total";
                    break;
                case 1:
                    summaryTitle = "Non-SS Proj's";
                    summaryPXT = "Non-Snapshot Sub-Total";
                    sectionid = "nonrelated";
                    break;
                case 2:
                    summaryTitle = "SS Proj's";
                    summaryPXT = "Snapshot Sub-Total";
                    sectionid = "related";

                    break;
            }
            procBPOCats.Clear();

            //summaries table
            onlyOnce = 1;
            categoriesCount = 0;
            foreach (var item in SummaryModel)
            {
                //control the treated categories
                if (procBPOCats.Contains(item.CategoryName))
                {
                    continue;
                }
                else
                {
                    categoriesCount++;
                    procBPOCats.Add(item.CategoryName);
                    dataColSummary.Clear();
                    Data1 = 0;
                    Data2 = 0;
                    Data3 = 0;
                    Data4 = 0;
                    Data5 = 0;


                    DataTotal1.Clear();
                    DataTotal2.Clear();
                    DataTotal3.Clear();
                    DataTotal4.Clear();
                    DataTotal5.Clear();
                    comments = string.Empty;
                    RYG = string.Empty;
                }


                //re-scan the model to get a collection of all the items pertaining to this Category
                foreach (var subitem in SummaryModel)
                {
                    if (subitem.CategoryName == item.CategoryName)
                    { dataColSummary.Add(subitem); }
                }

                try
                {
                    int totalsCount = 0;
                    int bitCount = 0;
                    Data1 = 0;
                    Data2 = 0;
                    Data3 = 0;
                    Data4 = 0;
                    Data5 = 0;

                    //all items for program
                    foreach (SummaryBudget bit in dataColSummary)
                    {//get totallz
                        try
                        {
                            totalsCount++;
                            ProjId_Name = bit.PRJID;
                            CategoryName = bit.CategoryName;

                            comments = string.Empty;
                            RYG = string.Empty;

                            if (bit.Data1 != null)
                            { Data1 = Data1 + bit.Data1; }
                            if (bit.Data2 != null)
                            { Data2 = Data2 + bit.Data2; }
                            if (bit.Data3 != null)
                            { Data3 = Data3 + bit.Data3; }
                            if (bit.Data4 != null)
                            { Data4 = Data4 + bit.Data4; }
                            if (bit.Data5 != null)
                            { Data5 = Data5 + bit.Data5; }

                            //last total processed
                            if (totalsCount == dataColSummary.Count)
                            {
                                DataTotal1.Add(Data1.ToString());
                                DataTotal2.Add(Data2.ToString());
                                DataTotal3.Add(Data3.ToString());
                                DataTotal4.Add(Data4.ToString());
                                DataTotal5.Add(Data5.ToString());
                            }
                        }
                        catch (Exception ex)
                        {

                            throw ex;
                        }
                    }
                    CategoryName = string.Empty;
                    //again iterate through items for a single program
                    foreach (SummaryBudget bit in dataColSummary)
                    {
                        try
                        {
                        recreate:
                            bitCount++;
                            string trId;
                            string trCssClass;
                            string collapseRowId = bit.CategoryName + bit.PRJID;
                            string collapseDetailRowId = sectionid + "Collapse" + bit.CategoryName;
                            if (bit.CategoryName != CategoryName)
                            {
                                trId = "Fsummary" + collapseDetailRowId.ToString();
                                trCssClass = string.Empty;
                            }
                            else
                            {
                                trId = "Frow" + collapseDetailRowId + bitCount.ToString();
                                trCssClass = "collapse";
                            }
                            <tr id=@trId class="@trCssClass">
                                @if (onlyOnce == 1)
                                {
                                    //pxt and project info
                                    if (summariesCount == 2 && Session["ValSel"] != null)
                                    {
                                        <td id="1" style="background-color:#CDE6F7">@summaryPXT</td>
                                        <td id="2" style="background-color:#CDE6F7">
                                            <div style="height:35px">
                                                <button type="button" style="color:blue" class="btn" data-toggle="collapse" data-target="#@("collapseme_" + collapseRowId)">@summaryTitle</button>
                                            </div>
                                            <div id="@("collapseme_" + collapseRowId)" class="collapse">
                                            </div>(Filtered)
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="1">@summaryPXT</td>
                                        <td id="2">
                                            <div style="height:35px">
                                                <button type="button" style="color:blue" class="btn" data-toggle="collapse" data-target="#@("collapseme_" + collapseRowId)">@summaryTitle</button>
                                            </div>
                                            <div id="@("collapseme_" + collapseRowId)" class="collapse"></div>
                                        </td>
                                    }
                                    onlyOnce = 0;
                                    rowSpanCreate = true;
                                }
                                else
                                {
                                    rowSpanCreate = false;
                                    <td id="1" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")></td>
                                    <td id="2" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")></td>
                                }
                                @{string dolarSign = string.Empty;
                                dolarSign = string.Empty;
                                if (bit.CategoryName == "BTI")
                                {
                                    dolarSign = "$";
                                }}
                                @if (bit.CategoryName != CategoryName)
                                {
                                    CategoryName = bit.CategoryName;
                                    string notifData = string.Empty;
                                    string popUpHeader = string.Empty;
                                    if (bitCount == 2 && rowSpanCreate == true && Model.BudgetSummaryData.Count > 0)
                                    { //tds for ryg, trend and comments
                                        notifData = "5|" + Model.BudgetSummaryData[summariesCount].ContinuityID + "|" + Model.BudgetSummaryData[summariesCount].BudgetId + "|" + ViewBag.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(5);
                                        popUpHeader = "Update on Budget for Total";
                                    }

                                    //this is Category summary
                                    @*Category*@
                                    <td id="3" title="@CategoryTitle(@bit.CategoryName)" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                        <b>
                                            @bit.CategoryName
                                        </b>
                                        <input type="image" style="float:right" src="~/Content/images/plus.jpg" onclick="expand(this,0)" width="10" height="10" data-toggle="collapse" data-target="[id^=@("Frow" + collapseDetailRowId)]">
                                    </td>
                                    @*Data1*@
                                    <td id="4" data-hide="1" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                        <b>@dolarSign@DataTotal1[0].ToString()</b>
                                    </td>
                                    @*Data2*@
                                    <td id="5" data-hide="1" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                        <b>@dolarSign@DataTotal2[0].ToString()</b>
                                    </td>
                                    @*Data3*@
                                    <td id="6" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                        <b>@dolarSign@DataTotal3[0].ToString()</b>
                                    </td>
                                    @*Data4*@
                                    <td id="7" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                        <b>@dolarSign@DataTotal4[0].ToString()</b>
                                    </td>

                                    //future spends 1 (shopping cart)
                                    <td id="8" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                        @if (summariesCount == 0 || summariesCount == 2)
                                        {
                                            <b>@dolarSign@(((List<BudgetModel>)Model.List).Where(x => x.CategoryName == CategoryName).Sum(x => x.thisAmmnt))</b>
                                        }
                                        else
                                        {
                                            <b>@(dolarSign)0</b>
                                        }
                                    </td>
                                        //trend 1
                                        if (bitCount == 1 && rowSpanCreate == true && (summariesCount == 0 || summariesCount == 2))
                                        {
                                            <td style="cursor:pointer; @(summariesCount == 2 && Session["ValSel"] != null ? "background-color:#CDE6F7" : "")" data-header="@popUpHeader" rowspan="@rowSpan" title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data">

                                                <b>@dolarSign@(((List<BudgetModel>)Model.List).Select(x => new { x.ContinuityID, x.Trend }).Distinct().Sum(x => x.Trend))</b>

                                            </td>
                                        }
                                        else
                                        {
                                            if (bitCount == 1 && rowSpanCreate == true)
                                            {
                                                <td rowspan="@rowSpan"><b>@(dolarSign)0</b></td>
                                            }
                                        }

                                        @*Data5*@
                                        <td id="10" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")>
                                            <b>@dolarSign@DataTotal5[0].ToString()</b>
                                        </td>
                                        @*future spends 2 (shopping cart)*@
                                    if (summariesCount == 0 || summariesCount == 2)
                                    {
                                        <td id="11" @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "")><b>@dolarSign@(((List<BudgetModel>)Model.List).Where(x => x.CategoryName == CategoryName).Sum(x => x.nextAmmnt))</b></td>

                                    }
                                    else
                                    {
                                        <td id="11"><b>@dolarSign@bit.nextAmmnt</b></td>
                                    }
                                    @*RYG*@
                                    if (bitCount == 1 && rowSpanCreate == true)
                                    { //tds for ryg, trend and comments

                                        if (summariesCount == 0 || summariesCount == 2)
                                        {
                                            <td id="12" style="cursor:pointer; @(summariesCount == 2 && Session["ValSel"] != null ? "background-color:#CDE6F7" : "")" data-header="@popUpHeader" rowspan="@rowSpan" title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data">
                                                <b>@dolarSign@(((List<BudgetModel>)Model.List).Select(x => new { x.ContinuityID, x.TrendP }).Distinct().Sum(x => x.TrendP))</b>
                                            </td>
                                        }
                                        else
                                        {
                                            <td id="12" style="cursor:pointer; @(summariesCount == 2 && Session["ValSel"] != null ? "background-color:#CDE6F7" : "")" data-header="@popUpHeader" rowspan="@rowSpan" title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data"><b>@(dolarSign)0</td>
                                        }
                                        <td data-header="@popUpHeader" rowspan="@rowSpan" id="13" style="cursor:pointer; @(summariesCount == 2 && Session["ValSel"] != null ? "background-color:#CDE6F7" : "")">
                                            <b style="color:blue;"></b>
                                        </td>
                                        @*Comment*@
                                        <td @(summariesCount == 2 && Session["ValSel"] != null ? "style=background-color:#CDE6F7" : "") data-header="@popUpHeader" rowspan="@rowSpan" id="14">
                                            <b></b>
                                        </td>
                                    }
                                    //this iteration was only to create the summary
                                    goto recreate;
                                }
                                else
                                {
                                    //Project Id row for the current category
                                    @*Project Id*@
                                    <td id="3" title="@bit.BPOProjName">
                                        @bit.PRJID
                                    </td>
                                    @*data1*@
                                    <td id="4" data-hide="1">
                                        @dolarSign@bit.Data1
                                    </td>
                                    @*data2*@
                                    <td id="5" data-hide="1">
                                        @dolarSign@bit.Data2
                                    </td>
                                    @*data3*@
                                    <td id="6">
                                        @dolarSign@bit.Data3
                                    </td>
                                    @*data4*@
                                    <td id="7">
                                        @dolarSign@bit.Data4
                                    </td>
                                    //future spends 1
                                    <td id="8">0</td>
                                    //trend 1
                                    if (bitCount > 2)
                                    {
                                        <td id="9"></td>
                                    }
                                    @*data5*@
                                    <td id="10">
                                        <b>@dolarSign@bit.Data5</b>
                                    </td>
                                    @*next Amnt*@
                                    <td></td>
                                    @*Trenp*@
                                    if (bitCount > 2)
                                    {
                                        <td>@dolarSign@bit.TrendP</td>
                                        <td></td>
                                        <td></td>
                                    }
                                }
                            </tr>

                        }
                        catch (Exception ex)
                        {

                            throw ex;
                        }

                    }

                }
                catch (Exception ex)
                {
                    throw ex;
                }

            }
            <tr>
                <td colspan="14" valign="bottom" style="padding:0px;"><div style="width:100%; float:left; height:1px; border-bottom: 1px solid black;"></div></td>
            </tr>
            summariesCount++;
        }
        @{
            procBPOCats.Clear();
            @*related projs table*@
            categoriesCount = 0;

            foreach (var item in Model.List)
            {
                //if Program Has already been processed is discarted, this is because data is vertical and progID is repeated
                if (procProgs.Contains(int.Parse(item.progID.ToString())))
                {
                    continue;
                }
                else
                {
                    //in procProgs we keep a record of every program ID processed
                    procProgs.Add(int.Parse(item.progID.ToString()));
                    dataCol.Clear();
                    Data1 = 0;
                    Data2 = 0;
                    Data3 = 0;
                    Data4 = 0;
                    Data5 = 0;
                    futSpends1 = 0;
                    futSpends2 = 0;
                    DataTotal1.Clear();
                    DataTotal2.Clear();
                    DataTotal3.Clear();
                    DataTotal4.Clear();
                    DataTotal5.Clear();
                    futSpendsTotal1.Clear();
                    futSpendsTotal1.Clear();
                    comments = string.Empty;
                    RYG = string.Empty;
                }
                //this calculation is due to the rowspan needed on the summary section, if only 1 category came, no rowspan
                int tempCatCount = 0;
                List<int> tempCatId = new List<int>();
                //re-scan the model to get a collection of all the items pertaining to this program
                foreach (var subitem in Model.List)
                {
                    if (subitem.progID == item.progID)
                    {
                        dataCol.Add(subitem);

                        string tempProgName = subitem.ProgName;

                        if (!tempCatId.Contains(subitem.CategoryId))
                        {
                            tempCatId.Add(subitem.CategoryId);
                            tempCatCount++;
                        }
                    }
                }

                try
                {
                    onlyOnce = 1;
                    int totalsCount = 0;
                    int SwitchCount = 0;
                    int bitCount = 0;
                    //all items for program
                    foreach (BudgetModel bit in dataCol)
                    {//get totallz
                        totalsCount++;
                        if (totalsCount == 1)
                        {
                            CategoryId = bit.CategoryId;
                            ProjId_Id = bit.BPOProjId_id;
                        }

                        if (bit.CategoryId != CategoryId)
                        {
                            ProjId_Id = bit.BPOProjId_id;
                            CategoryId = bit.CategoryId;
                            DataTotal1.Add(Data1.ToString());
                            DataTotal2.Add(Data2.ToString());
                            DataTotal3.Add(Data3.ToString());
                            DataTotal4.Add(Data4.ToString());
                            DataTotal5.Add(Data5.ToString());
                            futSpendsTotal1.Add(futSpends1.ToString());
                            futSpendsTotal2.Add(futSpends2.ToString());

                            Data1 = 0;
                            Data2 = 0;
                            Data3 = 0;
                            Data4 = 0;
                            Data5 = 0;
                            futSpends1 = 0;
                            futSpends2 = 0;
                            comments = string.Empty;
                            RYG = string.Empty;
                        }
                        if (bit.Data1 != null)
                        { Data1 = Data1 + bit.Data1; }
                        if (bit.Data2 != null)
                        { Data2 = Data2 + bit.Data2; }
                        if (bit.Data3 != null)
                        { Data3 = Data3 + bit.Data3; }
                        if (bit.Data4 != null)
                        { Data4 = Data4 + bit.Data4; }
                        if (bit.Data5 != null)
                        { Data5 = Data5 + bit.Data5; }
                        if (bit.thisAmmnt != null)
                        { futSpends1 = futSpends1 + bit.thisAmmnt; }
                        if (bit.nextAmmnt != null)
                        { futSpends2 = futSpends2 + bit.nextAmmnt; }

                        //last total processed
                        if (totalsCount == dataCol.Count)
                        {
                            DataTotal1.Add(Data1.ToString());
                            DataTotal2.Add(Data2.ToString());
                            DataTotal3.Add(Data3.ToString());
                            DataTotal4.Add(Data4.ToString());
                            DataTotal5.Add(Data5.ToString());
                            futSpendsTotal1.Add(futSpends1.ToString());
                            futSpendsTotal2.Add(futSpends2.ToString());
                        }
                    }
                    CategoryId = 0;
                    //again iterate through items for a single program
                    foreach (BudgetModel bit in dataCol)
                    {
                    recreate:
                        bitCount++;
                        string trId;
                        string trCssClass;
                        string strBorder = "";
                        string collapseRowId = bit.CategoryName + bit.progID.ToString();
                        //BPOImportVersion null means no projids related for this program
                        if (bit.CategoryId != CategoryId || bit.BPOImportVersion == null)
                        {
                            trId = "Fsummary" + collapseRowId.ToString();
                            trCssClass = string.Empty;
                        }
                        else
                        {
                            trId = "Frow" + collapseRowId + bitCount.ToString();
                            trCssClass = collapseRowId.StartsWith("--") ? string.Empty : "collapse";
                        }

                        if (tempCatCount > 1)
                        {
                            if (bitCount > 1)
                            {
                                strBorder = "style=border-bottom:black solid 1px";
                            }
                        }
                        else
                        {
                            strBorder = "style=border-bottom:black solid 1px";
                        }
                        <tr id=@trId class="@trCssClass">
                            @if (onlyOnce == 1)
                            {
                                //pxt and project info
                                @GeneralHelpers.ProgDetail(bit, Url, true)
                                onlyOnce = 0;
                                rowSpanCreate = true;
                            }
                            else
                            {
                                rowSpanCreate = false;
                                <td id="1d"></td>
                                <td id="2d"></td>
                            }
                            @{
                            string dolarSign = string.Empty;
                            dolarSign = string.Empty;
                            if (bit.CategoryName == "BTI")
                            {
                                dolarSign = "$";
                            }
                            }
                            @if (bit.CategoryId != CategoryId || bit.BPOImportVersion == null)
                            {
                                CategoryId = bit.CategoryId;
                                CategoryName = bit.CategoryName;
                                string showData1 = bit.BPOImportVersion == null ? "--" : dolarSign + DataTotal1[SwitchCount].ToString();
                                string showData2 = bit.BPOImportVersion == null ? "--" : dolarSign + DataTotal2[SwitchCount].ToString();
                                string showData3 = bit.BPOImportVersion == null ? "--" : dolarSign + DataTotal3[SwitchCount].ToString();
                                string showData4 = bit.BPOImportVersion == null ? "--" : dolarSign + DataTotal4[SwitchCount].ToString();
                                string showData5 = bit.BPOImportVersion == null ? "--" : dolarSign + DataTotal5[SwitchCount].ToString();
                                string showFutSpends1 = bit.BPOImportVersion == null ? "--" : dolarSign + futSpendsTotal1[SwitchCount].ToString();
                                string showFutSpends2 = bit.BPOImportVersion == null ? "--" : dolarSign + futSpendsTotal2[SwitchCount].ToString();

                                //this is Category summary
                                @*Category*@
                                <td id="3d" title="@CategoryTitle(@bit.CategoryName)">
                                    <b>@bit.CategoryName</b>
                                    <input type="image" style="float:right" src="~/Content/images/plus.jpg" onclick="expand(this,@dataCol.Where(x=> x.CategoryId==bit.CategoryId).Count(),'@bit.CategoryName')" width="10" height="10" data-toggle="collapse" data-target="[id^=@("Frow" + collapseRowId)]">
                                </td>
                                @*Data1*@
                                <td id="4d" data-hide="1">
                                    <b>@showData1</b>
                                </td>
                                @*Data2*@
                                <td id="5d" data-hide="1">
                                    <b>@showData2</b>
                                </td>
                                @*Data3*@
                                <td id="6d">
                                    <b>@showData3</b>
                                </td>
                                @*Data4*@
                                <td id="7d">
                                    <b>@showData4</b>
                                </td>
                                // future spends 1 (shopping cart data)
                                <td id="8d">
                                    <b>@showFutSpends1</b>
                                </td>

                                bool doIrowspan = false;
                                if (tempCatCount > 1)//if program comes with more than 1 category to show
                                { doIrowspan = true; }

                                string popUpHeader = "Update on Budget for " + bit.ProgName;
                                string strOriginal = bit.Trend + "|" + bit.RYG + "|" + bit.Comments + "|" + bit.ContinuityID + "|" + bit.WWID + "|" + bit.HIid + "|" + bit.TrendP;
                                //trend 1
                                if (ViewBag.WeekStatus.Equals(2))
                                {
                                    if (bitCount == 1)
                                    {
                                        <td data-original="@strOriginal" data-budget="@bit.BudgetId" id="@("T" + bit.BudgetId.ToString())" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>          } } title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data">
                                            <b>$@bit.Trend</b>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (bitCount == 1)
                                    {
                                        <td data-original="@strOriginal" data-budget="@bit.BudgetId" onblur="SaveComments($(this),$(this).text(),1)" contenteditable="true" style="cursor:pointer" id="@("T" + bit.BudgetId.ToString())" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>           } } title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data">
                                            <b>$@bit.Trend</b>
                                        </td>
                                    }
                                }
                                //plan (data5)
                                <td id="10d">
                                    <b>@showData5</b>
                                </td>
                                //fut spends 2

                                <td id="11d">
                                    <b>@dolarSign@(((List<BudgetModel>)Model.List).Where(x => x.ContinuityID == bit.ContinuityID && x.CategoryName == bit.CategoryName).Select(x => new { x.ContinuityID, x.nextAmmnt }).Distinct().Sum(x => x.nextAmmnt))</b>
                                </td>
                                string notifData = "5|" + bit.ContinuityID + "|" + bit.BudgetId + "|" + bit.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(5) + "|" + bit.OwnerId + "|" + bit.ProgTypeID + "|" + bit.PXTId;

                                //trend 2
                                if (ViewBag.WeekStatus.Equals(2))
                                {
                                    if (bitCount == 1)
                                    {
                                        <td data-original="@strOriginal" data-budget="@bit.BudgetId" id="@("TP" + bit.BudgetId.ToString())" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>          } } title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data">
                                            <b>$@bit.TrendP</b>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (bitCount == 1)
                                    {
                                        <td data-original="@strOriginal" data-budget="@bit.BudgetId" onblur="SaveComments($(this),$(this).text(),4)" contenteditable="true" style="cursor:pointer" id="@("TP" + bit.BudgetId.ToString())" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>          } } title="The Owner’s Projected Total spends for the Qtr to complement the Qtr to Date close data">
                                            <b>$@bit.TrendP</b>
                                        </td>
                                    }
                                }
                                @*RYG*@

                                if (ViewBag.WeekStatus.Equals(2))
                                {
                                    if (bitCount == 1)
                                    {
                                        <td id="@("S" + bit.BudgetId.ToString())" data-owner="@bit.OwnerId" data-continuity="@bit.ContinuityID" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>          } } style="background-color:@RYGTranslate(bit.RYG, 2)" title="@RYGTranslate(bit.RYG, 1)">
                                            <b style="color:blue">@RYGTranslate(bit.RYG, 3)</b>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (bitCount == 1)
                                    {
                                        <td id="@("S" + bit.BudgetId.ToString())" data-owner="@bit.OwnerId" data-continuity="@bit.ContinuityID" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>          } } style="cursor:pointer; background-color:@RYGTranslate(bit.RYG, 2)" title="@RYGTranslate(bit.RYG, 1)">
                                            <select data-original="@strOriginal" data-budget="@bit.BudgetId" onchange="ChangeColor(this,this.value)">
                                                <option value="0">Select</option>
                                                <option style="background-color:red" @(bit.RYG == 1 ? "selected=selected" : "") value="1">Overspend</option>
                                                <option style="background-color:red" @(bit.RYG == 2 ? "selected=selected" : "") value="2">Underspend</option>
                                                <option style="background-color:yellow" @(bit.RYG == 3 ? "selected=selected" : "") value="3">Overspend</option>
                                                <option style="background-color:yellow" @(bit.RYG == 4 ? "selected=selected" : "") value="4">Underspend</option>
                                                <option style="background-color:green" @(bit.RYG == 5 ? "selected=selected" : "") value="5">On Track</option>
                                            </select>
                                        </td>
                                    }
                                }

                                @*Comment*@
                                if (ViewBag.WeekStatus.Equals(2))
                                {
                                    if (bitCount == 1)
                                    {
                                        <td data-original="@strOriginal" title="on @bit.commentDate by @bit.currentActor" data-budget="@bit.BudgetId" data-addnotify="1" data-titlenoti="Notif Enabled! - Shift + Click on area" data-notif="@notifData" data-notifproj="@bit.BPOProjName" id="@("F" + bit.BudgetId.ToString())" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>              } }>
                                            <b>@MvcHtmlString.Create(bit.Comments)</b>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (bitCount == 1)
                                    {
                                        <td data-original="@strOriginal" title="on @bit.commentDate by @bit.currentActor" data-budget="@bit.BudgetId" data-addnotify="1" data-titlenoti="Notif Enabled! - Shift + Click on area" data-notif="@notifData" data-notifproj="@bit.BPOProjName" style="cursor:pointer" id="@("F" + bit.BudgetId.ToString())" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-progtype="@bit.ProgTypeID" data-pxt="@bit.PXTId" data-header="@popUpHeader" @{if (doIrowspan) { <text> rowspan="@(rowSpan)" </text>               } }>
                                            <div data-div="@(bit.BPOProjId_id.ToString())" id="@("txtDesc_" + bit.BPOProjId_id.ToString())" onclick="Edit(@bit.BPOProjId_id.ToString(),@bit.WWID,'@bit.ContinuityID',@bit.OwnerId,@bit.ProgTypeID, @bit.PXTId)" style="width:100%; height:@(bit.Comments!=null && bit.Comments.Length > 0 ? "auto" : "50px");">@MvcHtmlString.Create(bit.Comments)</div>
                                            <textarea data-area="@(bit.BPOProjId_id.ToString())" id="@("txtDescription_" + bit.BPOProjId_id.ToString())" name="@("txtDescription_" + bit.BPOProjId_id.ToString())" style="width:400px; display:none">@bit.Comments</textarea>
                                        </td>
                                    }
                                }
                                SwitchCount++;
                                //this iteration was only to create the summary, but if no relations are in place, skip
                                if (bit.BPOImportVersion != null)
                                { goto recreate; }
                            }
                            else
                            {
                                //Project Id row for the current category
                                @*Project Id*@
                                <td title="@bit.BPOProjName">
                                    @bit.BPOProjId
                                    <br /><div class="difficon" onclick="ShowDiff('@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId')">D</div>
                                </td>
                                @*data1*@
                                <td data-hide="1">
                                    @dolarSign@bit.Data1
                                    @if (ViewBag.WeekStatus.Equals(2))
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-1" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc1</div>
                                    }
                                    else
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-1" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId" onblur="EditBudgetDiff('@bit.ContinuityID','@bit.BPOProjId_id',@bit.CategoryId,@bit.WWID)" contenteditable="true">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc1</div>
                                    }
                                </td>
                                @*data2*@
                                <td data-hide="1">
                                    @dolarSign@bit.Data2
                                    @if (ViewBag.WeekStatus.Equals(2))
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-2" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc2</div>
                                    }
                                    else
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-2" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId" onblur="EditBudgetDiff('@bit.ContinuityID','@bit.BPOProjId_id',@bit.CategoryId,@bit.WWID)" contenteditable="true">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc2</div>
                                    }
                                </td>
                                @*data3*@
                                <td>
                                    @dolarSign@bit.Data3
                                    @if (ViewBag.WeekStatus.Equals(2))
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-3" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc3</div>
                                    }
                                    else
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-3" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId" onblur="EditBudgetDiff('@bit.ContinuityID','@bit.BPOProjId_id',@bit.CategoryId,@bit.WWID)" contenteditable="true">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc3</div>
                                    }
                                </td>
                                @*data4*@
                                <td>
                                    @dolarSign@bit.Data4
                                    @if (ViewBag.WeekStatus.Equals(2))
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-4" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc4</div>
                                    }
                                    else
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-4" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId" onblur="EditBudgetDiff('@bit.ContinuityID','@bit.BPOProjId_id',@bit.CategoryId,@bit.WWID)" contenteditable="true">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc4</div>
                                    }
                                </td>
                                    // first fut spent (shopping cart)
                                    <td>
                                        @(dolarSign.Length > 0 ? dolarSign + bit.thisAmmnt : "")
                                    </td>
                                if (bit.CategoryName != "BTI")
                                {
                                    <td></td>
                                }
                                @*data5*@
                                <td>
                                    @dolarSign@bit.Data5
                                    @if (ViewBag.WeekStatus.Equals(2))
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-5" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc5</div>
                                    }
                                    else
                                    {
                                        <br /><div class="diff" id="diffData-@bit.ContinuityID-@bit.BPOProjId_id-@bit.CategoryId-5" data-diffprogram="@bit.ContinuityID-@bit.BPOProjId-@bit.CategoryId" onblur="EditBudgetDiff('@bit.ContinuityID','@bit.BPOProjId_id',@bit.CategoryId,@bit.WWID)" contenteditable="true">@(bit.CategoryId != 1 ? "$" : "")@bit.DataDisc5</div>
                                    }
                                </td>
                                    //future spends 2
                                    <td id="11e@(bit.BPOProjId)">
                                        @(dolarSign.Length > 0 ? dolarSign + bit.nextAmmnt : "")
                                    </td>
                                if (bitCount > 2 && bit.CategoryId == 1)
                                {
                                    <td></td>
                                    <td colspan="2"></td>
                                }
                            }
                        </tr>

                    }
                    if (tempCatCount > 1)
                    {
                        if (bitCount > 1)
                        {
                            <tr>
                                <td colspan="14" valign="bottom" style="padding:0px;"><div style="width:100%; float:left; height:1px; border-bottom: 1px solid black;"></div></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="14" valign="bottom" style="padding:0px;"><div style="width:100%; float:left; height:1px; border-bottom: 1px solid black;"></div></td>
                        </tr>
                    }
                }
                catch (Exception ex)
                {
                    <tr>
                        <td>No data</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>
<form id="Comments" name="Comments" method="post">
    @Html.Hidden("txtDescription_")
    @Html.Hidden("ddlTrend")
    @Html.Hidden("pTrend")
    @Html.Hidden("pTrendP")
    @Html.Hidden("pBudgetId")
    @Html.Hidden("inline", "true")
    @Html.Hidden("pContinuityId")
    @Html.Hidden("pWWID")
    @Html.Hidden("HealthID")
</form>
@section Scripts
{
    <link href="@Url.Content("~/Content/GeneralStyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var trend=0;
        var trendP=0;
        var health=0;
        var comment='';
        var id=0;

        backgroundInterval = setInterval(function(){
            $('.blink').animate({ backgroundColor: "#fcf8e3" },50)
                .delay(1000).animate({ backgroundColor: "#fbeed5" }, 50)
                .delay(1000).animate({ backgroundColor: "#fcf8e3" }, 50);
        });

        //$('td').dblclick(function () {
        //    var header = $(this).data("header");
        //    ContinuityID= $(this).data("continuity");
        //    Owner=$(this).data("owner");
        //    ProgramType=$(this).data("progtype");
        //    PXT=$(this).data("pxt");

        //    if(tinyMCE.editors.length>0)
        //    {
        //        tinyMCE.editors[0].destroy();
        //    }

        //    var stringID = $(this).attr('id');
        //    var splitString = ("F" + stringID.split("F").join(''));
        //    var ID = stringID.split("F").join('');
        //    var Sub = $(this).closest('tr');
        //    if (Sub.attr('id').indexOf("summary") > 0) {
        //        if (stringID == splitString) {
        //            showPopUp(ID, 1, header);
        //        }
        //    }
        //});
    </script>

    <script type="text/javascript">
        //Function to show the popup and pass the correct PWID to the view
        function showPopUpBudget(ID, Op, information) {
            if (Op == 1) {
                var textHealthID = ID.toString();
                var text = "/Budget/CommentView?BudgetID=";
                var urlLink = text + textHealthID+"&WWID=@ViewBag.WWID";
                $('#myBModalLabel').html(information);
                $('#BModal').data('url', urlLink);
                $('#Bmodalcontent').width(1000);
                $('#Bmodalcontent').height("Auto");
            }
            if (Op == 2) {
                var text = "/Budget/ProgramsProgIdsView";
                $('#myBModalLabel').html(information);
                $('#BModal').data('url', text);
                $('#Bmodalcontent').width(1000);
                $('#Bmodalcontent').height("Auto");
            }
            if(Op==3){
                var text = "/Budget/Noncompliant?WWID=@ViewBag.WWID";
                $('#myBModalLabel').html(information);
                $('#BModal').data('url', text);
                $('#Bmodalcontent').width(850);
                $('#Bmodalcontent').height("Auto");
            }
            //load financial data
            if(Op==4){
                $('#myBModalLabel').html("Load Financial Data");
                var text = "/Budget/LoadBudgetInfo?WWID=@ViewBag.WWID";
                $('#BModal').data('url', text);
                $('#Bmodalcontent').width(850);
                $('#Bmodalcontent').height("Auto");
            }
            //load ShopCart data
            if(Op==5){
                $('#myBModalLabel').html("Load Shopping Cart Data");
                var text = "/Budget/LoadShopCartInfo?WWID=@ViewBag.WWID";
                $('#BModal').data('url', text);
                $('#Bmodalcontent').width(850);
                $('#Bmodalcontent').height("Auto");
            }
            if(Op==6){
                $('#myBModalLabel').html("Load Master Project IDs Data");
                var text = "/Budget/LoadMasterProjId?WWID=@ViewBag.WWID";
                $('#BModal').data('url', text);
                $('#Bmodalcontent').width(800);
                $('#Bmodalcontent').height("Auto");
            }

            var url = $('#BModal').data('url');
            $.get(url, function (data) {
                $('#BmodalContainer').html(data);
                $('#BModal').modal("show");
                $('#Bmodalcontent').height("Auto");
            });
        }
        function ShowDiff(element)
        {
            //$('.diff').hide();
            $('div[data-diffprogram="'+element+'"]').show();
            $($('div[data-diffprogram="'+element+'"]')[0]).focus();
        }

        $('.diff').hide();
        $('[data-hide=1]').hide()
    </script>

    <script type="text/javascript">
        //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
        $(document).ready(function () {
            $('#aBudget').css("background-color", "#0062a8");

        });

        url='';
        module = '@ViewBag.Module';
        skip = '../';
        view=5;
        wwid=@ViewBag.WWID;
    </script>
}

<script>
    var tableOffset = $("#SummariesTable").offset().top;
    var $header = $("#SummariesTable > thead");
    var $fixedHeader = $("#header-fixed").append($header.clone());
    var mustContinue=true;

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();


        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function (ind, val) {
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding", original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });

    function expand(btn,row,type,total)
    {
        if ($(btn).attr('src') == '/Content/images/minus.png')
        {
            if(row>0 && type=='BTI')
            {
                $($($(btn).parent().parent()).children()[8]).attr('rowSpan',2);
                $($($(btn).parent().parent()).children()[11]).attr('rowSpan',2);
                $($($(btn).parent().parent()).children()[12]).attr('rowSpan',2);
                $($($(btn).parent().parent()).children()[13]).attr('rowSpan',2);
            }
            $(btn).attr('src', '/Content/images/plus.jpg');
        }

        else
        {
            if(row>0 && type=='BTI')
            {
                if(row>1)
                {
                    $($($(btn).parent().parent()).children()[8]).attr('rowSpan',row+2);
                    //$($($(btn).parent().parent()).children()[10]).attr('rowSpan',1);
                    $($($(btn).parent().parent()).children()[11]).attr('rowSpan',row+2);
                    $($($(btn).parent().parent()).children()[12]).attr('rowSpan',row+2);
                    $($($(btn).parent().parent()).children()[13]).attr('rowSpan',row+2);
                }else
                {
                    $($($(btn).parent().parent()).children()[8]).attr('rowSpan',3);
                    //$($($(btn).parent().parent()).children()[10]).attr('rowSpan',1);
                    $($($(btn).parent().parent()).children()[11]).attr('rowSpan',3);
                    $($($(btn).parent().parent()).children()[12]).attr('rowSpan',3);
                    $($($(btn).parent().parent()).children()[13]).attr('rowSpan',3);
                }
            }
            $(btn).attr('src', '/Content/images/minus.png');
        }

    }
    function SaveTitle()
    {
        var title='';
        if($('#txtLink').val().length>0)
        {
            var url='<a href="'+$('#txtLink').val()+'" target="_blank">'+$('#txtTitle').val()+'</a>';
            title=url;
        }else
            title=$('#txtTitle').val();

        $.post('/Budget/UpdateBudgetTitle',{ Title: title,Comments:$('#txtCommentsTitle').val(), WWID: wwid},function(response){

            window.location.reload();
        });
        $('#TitleBudget').html(title);
        $(".close").click();
    }
    function editTitle()
    {
        var link="";
        var text="";
        var Comments=$('#CommentTitle').text();

        if($('#TitleBudget').find("a").length>0)
        {
            link=$('#TitleBudget').find("a").attr('href');
            text=$('#TitleBudget').find("a").text();
        }

        var text = "/Budget/Title?Title="+text+"&Link="+link+"&Comments="+Comments;
        $('#myBModalLabel').html("Edit Budget title");
        $('#BModal').data('url', text);
        $('#Bmodalcontent').width(800);
        $('#Bmodalcontent').height("Auto");

        var url = $('#BModal').data('url');
        $.get(url, function (data) {
            $('#BmodalContainer').html(data);
            $('#BModal').modal("show");
        });

    }
    function EditBudgetDiff(continuity,projid,categryid,wwid)
    {
        var data1=0;
        var data2=0;
        var data3=0;
        var data4=0;
        var data5=0;

        data1=$('#diffData-'+continuity+'-'+projid+'-'+categryid+'-1').text().replace('$','');
        data2=$('#diffData-'+continuity+'-'+projid+'-'+categryid+'-2').text().replace('$','');
        data3=$('#diffData-'+continuity+'-'+projid+'-'+categryid+'-3').text().replace('$','');
        data4=$('#diffData-'+continuity+'-'+projid+'-'+categryid+'-4').text().replace('$','');
        data5=$('#diffData-'+continuity+'-'+projid+'-'+categryid+'-5').text().replace('$','');

        $.post('/Budget/SaveDiff',{ ContinuityId: continuity, ProjId: projid, CategoryId: categryid, WWID: wwid, Data1: data1, Data2: data2, Data3: data3, Data4: data4, Data5: data5},function(){

        })
    }
    function showRichText(Row,WWID)
    {
        if(mustContinue)
        {
            mustContinue=false;
            var textbox=tinymce.init({
                selector: 'textarea#txtDescription_' + Row  // change this value according to your HTML
                , width: '100%'
                , statusbar: false
                , plugins: 'textcolor save link'
                , menu :'edit'
                , default_link_target: '_blank'
                , save_onsavecallback: function () {
                    SaveComments($('#txtDescription_'+Row).parent(),tinyMCE.get('txtDescription_'+Row).getContent(),3);
                    $('#txtDesc_'+Row).html(tinyMCE.get('txtDescription_'+Row).getContent());
                    cancelEdit(Row);
                }
                , toolbar: 'save | backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
                , setup: function (editor) {
                    editor.addButton('AcronymsSearch', {
                        text: 'Auto',
                        icon: 'link',
                        onclick: function () {
                            UpdateSnapshot(1,3,tinyMCE.get('txtDescription_'+Row).getContent(), Row);
                        }
                    });
                    editor.addButton('LinkAdd', {
                        text: 'Manual',
                        icon: 'link',
                        onclick: function () {
                            AddLinks(Row);
                        }
                    });
                    editor.on( 'keydown', function( args ) {
                        if(args.keyCode==27)
                        {
                            cancelEdit(Row);
                        }
                    });
                }
            });
        }

    }
    function SaveComments(obj,val,type)
    {
        //trend|ryg|comments|continuity|wwid|trend 2
        var origin=$(obj).data("original").split("|");

        switch(type)
        {
            case 1:
                if(origin[0]!=val.replace('$',''))
                    trend=val.replace('$','').trim();
                if(trend.length==0)
                    trend=0;
                break;
            case 2:
                if(origin[1]!=val)
                    health=val;
                break;
            case 3:
                if(origin[2]!=val)
                    comment=val;
                break;
            case 4:
                if(origin[5]!=val.replace('$',''))
                    trendP=val.replace('$','').trim();
                if(trendP.length==0)
                    trendP=0;
                break;
        }


        $("#pTrend").val(trend.length>0? trend: origin[0].replace('$','').trim());
        $("#pTrendP").val(trendP);
        $("#ddlTrend").val(health>0? health : origin[1]);
        $("#txtDescription_").val(comment.length>0? comment : origin[2]);
        $("#pBudgetId").val(id>0? id : $(obj).data('budget'));
        $("#pContinuityId").val(origin[3]);
        $("#pWWID").val(origin[4]);

        if(id>0)
            $("#HealthID").val(id);
        else
            $("#HealthID").val(origin[5]);



        if(trend>0 || health>0 || comment.length>0 || trendP.trim()>0)
            $.post('/Budget/Save',$('#Comments').serialize(),function(response){
                id=0;
                mustContinue=true;
                // $(obj).data('budget',response);
            },'html');
    }
    function ClearData()
    {
        $.post('/Budget/ClearBudget', {WWID: wwid},function(response){
            window.location.reload();
        });
    }
    function CreateNotifNoncompliant()
    {
        $.post('/Budget/NotifNonCompliant',{WWID: wwid, WWName: '@ViewBag.WW.Replace("'","_")'},function(response){
            alert("Noncompliant Notification had been sent");
        })
    }
    function ChangeColor(obj,val)
    {
        var color='';

        switch(val)
        {
            case "1":
            case "2":
                color='red';
                break;
            case "3":
            case "4":
                color='yellow';
                break;
            case "5":
                color='green';
                break;
        }
        SaveComments($(obj),val,2);
        $(obj).parent().css('background-color', color);
    }
    function Save()
    {
        var formData =new FormData();

        formData.append("WWID",66);

        $.each($('#FileData')[0][1].files, function(i, file) {
            formData.append("file-"+i,file);
        });

        $.ajax({
            url: "/Budget/SaveLoadMasterProjId",
            type: "post",
            dataType: "html",
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
        .done(function(res){
            if(res)
            {
                $('#success').show();
            }else
            {
                $('#warning').show();
            }
        });
    }
    function ShowColPrev()
    {
        if($('[data-hide=1]').is(':visible'))
        {
            $('[data-hide=1]').hide();
            $('#thCategory').html('<b>Category ►</b>');
        }
        else
        {
            $('[data-hide=1]').show();
            $('#thCategory').html('<b>Category ◄</b>');
        }

    }
</script>
