﻿ #header-fixed 
    { 
    position: fixed; 
    top: 0px; display:none;
    background-color:white;
    }

.table-bordered th {
    background-color: #E6E6E6;

}

.table-bordered td {
    background-color: #f9f9f9;
}
       .modal-content {
            width: 600px;
            margin: 30px auto !important;
    }

 .diff[contenteditable=true] {
     width: 100%;
     height: 25px;
     border: 1px thin black;
     /*box-shadow: inset 0px 1px 4px #666;*/
     padding-left:5px;
     padding-top: 5px;
     display:none;
 }
 .difficon{
     width: 12px;
    height: 12px;
    background-color: red;
    border: 1px solid white;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    cursor:pointer;
    float:right;
 }