﻿#FilContent
{
    position:absolute;
    left:4%;
    z-index:400;
    height:100%;
    background-color:darkgray;
}   
#Filter{
    width:300px !important;
    height:auto;
    float:left;
    display:none; 
    background-color:#0062A8;
  /* border: solid 1px #FFF; */
}
#Load{
    width:100%;
    height:auto;
    float:left;
    text-align:center;
    display:none;
    background-color:darkgray;
}
#Filter .Title {
    width:250px; 
    border:solid #ffffff 2px; 
    color:white
}
#Filter .Filter
{
    width:250px; 
    border:solid #ffffff 1px; 
    color:white; 
    cursor:pointer; 
    float :left;

}
#collapseFil_WW .Filter
{
    width:250px; 
    border:solid #ffffff 1px; 
    color:white; 
    cursor:pointer; 
    float :left;

}
#FilContent .Tab 
{
    float:left;
    width:25px;
    background-color:lightgray;
    height:100%;
    z-index:101;
    word-wrap: break-word; 
    text-align: center;
    vertical-align:central;
    cursor:pointer;
    font-size:large;
}
#Filter .nofilter
{
    width:100%; 
    border:solid #ffffff 1px; 
    color:white; 
    text-align:center
}