﻿/*Changes to format the footer position and make all the page have a blue background color*/

html, body {
    height: 100%;
    font-size: small;
    background-color: #0062a8 !important;
    padding-top: 32px;
}
.navbar-default {
    background-color: #0062a8 !important;
    border-color: #0062a8 !important;
}
.navbar-default .navbar-nav>li>a{
    color: #fff !important;
}
.navbar-brand{
    padding: 0px 0px !important;
}
h1{
    color: #fff !important;
}
.red{
    color: white;
    background-color: red;
}
#content_Wrapper {
    overflow:hidden;
    float:left;
}
.wrapper {
    top:0;
    position:static;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
}
#intelLogo {
    /*float:left;*/
}
/*Painting blue the behind of buttons when clicked*/
#layoutmenu a:active { 
    background-color: blue;
}
#left_Wrapper,#right_Wrapper {
    width:5%;
}
#left_Wrapper {
    float:left;
    height:500px;
}

#right_Wrapper {
    float:right;
}
#content_Wrapper {
    float:left;
    width:90%;
    align-content:center;
    margin:0px 0px 0px 0px;
}

.container {
    max-width:none !important; 
}
#footer {

    margin:0 auto;
    align-content:center;
    color: #FFFFFF;
}
#logoHeader {

    color:#FFFFFF;
    margin:0 auto;
    align-content:center;
}
#chipHeader {

    height:23px;
    margin:0 auto;
    align-content:center;
    background-image: Url("tile_home_page.png");
}



#whiteBorder, #blackBorder {

    margin:0 auto;
    align-content:center;
}
#whiteBorder {
    background-color:#FFFFFF;
    height:3px;
}
#blackBorder {
    background-color:#000000;
    height:7px;
}
/*Body design*/
#bodyContent{
    font-size: small;
    margin:0 auto;
    background-color:#FFFFFF;
    align-content: center;
    bottom:0;
}

/*Navigation Bar positioning */
#navBar,#navBar2 {
    position:relative;
    margin: 0 auto;
    background-color: #0062a8;
    min-height:20px!important;
    color:#FFF!important;
    /*z-index:0;*/
}

#snapshotImg,#workweeksImg, #productHealthImg, #scheduleImg,#pcosImg, #budgetImg, #indicatorsImg, #validationImg, #supplydemandImg, #CCBImg, #SDImg, #RAPIDImg, #RoadmapImg{
    height:75px;
    width:75px;
    padding: 0px 0px 0px 0px;
    
}
.MainMenu{
    height:75px;
    width:75px;
    padding: 0px 0px 0px 0px;
    
}
#layoutmenu a{
    padding-top:0px!important;
    padding-bottom:0px!important;
    padding-left:0px!important;
    padding-right:0px!important;
    width:82px;

}

#layoutmenu a img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#layoutmenu li {
    width: 82px;
}

#layoutmenu li ul {
    margin:50px 0 0 0;
}
#layoutmenu ul li {
     background-color:#000; 
     width:150px;
     height: 25px;
     font:bold 12px Arial, Helvetica;
}

/*Navigation Bar design*/

#HelpBar div ul li {
    background-color:#0062a8; 
}


#menuSizer > li > a {
    padding-top:0px!important;
    padding-bottom:0px!important;
    color:#FFF!important;
}

.bback {
    background-color:#0062a8;
}

#firstA {
    padding-left:0px;
}
.menu, .menu ul {
     margin: 0;
     padding: 0;
     list-style: none;
 
 }
 
 .menu {
        /*border: 1px solid #fff;*/
        background-color: #fff;
        /*background-image: linear-gradient(#0062a8 , #0062a8 );*/
        border-radius: 6px;
        zoom :1
 }
 .menu:before,
 .menu:after {
     content: "";
     display: table;
 }
 
 .menu:after {
     clear: both;
 }

 .menu li {
     float: left;
     /*border-right: 1px solid #FFFFFF;*/
     position: relative;
     background-color: #fff;
     bottom:0;
 }
 
 .menu a {
     float: left;
     padding: 12px 0px;
     color: #FFFFFF;
     text-transform: uppercase;
     font: bold 12px Arial, Helvetica;
     text-decoration: none;
     text-shadow: 0 1px 0 #000;
 }
 
 .menu li:hover > a {
     color: #fafafa;
 }

 .menu ul {
     margin: 20px 0 0 0;
     opacity: 0;
     visibility: hidden;
     position: absolute;
     top: 23px;
     left: 0;
     z-index: 1;    
     background: #444;   
     background: linear-gradient(#444, #111);
     box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
     border-radius: 3px;
     transition: all .2s ease-in-out;
 }
 
 .menu li:hover > ul {
     opacity: 1;
     visibility: visible;
     margin: 0;
     
     
 }
 
 .menu ul ul {
     top: 0;
     left: 150px;
     margin: 0 0 0 20px;
    
     box-shadow: -1px 0 0 rgba(255,255,255,.3);      
 }
 
 .menu ul li {
     float: none;
     display: block;
     border: 0;
    
     box-shadow: 0 1px 0 #111, 0 2px 0 #666;
 }
 
 .menu ul li:last-child {   
     box-shadow: none;    
 }
 
 .menu ul a {    
     padding: 10px;
     display: block;
     white-space: nowrap;
     float: none;
     text-transform: none;
 }
 
#menuSizer ul a:hover {
     background-color: #0186ba;
     background-image: linear-gradient(#04acec, #0186ba);
 }
 
 .menu ul li:first-child > a {
     border-radius: 3px 3px 0 0;
 }
 
 .menu ul li:first-child > a:after {
     content: '';
     position: absolute;
     left: 40px;
     top: -6px;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #444;
 }
 
 .menu ul ul li:first-child a:after {
     left: -6px;
     top: 50%;
     margin-top: -6px;
     border-left: 0; 
     border-bottom: 6px solid transparent;
     border-top: 6px solid transparent;
     border-right: 6px solid #3b3b3b;
 }
 
 .menu ul li:first-child a:hover:after {
     border-bottom-color: #04acec; 
 }
 
 .menu ul ul li:first-child a:hover:after {
     border-right-color: #0299d3; 
     border-bottom-color: transparent;   
 }
 
 .menu ul li:last-child > a {
     border-radius: 0 0 3px 3px;
}

 #Block{
     width:100%; 
     height:100%;
     position:absolute;
     z-index:999;
     display:none;
     
 }
 .no-close .ui-dialog-titlebar-close {
  display: none;
}
 .notify
 {
    width: 12px;
    height: 12px;
    background-color: red;
    border: 1px solid white;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: whitesmoke;
    right: 0px;
    bottom:0px;
 }
 .FilterLayout{
     color: #FFFFFF; 
     text-transform: uppercase; 
     font: bold 12px Arial, Helvetica; 
     text-decoration: none; 
     text-shadow: 0 1px 0 #000;
     padding-top: 5px;
     cursor:pointer;
 }
