﻿    div.collapseButton {
        width:30px;
        height:30px;
        background-color: black;
    }

    tr:nth-child(even) {
            background-color: #ebebeb;
        }
    table .table-bordered .table-striped {
        table-layout:fixed;
        max-width:100%;
    }
    
    table, th, td {
        border: 1px solid gray;
        
    }

    th {
        background-color: #E6E6E6;        
    }
    table .table-bordered .table-striped td {
        padding: 5px 10px;
        word-wrap:break-word;
        width:20px;
    }

    table .table-bordered .table-striped tr, td {
        vertical-align: top;
    }
    h4 {
        margin-bottom: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    P {
    margin-bottom: 0;
}

      .modal-content {
            width: 600px;
            margin: 30px auto !important;
    }

    .comboBox {
        overflow:hidden;
    }

#ComparerContainer
{
    width:500px;
}
 #Compare
 {
     padding-left: 20px;
 }