﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "PQueryR";
}
<h2>PQueryR</h2>

<table width="100%" align="center" id="SnapshotTable" class="table table-bordered table-striped">
    <colgroup>
    <col style="width : 15%;">
    <col style="width : 30%;">
    <col style="width : 55%;">
    </colgroup>
    <thead id="TableHeaders">
        <tr>
            <th id="thProgram" align="center" height="30">Program</th>
            <th id="thDescription" align="center">Description</th>
            <th id="thStatus" align="center">Status</th>
        </tr>
    <tbody id="TableBody">
        
        @foreach (var item in Model.PList){
             <tr>
                 <td>@item.Name</td>
                 <td>@item.Comments</td>
                 <td>@item.Value</td>
                 <td>@item.CreateDate</td>
             </tr>
        }
                        
       </tbody>
</table>