﻿
@{
    ViewBag.Title = "PQuery";
}

<h2>PQuery</h2>


@using (Html.BeginForm("Run", "PQuery", FormMethod.Post, new {id = "QueryForm" }))
{
   <div> @Html.TextBox("pText") </div>
    <input type="submit">
}