﻿@using AutoIndicators.Models
@model dynamic
@using (Html.BeginForm("SaveMenu", "FreeHTML", FormMethod.Post, new { onsubmit = "return validateForm()", id = "RegisterForm", enctype = "multipart/form-data" }))
{
    @Html.Hidden("WWID", (int)ViewBag.WWID);
    @Html.Hidden("WW", (string)ViewBag.WW);
    <div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
    </div>
    <table align="center" width="350">
        <tr>
            <td>Name</td>
            <td>@Html.TextBox("txtName",null)</td>
        </tr>
        <tr>
            <td>Icon</td>
            <td><input type="file" id="txtIcon" name="txtIcon" /></td>
            
        </tr>
        <tr>
            <td>Description</td>
            <td>@Html.TextBox("txtDesc", null)</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>
                <select name="txtVersion">
                    <option value="Beta">Beta</option> 
                    <option value="Upcoming">Upcoming</option>
                    <option value="">Release</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="Save" /></td>
        </tr>
    </table>
}
<script>
    function validateForm()
    {
        if ($("#txtIcon").val().length == 0)
        {
            $('#warning').show(); 
            $('#warningMessage').text("You need an icon");
            return;
        }
    }
</script>