﻿@using AutoIndicators.Models
@model ScheduleV

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />
<div>
    <input type="button" class="btn" id="btnSaveFree" value="Save">
    <input type="button" class="btn" id="btnEdit" value="Edit" style="display:none">
</div>
@using (Html.BeginForm("Insert", "FreeHTML", FormMethod.Post, new { enctype = "multipart/form-data", id="Form1" }))
{
    @Html.Label("HTML: ") @Html.TextArea("pFreeHTML", null,20,75, new { required = string.Empty })
    <br>
}
@{
    List<Users> users = ViewBag.validUsers;
    if (users.Where(row => row.validUsers == User.Identity.Name.Substring(User.Identity.Name.IndexOf("\\") + 1)).Count() > 0)
    {
        <script>
            $('#btnEdit').click(function () {  //Function to update either the comment section or to enter edit mode on Programs
                $("#txtFreeHTML").show();
                if ($("#txtFreeHTML").text() == 'Put a HTML here') {
                    $("#txtFreeHTML").text('');
                }
                $("#btnSaveFree").show();
                $("#HTMLText").hide();
                $('#btnEdit').hide();
            });

            $('#btnSaveFree').click(function () {
                Form1.submit();
            });

        </script>

    }
}
