﻿@using AutoIndicators.Models
@model dynamic
@{
    List<CfgFreeHTML> Free = new List<CfgFreeHTML>();
    Free = Model.Free;
    Layout = null;
}

    <div id="gridDataFree"></div>
    <table id="DataFree" style="display:none">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>View</th>
        </tr>
        @foreach (CfgFreeHTML prog in Free)
        {
            if (prog.strProperty == "Mod")
            { 
                <tr>
                    <td style="width:200px">@prog.id</td>
                    <td style="width:200px">@(prog.strProperty == "Mod" ? "View" : "Column Header")</td>
                    <td style="width:100px">@prog.strValue.Replace("_"," ")</td>
                    <td style="width:100px">@prog.strView</td>
                </tr>
            }
        }
    </table>
    <script>
        changeToGridProg();
    </script>
