﻿
@{
    ViewBag.Title = "GraphView";
    Layout = null;
}
<h2 style="text-align:center">DCG Lab Dashboard</h2>
<select onchange="ShowSection(this.value)">
    <option value="0">Geo/Campus</option>
    <option value="1" selected="selected">Lab Dashboard</option>
</select>
<img src="~/Images/tmpdash1.png" width="1650" />