﻿@{
    ViewBag.Title = "Labs";
    ViewBag.Module = "Lab/Index";
    ViewBag.Params = "WWID," + ViewBag.WWID;
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script>
    module = '@ViewBag.Module';
    view=10;
    skip = '../';
    wwid=@ViewBag.WWID;
    </script>

}
@section Extras{
    <ul>
    <li><a onclick="NewLab(); return false;" href="fallback.html">New Lab</a></li>
    <li><a onclick="Campus(); return false;" href="fallback.html">Campus</a></li>
    @*<li><a onclick="ShowTeams(); return false;" href="fallback.html">Teams</a></li>
        <li><a onclick="LoadInfo(); return false;" href="fallback.html">Load Info</a></li>*@
    <li><a onclick="ExportExcel(); return false;" href="fallback.html">Export to Excel</a></li>
    @*<li>
        <a>Reports</a>
        <ul>*@
            <li><a href="/Lab/EfficiencyReport?WW=@ViewBag.WW&WWID=@ViewBag.WWID" target="_blank">Efficiency Report</a></li>
            <li><a href="/Lab/LocalSuitReport?WWID=@ViewBag.WWID" target="_blank">Perception Mapping Report</a></li>
        @*</ul>
    </li>*@
    </ul>

}
@section JSLibs{
    <script src="~/Scripts/labs.js"></script>
    <script src="~/Scripts/FreeHtml.js"></script>
}

@section Styles{
    <link href="~/Content/Labs.css" rel="stylesheet" />
}
<div id="Labs">
    <table id="SpacesAll" style="width:100%">
        <thead id="TableHeaders">
            <tr>
                <th id="thLab" align="center" height="30">
                    Loading information...<br />
                    <select onchange="ShowSection(this.value)">
                        <option value="0" selected="selected">Geo/Campus</option>
                        <option value="1">Lab Dashboard</option>
                    </select>
                </th>
                <th id="thLabLead" align="center" width="200">Lab Lead</th>
                <th id="thLabCBR" align="center" width="100">B/R</th>
                @*<th id="thLabSSR" align="center" width="100">Plat Sys Running</th>
                    <th id="thLabSSNR" align="center" width="100">Plat Sys Not Running</th>*@
                <th id="thLabBKC" align="center" width="100">BKC</th>
                @*<th id="thLabAvaliableBench" align="center" width="100">Avaliable Bench</th>
                    <th id="thLabAvaliableRack" align="center" width="100">Avaliable Rack</th>*@
                <th id="thLabInventoryBench" align="center" width="100">Inventory Bench</th>
                <th id="thLabInventoryRack" align="center" width="100">Inventory Rack</th>
                @*<th id="thLabAVGBKC" align="center" width="100">Ave of BKC Efficiency</th>*@
                <th id="thUpdate" align="center">Update</th>
            </tr>

        </thead>
        <tr>
            <td colspan="7" align="center"><img src="~/Content/images/load.gif" width="25%" height="25%" /></td>
        </tr>
    </table>
</div>

<script>
    function EditSpaceComments(id, rich,text,continuityID, owner, programType, pxt) {
        ContinuityID=continuityID;
        Owner=owner;
        ProgramType = programType;
        PXT = pxt;
        cleanTextRich();
        $('#'+rich+id).show();
        showRichTextSpace(rich+id,text+id,"SaveSpaceComments(obj)");
        $("#"+text+id).hide();
    }
    function EditCampusComments(id, rich,text,continuityID, owner, programType, pxt) {
        ContinuityID=continuityID;
        Owner=owner;
        ProgramType = programType;
        PXT = pxt;
        cleanTextRich();
        $('#'+rich+id).show();
        showRichTextSpace(rich+id,text+id,"SaveCampusComment("+id+",tinyMCE.get(obj).getContent())");
        $("#"+text+id).hide();
    }

    function showRichTextSpace(obj,div,func) {
        var textbox = tinymce.init({
            selector: 'textarea#'+obj
            , width: '100%'
            , statusbar: false
            , plugins: 'textcolor save link'
            , menu: 'edit'
            , default_link_target: '_blank'
            , save_onsavecallback: function(){
                eval(func);
                $('#'+div).html(tinyMCE.get(obj).getContent());
                tinymce.get(obj).remove();
                $('#'+div).show();
                $('#'+obj).hide();

            }
            , toolbar: 'save | backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
            , setup: function (editor) {
                editor.addButton('AcronymsSearch', {
                    text: 'Auto',
                    icon: 'link',
                    onclick: function () {
                        $.post('/Snapshot/SearchAcronyms',{ TextAcronyms: tinyMCE.get(obj).getContent(), WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                            tinyMCE.get(obj).setContent(data);
                        });
                    }
                });
                editor.addButton('LinkAdd', {
                    text: 'Manual',
                    icon: 'link',
                    onclick: function () {
                        AddLinks(obj.replace('txtDescription_',''));
                    }
                });
                editor.on('keydown', function (args) {
                    if (args.keyCode == 27) {
                        tinymce.get(obj).remove();
                        $('#'+obj).val($('#'+div).html());
                        $('#'+div).show();
                        $('#'+obj).hide();
                    }
                });
            }
        });


    }

    function showRichText(Row, WWID) {
        var textbox = tinymce.init({
            selector: 'textarea#txtDescription_' + Row  // change this value according to your HTML
            , width: '100%'
            , statusbar: false
            , plugins: 'textcolor save link'
            , menu: 'edit'
            , default_link_target: '_blank'
            , save_onsavecallback: function () {
                UpdateLabsPWW('strUpdate', tinyMCE.get('txtDescription_' + Row).getContent(), ContinuityID, this)
            }
            , toolbar: 'save | backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
            , setup: function (editor) {
                editor.addButton('AcronymsSearch', {
                    text: 'Auto',
                    icon: 'link',
                    onclick: function () {
                        $.post('/Snapshot/SearchAcronyms',{ TextAcronyms: tinyMCE.get('txtDescription_' + Row).getContent(), WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                            tinyMCE.get('txtDescription_' + Row).setContent(data);
                        });
                    }
                });
                editor.addButton('LinkAdd', {
                    text: 'Manual',
                    icon: 'link',
                    onclick: function () {
                        AddLinks(Row);
                    }
                });
                editor.on('keydown', function (args) {
                    if (args.keyCode == 27) {
                        cancelEdit(Row);
                    }
                });
            }
        });


    }

</script>
