﻿@using AutoIndicators.Models
@model List<LabProjectList>
@{
    Layout = null;
    List<int> show = new List<int>();
}
<div id="ProjCampus" style="display:none" >@ViewBag.Campus</div>
<div id="Projectsdg"></div>
<table id="Projects" style="display:none">
    <thead>
        <tr>
            <th>Proj Code</th>
            <th>Org 1</th>
            <th>Org 2</th>
            <th>Org 3</th>
            <th>Val</th>
            <th>CrmtStart</th>
            <th>CrmtEnd</th>
            <th>BU Mgr</th>
            <th>Old Name</th>
            <th>Old Name 2</th>
            <th>Comments</th>
            <th>CC</th>
            <th>BKCMoraSqft</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    @foreach(LabProjectList proj in Model)
        {
            <tr>
                <td>@proj.ProgCode</td>
                <td>@proj.Org1</td>
                <td>@proj.Org2</td>
                <td>@proj.Org3</td>
                <td>@proj.Val</td>
                <td>@proj.CrmtStart</td>
                <td>@proj.CrmtEnd</td>
                <td>@proj.BUMgr</td>
                <td>@proj.OldName</td>
                <td>@proj.OldName2</td>
                <td>@proj.Comments</td>
                <td>@proj.CC</td>
                <td>@proj.BKCMoraSqft</td>
                <td>@proj.id</td>
                <td><input type="button" value="Delete" onclick="DeleteProject()" /></td>
            </tr>
        }
</table>
<script>
    changeToGridProjList();
</script>