﻿@using AutoIndicators.Models
@using System.Data
@model dynamic
@{
    ViewBag.Title = "Reports";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.ShowExtra = true;
    string strData = "";
    ViewBag.HiddenFilter = false;
   
    List<int> Invenory = new List<int>();
}

<script src="~/Scripts/canvasjs.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/labs.js"></script>
<script>
    var ContinuityID = '@ViewBag.Continuity';
</script>
@switch ((int)ViewBag.Report)
{
    case 1:
        List<LabSpaceSweepReport> Report = Model;
        List<LabAvl> Avl = (List<LabAvl>)ViewBag.Avl;
        
        foreach (DataRow dr in ((DataTable)ViewBag.Chart).Rows)
        {
            strData += ",[\"" + dr["weekName"].ToString() + "\"," + ((int)dr["CurrentBBKC"]).ToString() + "]";
        }
        
        <br /><br />
        <p>@ViewBag.WW @ViewBag.Name</p>
        <p>Avarage BBKC efficiency %:</p>
        <p>Lab Sweep team: @ViewBag.Lead</p>
        <table class="table-bordered" width="1024">
            <tr>
                <th>Team Name</th>
                <th>Linear Ft. Assigned</th>
                <th>Sum of Equiv. Benches</th>
                <th>Sum of BKC Plaform</th>
                <th>Platform In Use</th>
                <th>Benches Releases for 85%</th>
                <th>Current BBKC Utilization</th>
                <th>BKC Eff</th>
                <th>% Change</th> 
            </tr>
            @foreach (LabSpaceSweepReport rep in Report)
            {
                double perc=((85.0-Convert.ToDouble(rep.CurrentBBKC.ToString()))*Convert.ToDouble(rep.Benches))/100;
                if(rep.CurrentBBKC>85)
                {
                    perc=0;
                }
                <tr>
                    <td>@rep.Team</td>
                    <td>@rep.Lin</td>
                    <td>@rep.Benches</td>
                    <td>@rep.BKCPlatform</td>
                    <td>@rep.InUse</td>
                    <td>@perc</td>
                    <td>@rep.CurrentBBKC %</td>
                    <td>@rep.BBKeff %</td>
                    <td>@(rep.CurrentBBKC - rep.BBKeff) %</td>
                </tr>
            }
        </table>
        <br />
        <div id="Chart"></div>
        <br />
        <table class="table-bordered" style="width:auto">
            <tr>
                @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                {
                    <th>@dc.ColumnName.Replace("-", "'")</th>
                }
            </tr>
                @foreach (DataRow dr in ((DataTable)ViewBag.WeekDetail).Rows)
                {
                    string Name = "";
                    int Type = Convert.ToInt32(dr["Type"].ToString());

                    switch (Type)
                    {
                        case 0: Name = "White Space";
                            break;
                        case 1: Name = "Benches";
                            break;
                        default: Name = "Racks";
                            break;
                    }

                    if (Type > 0)
                    {
                        <tr>
                            <td>Iventory @Name</td>
                            @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                            {
                                if (dc.ColumnName != "Type")
                                { 
                                    if(Type==1)
                                    { 
                                        <td align="center">@(Convert.ToInt32(dr[dc.ColumnName])/72)</td>
                                    }else
                                    {
                                        <td align="center">@dr[dc.ColumnName]</td>
                                    }
                                }
                            }
                        </tr>
                        <tr>
                            <td>Avl @Name</td>
                            @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                            {
                                if (dc.ColumnName != "Type")
                                {
                                    if (Avl.Where(x => x.Type == Type && x.weekName.Replace("'", "-") == dc.ColumnName).Count() > 0)
                                    {
                                        <td align="center" @(ViewBag.Campus == 0 ? "contenteditable=true" : "") data-ww="@dc.ColumnName" data-type="@Type" onkeyup="SaveAvl(this)">@(Avl.Where(x => x.Type == Type && x.weekName.Replace("'", "-") == dc.ColumnName).SingleOrDefault().Value)</td>
                                    }
                                    else
                                    {
                                        <td align="center" @(ViewBag.Campus == 0 ? "contenteditable=true" : "") data-ww="@dc.ColumnName" data-type="@Type" onkeyup="SaveAvl(this)"></td>
                                    }
                                }
                            }
                        </tr>
                    }
                    
                    if (!Invenory.Contains(Type))
                    {
                        Invenory.Add(Type);
                    }
                    
                }
                
                    
                
                @if (!Invenory.Contains(1))
                {
                    <tr>
                        <td>Inventory Benches</td>
                        @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                        {
                            if (dc.ColumnName != "Type")
                            {
                                <td align="center"></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>Avl Benches</td>
                        @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                        {
                            if (dc.ColumnName != "Type")
                            {
                                if (Avl.Where(x => x.Type == 1 && x.weekName.Replace("'", "-") == dc.ColumnName).Count() > 0)
                                {
                                    <td align="center" @(ViewBag.Campus == 0 ? "contenteditable=true" : "") data-ww="@dc.ColumnName" data-type="1" onkeyup="SaveAvl(this)">@(Avl.Where(x => x.Type == 1 && x.weekName.Replace("'", "-") == dc.ColumnName).SingleOrDefault().Value)</td>
                                }
                                else
                                {
                                    <td align="center" @(ViewBag.Campus == 0 ? "contenteditable=true" : "") data-ww="@dc.ColumnName" data-type="1" onkeyup="SaveAvl(this)"></td>
                                }
                            }
                        }
                    </tr>
                }
                @if (!Invenory.Contains(2))
                {
                    <tr>
                        <td>Inventory Racks</td>
                        @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                        {
                            if (dc.ColumnName != "Type")
                            {
                                <td align="center"></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>Avl Racks</td>
                        @foreach (DataColumn dc in ((DataTable)ViewBag.WeekDetail).Columns)
                        {
                            if (dc.ColumnName != "Type")
                            {
                                if(Avl.Where(x => x.Type == 2 && x.weekName.Replace("'","-") == dc.ColumnName).Count()>0)
                                {
                                    <td align="center" @(ViewBag.Campus==0? "contenteditable=true" :"") data-ww="@dc.ColumnName" data-type="2" onkeyup="SaveAvl(this)">@(Avl.Where(x => x.Type == 2 && x.weekName.Replace("'", "-") == dc.ColumnName).SingleOrDefault().Value)</td>
                                }
                                else
                                {
                                    <td align="center" @(ViewBag.Campus == 0 ? "contenteditable=true" : "") data-ww="@dc.ColumnName" data-type="2" onkeyup="SaveAvl(this)"></td>
                                }
                            }
                        }
                    </tr>
                }
        </table>
        <script>
            google.charts.load('current', { 'packages': ['line'] });

            function drawChart() {

                // Create the data table.
                var data = new google.visualization.arrayToDataTable([
                    ['WW','Current'] @(new HtmlString(strData))
                ]);

                // Set chart options
                var options = {
                    chart: {
                        title: 'BBKC Efficiency'
                    },
                    width: 800,
                    height: 400
                };

                var formatter = new google.visualization.NumberFormat({ suffix: '%' });

                formatter.format(data, 1);
                // Instantiate and draw our chart, passing in some options.
                var chart = new google.charts.Line(document.getElementById('Chart'));
                chart.draw(data, options);
            }
        </script>
                break;
        case 2 :
                List<LabEfficiencyReport> ReportEff=Model;
                string strCampus="";
                
                foreach(string campus in ReportEff.Select(x=> x.Campus).Distinct())
                {
                    strCampus += ",'"+campus+"'";
                }
                int t=3;
                bool down=false;
                foreach(string strWW in ReportEff.Select(x=>x.WW).Distinct())
                {
                    strData += ",[\"" + strWW + "\"";
                    
                    foreach(LabEfficiencyReport Rep2 in ReportEff.Where(x=> x.WW==strWW))
                    {
                        strData += "," + (Rep2.Efficiency+t).ToString();
                        
                    }

                    if (down)
                    {
                        t -= 3;
                        down = false;
                    }
                    else
                    {
                        t += 3;
                        down = true;
                    }
                    strData += "]";
                }
                
                <div id="Chart"></div>
                <script>
                    google.charts.load('current', { 'packages': ['corechart'] });
                    function drawChart() {

                        var data = new google.visualization.arrayToDataTable([
                            ['WW'@(new HtmlString(strCampus))] @(new HtmlString(strData))
                        ]);

                        var options = {
                            title: 'Campus Efficiency',
                            width: 800,
                            height: 400,
                            curveType: 'function',
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('Chart'));
                        chart.draw(data, options);
                    }
                </script>
                break;
        case 3:
                    ViewBag.Module = "/Lab/LocalSuitReport";
                    List<LabLocalSuitReport> data=(List<LabLocalSuitReport>)Model;
                    
                    foreach(LabLocalSuitReport report in data)
                    {
                        strData += ",['"+report.Campus+"',"+report.Efficiency+","+report.Density+",'"+report.Geo+"',"+report.Bubble+"]";
                    }
                    <div id="Chart"></div>
                <script>
                    google.charts.load('current', { 'packages': ['corechart'] });
                    function drawChart() {
                        var data = new google.visualization.arrayToDataTable([
                            ['Campus', 'Efficiency', 'Density', 'Geo', 'Operation']@(new HtmlString(strData))
                        ]);

                        //vAxis: { format: '####K'

                        var options = {
                            title: 'Perception Mapping Report',
                            hAxis: { title: 'Efficiency' },
                            vAxis: { title: 'Density' },
                            colorAxis: {colors: ['yellow', 'red']},
                            bubble: { textStyle: { fontSize: 11 } }
                        };

                        var formatter = new google.visualization.NumberFormat({ suffix: '% ' });

                        formatter.format(data, 4);


                        var chart = new google.visualization.BubbleChart(document.getElementById('Chart'));
                        chart.draw(data, options);
                    }
                </script>
                break;
}

<script>

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
</script>