﻿@using AutoIndicators.Models
@model List<LabSpace>

@if(!ViewBag.Detail)
{ 
    <table>
    <colgroup>
        <col width="30%" />
        <col width="70%" />
    </colgroup>
    <tr>
        <td>Type :</td>
        <td>
            <select id="cmbType">
                <option value="1">Benches</option>
                <option value="2">Racks</option>
                <option value="2">Slots</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Number :</td>
        <td>@Html.TextBox("txtName")</td>
    </tr>
    <tr>
        <td>L in</td>
        <td><input type="number" id="txtLin" style="width:100px" /></td>
    </tr>
    <tr>
        <td>W in</td>
        <td><input type="number" id="txtWin" style="width:100px" /></td>
    </tr>
    <tr>
        <td>BBKC</td>
        <td><input type="number" id="txtBbkc" style="width:100px" /></td>
    </tr>
    <tr>
        <td>Platforms in Running</td>
        <td><input type="number" id="txtRun" style="width:100px" /></td>
    </tr>
    <tr>
        <td>Platforms Not Running</td>
        <td><input type="number" id="txtNrun" style="width:100px" /></td>
    </tr>
        <tr>
            <td colspan="2" align="right"><button style="color:blue" type="button" onclick="SaveSpace($('#txtName').val(),$('#cmbType').val(),$('#txtLin').val(),$('#txtWin').val(),$('#txtBbkc').val(),$('#txtRun').val(),$('#txtNrun').val(),$('#txtComments').val(),@ViewBag.LPWID,false,0,$('#Number').val())" class="btn">Add</button></td>
        </tr>
    @*<tr>
        <td>Commments</td>
        <td><textarea id="txtComents"></textarea><button style="color:blue" type="button" onclick="SaveSpace($('#txtName').val(),$('#cmbType').val(),$('#txtLin').val(),$('#txtWin').val(),$('#txtBbkc').val(),$('#txtRun').val(),$('#txtNrun').val(),$('#txtUtil').val(),$('#txtWWUpdate').val(),$('#txtComments').val(),@ViewBag.LPWID,false,0,$('#Number').val())" class="btn">Add</button></td>
    </tr>*@
    @*<tr style="border:none">
        <td colspan="2">
           <table id="Spaces"></table>
        </td>
    </tr>*@
</table>
}
<table id="SpacesAll" style="width:100%; display:@(ViewBag.Detail? "display":"none")">
    <colgroup>
        <col style="width:10%" />
        <col style="width:10%" />
        <col style="width:5%" />
        <col style="width:5%" />
        <col style="width:10%" />
        <col style="width:15%" />
        <col style="width:10%" />
        <col style="width:5%" />
        <col style="width:8%" />
        <col style="width:8%" />
        <col style="width:8%" />
        <col style="width:40%" />
        <col style="width:8%" />
    </colgroup>
    <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>L in</th>
            <th>W in</th>
            <th>Update By</th>
            <th>Team</th>
            <th>BKC Plat</th>
            <th>In Use</th>
            <th>Plat Running</th>
            <th>% Utilization</th>
            <th>Plat Not Running</th>
            <th>Comments</th>
            <th></th>
        </tr>
    </thead>
    @foreach (LabSpace space in Model)
    {
        <tr data-spaceid="@space.SpaceId">
                <td contenteditable="true">@space.strNumber</td>
                <td data-space-type="@space.intType-@ViewBag.LPWID" >
                    <select id="cmbTypeEdit@(space.SpaceId)" onchange="EditSpace($(this).parent().parent().children(),@ViewBag.LPWID)">
                        <option data-type="Benches" value="1" @(space.intType == LabSpaceType.Benches ? "selected=selected" : "")>Benches</option>
                        <option data-type="Racks" value="2" @(space.intType == LabSpaceType.Racks ? "selected=selected" : "")>Racks</option>
                    </select>
                </td>
                <td contenteditable="true">@space.intLin</td>
                <td contenteditable="true">@space.intWin</td>
                <td contenteditable="true">@space.strUpdateBy</td>
                <td>
                    <select id="Team@(space.SpaceId)" onchange=" $('*[data-team]').hide();">
                        @foreach (LabTeam team in ViewBag.Team)
                        {
                            <option value="@team.idTeam">@team.strName</option>
                        }
                    </select><br />
                    <span onclick="ShowSpaceMembers($('#Team@(space.SpaceId)').val())">View Members</span>
                    @foreach (LabTeam team in ViewBag.Team)
                    {
                        <div data-team="@team.idTeam" style="display:none">
                            @if (team.Team.Count > 0)
                            {
                                foreach (LabTeamMember member in team.Team)
                                {
                                    @member.strName<br />
                                }
                            }
                            else
                            {
                                @:Members not found
                        }
                        </div>
                    }
                </td>
                <td data-col="SBBKC-@ViewBag.LPWID" contenteditable="true">@space.intBBKC</td>
                <td data-col="Util-@space.intType-@ViewBag.LPWID" contenteditable="true">@space.intUtilization</td>    
                <td data-col="SSR-@ViewBag.LPWID" contenteditable="true">@space.intRunning</td>
                <td>@(space.intBBKC > 0 ? space.intRunning / space.intBBKC : 0)</td>
                <td data-col="SSNR-@ViewBag.LPWID" contenteditable="true">@space.intNotRunning</td>
                <td data-col="Comments-@space.SpaceId">@GeneralHelpers.AddART(space.SpaceId.ToString(), "txtDescLab_", "txtDescriptiobLab_", "EditSpaceComments(" + space.SpaceId.ToString() + ",'txtDescriptiobLab_','txtDescLab_','" + ViewBag.LPWID + "',0, 0,0)", space.strComments)</td>
                <td><input type="button" value="Drop" onclick="DeleteSpace($(this).parent().parent().children());" />
                    <input type="button" value="Copy" onclick="CopySpace($(this).parent().parent().children(),@ViewBag.LPWID);" />
            </td>
            </tr>
    }
</table>

<br />
@*<div id="map" style="width:600px; background-color:gray; height:100px; border: solid 1px black"></div>*@
<script>
    Qty = [];
</script>
    @foreach(LabSpace space in Model)
    {
        <script>Qty[Qty.length] = @space.intWin;  </script>
    }
<script>
    $('#Spaces').html($('#SpacesAll').html());
   // DrawMap();
    $('#Spaces td').blur(function(){
        EditSpace($(this).parent().children());
    }) 
</script>