﻿@using AutoIndicators.Models

@model List<ValidationReport>
<table align="center" width="400">
    <tr>
        <td>Report Name</td>
        <td>@Html.TextBox("txtName")</td>
    </tr>
    <tr>
        <td>Report Link</td>
        <td>@Html.TextBox("txtLink")</td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" value="Save" onclick="SaveReport($('#txtName').val(),$('#txtLink').val(),0)" /></td>
    </tr>
</table>
<br />
<table id="DetailReport" align="center" width="500">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ValidationReport val in Model)
        {
            <tr>
                @if(val.Link.Length>0)
                {
                    <td><a href="@val.Link">@val.Name</a></td>   
                }else
                { 
                    <td>@val.Name</td>
                }
                <td><input type="button" value="Delete" onclick="DeleteReport($(this).parent().parent(),@val.id)" /></td>
            </tr>
        }
    </tbody>
</table>
<script>
    function SaveReport(name,link,id)
    {
        $.post('/Validation/SaveReport',{ WWID: @ViewBag.WWID, Continuity: '@ViewBag.Continuity', Name: name, Link: link , Delete: false, Id:id}, function(response){
            var Rep= '<tr><td>'+ $('#txtName').val()+'</td><td>'+$('#txtLink').val()+"</td><td><input type=\"button\" value=\"Delete\" onclick=\"DeleteReport($(this).parent().parent(),"+response.id+")\" /></td>";
            $(Rep).prependTo('#DetailReport > tbody');
        });
    }

    function DeleteReport(row,id)
    {
        row=$(row).children();
        $.post('/Validation/SaveReport',{ WWID: @ViewBag.WWID, Continuity: '@ViewBag.Continuity', Name: $(row[0]).text(), Link: $(row[1]).text(), Delete: true, Id:id}, function(){
            $($(row).parent()).hide();
        });
    }

    $('.close').on('click',function(){
        window.location.reload();
    })
</script>



