﻿@using AutoIndicators.Models
@using System.Data
@model dynamic

@{
    DataTable dtResult = Model.Result;
    string strCol ="";
    int i = 0;
}
@section JSLibs{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/pqgrid.min.js"></script>
    <script src="~/Scripts/pqselect.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/rapid.js"></script>
    <script src="~/Scripts/Validation.js"></script>
}
@section Styles{
    <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/pqgrid.min.css" rel="stylesheet" />
    <link href="http://paramquery.com/Content/css/themes/Office/pqgrid.css" rel="stylesheet">
    <link href="~/Content/pqselect.min.css" rel="stylesheet" />   
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />

}
<div id="grid_table"></div>
<table id="Data" style="display:none" data-type="@ViewBag.Type">
    <tbody>
        <tr>
            @foreach (DataColumn dcCol in dtResult.Columns)
            {
                strCol += "," + i;
                i++;
                <th width="150">@dcCol.ColumnName</th>
            }
        </tr>

        @foreach (DataRow drData in dtResult.Rows)
        {
            <tr>
                @foreach (DataColumn dcCol in dtResult.Columns)
                {
                    <td>@drData[dcCol]</td>
                }
            </tr>
        }
    </tbody>
</table>
<link href="~/Content/themes/redmond/theme.css" rel="stylesheet" />
@{
    strCol = strCol.Substring(1);
}
<script>
    $(function () {
        changeToGrid(this);
    })
    setTimeout(function () {
     //   alert('');
        changeToGrid(this, 0);
    },500)

    
</script>