﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@model dynamic
@{
    Layout = null;
}

@*@using (Html.BeginForm("SaveValData", "Validation", FormMethod.Post, new { onsubmit = "return validateValForm()", id = "ValDataForm" }))
{*@ 
<form id="ValDataForm">
      @Html.Hidden("pWWID", (int)ViewBag.WWID)
      @Html.Hidden("pPWContinuityID", (string)ViewBag.PWContinuityID)
    <table width="550" align="center" id="PhasesTable" class="SnapShot" style="display:@((bool)ViewBag.phase? "none" : "block")">
        <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 50%;">
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.Label("Val Lead (email): ")</td>
                <td>@Html.TextBox("pValOwner", (string)Model.Validation.valOwner)</td>
            </tr>
            <tr>
                <td>@Html.Label("Indicator Link: ")</td>
                <td>@Html.TextBox("pvalidationLink", (string)Model.Validation.valLink)</td>
            </tr>
            <tr>
                <td><input type="button" onclick="SaveValLead()" class="button" value="Save" id="SaveValBtn"></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    </form>
    @*}*@
    <table width="650" align="center" id="PhasesTable" class="SnapShot" style="display:@((bool)ViewBag.Phase? "block":"none")">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <thead>
            <tr>
                <th id="" align="center">Name</th>
                <th id="" align="center">start WW</th>
                <th id="" align="center">end WW</th>
                <th id="" align="center">Description</th>
                <th id="" align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Phases)
            {
                <tr id="Phase-@item.PhaseId">
                    <td>@item.PhaseName</td>
                    <td>WW @item.startWW'@item.startYY</td>
                    <td>WW @item.endWW'@item.endYY</td>
                    <td>@item.DescText</td>
                    <td>
                        <input type="button" value="Edit" id="EditBtn" onclick='editPreload("@item.PhaseId","@item.PhaseName","@item.DescText","@item.startWW","@item.endWW","@item.startYY","@item.endYY", "@item.link");' />
                        <input type="button" value="Delete" id="DeleteBtn" onclick='Delete("@item.PhaseId");' />
                    </td>
                </tr>

            }
            <tr>
                <td align="left" colspan="5">
                    <input type="button" value="Add Phase" id="AddBtn" onclick="showEditFields(); clearEditFields();" />
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    @using (Html.BeginForm("SavePhase", "Validation", FormMethod.Post, new { onsubmit = "return validateForm()", id = "CommentForm" }))
    {
        @Html.Hidden("pWWID", (int)ViewBag.WWID)
        @Html.Hidden("pPWContinuityID", (string)ViewBag.PWContinuityID)
        @Html.Hidden("pPhaseID", null)
        <div class="alert alert-warning" hidden="hidden" id="warning">
            <a href="#" class="close" aria-label="close" onclick="$('#warning').hide()">&times;</a>
            <strong>Warning!</strong>
            <div id="warningMessage"></div>
        </div>
        <div id="editItems" style="display:none;">
            <table width="550" align="center" id="fieldsTable" class="SnapShot">
                <tr>
                    <td>@Html.Label("Phase Name: ") @Html.TextBox("pPhaseName", null)</td>
                    <td colspan="2">@Html.Label("Description: ") @Html.TextArea("pDescription", null, null)</td>
                    @*<td></td>*@
                </tr>
                <tr>
                    <td>@Html.Label("Link: ") @Html.TextBox("pLink")</td>

                    <td><b>Start</b><br> @Html.Label("Week: ") @Html.TextBox("pStartWeek", null, new { @style = "width: 25px;" }) @Html.Label("Year: ") @Html.TextBox("pStartYear", null, new { @style = "width: 25px;" })</td>
                    <td><b>End</b><br> @Html.Label("Week: ") @Html.TextBox("pEndWeek", null, new { @style = "width: 25px;" }) @Html.Label("Year: ") @Html.TextBox("pEndYear", null, new { @style = "width: 25px;" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="Cancel" id="CancelBtn" onclick="hideEditFields()" style="display:none;"></td>
                    <td><input type="submit" value="Save Phase" id="SaveBtn" style="display:none;"></td>
                </tr>
            </table>
        </div>
    }
    <script>
        function validateEmail(email)
        {
            var reurl =@("/^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,4})+$/");

            return reurl.test(email);
            //return true;
        }
        function validateURL(url) {
            var reurl = /(ftp|http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
            return reurl.test(url);
        }
    </script>
    <script>
        function validateValForm() {

            if ($("#pValOwner").val().length>0)
            {
                if (!validateEmail($("#pValOwner").val())){
                    $('#warning').show();
                    $('#warningMessage').text("Please enter a valid email for owner");
                    return false;
                }
            }
            if ($("#pvalidationLink").val().length>0)
            {
                if (!validateURL($("#pvalidationLink").val())){
                    $('#warning').show();
                    $('#warningMessage').text("Please enter a URL for Validation Link");
                    return false;
                }
            }
            return true;
        }
    </script>

    <script>
        function validateForm() {
            if ($("#pPhaseName").val().length == 0) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a Phase Name");
                return false;
            }
            if ($("#pDescription").val().length == 0) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a Description");
                return false;
            }
            if ($("#pLink").val().length>0)
            {
                if (!validateURL($("#pLink").val())){
                    $('#warning').show();
                    $('#warningMessage').text("Please enter a URL for Phase Link");
                    return false;
                }
            }

            var startVal = $("#pStartWeek").val();
            if (startVal.length == 0 || startVal < 1 || startVal > 53) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid Start week (1 to 53)");
                return false;
            }
            var endVal = $("#pEndWeek").val();
            if (endVal.length == 0 || endVal < 1 || endVal > 53) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid End week (1 to 53)");
                return false;
            }

            var startYearVal = $("#pStartYear").val();
            if (startYearVal.length == 0 || startYearVal < 1 || startYearVal > 53) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid Start Year (1 to 99)");
                return false;
            }
            var endYearVal = $("#pEndYear").val();
            if (endYearVal.length == 0 || endYearVal < 1 || endYearVal > 53) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid End Year (1 to 99)");
                return false;
            }
            if(startVal.length>0 && endVal.length>0 && startYearVal.length>0 && endYearVal.length>0 && (startVal<=0 || (startVal>endVal && startYearVal==endYearVal) ))
            {
                $('#warning').show();
                $('#warningMessage').text("The Star week is greater than End week. Please enter a valid period");
                return false;
            }
            $("#SaveBtn").attr('disabled', true);
            CommentForm.submit();
        }
        function clearEditFields() {
            $('#pPhaseID').val('');
            $('#pPhaseName').val('');
            $('#pDescription').val('');
            $('#initWeekDD').val('');
            $('#endWeekDD').val('');
            $('#pLink').val('');
        }
        function showEditFields() {
            $('#editItems').show();
            $('#CancelBtn').show();
            $('#SaveBtn').show();
            $('#AddBtn').hide();
        }
        function hideEditFields() {
            $('#AddBtn').show();
            $('#editItems').hide();
            $('#CancelBtn').hide();
            $('#SaveBtn').hide();
        }

        function editPreload(phaseId, name, desc, initweek, endweek,inityear, endyear, link) {
            $('#pPhaseID').val(phaseId);
            $('#pPhaseName').val(name);
            $('#pDescription').val(desc);
            $('#pStartWeek').val(initweek);
            $('#pEndWeek').val(endweek);
            $('#pStartYear').val(inityear);
            $('#pEndYear').val(endyear);
            $('#pLink').val(link);
            $('#modalcontent').height(600);
            showEditFields();
        }
    </script>
