﻿@using AutoIndicators.Models
@using System.Collections.Specialized

@model dynamic
@{
    ViewBag.Module = "Validation";
    
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    List<ValidationModel> dataCol = new List<ValidationModel>();
    List<int> procProgs = new List<int>();
    int onlyOnce = 0;
    string comments;
    string RYG;
    bool bArchived = ViewBag.WeekStatus != null && ((int)ViewBag.WeekStatus) == 2;
}


@*User security*@
@{
    List<string> Menu = new List<string>();
    Menu.Add("<a onclick=\"window.open('/Validation/Import','LoadFiles','width=325px,height=405px'); return false;\" href=\"fallback.html\">Load Validation Files</a>|P");
    
}
@section Extras{
   @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers, Menu)
}
@section JSLibs{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/pqgrid.min.js"></script>

<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/rapid.js"></script>
    <script src="~/Scripts/Validation.js"></script>
}
@section Styles{
    <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/pqgrid.min.css" rel="stylesheet" />
<link href="http://paramquery.com/Content/css/themes/Office/pqgrid.css" rel="stylesheet">
} 
@section Scripts
{
<script>
    module = '@ViewBag.Module';
    wwid = @ViewBag.WWID;
</script>
    }


<input type="hidden" id="pastValue">
<input type="hidden" id="pastID">
<input type="hidden" id="quillCode">

@helper RYGTranslate(string id, int retType)
{
    //rettype catalog:
    //1: title (popup)
    //2: color
    //3: text
    string retVal = string.Empty;
    switch (id)
    {
        case "R":
            switch (retType)
            {
                case 1:
                    retVal = "The Program is projected to Overspend (materially) vs what was budgeted";
                    break;
                case 2:
                    retVal = "red";
                    break;
                case 3:
                    retVal = "Valid";
                    break;
            }
            break;

        case "Y":
            switch (retType)
            {
                case 1:
                    retVal = "The Program is Projected to Underspend (materially) vs what was budgeted";
                    break;
                case 2:
                    retVal = "yellow";
                    break;
                case 3:
                    retVal = "Valid";
                    break;
            }
            break;

        case "G":
            switch (retType)
            {
                case 1:
                    retVal = "The Program is at Risk of Overspending (materially)  due to Timing of Spend";
                    break;
                case 2:
                    retVal = "green";
                    break;
                case 3:
                    retVal = "Valid";
                    break;
            }
            break;
    }
    @retVal
}
@if(bArchived)
    {
<div style="color:red"><b>Archived</b></div>
    }
<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>
@*<table id="header-fixed" class="table table-bordered table-striped" style="width: 88.3% !important; position:fixed; top:0px; display:none; background-color:white"></table>*@
    <table id="header-fixed" class="table table-bordered table-striped" style="width: 88.3% !important; position:fixed; top:0px; display:none; background-color:white"></table>
    <table class="table table-bordered table-striped" id="ValidationTable" style="margin-bottom: 0px;">
        <colgroup>
            <col span="1" style="width:15%">
            <col span="1" style="width:15%">
            <col span="1" style="width:20%">
            <col span="1" style="width:3%">
            <col span="1" style="width:30%">
        </colgroup>
        <thead id="TableHeaders">
            <tr>
                <th id="thPXT" align="center" height="30">DEG PXT</th>
                <th id="thProjectName" align="center">Project</th>
                <th id="thPhases" align="center">Phases</th>
                <th id="thRYG" align="center">Status</th>
                <th id="thComment" data-view="@ViewBag.Module" align="center">Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListGeneral)
            {
                <tr>
                    <td style="border-bottom:2px solid gray">@item.ContinuityID</td>
                    <td style="border-bottom:2px solid gray"><button class="btn" style="color:blue">Validation</button></td>
                    <td style="border-bottom:2px solid gray" title="Phases" id="@("F" + item.ContinuityID.Replace(" ","_"))">
                        Val Lead:<a id="aValLead_@item.ContinuityID.Replace(" ","_")" href="mailto:@item.valOwner?subject=Snapshot Validation @ViewBag.WW">@item.OwnerName</a>
                        <br>
                        <a onclick="showPopUpVal(1, @item.WWID,'@item.ContinuityID', '@item.ProgName',false); return false;" href="fallback.html" target="_blank">Edit Val Lead</a>
                        <br>
                        <a href="@item.valLink" target="_blank">Project's Validation Indicator</a>            
                    </td>
                    <td id="@("F" + item.HIID)" title="RYG" data-header="summary" align="center" onclick="//showHIPopUp('@item.ProgName',@item.HIID,0,@item.ProgTypeID,@item.PXTId)" style="border-bottom:2px solid gray;">NA</td>
                    <td style="border-bottom:2px solid gray" id="@("UpdateText_" + item.ValidationId.ToString())">
                        <div data-div="@(item.ValidationId.ToString())" id="@("txtDesc_" + item.ValidationId.ToString())" data-hiid="@item.HIID" onclick="EditVal(@item.ValidationId.ToString(),'@ViewBag.WW.Replace("'","_")',@item.WWID,'@item.ContinuityID',0,@item.ProgTypeID,@item.PXTId)" style="width:100%; height:@(item.Comment != null && item.Comment.Length > 0 ? "auto" : "50px");">@MvcHtmlString.Create(item.Comment)</div>
                        <textarea data-area="@(item.ValidationId.ToString())" id="@("txtDescription_" + item.ValidationId.ToString())" name="@("txtDescription_" + item.ValidationId.ToString())" style="width:400px; display:none">@item.Comment</textarea>
                    </td>
                </tr>
            }
            @foreach (var item in Model.List)
            {
                //if Program Has already been processed is discarted, this is because data is vertical and progID is repeated
                if (procProgs.Contains(int.Parse(item.progID.ToString())))
                {
                    continue;
                }
                else
                {
                    //in procProgs we keep a record of every program ID processed
                    procProgs.Add(int.Parse(item.progID.ToString()));
                    dataCol.Clear();
                    comments = string.Empty;
                    RYG = string.Empty;
                }

                //re-scan the model to get a collection of all the items pertaining to this program
                foreach (var subitem in Model.List)
                {
                    if (subitem.progID == item.progID)
                    {
                        dataCol.Add(subitem);
                        string tempProgName = subitem.ProgName;
                    }
                }

                try
                {
                    onlyOnce = 1;
                    int bitCount = 0;
                    //again iterate through items for a single program
                    foreach (ValidationModel bit in dataCol)
                    {
                        //recreate:
                        bitCount++;
                        string trId;
                        string collapseRowId = bit.progID.ToString();
                        trId = "FMain" + collapseRowId + bitCount.ToString();
                        string notifData = "8|" + bit.ContinuityID + "||" + bit.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(8) + "|" + bit.OwnerId + "|" + bit.ProgTypeID + "|" + bit.PXTId;
                        <tr id=@trId>
                            @if (onlyOnce == 1)
                            {
                                //pxt and project info
                                @GeneralHelpers.ProgDetail(bit, Url, true)
                                onlyOnce = 0;
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                            @{
                        string popUpHeader = "RYG Update on Validation for " + bit.ProgName;
                        string Link = string.Empty;
                        if (@bit.valLink != null && @bit.valLink.Length > 0)
                        {
                            Link = @bit.valLink;
                        }
                        else
                        {
                            Link = "https://sharepoint.amr.ith.intel.com/sites/PED_Exec_MRC/_layouts/PowerPoint.aspx?PowerPointView=ReadingView&PresentationId=/sites/PED_Exec_MRC/Validation%20Archive/@(ViewBag.UrlSharepoint)/vi_@(bit.ProgName)_@(strDateF).pptx";
                        }
                        <td id="@("F" + bit.ContinuityID)">
                            Val Lead:<a id="aValLead_@bit.ContinuityID" href="mailto:@bit.valOwner?subject=Snapshot Validation @ViewBag.WW">@bit.OwnerName</a>
                            <br>
                            @*
                            <a href="@bit.valLink" target="_blank">Project's Validation Indicator</a>
                            <br />*@
                            @if ((int)ViewBag.WeekStatus == 1)
                            {
                                <a onclick="showPopUpVal(1, @bit.WWID,'@bit.ContinuityID', '@bit.ProgName',false); return false;" href="fallback.html" target="_blank">Edit Val Lead</a>
                            }
                            <table>
                                @foreach (var Phase in bit.Phases)
                                {
                                    <tr>
                                        @{string PhaseName = "WW" + @Phase.startWW + "'" + @Phase.startYY + " - " + @Phase.endWW + "'" + @Phase.endYY;}
                                        @if (Phase.link != null)
                                        {
                                            <td title="@Phase.DescText"><b><a href="@Phase.link">@Phase.PhaseName</a>:</b> @PhaseName</td>
                                        }
                                        else
                                        {
                                            <td title="@Phase.DescText"><b>@Phase.PhaseName:</b> PhaseName</td>
                                        }
                                    </tr>

                                }
                            </table>
                            @if ((int)ViewBag.WeekStatus == 1)
                            {
                                <a onclick="showPopUpVal(1, @bit.WWID,'@bit.ContinuityID', '@bit.ProgName',true); return false;" href="fallback.html">Edit</a>
                            }
                            @{
                                string[] date = ((string)ViewBag.WW).Replace("WW", "").Split('\'');
                                string strDateF = (Convert.ToInt32(date[0]) - 1).ToString() + date[1];
                            }
                            <br />
                            <a target="_blank" href="@Link">Validation indicator</a>
                            <table border="0">
                                <tr>
                                    @*@if (bit.bValLink != null)
                                    {*@
                                        @{
                                         string strTitle=AutoIndicators.Controllers.ValidationController.GetLastUpdated(bit.ContinuityID, ViewBag.WWID)+".";
                                        //string strTitle="";
                                        <td style="border:transparent 1px solid" title="@(strTitle.Contains("1900")? "": strTitle) Next avaliable refresh at 7:00 am CT">
                                            <div onclick="$('#warning').hide(); UploadFile('@bit.ValidationLink','@bit.ContinuityID','@bit.ProgName'); $('#load-@bit.ContinuityID').show();"
                                                 style="color:blue; text-decoration:underline; cursor:pointer">Refresh data</div>
                                        </td>
                                    }
                                </tr>
                                <tr id="load-@bit.ContinuityID" style="display: none; border: transparent 1px solid">
                                    <td><img src="~/Content/images/load.gif" width="32" height="32" /><br />Loading...</td>
                                </tr>
                            </table>
                            <b></b>
                            <div style="bottom: 10px; vertical-align:bottom; float:right; cursor:pointer; border-left:none" onclick="showDetail('@(bit.ContinuityID)','@("collapseme_" + bit.ContinuityID)'); $('#infoexpanded@(bit.ContinuityID)').load('../Validation/Expanded?WWID=@bit.WWID&ContinuityID=@bit.ContinuityID&WWName=@ViewBag.WW.Replace("'","_")');">
                                <img id="imgDetail-@(bit.ContinuityID)" src="~/Content/images/plus.jpg" width="8" height="8" />
                            </div>
                        </td>
                        <td id="@("F" + bit.HIID)" title="RYG" data-header="@popUpHeader" align="center" onclick="showHIPopUp('@bit.ProgName',@bit.HIID,@bit.OwnerId,@bit.ProgTypeID,@bit.PXTId)" style="cursor:pointer; background-color:@RYGTranslate(bit.RYG, 2)">
                            @*showRYG('@popUpHeader',@bit.WWID,'@(((string)ViewBag.WW).Replace("'", "_"))','@bit.ContinuityID')*@
                        </td>
                        <td data-addnotify="1" data-titlenoti="Notif Enabled! - Shift + Click on area" data-notif="@notifData" data-notifproj="@bit.ProgName" id="@("UpdateText_" + bit.ValidationId.ToString())">
                            <div data-div="@(bit.ValidationId.ToString())" id="@("txtDesc_"+bit.ValidationId.ToString())" data-hiid="@bit.HIID" onclick="EditVal(@bit.ValidationId.ToString(),'@ViewBag.WW.Replace("'","_")',@bit.WWID,'@bit.ContinuityID',@bit.OwnerId,@bit.ProgTypeID,@bit.PXTId)" style="width:100%; height:@(bit.Comment != null && bit.Comment.Length > 0 ? "auto" : "50px");">@MvcHtmlString.Create(bit.Comment)</div>
                            <textarea data-area="@(bit.ValidationId.ToString())" id="@("txtDescription_" + bit.ValidationId.ToString())" name="@("txtDescription_" + bit.ValidationId.ToString())" style="width:400px; display:none">@bit.Comment</textarea>
                        </td>
                    }
                        </tr>
                        <tr>
                            <td colspan="5" id="collapseme_@(bit.ContinuityID)" style="display:none"><div id="infoexpanded@(bit.ContinuityID)"><img width="150" height="150" src="~/Content/images/load.gif" /><br /><br />Loading... </div></td>
                        </tr>
                    }
                }
                catch (Exception ex)
                {
                    throw ex;
                }

            }
        </tbody>
    </table>
    <script>
        //Function to show the popup and pass the correct PWID to the view
        function showPopUpVal(num, param1, param2, param3,param4) {
            if (num == 1) { //Show the Modal to Create a new Program
                var textWWID = param1.toString();
                var urlLink = "/Validation/PhasesManage?WWID=" + textWWID + "&PWContinuityID=" + param2+"&Phase="+param4;
                $('#myModalLabel').html("Phases manage for " + param3)
            }
            else if (num == 2) {//Show the Modal to Enter the Acronym List to choose one from it
                var urlLink = "/Acronyms/AcronymList_noLayout";
                $('#myModalLabel').html("Select an Acronym to add to your comment")
            }


            $('#Modal').data('url', urlLink);
            var url = $('#Modal').data('url');
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");
                $('#modalcontent').width(650);
                $('#modalcontent').height('auto');
            });
        }

        $(".close").click(function(){ $('#warning').hide(); })
    </script>

    <script>
        var tableOffset = $("#ValidationTable").offset().top;
        var $header = $("#ValidationTable > thead");
        var $fixedHeader = $("#header-fixed").append($header.clone());
        view=8;
        $(window).bind("scroll", function () {
            var offset = $(this).scrollTop();


            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                $fixedHeader.show();
                $.each($header.find('tr > th'), function (ind, val) {
                    var original_width = $(val).width();
                    var original_padding = $(val).css("padding");
                    $($fixedHeader.find('tr > th')[ind])
                    .width(original_width)
                    .css("padding", original_padding);
                });
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
        });

        function showRichText(Row, WWID, WWName) {
            var textbox = tinymce.init({
                selector: 'textarea#txtDescription_' + Row  // change this value according to your HTML
                , width: '100%'
                , statusbar: false
                , plugins: 'textcolor save link'
                , menu: 'edit'
                , default_link_target: '_blank'
                , save_onsavecallback: function () { SaveCommentsVal(Row, WWID, ContinuityID, WWName); }
                , toolbar: 'save | backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | AcronymsSearch | LinkAdd'
                , setup: function (editor) {
                    editor.addButton('AcronymsSearch', {
                        text: 'Auto',
                        icon: 'link',
                        onclick: function () { AutoAcronym(tinyMCE.get('txtDescription_'+Row).getContent(), 'txtDescription_'+Row); }
                    });
                    editor.addButton('LinkAdd', {
                        text: 'Manual',
                        icon: 'link',
                        onclick: function () { AddLinks(Row); }
                    });
                    editor.on('keydown', function (args) {
                        if (args.keyCode == 27) {
                            cancelEdit(Row);
                        }
                    });
                }
            });


        }

    </script>







