﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@model dynamic
@section JSLibs{
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/reports.js"></script>
}
@{ 
    
    ViewBag.Module = "ScheduleV";

    ViewBag.HiddenFilter = false;
   // ViewBag.Params = "WWID," + ViewBag.WWID + ";weekName, " + ViewBag.WW;
    
 string PXTName = string.Empty;
 string ProgType = string.Empty;
 string strSyle = string.Empty;
 List<SnapshotIndex> Programs=(List<SnapshotIndex>)ViewBag.Program;
 List<ScheduleV> dataCol = (List<ScheduleV>)Model.Schedule;
 List<ScheduleV> dataColC = new List<ScheduleV>();
 StringCollection headers = new StringCollection();
 StringCollection headersC = new StringCollection();
 List<int> progs = new List<int>();
 List<int> procProgs = new List<int>();
 List<MasterModel> progSel = new List<MasterModel>();
 List<ScheduleV> progChange = new List<ScheduleV>();
 bool bArchived = false;
 int onlyOnce = 0;
 int iHeaderCount = 0;
 int iHeaderCountC = 0;
 string strProgramC = "";
 List<ScheduleV> schedule=Model.Schedule;
 List<ScheduleV> scheduleComparative=Model.ScheduleCompare;
 
 
 if (ViewBag.WeekStatus.Equals(2))
 {
    <div style="color:red"><b>Archived</b></div>
     bArchived = true;
 }
 else if (!ViewBag.WeekStatus.Equals(1))
 {
    <div style="color:red"><b>No Data Found</b></div>
 }

 List<Calendar> Calendars = AutoIndicators.GeneralClasses.ViewDataFilter.Calendar();
 ViewBag.ShowExtra = true;
}

@section Extras{
    @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers)
}
<div class="modal fade" id="SModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">

    <div class="modal-content" id="Smodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="mySModalLabel">Please leave a comment explaining the negative Result</h4>
        </div>
        <div class="modal-body" id="SmodalContainer"></div>
    </div>

</div>

    @*main loop through the whole model from controller*@
<table>
    <tr>
        <th id="thCompare" style="width:400px; color:blue" onclick="$('#Compare').toggle('blind',500)" class="btn">Compare</th>
    </tr>
</table>

    <div id="Compare" style="display: @(ViewBag.WWIDC!=null && (int)ViewBag.WWIDC>0? "block" : "none")">
        @using (Html.BeginForm("Index", "ScheduleV", FormMethod.Post, new { id = "CompareForm" }))
        {
            <br />
            @:Compare @((string)ViewBag.WW) vs :
            <select id="WWCompare">
                <option value="0">Select a WW</option>
                <option value="0">Clear</option>
                @foreach (Calendar cal in Calendars)
                {
                    if ((cal.weekStatus == 1 || cal.weekStatus == 2) && cal.id != (int)ViewBag.WWID)
                    {
                        <option data-year="@cal.Year" value="@cal.id" @(ViewBag.WWIDC != null && cal.id == (int)ViewBag.WWIDC ? "selected=selected" : "")>@cal.weekName</option>
                    }
                }
            </select>
            <input type="button" class="btn" onclick="window.location.href='/ScheduleV/Index?pWWID=@ViewBag.WWID&weekName=@(((string)ViewBag.WW).Replace("'","_"))&WWIDCompare='+$('#WWCompare').val();" value="Run Report" />
            <br /><br />
        }
    </div><br /><br />
    @for (int i = 0; i < Programs.Count; i++ )
    {
        SnapshotIndex item = Programs[i];
        onlyOnce = 1;
        dataColC.Clear();
        headersC.Clear();
        List<ScheduleV> lstSchedule = dataCol.Where(x => x.ContinuityID == item.ContinuityID).ToList();
        List<ScheduleV> lstSchedule2 = scheduleComparative.Where(x => x.ContinuityID == item.ContinuityID && x.PXTName == item.PXTName && x.ProgType == item.ProgType).ToList<ScheduleV>();
        headers.Clear();
        for (int m = 0; m < lstSchedule.Count; m++ )
        {
            headers.Add(lstSchedule[m].Milestone);
        }                

        <table id="@item.PXTName@item.ProgType" class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 85px;">
                <col span="1" style="width: 200px;">
            </colgroup>
            <thead>
                <tr>
                    <th id="thEGPXTSP"><b>DEG PXT</b></th>
                    <th id="thProjectName"><b>Project</b></th>
                    @foreach (string milestone in headers)
                    {
                        <th id="th@milestone"><b>@milestone</b></th>
                    }
                </tr>
            </thead>
            <tbody>
                    @try
                    {
                        
                        if (lstSchedule2.Count() > 0)
                        {
                           
                            for(int k=0; k<dataCol.Count; k++)
                            {
                                var adj = dataCol[k];
                                if (adj.ContinuityID.Equals(item.ContinuityID))
                                {
                                    if (lstSchedule2.Any(x => x.Milestone == adj.Milestone))
                                    {
                                        dataColC.Add(lstSchedule2.Where(x => x.Milestone == adj.Milestone).Single());
                                    }
                                    else
                                    {
                                        adj.value = "";
                                        dataColC.Add(adj);
                                    }
                                }
                            }
                        }
                        <tr>
                            @for (int j = 0; j < lstSchedule.Count; j++)
                            {
                                ScheduleV bit = lstSchedule[j];
                                //we only want to extract from dataCol the data pertaining to the program we are treating
                                    if (onlyOnce == 1)
                                    {
                                        if (ViewBag.WWIDC != null && ViewBag.WWIDC > 0)
                                        {
                                            @GeneralHelpers.ProgDetail(bit, Url, true, "", false, true)
                                        }
                                        else
                                        {
                                            @GeneralHelpers.ProgDetail(bit, Url, true, "", false, false)
                                        }
                                        onlyOnce = 0;
                                    }
                                    string popUpHeader = "Due Date for " + bit.ProgName + " on " + headers[iHeaderCount];

                                    bool bChanges = dataColC.Any(x => x.Milestone == bit.Milestone && x.value != bit.value);

                                    strSyle = "";

                                    if (bChanges)
                                    {
                                        progChange.Add(bit);
                                        strSyle = "border-color: #fbeed5; background-color: #fcf8e3;";
                                    }
                                    else
                                    {
                                        strSyle = "";
                                    }

                                    if (headers.IndexOf(bit.Milestone) >= 0)
                                    {
                                        string notifData = "3|" + item.ContinuityID + "|" + bit.PTMID + "|" + item.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(3) + "|" + item.OwnerId + "|" + item.ProgTypeID + "|" + item.PXTId;
                                        <td data-notif="@notifData" data-notifproj="@item.ProgName" style="cursor:pointer; @(bit.Delinquent? "background-color:red; color:white;":"") @strSyle" @(strSyle.Length > 0 ? "class=blink" : "") id="@("F" + bit.ScheduleId.ToString())" title="@headers[iHeaderCount]" data-header="@popUpHeader" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-programtype="@bit.ProgTypeID" data-pxt="@bit.PXTId">
                                            @if (@bit.link != null && @bit.link.Trim().Length > 0)
                                            {
                                                <a href="@bit.link" target="_blank">@(bit.oldScheduleId != null && bit.oldValue.Length > 0 ? MvcHtmlString.Create("<b>" + bit.value + "</b>") : MvcHtmlString.Create(bit.value))</a>
                                            }
                                            else
                                            {
                                                @(bit.oldScheduleId != null && bit.oldValue != null && bit.oldValue.Length > 0 ? MvcHtmlString.Create("<b>" + bit.value + "</b>") : MvcHtmlString.Create("<p>" + bit.value + "</p>"))
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    iHeaderCount++;

                            }
                        </tr>

                            if (dataColC.Count() > 0)
                            {
                                strProgramC = item.ProgName;
                                strSyle = "";
                                iHeaderCountC = 0;
                                bool onlyOnceC = true;
                            <tr style="border: solid 1px yellow">
                                @for (int l = 0; l < dataColC.Count; l++ )
                                {
                                    ScheduleV bit = dataColC[l];
                                    //we only want to extract from dataCol the data pertaining to the program we are treating

                                    if (onlyOnceC)
                                    {
                                        @GeneralHelpers.ProgDetail(bit, Url, true, "", false, true)
                                        onlyOnceC = false;
                                    }

                                    string popUpHeader = "Due Date for " + bit.ProgName + " on " + headers[iHeaderCountC];
                                    if (headers.IndexOf(headers[iHeaderCountC]) >= 0)
                                    {
                                        bool bChanges = progChange.Any(x => x.ContinuityID == bit.ContinuityID && x.Milestone == bit.Milestone);

                                        if (bChanges)
                                        {
                                            strSyle = "border-color: #fbeed5; background-color: #fcf8e3;";
                                        }
                                        else
                                        {

                                            strSyle = "";
                                        }

                                        string notifData = "3|" + item.ContinuityID + "|" + bit.ScheduleId + "|" + item.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(3) + "|" + item.OwnerId + "|" + item.ProgTypeID + "|" + item.PXTId;
                                        <td data-notif="@notifData" data-notifproj="@item.ProgName" style="cursor:pointer; @strSyle" @(strSyle.Length > 0 ? "class=blink" : "") id="@("F" + bit.ScheduleId.ToString())" title="@headers[iHeaderCountC]" data-header="@popUpHeader" data-continuity="@bit.ContinuityID" data-owner="@bit.OwnerId" data-programtype="@bit.ProgTypeID" data-pxt="@bit.PXTId">
                                            @if (@bit.link != null && @bit.link.Trim().Length > 0)
                                            {
                                                <a href="@bit.link" target="_blank">@(bit.oldScheduleId != null && bit.oldValue.Length > 0 ? MvcHtmlString.Create("<b>" + bit.value + "</b>") : MvcHtmlString.Create(bit.value))</a>
                                            }
                                            else
                                            {
                                                @(bit.oldScheduleId != null && bit.oldValue != null && bit.oldValue.Length > 0 ? MvcHtmlString.Create("<b>" + bit.value + "</b>") : MvcHtmlString.Create("<p>" + bit.value + "</p>"))
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    iHeaderCountC++;
                                }

                            </tr>
                            }
                            iHeaderCount = 0;
                    }
                    catch (Exception ex)
                    {
                        throw ex;
                    }
         
            </tbody>
        </table>
    }



    @section Scripts
{
        <link href="@Url.Content("~/Content/scheduleStyle.css")" rel="stylesheet" type="text/css" />
       
        <script type="text/javascript">
    $('td').dblclick(function () {
        var header = $(this).data("header");

        if(tinyMCE.editors.length>0)
        {
            tinyMCE.editors[0].destroy();
        }

        var stringID = $(this).attr('id');
        var splitString = ("F" + stringID.split("F").join(''));
        var ID = stringID.split("F").join('');
        if (stringID == splitString) {
            showPopUpSchedule(ID, null, header,$(this).data("continuity"),$(this).data("owner"),$(this).data("programtype"),$(this).data("pxt"));
        }
    });
        </script>
        <script type="text/javascript">
    //Function to show the popup and pass the correct PWID to the view
    function showPopUpSchedule(ID, OP, Information,continuity,owner,progtype,pxt) {
        if (OP == null) {
            var textScheduleID = ID.toString();
            var text = "/ScheduleV/CommentView?ScheduleID=";
            var urlLink = text + textScheduleID;

            $('#mySModalLabel').html(Information);
            $('#SModal').data('url', urlLink);
            $('#Smodalcontent').width(800);
            $('#Smodalcontent').height("auto");
        }

        ContinuityID=continuity;
        Owner=owner;
        ProgramType=progtype;
        PXT=pxt;
        var url = $('#SModal').data('url');
        $.get(url, function (data) {
            $('#SmodalContainer').html(data);
            $('#SModal').modal("show");

        });
    }
    function validateForm() {
        var url = $("#pLink").val();
        //URL validation
        if (validateURL(url)) { } else {
            if (url != "") {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid URL, remember including http://");
                return false;
            }
        }
        if(tinyMCE.get('txtDescription_').getContent().length==0)
        {
            $('#warning').show();
            $('#warningMessage').text("Please enter Comments");
            return false;
        }
        if ($("#WQS1").is(':checked')) {
            var startVal = $("#pSDateWW").val();
            if (startVal.length == 0 || startVal < 1 || startVal > 53) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid Start week (1 to 53)");
                return false;
            }
            //var endVal = $("#pEDateWW").val();
            //if (endVal.length == 0 || endVal < 1 || endVal > 53) {
            //    $('#warning').show();
            //    $('#warningMessage').text("Please enter a valid End week (1 to 53)");
            //    return false;
            //}

            var startYearVal = $("#pSDateYear").val();
            if (startYearVal.length == 0 || startYearVal < 1 || startYearVal > 53) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid Start Year (1 to 99)");
                return false;
            }
            //var endYearVal = $("#pEDateY").val();
            //if (endYearVal.length == 0 || endYearVal < 1 || endYearVal > 53) {
            //    $('#warning').show();
            //    $('#warningMessage').text("Please enter a valid End Year (1 to 99)");
            //    return false;
            //}
            //if (startVal.length > 0 && endVal.length > 0 && startYearVal.length > 0 && endYearVal.length > 0 && (startVal <= 0 || (startVal > endVal && startYearVal == endYearVal))) {
            //    $('#warning').show();
            //    $('#warningMessage').text("The Star week is geater than End week. Please enter a valid period");
            //    return false;
            //}
        } else
        {
            var startVal = $("#pSDateWW").val();
            if (startVal.length == 0 || startVal < 1 || startVal > 4) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid Start Quarter (1 to 4)");
                return false;
            }
            //var endVal = $("#pEDateWW").val();
            //if (endVal.length == 0 || endVal < 1 || endVal > 4) {
            //    $('#warning').show();
            //    $('#warningMessage').text("Please enter a valid End Quarter (1 to 4)");
            //    return false;
            //}

            var startYearVal = $("#pSDateYear").val();
            if (startYearVal.length == 0 || startYearVal < 1 || startYearVal > 99) {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid Start Year (1 to 99)");
                return false;
            }
            //var endYearVal = $("#pEDateY").val();
            //if (endYearVal.length == 0 || endYearVal < 1 || endYearVal > 99) {
            //    $('#warning').show();
            //    $('#warningMessage').text("Please enter a valid End Year (1 to 99)");
            //    return false;
            //}
            //if (startVal.length > 0 && endVal.length > 0 && startYearVal.length > 0 && endYearVal.length > 0 && (startVal <= 0 || (startVal > endVal && startYearVal == endYearVal))) {
            //    $('#warning').show();
            //    $('#warningMessage').text("The Star Quearter is greater than End week. Please enter a valid period");
            //    return false;
            //}
        }

        $('#saveBtn').attr('disabled', 'disabled');
    }
    
    function SaveSchedule()
    {
        if(validateForm())
        {
            $('#txtDescription_').val(tinyMCE.get('txtDescription_').getContent());
            $.post('/ScheduleV/Save', $('#CommentForm').serialize(), function (response) {
                var id = $('#ScheduleID').val();
                var value = '';

                $('#F' + id).attr("id", "F" + response.focusID);

                if ($('#pLink').val().length > 0)
                {
                    if ($('#pSDateWW').val().length > 0)
                        value = '<a href="' + $('#pLink').val() + '">' + typeS + $('#pSDateWW').val() + '\'' + $('#pSDateYear').val() + '</a>';
                    else
                        value = '<a href="' + $('#pLink').val() + '">' + $('#pSDateYear').val() + '</a>';
                } else
                {
                    if ($('#pSDateWW').val().length > 0)
                        value =typeS + $('#pSDateWW').val() + '\'' + $('#pSDateYear').val();
                    else
                        value = $('#pSDateYear').val();
                }
                $('#F' + response.focusID).html(value);
                $('.close').click();
            })
        }
    }
    function validateURL(url) {
        var reurl = /(ftp|http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
        return reurl.test(url);
    }
        </script>
        <script type="text/javascript">
    //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
    $(document).ready(function () {
        $('#aSchedule').css("background-color", "#0062a8");
    });
        </script>
        <script>
            module = '@ViewBag.Module';
            view=3;
            skip = '../';
            wwid=@ViewBag.WWID;

            backgroundInterval = setInterval(function(){
                //  $('.blink').fadeToggle( "slow", "linear" );
                $('.blink').animate({ backgroundColor: "#fcf8e3" },1)
                    .delay(1000).animate({ backgroundColor: "#fbeed5" }, 1500)
                    .delay(1000).animate({ backgroundColor: "#fcf8e3" }, 1500);
            });
        </script>
    }
@{
    if (Session["Focus"] != null && ((int)Session["Focus"]).ToString().Length > 0)
    {
        <script>
            $('#F@((int)Session["Focus"])').attr('style','border: blue solid 1px');
            $('#F@((int)Session["Focus"])').get(0).scrollIntoView();
        </script>
    }

}





