﻿@{
    Layout = null;
}

<p><b>Snapshot Comment Expectations</b></p>

<p>When you utilize the Snapshot Program Health View to communicate Risks here are the expectations regarding your Red(absolutely) and Yellow Risks</p>

<br>
<p style="color:red"><b>RED</b></p>

<p><b>Problem Statement:</b> What is the Problem Statement (ie Defect XYZ surfaced WWmm that Gates Beta Entrance WWnn due to MRD/Validation Requirement XYZ)</p>

<p><b>Runway:</b>What runway remains before the Impact is realized at the Program Level. (ie RC or Workaround must be available for Beta SW Release to support Beta Entrance NLT WWzz)</p>

<p><b>Actions Underway:</b> What Actions are being taken to overcome the Problem and an Directional Update Projection of when you expect to be able to charecterize the Issue and potential paths of resolution. (ie Task Force initiated WWbb, expect to have characterization
    and potential recomendation WWcc)</p>

<br>
<p style="color:orange"><b>YELLOW</b></p>

<p><b>Problem Statement:</b> What is the Problem Statement (ie Defect XYZ surfaced WWmm that Gates Beta Entrance WWnn due to MRD/Validation Requirement XYZ)</p>

<p><b>Runway:</b> When you have insufficient insight into the RC or WorkAround to know you have indeed been able to mitigate any risk to the pROGRAM? (ie, SW Release to be available by eow, validation lined up to completed verification by WWgg)</p>

<p><b>Actions Underway:</b> What if any additional actions are being supported to insure the issue does not negatively impact the Program Commitments? (ie Team has released a Patch with the fix and initial testing will be compelted by eod.)</p>

