﻿@{
    Layout = null;
}
<header id="main-header">
    <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">
                    <img style="float:left;" src="~/Images/intellogo.png" alt="UOU" class="img-responsive">
                    <h4 class="titleLogo">DEO PROGRAM SNAPSHOT</h4>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse" uib-collapse="navCollapsed">
            </div>
        </div>
    </nav>
    <div class="container" style="background-color: #003C71;">
        <ul class="nav navbar-nav acme-navbar-text">
            <li><a ui-sref="Snapshot" class="hover-effect"><h5><i class="fa fa-camera"></i> Snapshot</h5></a></li>
            <li><a ui-sref="HealthIndicator" class="hover-effect"><h5><i class="fa fa-heartbeat"></i> RYG Health</h5></a></li>
            <li><a ui-sref="Schedule" class="hover-effect"><h5><i class="fa fa-calendar"></i> Schedule</h5></a></li>
            <li><a ui-sref="ProductCost" class="hover-effect"><h5><i class="fa fa-usd"></i> PCOS</h5></a></li>
            <li><a ui-sref="Budget" class="hover-effect"><h5><i class="fa fa-money"></i> Budget</h5></a></li>
            <li><a ui-sref="ControlChangeBoard" class="hover-effect"><h5><i class="fa fa-check-square-o"></i> CCB</h5></a></li>
            <li><a ui-sref="Indicators" class="hover-effect"><h5><i class="fa fa-line-chart"></i> Indicators</h5></a></li>
        </ul>
    </div>
</header>
