﻿@using AutoIndicators.Models
@model dynamic

@{
  //  Layout = "~/Views/Shared/_Layout.cshtml";
    IndicatorTypes mInd = Model;
    List<IndicatorTypesStruct> lsStruct = mInd.structure;
     
    List<IndicatorTypesStruct> lstCol = lsStruct.Where(row => row.strAxis == "X").ToList<IndicatorTypesStruct>();
    List<IndicatorTypesStruct> lstRow = lsStruct.Where(row => row.strAxis == "Y").ToList<IndicatorTypesStruct>();

    int intWidthCol =  mInd.intWidth / lstCol.Count+(lstRow.Count>0? 1 :0);

    string strX = "";

    foreach (IndicatorTypesStruct type in lstCol)
    {
        if(type.bVisible)
        {
            strX += ";" + type.id + "," + HttpUtility.HtmlEncode(type.strCaption.Replace("'", "\\'")) + "," + type.bIsTextArea;
            
        }
    }
    strX = strX.Substring(1);
    
}

<table id="Template-@mInd.id" align="left" class="table table-bordered table-striped" width="@mInd.intWidth" cellpadding="0" cellspacing="0" border="@ViewBag.Border" style="width: 100%; margin-left: 0px; margin-bottom: 5px !important;">
    <!--  <tr>
          <th colspan="@(lstCol.Count+2)" style="text-align:center">Hey</th>
      </tr>
        -->
    <colgroup>
        <col style="width:15%" />
        <col style="width:20%" />
        @foreach (IndicatorTypesStruct type in lstCol)
        {
            if (type.bVisible)
            {
                //      <col style="width:@((mInd.intWidth % lstCol.Count + (lstRow.Count > 0 ? 1 : 0))*10)%" />
            }
        }
    </colgroup>
    <tr>
        @if (lstRow.Count > 1)
        {
            <th rowspan="@(lstRow.Count+1)" style="text-align: center; color: white; background-color: #0062A8; border: none; width: 15% !important"><b>@mInd.strName</b></th>
        }
        @if (lstRow.Count==1)
        {
            <th style="background-color: #0062A8; border: none; text-align: center; width: 15% !important" ></th>
        }else
        {
            <th style="border: none; text-align: center; width: 15% !important" ></th>
        }
        @foreach (IndicatorTypesStruct type in lstCol)
        {
            if (type.bVisible)
            {
                <th style="text-align:center; color:black"><b>@type.strCaption</b></th>
            }
        }
    </tr>

    @foreach (IndicatorTypesStruct type in lstRow)
    {
        if (type.bVisible)
        {
            <tr style="cursor:pointer" onclick="showPopUpTemplate('@mInd.strName','@MvcHtmlString.Create(type.strCaption.Replace("'","\\'"))','@MvcHtmlString.Create(strX.Replace("'", "\\'"))','@type.id',@ViewBag.Template)">
                @if (lstRow.Count == 1)
                {
                    <td style="background-color: #0062A8; text-align: center; color: white; border: none"><b>@type.strCaption</b></td>
                }
                else
                {
                    <td style="text-align: center; border:@mInd.intBorder" width="@intWidthCol"><b>@type.strCaption</b></td>
                }


                @foreach (IndicatorTypesStruct typeCol in lstCol)
                {
                    List<IndicatorTypesDetail> idValue = mInd.detail.Where(row => row.strX == typeCol.id && row.strY == type.id).ToList<IndicatorTypesDetail>();
                    if (typeCol.bVisible)
                    {
                        <td style="text-align: center; border:@mInd.intBorder" width="@intWidthCol">@(idValue.Count > 0 ? MvcHtmlString.Create(idValue[0].strValue) :  MvcHtmlString.Create(""))</td>

                    }
                }
            </tr>
        }
    }

</table>

<script>
    view = 7;
    function showPopUpTemplate(Title, Type,X,Y,Template) {
        $('#myModalLabel').html(Title+ " for " + Type);
        $('#Modal').data('url', '../IndicatorTypes/InputIndicatorTypesView?X=' + X + '&Y=' + Y + '&WWID=@ViewBag.WWID&ContinuityID=@ViewBag.ContinuityID&Template='+Template);

        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");

        });
    }
    $('th').mouseover(function () {
        if ($(this).attr('id') != undefined || $(this).text().length > 0)
            $(this).css('cursor', 'pointer');
        else
            $(this).css('cursor', 'arrow');
    })

    $('th').click(function () {

        if ($(this).attr('id') != undefined)
            showPopUpCtrlClick($(this).attr("id"), $(this).text(), null, skip);
    })
    function showPopUpCtrlClick(property, value, module, skip) {
        $('#myModalLabel').html("Free HTML for " + value);
        $('#Modal').data('url', skip + 'FreeHTML/FreeHTMLRegView');


        var url = $('#Modal').data('url');

        if ((ctrl && value.length > 0) || property == 'Mod' && value.length > 0) {
            $.post(url, { Property: property, Value: value, View: module, WWID: wwid }, function (data) {
                $('#modalContainer').html(data);
                $('#Modal').modal("show");
                $('#modalcontent').width(1050);
                $('#modalcontent').height(1090);
            });
        }
    }
</script>