﻿@using AutoIndicators.Models
@model dynamic

@{
    IndicatorTypes types=new IndicatorTypes();
    string jsInd="";

    List<IndicatorTypes> lstIndicator = new List<IndicatorTypes>();
    lstIndicator = Model;
}
<table id="Datas-0" style="display:none">
    <tr>
        <th>Load Template</th>
    </tr>
</table>
    @foreach (IndicatorTypes type in Model)
    {
        <table id="Datas-@type.id" style="display:none">
            <tr>
                <th>id</th>
                <th>Caption</th>
                <th>Axis</th>
                <th>Area</th>
            </tr>
            @foreach (IndicatorTypesStruct det in type.structure)
            {
                <tr>
                    <td style="border:none;">@det.id</td>
                    <td style="border:none;">@det.strCaption</td>
                    <td style="border:none;">@(det.strAxis.Equals("X") ? "Column" : "Row")</td>
                    <td style="border:none;">@det.intOrder.ToString()</td>
                    <td style="border:none;">@(det.bIsTextArea ? "Yes" : "No")</td>
                </tr>

            }
        </table>
    }

    <link href="~/Content/themes/redmond/theme.css" rel="stylesheet" />
    <script>
        // changeToGrid(this, 0);
        @foreach (IndicatorTypes type in lstIndicator)
    {
        jsInd += "indicator=indicatorType.create({ id:'" + type.id + "', name: '" + type.strName + "' ,width: " + type.intWidth + " ,border: " + type.intBorder + "  }); \n indicators[indicators.length] = indicator;\n";
        string strDGvalues = "dg=cDG.create({ id :'" + type.id+"', data: [detail]});\n";
        string strDGvaluesDet="";
        foreach (IndicatorTypesStruct det in type.structure)
        {
            jsInd += "detail=indicatorTypeDetail.create({ id:'" + det.id + "', caption: \"" + det.strCaption + "\" ,axis: '" + det.strAxis + "' ,isArea: " + (det.bIsTextArea? 1 : 0)  + ",idIndicatorType: " + type.id + ", order: "+det.intOrder+"  }); \n indicatorsDetail[indicatorsDetail.length] = detail; \n";
            strDGvaluesDet += ",['" + det.id + "',\"" + det.strCaption + "\",'" + (det.strAxis.Equals("X") ? "Column" : "Row") + "',"+det.intOrder+"," + (det.bIsTextArea ? 1 : 0)+"]\n";
        }
        strDGvaluesDet = strDGvaluesDet.Substring(1);
        strDGvalues=strDGvalues.Replace("detail",strDGvaluesDet);
        jsInd += strDGvalues + "\n datagrids[datagrids.length]=dg";
    }
        @MvcHtmlString.Create(jsInd)

    </script>
    @Html.Hidden("CID", (string)ViewBag.ContinuityID)
    @Html.Hidden("WWID", (int)ViewBag.WWID)
    <table width="600" height="600" align="center" style="border:none">
        <tr>
            <td height="35" style="border:none;">Template</td>
            <td height="35" style="border:none">
                <select name="template" id="template" onchange="LoadTemplateDetail(this.value)">
                    <option value=" 0">Select one</option>
                    @foreach (IndicatorTypes type in lstIndicator)
                    {
                        <option value="@type.id">@type.strName</option>
                    }
                </select>
            </td>
            <td style="cursor:pointer; color: blue; border:none">
                <!--    <div style="float:left" onclick="dataTemplate(1)">Add new |</div><div style="float:left" onclick="dataTemplate(2)"> Edit</div> -->
            </td>
        </tr>
        <tr>
            <td id="dataTemplate" style="display:none; height:auto" colspan="3">
                <table>
                    <tr>
                        <td>Name :</td>
                        <td>@Html.TextBox("tmpName", types.strName)</td>
                    </tr>
                    <tr>
                        <td>Border :</td>
                        <td>@Html.TextBox("tmpBorder", types.intBorder != null ? types.intBorder : 0)</td>
                    </tr>
                    <tr>
                        <td>Width :</td>
                        <td>@Html.TextBox("tmpWidth", types.intWidth != null ? types.intWidth : 1024)</td>
                    </tr>
                    <tr>
                        <td><input type="button" id="btncancelTmp" value="Cancel" /></td>
                        <td><input type="button" id="btnSaveTmp" value="Save" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border:none"><div id="grid_array"></div></td>
        </tr>
        <tr>
            <td colspan="3" align="right" style="border:none"><input type="button" value="Save" class="button" onclick="SaveDetail()" /></td>
        </tr>
    </table>
  
