﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "InputRapidView";
    Layout = "~/Views/Shared/_Layout.cshtml";

    RAPID rapid = new RAPID();
    rapid = Model.RAPID;
    int i = 0;
  
}
<link href="~/Content/Rapid.css" rel="stylesheet" />
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/rapid.js"></script>
@using (Html.BeginForm("Save", "RAPID", new { WWID = ViewBag.WWID, ContinuityID = "", bDelete = false, WName = ViewBag.WW }, FormMethod.Post, new { onsubmit = "return !isEmpty()", id = "Form" }))
{
     <div class="alert alert-warning" hidden="hidden" id="warning">
        <a href="#" class="close" aria-label="close" onclick="$('#warning').hide()">&times;</a>
        <strong>Warning!</strong>
        <div id="warningMessage"></div>
    </div>
    @Html.Hidden("idRapid",rapid.intId)
    @Html.Hidden("txtRev",0)
<table id="RAPID" align="center" width="1100">
    <tr>
        <td colspan="4" height="50"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="checkbox" name="ckbPrivate" @(rapid.bIsPrivate? "checked='checked'" :"")  id="ckbprivate"><b>Private</b>( only "R","A","P","I","D") participants</td>
        <td><img style="cursor:pointer; display:none" src="~/Content/images/create.PNG" onclick="if(!isEmpty() && send){Form.submit()}"></td>
        <td><input type="submit" id="Save" class="btn" style="color:blue" value="Save" /> </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><b>Decision Type:</b>@( rapid.intId == null || rapid.intId == 0 ? "Stand Alone" : "Embedded")</td>
        <td><b>Application :</b>@(ViewBag.App!=null? ViewBag.App : "RAPID")</td>
    </tr>
    <tr>
        <td align="right"><img width="32" height="32" style="cursor:pointer" id="expand" src="~/Content/images/plus.jpg" /></td>
        <td colspan="2"><b>Decision Title :</b>@Html.TextBox("txtTitle", rapid.strTitle, new { onblur = "send=!isEmpty()" })</td>
        <td>
            <div style="float:left">
                for
                <select id="linked" name="linked" onchange="ShowCmbRel(this.value)">
                    <option value="0">Stand Alone</option>
                    @foreach (RAPIDRel rel in Model.Rel)
                    {
                        if (rel.strName.Trim() == "CCB" && Model.CCB.Count == 0)
                        {
                            continue;
                        }
                        string strSel = rapid.intRelType > 0 || (ViewBag.CCBID != null && ((int)ViewBag.CCBID) > 0 && rel.id==1)? "selected='selected'" : "";
                        <option value="@rel.id" @strSel>@rel.strName</option>
                    }
                </select>
            </div>
            
        <div id="CCB" style="display:@(rapid.intRelType>0 || (ViewBag.CCBID != null && ((int)ViewBag.CCBID) > 0) ? "block" : "none"); float:left">Select a
            <select id="idCCB" name="idCCB">
                 <option value="0">Select one</option>
                @foreach (CCB ccb in Model.CCB)
                {
                    foreach(CCBStatus stat in ccb.lStatus)
                    {
                        string strSel = strSel = rapid.intRelId > 0 || (ViewBag.CCBID != null && ((int)ViewBag.CCBID) > 0 && ((int)ViewBag.CCBID)==stat.intCCBid)? "selected='selected'" : "";
                        
                        if(stat.intCCBid>0)
                        { 
                            <option value="@stat.intCCBid" @strSel>@stat.intCCBid</option>
                        }
                   }
                }
            </select>
            </div>
            @if (ViewBag.CCBID == null)
            {
                <script>
                    $("#linked").val(0);
                    HideCmbRel();
                </script>
            }
           </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><b>Status:</b> @(rapid.strStatus!=null? rapid.strStatus : "Recommendation Pending")
        @{
            if(rapid.intId>0 && rapid.strStatus.Contains("Reject"))
            {
                <img id="btnRevise" class="button" src="~/Content/images/Revise.PNG" />
                <script>
                    idDecision=@rapid.intId;
                </script>
            }
        }
        </td>
        @if (ViewBag.CCBID!=null)
        { 
        <td>
            <div id="CCBDetail">
                <b>Title:</b>
                @{
                    foreach (CCB ccb in Model.CCB)
                    {
                        List<CCBStatus> ccbsFil = ccb.lStatus.Where(x => x.intCCBid == ((int)ViewBag.CCBID)).ToList();
                        if(ccbsFil.Count>0)
                        { 
                            CCB ccbd = ccbsFil.Single();
                            @(ccbd.strTitle+" ("+ ccb.PXTName+" - " +ccb.ProgName+" )")
                        }
                    }
                }
            </div>
        </td>
        }
    </tr>
    <tr>
        <td></td>
        <td colspan="3">
            <div id="Description">
                <table width="300">
                    <tr>
                        <td></td>
                        <td valign="top"><b>Description:</b></td>
                        <td colspan="2">@Html.TextArea("txtDescription", rapid.strDescription)</td>
                    </tr>
                </table>
                
            </div>
            <script>
                var edit=tinymce.init({
                    selector: 'textarea#txtDescription'  // change this value according to your HTML
                    , width: 800
                    , statusbar: false
                    , plugins: 'textcolor'
                    , menubar: 'edit insert format table tools'
                    , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | fontselect | fontsizeselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | undo | redo '
                });

            </script>

        </td>
    </tr>
    @foreach(RAPIDDetail det in rapid.lstDetail)
    {
        
         
    <tr>
        <td style="width: 20px;" valign="top">
            @(MvcHtmlString.Create("<img src=\"/Content/images/"+det.strIcon+"\"/>"))</td>
        <td colspan="3">
            <div class="group" @*@(det.strName.Substring(0, 1).Equals("D") && rapid.intId == 0 ? "style=display:none":"")*@>
    <div class="detail" id="detail-@det.intID">@MvcHtmlString.Create(det.strText)</div>
    <div style="float: left; width:80%; vertical-align:top;">
        <div style="float: right; vertical-align: top; text-align: right">

            <img id="@det.strName.Substring(0, 1)" src="~/Content/images/@(rapid.intId > 0 && det.strName.StartsWith("R") ? "I" + det.strButton : det.strButton)" class="@(rapid.intId > 0 && det.strName.StartsWith("R") ? "" : "button")" onclick="@(det.strName.StartsWith("R") || det.strName.StartsWith("D") ? (  rapid.intId > 0 && det.strName.StartsWith("R")? "" :"Form.submit()") : "add('" + det.intID + "'); ")" />
            <input type="button" id="Copy" class="btn" style="color:blue; display:none" value="Re-Submit" />
        </div>
        <div id="items-@det.intID">
            @{
                                    string strValue = det.strName.Substring(0, 1).Equals("R") ? ViewBag.REmail : null;
            }
            <div class="item" data-type="@det.strName.Substring(0, 1)" id="item-@det.intID-0" @*style="display:@(det.Item != null && det.Item.Count > 0? "none" : "block")"*@>
                <div id="let-@det.intID">"@det.strName.Substring(0, 1)":</div>  @Html.TextBox("txtEmail-" + det.intID + "-1000", strValue, new { onblur = "send=validateEmail(this.value); SearchRole(this.value,'txtRole-" + det.intID + "-1000'); addSemicolon('"+det.intID+"',this.value)" }) Role : @Html.TextBox("txtRole-" + det.intID + "-1000", null)

                @*@if (det.Status != null && det.Status.Count > 0 && rapid.intId > 0)
                            {
                                foreach (RAPIDStatus stat in det.Status)
                                {
                                    if (det.Status.Count > 0)
                                    {
                                        <input type="radio" name="@("chk-" + det.intID+"-1000")" onclick="@(stat.strName.StartsWith("R")? "ShowComment('"+det.intID+"-1000')" : "HideComment('"+det.intID+"-1000')")" id="@("chk-"+det.intID+"-"+stat.intID)" value="@stat.intID" />@stat.strName
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="@("chk-" + det.intID+"-1000")" id="@("chk-"+det.intID+"-"+stat.intID)" value="@stat.intID" />@stat.strName
                                    }
                                }

                            }*@
                @switch (det.strName.Substring(0, 1))
                            {
                                case "A":
                                    if (rapid.intId == 0)
                                    {
                                        <div id="NR" style="float:right"><input type="checkbox" name="chkNRequired" id="chkNRequired" value="1" onclick="hideOptA(@det.intID,'@det.strName.Substring(0, 1)')" />@("No \"A\"'s are Required")</div>
                                    }
                                    <div id="reject-@det.intID-1000" style="float: left; vertical-align: top; padding-left: 10px; display: none">
                                        Reject Comment :
                                        <textarea name="txtComment-@det.intID-1000" id="txtComment"></textarea>
                                    </div>
                                    break;
                                case "R":
                                    if(det.Item == null)
                                    {
                                        <br /><br /><div style="float:left">
                                            @("Recommendation : ")
                                            @Html.TextBox("txtRecommend", null)
                                        </div>
                                    }
                                    break;
                                    case "P":
                                        <div style="float:right"><input type="checkbox" name="chkAutoP" id="chkAutoP" value="1" onclick="AutoP(@det.intID,'@det.strName.Substring(0, 1)')" />Auto-populate "P"'s with "I" Info.</div>
                                    
                                    break;
                            }

            </div>

            @if (det.Item != null && det.Item.Count > 0)
{
    foreach (RAPIDItem item in det.Item)
    {
        <div class="item" data-type="@det.strName.Substring(0, 1)"  id="item-@det.intID-@item.intID" @(i > 0 ? "data-pack=" + det.intID : "") style="display:@(i == 0 ? "block" : "none")">
            <div id="let-@det.intID">"@det.strName.Substring(0, 1)":</div>
            @Html.TextBox("txtEmail-" + det.intID + "-" + item.intID, item.strEmail, new { onblur = "send=validateEmail(this.value); " }) Role : @Html.TextBox("txtRole-" + det.intID + "-" + item.intID, item.strRole)
            @(i == 0 && det.Item.Count > 1 ? MvcHtmlString.Create("<img style=\"cursor:pointer\" id=\"expandinfo" + det.intID + "\" onclick=\"expandinfo('" + det.intID + "')\" width=32 height=32 src=\"../Content/images/plus.jpg\" id=\"Expand\" />") : MvcHtmlString.Create(""))
            @if (det.Status != null && det.Status.Count > 0)
            {
                bool bChecked = false;

                foreach (RAPIDStatus stat in det.Status)
                {
                    bChecked = stat.intID == item.intStatus;

                    if (det.Status.Count > 1)
                    {
                        <input type="radio" name="@("chk-" + det.intID+"-"+item.intID)" onclick="@(stat.strName.StartsWith("R") ? "ShowComment('" + det.intID + "-" + item.intID + "','" + det.strName.Substring(0, 1) + "');" : "HideComment('" + det.intID + "-" + item.intID + "','" + det.strName.Substring(0, 1) + "');")@(det.strName.Substring(0, 1).Equals("D") && stat.intID==4? "add('" + det.intID + "');":"")" id="@("chk-"+det.intID+"-"+stat.intID)" value="@stat.intID" @(bChecked ? "checked='checked'" : "") />@stat.strName
                    }
                    else
                    {
                        <input type="checkbox" name="@("chk-" + det.intID + "-" + item.intID)" id="@("chk-" + det.intID + "-" + stat.intID)" value="@stat.intID" @(bChecked ? "checked='checked'" : "") />@stat.strName
                    }
                }
            }


            @switch (det.strName.Substring(0, 1))
            {
                case "A":
                    if (rapid.intId == 0)
                    {
                        <div id="NR" style="float:right"><input type="checkbox" name="chkNRequired" id="chkNRequired" value="1" onclick="hideOptA(@det.intID,'@det.strName.Substring(0, 1)')" />@("No \"A\"'s are Required")</div>
                    }
                    <br /><br />
                    <div id="reject-@det.intID-@item.intID" style="float: left; vertical-align: top; padding-left: 10px; display: none">
                        Reject Comment :
                        <textarea name="txtComment-@det.intID-@item.intID" id="txtComment">@item.strComment</textarea>
                    </div>
                    break;
                case "D":
                <br /><br />
                <div id="reject-@det.intID-@item.intID" style="float: left; vertical-align: top; padding-left: 10px; display: none">
                    Reject Comment :
                    <textarea name="txtComment-@det.intID-@item.intID" id="txtComment">@item.strComment</textarea>
                </div>
                    break;
                case "R":
                <br /><br /><div style="float:left">
                    @("Recommendation : ")
                    @Html.TextBox("txtRecommend", item.strRecommendation)
                </div>
                    break;
            }
        </div>
            i++;
    }
}
        </div><br />


    </div>

</div>
            <script>
                $("#detail-@det.intID").css("height", 100);
            </script>
    </td>
    </tr>
        i = 0;
    }
</table>
<script>
    $('#aRAPID').css("background-color", "#0062a8");
</script>    
     
}