﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error!";
}

<div class="list-sfs-holder">
    <div class="alert alert-error">
        <font size="21"><b>Oops!</b></font>
        <br>
        <span>We have encountered an error. Please communicate it to the admninistrator.</span>
    </div>
</div>
