﻿@using AutoIndicators.Models
@model CfgFreeHTML
@section Scripts
{
    <script>
        wwid=@ViewBag.WWID;
        
    </script>

}
@{
    ViewBag.Module = "FreeHTML";
   
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    DEOSecurity.Model.mNodes Menu=(DEOSecurity.Model.mNodes)ViewBag.Mod;
    DEOSecurity.Model.mParameter param = new DEOSecurity.Model.mParameter();
    
    if( Menu.Parameters.Count>0)
    {
        Menu.Parameters.Where(x => x.strParameter == "Module").First();
    }

    ViewBag.Params = "Module," + param.strParameterValue;
    
    string userName = User.Identity.Name;
    int size = ViewBag.validUsers.Count;
    string menu = "";
            int j = 0;

            string[] valid1Users = new string[size];

            foreach (var item in ViewBag.validUsers)
                {
                     if (item.UserType == 1)
                     {
                        valid1Users[j] = item.validUsers;

                        j++;
                     }
                    
                }

            int res = Array.IndexOf(valid1Users, userName.Remove(0, 4));

            if ((bool)ViewBag.Edit || res > -1)  
            {
                <div style="float:right">
                    <a onclick="showPopUpClick('Mod', '@param.strParameterValue', '@ViewBag.Module', '/'); return false;" href="fallback.html">Load New</a>
                </div>
            }
            menu = Menu.strTagID;

            if (Menu.strTitle.Equals("Roadmap"))
            {
                <div id="content-content-holder" style="transform: translate(-10%,-10%); pointer-events: none; ">
                    <div id="content-holder" style="transform: scale(.8); pointer-events:all; ">
                        @(new HtmlString(Model.FreeHTML))
                    </div>
                </div>
            }else
            {
                 @(new MvcHtmlString(Model.FreeHTML))
            }
            
}
@section Extras{
    @GeneralHelpers.MenuExtras(ViewBag.WWID, false, ViewBag.validUsers)
}
<script type="text/javascript">
    //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
    $(document).ready(function () {
        $('#@menu').css("background-color", "#0062a8");
    });
</script>