﻿@using AutoIndicators.Models
@model dynamic
@{
    Security sec = Model.Security;
    Layout = null;
    
    
}
<link href="~/Content/Security.css" rel="stylesheet" />
<div class="Step1">
    <table align="center">
        <tr>
            <td>Name:</td>
            <td>@Html.TextBox("txtName",sec.Profile.strName)</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Html.TextBox("txtDescription",sec.Profile.strDescription)</td>
        </tr>
    </table>
    <div class="NavNext">Siguiente</div>
</div>
