﻿@using AutoIndicators.Models
@model dynamic
@{
    ViewBag.Title = "SecurityView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string userName = User.Identity.Name;
    int size = ViewBag.validUsers.Count;
    int j = 0;

    string[] valid1Users = new string[size];

    foreach (var item in ViewBag.validUsers)
    {
        if (item.UserType == 1)
        {
            valid1Users[j] = item.validUsers;

            j++;
        }

    }

    int res = Array.IndexOf(valid1Users, userName.Remove(0, 4));
    if (res > -1)
    {
        <div style="float:right"><a onclick="showPopUp(); return false;" href="fallback.html">Add new Profile</a></div>
    }

    valid1Users = null;

}
<script>
function showPopUp() {
        var urlLink = "/Security/Profile";


        $('#Modal').data('url', urlLink);
        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");
            $('#modalcontent').width(600);
            $('#modalcontent').height(450);
        });
}
</script>