﻿
@using AutoIndicators.Models
@model dynamic
<link href="@Url.Content("~/Content/modalStyle.css")" rel="stylesheet" type="text/css" />
@{
    Layout = null;
}
<div class="alert alert-success" hidden="hidden" id="success">
    <a href="#" class="close" aria-label="close" onclick="$('#success').hide()">&times;</a>
    <strong>Thanks! for you time , we'll attend your feedback as soon as possible</strong>
    <div id="successMessage"></div>
</div>
<form id="CommentForm">
    <table width="400" align="center" id="BugTable">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 70%;">
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.Label("Application:")</td>
                <td>
                    <select name="pApp" id="pApp">
                        @foreach (View v in ViewBag.Views)
                        {
                            <option value="@v.id">@v.label</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Title:")</td>
                <td>
                    @Html.TextBox("pTitle", null, new { required = string.Empty })
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Description: ")</td>
                <td>
                    @Html.TextArea("pDescription", null, new { required = string.Empty })
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><input type="button" onclick="SaveFeedback(); return false;" value="Save" id="saveBtn" /></td>
            </tr>
        </tbody>
    </table>
</form>

<script>

    function SaveFeedback() {
        $.post('/BugReporting/Save', $('#CommentForm').serialize(), function () {
            $('#success').show();
            $('#BugTable').toggle('clip', 500);
        });
    }
</script>