﻿@using AutoIndicators.Models
@model List<DefaultWW>
@{
    ViewBag.Title = "Report by user";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Module = "Reports";
}
@section JSLibs{
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/reports.js"></script>
<script src="~/Scripts/canvasjs.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}
@section Styles{
<link href="~/Content/report.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css" />
}
@{
    switch((int)ViewBag.Report)
    {
        case 1: @:<h2>Snapshot Report</h2>
            break;
        case 2: @:<h2>Health Indicator Report</h2>
            break;
        case 3: @:<h2>Schedule Report</h2>
            break;
        case 4: @:<h2>Snapshot Report by Program</h2>
            break;
    }
}
<br /><br />
<div>From
    <select id="From">
        @foreach (DefaultWW ww in Model)
        {
            <option value="@ww.WWID" @(ww.WWID==ViewBag.WWID? "selected=selected" :"")>@ww.weekName</option>
        }
    </select>
    To
    <select id="To">
        @foreach (DefaultWW ww in Model)
{
    <option value="@ww.WWID" @(ww.WWID == ViewBag.WWID ? "selected=selected" : "")>@ww.weekName</option>
} 
    </select>
    <input type="button" value="View" onclick="LoadReportUser(@ViewBag.Report,$('#From').val()+'-'+$('#To').val());" />
    </div>
<br />
<div id="ReportViewer" style="width:100%">
    <table align="center" style="width:100%">
        <tr>
            <td align="center"><img src="~/Content/images/load.gif" width="25%" height="25%" /></td>
        </tr>
    </table>
</div>
@section Scripts
{
    <script>
    module = '@ViewBag.Module';
    view=14;
    skip = '../';
    wwid=@ViewBag.WWID;

        LoadReportUser(@ViewBag.Report,$('#From').val()+'-'+$('#To').val());
    </script>

}