﻿@using AutoIndicators.Models
@model List<NotifReport>
@{
    string[] Apps = Model.Select(x => x.IconApp).Distinct().ToArray();
    string[] AppsName = Model.Select(x => x.AppName).Distinct().ToArray();
    int Colspan = 7;
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    bool bArchived = (bool)ViewBag.Archived;
    ViewBag.Params = "owner," + ViewBag.ByOwner + "; year," + ViewBag.ByYear;
    ViewBag.Module = "Reports/Consolidate";
    List<string> notif = new List<string>();
}
@section Scripts
{
    <script>
        module = '@ViewBag.Module';
        view=14;
        skip = '../';
        wwid=@ViewBag.WWID;
    </script>
}
@section Extras{
    @{
        //@GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers)
    }
}
<br />
<table align="left" style="background-color:#0062a8; width:100%; text-align:center">
    <tr>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Notifweek", "Reports")">Notification this week</a></td>
        @if ((bool)ViewBag.ByOwner && (int)ViewBag.ByYear > 0)
        {
            <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Consolidate", "Reports", new { year = DateTime.Now.Year })">Notification Annual by program</a></td>
            <td style="border:2px solid white; background-color:white"><a style="color:#0062a8 !important;" href="@Url.Action("Consolidate", "Reports",new { owner=true, year=DateTime.Now.Year })">Notification Annual by owner</a></td>
        }
        else if ((int)ViewBag.ByYear > 0)
        {
            <td style="border:2px solid white; background-color:white"><a style="color:#0062a8 !important;" href="@Url.Action("Consolidate", "Reports", new { year = DateTime.Now.Year })">Notification Annual by program</a></td>
            <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Consolidate", "Reports",new { owner=true, year=DateTime.Now.Year })">Notification Annual by owner</a></td>
        }
        else
        {
            <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Consolidate", "Reports", new { year = DateTime.Now.Year })">Notification Annual by program</a></td>
            <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Consolidate", "Reports",new { owner=true, year=DateTime.Now.Year })">Notification Annual by owner</a></td>
        }
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Delinquent", "Reports")">Delinquent this week by program</a></td>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Delinquent", "Reports", new { owner = true })">Delinquent this week by owner</a></td>
    </tr>
</table>
<br />
<br />
@if((bool)ViewBag.ByOwner)
{
    <h3>Notification @((int)ViewBag.ByYear > 0 ? "Annual" : "this week") By Owner @((int)ViewBag.ByYear > 0 ? "(WW Total " + Model.FirstOrDefault().Total+")" : "")</h3>
}
else
{
    <h3>Notification @((int)ViewBag.ByYear > 0 ? "Annual" : "this week") By Program @((int)ViewBag.ByYear > 0 ? "(WW Total "+Model.FirstOrDefault().Total+")":"")</h3>
}
<br />
<br />
@if ((int)ViewBag.ByYear>0)
{
    int intYear = 0;
    if ((bool)ViewBag.ByOwner)
    {
        Colspan=Colspan + 2;
    }else
    {
        Colspan++;
    }
    @:Year: <select id="Year">
        foreach (Calendar cal in AutoIndicators.GeneralClasses.ViewDataFilter.Calendar())
        {
            if (cal.Year != intYear)
            {
                if(cal.Year==(int)ViewBag.ByYear)
                {
                    @:<option value="@cal.Year" selected="selected"> @cal.Year</option>
                }else
                { 
                    @:<option value="@cal.Year"> @cal.Year</option>
                }
                intYear = cal.Year;
            }
        }
    @:</select><button onclick="SelYear()">Search</button>
}

@if(Model.Count>0)
{ 
    <div style="width:100%; background-color:#CDE6F7">
    @for (int i = 0; i < Apps.Length; i++)
    {
        <div style="height:90px; border-bottom:solid 2px black"><img src="/@Apps[i].Replace("~/","")" width="75" height="75" />  @AppsName[i] (@Model.Where(x => x.AppName == AppsName[i]).Select(x=> x.Program).Distinct().Count()) <img style="cursor:pointer" onclick="OpenSection('@AppsName[i]',this)" src="/Content/images/plus.jpg" width="12" height="12"></div>
        <div data-appid="@AppsName[i]" style="display:none">
            @if(!(bool)ViewBag.ByOwner)
            { 
                notif.Clear();
                <table align="center" class="table table-bordered table-striped">
                <tr>
                    <th>Program(s)</th>                    
                </tr>
                @foreach (string program in Model.Where(x => x.AppName == AppsName[i]).Select(x=> x.Program).Distinct().ToArray())
                {
                    decimal perc=(Model.Where(x => x.AppName == AppsName[i] && x.Program == program).Count() * 100) / Model.Where(x => x.AppName == AppsName[i] && x.Program == program).FirstOrDefault().Total;
                    <tr>
                        <td valign="middle" style="background-color: lightgrey"><span>@program (@Model.Where(x => x.AppName == AppsName[i] && x.Program==program).Count())</span>  @((int)ViewBag.ByYear>0? MvcHtmlString.Create("<span style='color:red'>Incidence ("+Math.Ceiling(perc)+"%) </span>") : MvcHtmlString.Create(""))
                        <img style="cursor:pointer" onclick="OpenProgram('@program',this)" src="/Content/images/plus.jpg" width="12" height="12"></td>
                    </tr>
                    <tr data-program="@program" style="display:none">
                        <td>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th colspan="@(Colspan-1)">Owner: @Model.Where(x => x.AppName == AppsName[i] && x.Program == program).FirstOrDefault().Name</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Notif</th>
                                    <th>Type</th>
                                    @*<th>Days</th>*@
                                    <th>Status</th>
                                    <th>Date</th>
                                    @if ((int)ViewBag.ByYear>0)
                                    {
                                        <th>WW</th>
                                    }
                                </tr>
                                @foreach (NotifReport report in Model.Where(x => x.AppName == AppsName[i] && x.Program == program))
                                {
                                    string strInfo = Model.Where(x => x.AppName == AppsName[i]).FirstOrDefault().AppId.ToString() + "|" + report.PWContinuityID + "||" + report.WWID + "|" + report.IconApp + "|" + report.Owner + "|" + report.PT + "|" + report.PXT + "|" + report.SubTypeId;
                                    <tr data-year="@report.CreateDate.Year">
                                        <td><a href="#" data-reference="@report.PWContinuityID" data-app="1" data-additional="@report.Reference" onclick="GotoApp(this)" style="display:block !important">Go</a></td>
                                        <td><a href="#" onclick="OpenNotifFromReport(@Model.Where(x=> x.AppName==AppsName[i]).FirstOrDefault().AppId,@report.NotifId,'@strInfo','@report.Program')">@report.Notif</a></td>
                                        <td>@report.TypeName</td>
                                        @*<td>@report.Days</td>*@
                                        <td>@report.Status</td>
                                        <td>@report.CreateDate</td>
                                        @if ((int)ViewBag.ByYear>0)
                                        {
                                            <td>@report.weekName</td>
                                        }
                                    </tr>
                                }
                            </table>
                         </td>
                    </tr>
                }
            </table>
            }
            else
            {
                <table align="center" class="table table-bordered table-striped">
                    <tr>
                        <th>Owner(s)</th>
                    </tr>
                    @foreach (string owner in Model.Where(x => x.AppName == AppsName[i]).Select(x => x.Name).Distinct().ToArray())
                    {
                        <tr>
                            <td valign="middle" style="background-color: lightgrey">@owner (@Model.Where(x => x.AppName == AppsName[i] && x.Name == owner).Count()) <img style="cursor:pointer" onclick="OpenOwner('@owner',this)" src="/Content/images/plus.jpg" width="12" height="12"></td>
                        </tr>
                        <tr data-owner="@owner" style="display:none">
                            <td>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th colspan="@Colspan">Notif</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Notif</th>
                                        <th>Type</th>
                                        <th>Program</th>
                                        <th>Days</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        @if ((int)ViewBag.ByYear > 0)
                                        {
                                            <th>WW</th>
                                            <th>Insidence</th>
                                        }
                                    </tr>
                                    @foreach (NotifReport report in Model.Where(x => x.AppName == AppsName[i] && x.Name == owner).Distinct())
                                    {
                                        string strInfo = Model.Where(x => x.AppName == AppsName[i]).FirstOrDefault().AppId.ToString() + "|" + report.PWContinuityID + "||" + report.WWID + "|" + report.IconApp + "|" + report.Owner + "|" + report.PT + "|" + report.PXT + "|" + report.SubTypeId;
                                        <tr data-year="@report.CreateDate.Year">
                                            <td><a href="#" data-reference="@report.PWContinuityID" data-app="1" data-additional="@report.Reference" onclick="GotoApp(this)" style="display:block !important">Go</a></td>
                                            <td><a href="#" onclick="OpenNotifFromReport(@Model.Where(x=> x.AppName==AppsName[i]).FirstOrDefault().AppId,@report.NotifId,'@strInfo','@report.Program')">@report.Notif</a></td>
                                            <td>@report.TypeName</td>
                                            <td>@report.Program</td>
                                            <td>@report.Days</td>
                                            <td>@report.Status</td>
                                            <td>@report.CreateDate</td>
                                            @if ((int)ViewBag.ByYear>0)
                                            {
                                                <td>@report.weekName</td>
                                                if(report.Total>0)
                                                {
                                                    <td style="color:red">@((Model.Where(x => x.AppName == AppsName[i] && x.Name == owner && x.Program==report.Program).Count() * 100) / report.Total)%</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
        <br />
    }
</div>
}else
{
    @:<br /><br/>Data Not found.
}
<script>
    @if ((int)ViewBag.ByYear>0)
    {
        @:$('.FilterLayout').hide();
    }
    
    function OpenSection(app,img)
    {
        $('[data-appid]').hide();

        if ($(img).attr('src').indexOf('plus') > -1)
        {
            $('[data-appid="' + app + '"]').show();
            $(img).attr('src', '/Content/images/minus.png');
        } else
        {
            $(img).attr('src', '/Content/images/plus.jpg');
        }
    }
    function OpenOwner(owner,img)
    {
        $('[data-owner]').hide();

        if ($(img).attr('src').indexOf('plus') > -1) {
            $('[data-owner="' + owner + '"]').show();
            $(img).attr('src', '/Content/images/minus.png');
        } else {
            $(img).attr('src', '/Content/images/plus.jpg');
        }
    }
    function OpenProgram(program,img) {
        $('[data-program]').hide();

        if ($(img).attr('src').indexOf('plus') > -1) {
            //if($('#Year').val()!=undefined)
            //{
            //    $('[data-year]').hide();
            //    $('[data-year="' + $('#Year').val() + '"]').show();
            //    $($(img).parent().children()[0]).text(program +'('+$('[data-year="' + $('#Year').val() + '"]').length+')');
            //}
            
            $('[data-program="' + program + '"]').show();
            
            
            $(img).attr('src', '/Content/images/minus.png');
        } else {
            $(img).attr('src', '/Content/images/plus.jpg');
        }
    }
    function SelYear()
    {
        window.location.href='/Reports/Consolidate?owner=@ViewBag.ByOwner&year='+$('#Year').val();
    }
</script>