﻿@using AutoIndicators.Models
@model List<NotifReport>
@section Scripts
{
    <script>
        module = '@ViewBag.Module';
        view=14;
        skip = '../';
        wwid=@ViewBag.WWID;
       

    </script>
}
@{
    List<int> Delincuents = new List<int>();
    Delincuents.Add(2);
    Delincuents.Add(3);
    Delincuents.Add(4);
    Delincuents.Add(5);
    Delincuents.Add(7);
    bool bArchived = (bool)ViewBag.Archived;
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    ViewBag.Params = "owner," + ViewBag.ByOwner;
    ViewBag.Module = "Reports/Delinquent";
}
@section Extras{
    @{
       // @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers)
    }
}
<script>
    var mEmail={
        email:''
           ,app:''
           ,create: function (config) {
               var newObject = Object.create(this);
               //If a config object has been used to initialize the
               //sprite, assign those values to the new object
               if (config !== undefined) {
                   Object.keys(config).forEach(function (key) {
                       newObject[key] = config[key];
                   });
               }
               return newObject;
           }
    }

    var Email=mEmail.create();
    var Emails=[];
</script>
<br />
<table align="left" style="background-color:#0062a8; width:100%; text-align:center">
    <tr>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Notifweek", "Reports")">Notification this week</a></td>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Consolidate", "Reports", new { year = DateTime.Now.Year })">Notification Annual by program</a></td>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Consolidate", "Reports",new { owner=true, year=DateTime.Now.Year })">Notification Annual by owner</a></td>
        @if ((bool)ViewBag.ByOwner)
        {
            <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Delinquent", "Reports")">Delinquent this week by program</a></td>
            <td style="border:2px solid white; background-color:white"><a style="color:#0062a8 !important;" href="@Url.Action("Delinquent", "Reports", new { owner = true })">Delinquent this week by owner</a></td>
        }
        else
        {
            <td style="border:2px solid white; background-color:white"><a style="color:#0062a8 !important;" href="@Url.Action("Delinquent", "Reports")">Delinquent this week by program</a></td>
            <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Delinquent", "Reports", new { owner = true })">Delinquent this week by owner</a></td>
        }
    </tr>
</table>
<br />
<br />
<div style="width:100%; text-align: center">
    @if ((bool)ViewBag.ByOwner)
    {
        <h3>Delinquent this week By Owner</h3>
    }
    else
    {
        <h3>Delinquent this week By Program</h3>
    }
</div>
<br /><br />
@if (!(bool)ViewBag.ByOwner)
{
    foreach (var notif in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId)).Select(x => new { x.Program, x.AppName, x.Email }).ToList().Distinct().OrderBy(x => x.Program))
    {
        string strApp = "";
        foreach (string Apps in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId) && x.Program == notif.Program).Select(x => x.AppName).Distinct())
        {
            strApp += "," + Apps;
        }
        if (strApp.Length > 1)
        {
            strApp = strApp.Substring(1);
        }
        <script>
            Email.email='@notif.Email';
            Email.app='@strApp';

            if(Emails.indexOf(Email)<0)
            {
                Emails[Email.length]=Email;
            }
        </script>
    }
}
else
{
    foreach (var notif in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId)).Select(x => new { x.Name, x.AppName, x.Email }).ToList().Distinct().OrderBy(x => x.Name))
    {
        string strApp = "";
        foreach (string Apps in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId) && x.Name == notif.Name).Select(x => x.AppName).Distinct())
        {
            strApp += "," + Apps;
        }

        if (strApp.Length > 1)
        {
            strApp = strApp.Substring(1);
        }
        <script>
            var Email=mEmail.create();
            Email.email='@notif.Email';
            Email.app='@strApp';

            if(Emails.indexOf(Email)<0)
            {
                Emails[Emails.length]=Email;
            }
        </script>
    }
}

<table id="ReporData" style="display:none">
    @if (!(bool)ViewBag.ByOwner) { 
        <tr>
            <th>Program</th>
            <th>Owner</th>
            <th>App</th>
            <th></th>
        </tr>
        foreach (var notif in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId)).Select(x => new { x.Program,x.AppName,x.Email,x.Name }).ToList().Distinct().OrderBy(x=> x.Program))
        {
            string strApp = "";
            foreach(string Apps in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId) && x.Program==notif.Program).Select(x=> x.AppName).Distinct())
            {
                strApp += ","+Apps;
            }
            if (strApp.Length > 1)
            {
                strApp = strApp.Substring(1);
            }
                <tr>
                    <td>@notif.Program</td>
                    <td>@notif.Name</td>
                    <td>@notif.AppName</td>
                    <td><button onclick="Notify('@notif.Email','@strApp')">Email</button></td>
                </tr>
        }
    }
    else
    {
        <tr>
            <th>Owner</th>
            <th>App</th>
            <th>Program</th>
            <th>Notify by</th>
        </tr>
        foreach (var notif in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId)).Select(x => new { x.Name, x.AppName,x.Email,x.Program }).ToList().Distinct().OrderBy(x=> x.Name))
        {
            string strApp = "";
            foreach (string Apps in Model.Where(x => Delincuents.Exists(y => y == x.SubTypeId) && x.Name == notif.Name).Select(x => x.AppName).Distinct())
            {
                strApp += "," + Apps;
            }

            if (strApp.Length > 1)
            {
                strApp = strApp.Substring(1);
            }
            <tr>
                <td>@notif.Name</td>
                <td>@notif.AppName</td>
                <td>@notif.Program</td>
                <td><button onclick="Notify('@notif.Email','@strApp')">Email</button></td>
            </tr>
        }
    }
</table>
<div>
    <div style="width:30%; float:left; height:30px;"></div>
    <div id="dgReport" style="float:left"></div>
</div>
<script>

    var EmailsSent=[];
    changeToGridDelinquentReport();
    function changeToGridDelinquentReport() {
        var tbl = $('#ReporData');
        var type = $('#ReporData').data("type");
        var obj = $.paramquery.tableToArray(tbl);

        var newObj = {
            width: 800,
            height: 600,
            hwrap: false,
            wrap: false,
            title: "Results",
            //DataGrid Menu
            editable: false,
            collapsible: true,
            rowBorders: true,
            filterModel: { mode: 'AND', header: true, on: true },
            datatype: 'local',
            selectionModel: {
                //type: 'cell'
                type: 'cell'
            },
            numberCell: { width: 50, resizable: true },
            hoverMode: 'row',
            scrollModel: { autoFit: false },
            toolbar: {
                items: [{
                    type: 'button', label: 'Send All Emails', listeners: [{
                        click: function () {
                            SendAll();
                        }
                    }]
                }]}
        };

        newObj.dataModel = {
            data: obj.data,
            sorting: "local",
            sortDir: ["up", "down", "up"]
        };
        newObj.colModel = obj.colModel;

        for (i = 0; i < newObj.colModel.length; i++) {
            newObj.colModel[i].width = "150";
        }



        var items = newObj.dataModel.data;
        var result = [];

        for (x = 0; x < newObj.colModel.length; x++) {
            Val = [];
            for (var item, i = 0; item = items[i++];) {
                if (Val.indexOf(item[x]) < 0) {
                    Val[Val.length] = item[x];
                }
            }
            result[result.length] = Val;
        }
        for (i = 0; i < newObj.colModel.length; i++) {
            newObj.colModel[i].filter = {
                type: 'select',
                attr: "multiple",
                cache: null,
                options: result[i],
                condition: 'range',
                listeners: ['change'],
                init: function () {
                    $(this).pqSelect({ checkbox: true, radio: true, width: '100%' });
                }
            };
        }

        newObj.pageModel = { rPP: 1000, type: "local" };

        $grid = $('#dgReport').pqGrid(newObj);


        try {
            if ($('#dgReport').pqGrid() != null)
                $('#dgReport').pqGrid("destroy");

            $grid = $('#dgReport').pqGrid(newObj);

            $($($('#dgReport').children()[0]).children()[1]).click();
            $($($('#dgReport').children()[0]).children()[1]).click();

        } catch (err) { }
    }
    function Notify(email,data)
    {
        @*$.post("/Reports/NotifyDelinquent",{WWID: wwid, WWName: '@ViewBag.WW.Replace("'","-")', Data: data, To:email},function(res){
            if(res)
            {
                alert("Email Sent");
            }
        })*@

        window.location.href="mailto:"+email+"?Subject=@ViewBag.WW.Replace("'"," ") Delinquent in "+data+"&Body="+data;


    }
    function SendAll()
    {
        var sentTo="Email sent to ";
        $.each(Emails,function(){
            if(EmailsSent.indexOf(this.email)==-1)
            {
                EmailsSent[EmailsSent.length]=this.email.trim();
                sentTo+='<br>'+ this.email;
                Notify(this.email,this.app);
            }
        });

        alert(sentTo);
    }

</script>