﻿@using AutoIndicators.Models
@model List<NotifReport>
@section Scripts
{
    <script>
        module = '@ViewBag.Module';
        view=14;
        skip = '../';
        wwid=@ViewBag.WWID;


    </script>
}
@{
    ViewBag.HiddenFilter = false;
    ViewBag.ShowExtra = true;
    ViewBag.Module = "Reports/Notifweek";
}
<table align="left" style="background-color:#0062a8; width:100%; text-align:center">
    <tr>
        <td style="border:2px solid white; background-color:white"><a style="color:#0062a8 !important;" href="/Reports/Notifweek/?year=0">Notification this week</a></td>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("NotifWeek", "Reports", new { year = DateTime.Now.Year, byYear=true })">Notification Annual</a></td>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Delinquent", "Reports")">Delinquent this week by program</a></td>
        <td style="border:2px solid white;"><a style="color:white !important;" href="@Url.Action("Delinquent", "Reports", new { owner = true })">Delinquent this week by owner</a></td>
     
    </tr>
</table>
<br />
<br />
<div style="width:100%; text-align: center"><h3>Notification this week</div>
<br /><br />
@if(ViewBag.ByYear)
{
    int intYear = 0;
    @:Year: <select id="Year">
    foreach (Calendar cal in AutoIndicators.GeneralClasses.ViewDataFilter.Calendar())
    {
        if (cal.Year != intYear)
        {
            if(cal.Year==(int)ViewBag.Year)
            {
                @:<option value="@cal.Year" selected="selected"> @cal.Year</option>
            }else
            {
                @:<option value="@cal.Year"> @cal.Year</option>
            }
            intYear = cal.Year;
        }
    }
    @:</select>
<button onclick="SelYear()">Search</button>
}
<table id="ReporData" style="display:none">
    <tr>
        <th>Notif</th>
        <th>Program</th>
        <th>Owner</th>
        <th>App</th>
        <th>Date</th>
        @if (ViewBag.ByYear)
        {
            <th>WW</th>    
            <th>Incidence %</th>
        }
    </tr>
    @foreach(NotifReport rpt in Model)
    {
        decimal perc = (Model.Where(x => x.AppId == rpt.AppId && x.Program == rpt.Program).Count() * 100) / Model.Where(x => x.AppId == rpt.AppId && x.Program == rpt.Program).FirstOrDefault().Total;
        <tr>
            <td>@rpt.Notif</td>
            <td>@rpt.Program</td>
            <td>@rpt.Owner</td>
            <td>@rpt.AppName</td>
            <td>@rpt.CreateDate</td>
            @if(ViewBag.ByYear)
            {
                <td>@rpt.WWID</td>
                <td>@Math.Ceiling(perc)</td>
            }
        </tr>
    }
</table>
<div>
    <div style="width:30%; float:left; height:30px;"></div>
    <div id="dgReport" style="float:left"></div>
</div>
<script>
    changeToGridReport();
    function changeToGridReport() {
        var tbl = $('#ReporData');
        var type = $('#ReporData').data("type");
        var obj = $.paramquery.tableToArray(tbl);

        var newObj = {
            width: 1024,
            height: 600,
            hwrap: false,
            wrap: false,
            title: "Results",
            //DataGrid Menu
            editable: false,
            collapsible: true,
            rowBorders: true,
            filterModel: { mode: 'AND', header: true, on: true },
            datatype: 'local',
            selectionModel: {
                //type: 'cell'
                type: 'cell'
            },
            numberCell: { width: 50, resizable: true },
            hoverMode: 'row',
            scrollModel: { autoFit: false },
            toolbar: {
                items: [{
                    type: 'button', label: 'Send All Emails', listeners: [{
                        click: function () {
                            SendAll();
                        }
                    }]
                }]}
        };

        newObj.dataModel = {
            data: obj.data,
            sorting: "local",
            sortDir: ["up", "down", "up"]
        };
        newObj.colModel = obj.colModel;

        for (i = 0; i < newObj.colModel.length; i++) {
            newObj.colModel[i].width = "150";
        }



        var items = newObj.dataModel.data;
        var result = [];

        for (x = 0; x < newObj.colModel.length; x++) {
            Val = [];
            for (var item, i = 0; item = items[i++];) {
                if (Val.indexOf(item[x]) < 0) {
                    Val[Val.length] = item[x];
                }
            }
            result[result.length] = Val;
        }
        for (i = 0; i < newObj.colModel.length; i++) {
            newObj.colModel[i].filter = {
                type: 'select',
                attr: "multiple",
                cache: null,
                options: result[i],
                condition: 'range',
                listeners: ['change'],
                init: function () {
                    $(this).pqSelect({ checkbox: true, radio: true, width: '100%' });
                }
            };
        }

        newObj.pageModel = { rPP: 1000, type: "local" };

        $grid = $('#dgReport').pqGrid(newObj);


        try {
            if ($('#dgReport').pqGrid() != null)
                $('#dgReport').pqGrid("destroy");

            $grid = $('#dgReport').pqGrid(newObj);

            $($($('#dgReport').children()[0]).children()[1]).click();
            $($($('#dgReport').children()[0]).children()[1]).click();

        } catch (err) { }
    }
    function SelYear()
    {
        window.location.href='/Reports/Notifweek?year='+$('#Year').val()+"&byYear=true";
    }
</script>