﻿@using AutoIndicators.Models
@model dynamic
@{
    List<string> lstOwners =new List<string>();
    List<string> lstProg =new List<string>();
         
    switch ((int)ViewBag.Type)
    {
        case 1: 
                <table id="ReporData" style="display:none">
                    <tr>
                        <th></th>
                        <th>WW</th>
                        <th>Notif</th>
                        <th>Program</th>
                        <th>Owner</th>
                        <th>Email</th>
                        <th></th>
                        <th>Status</th>
                    </tr>
                @foreach (Report rpt in Model)
                {
                    //View|continuity|elementId|WWID|icon
                    string strInfo = "1|" + rpt.PWContinuityID + "||" + rpt.WWID + "|" + rpt.IconApp + "|" + rpt.Owner + "|" + rpt.PT + "|" + rpt.PXT;
                    if((int)ViewBag.IsUser==0)
                    { 
                        <tr>
                            <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="1" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                            <td>@rpt.weekName</td>
                            <td><a href="#" onclick="OpenNotifFromReport(2,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                            <td>@rpt.Program</td>
                            <td>@rpt.Name</td>
                            <td>@rpt.Email</td>
                            <td>@rpt.Owner</td>
                            <td>@rpt.Status</td>
                        </tr>
                    }else
                    {
                        if(!lstOwners.Exists(x=> x==rpt.Name))
                        {
                            lstOwners.Add(rpt.Name);
                            <tr>
                                <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="1" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                                <td>@rpt.weekName</td>
                                <td><a href="#" onclick="OpenNotifFromReport(2,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                                <td>@rpt.Program</td>
                                <td>@rpt.Name</td>
                                <td>@rpt.Email</td>
                                <td>@rpt.Owner</td>
                                <td>@rpt.Status</td>
                            </tr>
                    
                        }
                    }
                }
                </table>
                break;
        case 2: //By Program
        <table id="ReporData" style="display:none">
            <tr>
                <th></th>
                <th>WW</th>
                <th>Notif</th>
                <th>Program</th>
                <th>Owner</th>
                <th>Email</th>
                <th></th>
                <th>Days</th>
                <th>Indicator</th>
            </tr>
            @foreach (HIReport rpt in Model)
            {
                //View|continuity|elementId|WWID|icon
                string strInfo = "2|" + rpt.PWContinuityID + "|" + rpt.Reference + "|" + rpt.WWID + "|" + rpt.IconApp + "|" + rpt.Owner + "|" + rpt.PT + "|" + rpt.PXT;

                <tr>
                    <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="2" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                    <td>@rpt.weekName</td>
                    <td><a href="#" onclick="OpenNotifFromReport(2,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                    <td>@rpt.Program</td>
                    <td>@rpt.Name</td>
                    <td>@rpt.Email</td>
                    <td>@rpt.Owner</td>
                    <td>@rpt.Days</td>
                    <td>@rpt.Indicator</td>
                </tr>
            }
        </table>
        <script>
            rptSource=@(new HtmlString(Json.Encode(Model)));
        </script>
            break;
        case 3:
        case 4:
        case 5:
        <table id="ReporData" style="display:none">
            <tr>
                <th></th>
                <th>WW</th>
                <th>Notif</th>
                <th>Program</th>
                <th>Owner</th>
                <th>Email</th>
                <th></th>
                <th>Milestone</th>
                <th>Type</th>

            </tr>
            @foreach(ScheduleReport rpt in Model)
                    {
                        //View|continuity|elementId|WWID|icon
                        string strInfo = "3|" + rpt.PWContinuityID + "|" + rpt.Reference + "|" + rpt.WWID + "|" + rpt.IconApp + "|" + rpt.Owner + "|" + rpt.PT + "|" + rpt.PXT;
                <tr>
                    <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="3" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                    <td>@rpt.weekName</td>
                    <td><a href="#" onclick="OpenNotifFromReport(3,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                    <td>@rpt.Program</td>
                    <td>@rpt.Name</td>
                    <td>@rpt.Email</td>
                    <td>@rpt.Owner</td>
                    <td>@rpt.Milestone</td>
                    <td>@rpt.ScheduleType</td>
                </tr>
                    }
        </table>
        <script>
            rptSource=@(new HtmlString(Json.Encode(Model)));
        </script>
            break;
        case 6 :
            <table id="ReporData" style="display:none">
                <tr>
                    <th></th>
                    <th>Working Week</th>
                    <th>Notif</th>
                    <th>Program</th>
                    <th>Owner</th>
                    <th>Email</th>
                    <th>Days</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>App</th>
                </tr>
                @foreach(NotifReport rpt in Model)
                {
                    //View|continuity|elementId|WWID|icon
                    string strInfo = rpt.AppId+"|" + rpt.PWContinuityID + "|" + rpt.Reference + "|" + rpt.WWID + "|" + rpt.IconApp + "|" + rpt.Owner + "|" + rpt.PT + "|" + rpt.PXT;
                    <tr>
                        <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="3" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                        <td>@rpt.weekName</td>
                        <td><a href="#" onclick="OpenNotifFromReport(@rpt.AppId,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                        <td>@rpt.Program</td>
                        <td>@rpt.Name</td>
                        <td>@rpt.Email</td>
                        <td>@rpt.Days</td>
                        <td>@rpt.Item</td>
                        <td>@rpt.Status</td>
                        <td>@rpt.AppName
                    </tr>
                }
            </table>
            break;
        case 7:
            <table id="ReporData" style="display:none">
                    <tr>
                        <th></th>
                        <th>WW</th>
                        <th>Notif</th>
                        <th>Program</th>
                        <th>Owner</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                @foreach (Report rpt in Model)
                {
                    //View|continuity|elementId|WWID|icon
                    string strInfo = "1|" + rpt.PWContinuityID + "||" + rpt.WWID + "|" + rpt.IconApp + "|" + rpt.Owner + "|" + rpt.PT + "|" + rpt.PXT;
                    if((int)ViewBag.IsUser==0)
                    { 
                        <tr>
                            <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="1" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                            <td>@rpt.weekName</td>
                            <td><a href="#" onclick="OpenNotifFromReport(2,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                            <td>@rpt.Program</td>
                            <td>@rpt.Name</td>
                            <td>@rpt.Email</td>
                            <td>@rpt.Owner</td>
                        </tr>
                    }else
                    {
                        if(!lstProg.Exists(x=> x==rpt.Program))
                        {
                            lstProg.Add(rpt.Program);
                            <tr>
                                <td><a href="#" data-reference="@rpt.PWContinuityID" data-app="1" data-additional="@rpt.Reference" onclick="GotoApp(this)">Go</a></td>
                                <td>@rpt.weekName</td>
                                <td><a href="#" onclick="OpenNotifFromReport(2,@rpt.NotifId,'@strInfo','@rpt.Program')">@rpt.Notif</a></td>
                                <td>@rpt.Program</td>
                                <td>@rpt.Name</td>
                                <td>@rpt.Email</td>
                                <td>@rpt.Owner</td>
                            </tr>
                    
                        }
                    }
                }
                </table>
                break;     
    }

}
<div id="dgReport" style="float:left; width:100%; height:600px"></div>
<div id="Chart" style="float:left; width:100%;"></div>
<script>
    changeToGridReport(@((int)ViewBag.IsUser),@((int)ViewBag.Type));

    @if((int)ViewBag.Type==2 || (int)ViewBag.Type==3)
    {
        @:LoadChart(0, @((int)ViewBag.Type), rptSource);
    }
</script>
