﻿@using AutoIndicators.Models
@model ScheduleV

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />

<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>

<form id="CommentForm">
    @Html.Hidden("ScheduleID", (int)Model.ScheduleId)

    <table width="600" align="center" id="SnapshotTable" class="table table-bordered table-striped">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <tbody>
            @if (Model.oldScheduleId != null && Model.oldValue != null && Model.oldValue.Length > 0)
            {
                <tr>
                    <td>@Html.Label("Previous Date: ") @Model.oldValue.ToString()</td>
                    <td>@Html.Label("Previous Comments:") @MvcHtmlString.Create(Model.oldComments)</td>
                    <td>@Html.Label("By:") @Model.oldActor</td>
                </tr>
            }
            @if (Model.value != null && Model.value.Length > 0)
            {
                <tr>
                    <td>@Html.Label("Current Date:") @Model.value.ToString()</td>
                    <td>@Html.Label("Current Comments:") @MvcHtmlString.Create(Model.Comments)</td>
                    <td>@Html.Label("By:") @Model.currentActor<br />Roadmap @Model.RoadmapValue</td>
                </tr>
            }
            @if (Model.weekStatus == 1)
            {
                <tr>
                    <td>@Html.Label("Date:")</td>
                    <td>
                        <input type="radio" onclick="typeS='WW'" value="W" name="WQS" id="WQS1" />WW
                        <input type="radio" onclick="typeS='Q'" value="Q" name="WQS" id="WQS2" />Q
                        <input type="number" name="pSDateWW" id="pSDateWW" style="width:35px" max="54" onkeydown="
    if($(this).val().length<2 || event.keyCode==8)
        return true;
    return false;" />
                        @Html.Label("Year: ")
                        <input type="number" name="pSDateYear" id="pSDateYear" style="width:35px" max="54" onkeydown="
                               if($(this).val().length<2 || event.keycode==8)
                                         return true;
                               return false;" /></td>
                    
                        <td>
                        @if ((bool)ViewBag.ValidUser)
                        {
                            @Html.Label("Roadmap: ")
                            <select id="Roadmap" onchange="PutRoadmap($(this).val())">
                                <option value="">select</option>
                                <option value="true" @(Model.RoadmapValue.StartsWith("S")? "selected=selected":"")>Start</option>
                                <option value="false" @(Model.RoadmapValue.StartsWith("E") ? "selected=selected" : "")>End</option>
                            </select>
                            <input type="button" value="Save Roadmap" onclick="$('.close').click()" />
                            @*@Html.Label("End:")
                                @Html.TextBox("pEDateWW", null, new { required = string.Empty, @style = "width: 25px;" })
                                @Html.Label("Year: ")
                                @Html.TextBox("pEDateY", null, new { required = string.Empty, @style = "width: 25px;" })*@
                        }
                        </td>
                </tr>
                <tr>
                    <td>@Html.Label("Comments: ")</td>
                    <td colspan="2">
                        <textarea name="txtDescription_" id="txtDescription_"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Link: ")
                    </td>
                    <td colspan="2">
                        @Html.TextBox("pLink", null)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" align="right"><input type="button" value="Save" onclick="SaveSchedule()" id="saveBtn" /></td>
                </tr>
            }
        </tbody>
    </table>
</form>
    
<script type="text/javascript">
    // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
    $('body').on('click','.close', function (e) {
        $("#warning").hide();
    });
   
    var typeS = "";
    

    function PutRoadmap(start)
    {
        if(start.length>0)
            $.post('/ScheduleV/PutOnRoadmap',{Continuity: '@Model.ContinuityID', PTMID:@Model.PTMID, isStart:start, WWID:@Model.WWID});
        else
            $.post('/ScheduleV/PutOnRoadmap',{Continuity: '@Model.ContinuityID', PTMID:null, isStart:start, WWID:@Model.WWID});
    }
    var textbox = tinymce.init({
        selector: 'textarea#txtDescription_'  // change this value according to your HTML
                   , width: 400
                , statusbar: false
                , plugins: 'textcolor save link'
                , menu: 'edit'
                , default_link_target: '_blank'
                , toolbar: 'backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | AcronymsSearch | LinkAdd'
                , setup: function (editor) {
                    editor.addButton('AcronymsSearch', {
                        text: 'Auto',
                        icon: 'link',
                        onclick: function () { AutoAcronym(tinyMCE.get('txtDescription_').getContent(), 'txtDescription_'); }
                    });
                    editor.addButton('LinkAdd', {
                        text: 'Manual',
                        icon: 'link',
                        onclick: function () { AddLinks(''); }
                    });
                    editor.on('keydown', function (args) {
                        if (args.keyCode == 27) {
                            cancelEdit(Row);
                        }
                    });
                }
    });

</script>


