﻿<table style="width:100%">
    <tr>
        <td align="center">Please enter the Terminate Comments</td>
    </tr>
    <tr>
        <td><textarea id="Comments" style="width:100%; height:200px" ></textarea></td>
    </tr>
    <tr>
        <td align="center"><input type="button" value="Save" onclick="SaveProgTerm($('#Comments').val())"></td>
    </tr>
</table>
