﻿@using AutoIndicators.Models
@model dynamic
@{
    ViewBag.Module = "ProgramManagerList";
}
<link href="@Url.Content("~/Content/AcronymStyle.css")" rel="stylesheet" type="text/css" />

@*Modal for the Pop-Up View*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Program Add</h4>
            </div>
            <div class="modal-body" id="modalContainer">
                ...
            </div>
        </div>
    </div>
</div>

<div id="tableSearcher">



    <div id="letterChooser">
        <div class="letter" onclick="search('A')"> A </div>
        <div class="letter" onclick="search('B')"> B </div>
        <div class="letter" onclick="search('C')"> C </div>
        <div class="letter" onclick="search('D')"> D </div>
        <div class="letter" onclick="search('E')"> E </div>
        <div class="letter" onclick="search('F')"> F </div>
        <div class="letter" onclick="search('G')"> G </div>
        <div class="letter" onclick="search('H')"> H </div>
        <div class="letter" onclick="search('I')"> I </div>
        <div class="letter" onclick="search('J')"> J </div>
        <div class="letter" onclick="search('K')"> K </div>
        <div class="letter" onclick="search('L')"> L </div>
        <div class="letter" onclick="search('M')"> M </div>
        <div class="letter" onclick="search('N')"> N </div>
        <div class="letter" onclick="search('O')"> O </div>
        <div class="letter" onclick="search('P')"> P </div>
        <div class="letter" onclick="search('Q')"> Q </div>
        <div class="letter" onclick="search('R')"> R </div>
        <div class="letter" onclick="search('S')"> S </div>
        <div class="letter" onclick="search('T')"> T </div>
        <div class="letter" onclick="search('U')"> U </div>
        <div class="letter" onclick="search('V')"> V </div>
        <div class="letter" onclick="search('W')"> W </div>
        <div class="letter" onclick="search('X')"> X </div>
        <div class="letter" onclick="search('Y')"> Y </div>
        <div class="letter" onclick="search('Z')"> Z </div>
    </div>

    <div id="dynamicTable">
        @using (Html.BeginForm())
        {
            if (Model != null)
            {
                <table width="100%" align="center" id="PMTable" class="table table-bordered table-striped">
                    <thead id="TableHeaders">
                        <tr>
                            <th id="hName" align="center" height="30">Name</th>
                            <th id="hLName" align="center">Last Name</th>
                            <th id="hEmail" align="center">E-mail</th>
                            @*<th id="hDelete" align="center" >Delete</th>*@
                        </tr>
                    </thead>
                    @{int i = 0;}
                    @foreach (var item in Model.list)
                    {
                        i++;
                        <tr id="@item.id" data-letter="@item.Name.Substring(0,1)">
                            <td id="@("CAbbreviation_" + i.ToString())"><a onclick="showPopUp(@item.id); return false;" href="fallback.html">@item.Name</a></td>
                            <td id="@("CTerm_" + i.ToString())">@item.LastName</td>
                            <td id="@("CDefinition_" + i.ToString())"> @item.Email</td>
                            @*<td id="@("CDelete_" + i.ToString())"><a href='@Url.Action("ProgramManagerDelete", "ProgEdit", new { ID = item.id })'>Delete</a></td>*@
                        </tr>
                    }


                </table>
            }

        }
    </div>

</div>

<script type="text/javascript">
    //Function to show the popup and pass the correct PWID to the view
    function showPopUp(ID) {
        var textScheduleID = ID.toString();
        var text = "/ProgEdit/ProgramManagerEdit?ID=";
        var urlLink = text + textScheduleID;
        $('#myBModalLabel').html("Edit PM Information")
        $('#BModal').data('url', urlLink);

        var url = $('#BModal').data('url');
        $.get(url, function (data) {
            $('#BmodalContainer').html(data);
            $('#BModal').modal("show");

            });
    }
    function search(letter)
    {
        $('[data-letter]').hide();
        $('[data-letter="' + letter+'"]').show();
    }
</script>
