﻿@using AutoIndicators.Models
@model dynamic

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Scripts/quill/examples/styles/style.css">

<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>
@using (Html.BeginForm("ProgramManagerSave", "ProgEdit", FormMethod.Post, new {id = "AddFormPM" }))
{

    <table width="400" align="center" id="PMAddTable" class="table table-bordered table-striped">
        <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 50%;">
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.Label("Name: ")</td>
                <td>@Html.TextBox("pName", null, new { required = string.Empty })</td>
            </tr>
            <tr>
                <td>@Html.Label("Last Name: ")</td>
                <td>@Html.TextBox("pLastName", null, new { required = string.Empty })</td>
            </tr>
            <tr>
                <td>@Html.Label("E-mail: ")</td>
                <td>@Html.TextBox("pEmail", null, new { required = string.Empty })</td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><input type="button" onclick="Validation()" value="Save" id="saveBtn" /></td>
            </tr>
        </tbody>
    </table>
}
<script>
    function Validation()
    {
        if(validateEmail($('#pEmail').val()))
        {
            AddFormPM.submit();
        }else{
            $("#warningMessage").text("Invalid Email");
            $("#warning").show();
        }
    }
    function validateEmail(email)
    {

        var reurl =@("/^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,4})+$/");

        return reurl.test(email);
    }
</script>