﻿@using AutoIndicators.Models
@model dynamic

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Scripts/quill/examples/styles/style.css">

<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>

<form id="AddForm">
    @Html.Hidden("WWID", (int)Model.WWID)
    @Html.Hidden("InSnapshot",(int)ViewBag.InSnapshot)
    <ul class="w3-navbar w3-black">
        <li><a href="#" class="w3-bar-item w3-button" onclick="openTab('tGeneral','General')" id="General">General Data</a></li>
        <li><a href="#" class="w3-bar-item w3-button" onclick="openTab('tRoadmap','Roadmap')" id="Roadmap">Roadmap</a></li>
    </ul>
    <div id="tGeneral" class="w3-container Tabs">
        <table width="400" align="center" id="SnapshotTable" class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr>
                    <td>@Html.Label("Vertical :")</td>
                    <td>@Html.DropDownList("ddlVertical", (IEnumerable<SelectListItem>)Model.VerticalList)</td>
                </tr>
                <tr>
                    <td>@Html.Label("PXT: ")</td>
                    <td>@Html.DropDownList("ddlPXT", (IEnumerable<SelectListItem>)Model.PXTList, "Select PXT")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Relevant silicon:")</td>
                    <td>@Html.DropDownList("ddlRevelant", (IEnumerable<SelectListItem>)Model.RelSiliconList, "Select Silicon")</td>
                </tr>
                <tr>
                    <td>@Html.Label("GEO: ")</td>
                    <td>@Html.DropDownList("ddlGEO", (IEnumerable<SelectListItem>)Model.GEOList, "Select GEO")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Program Type: ")</td>
                    <td>@Html.DropDownList("ddlPT", (IEnumerable<SelectListItem>)Model.PTList, "Select Program Type")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Program Owner: ")</td>
                    <td>@Html.DropDownList("ddlOwner", (IEnumerable<SelectListItem>)Model.ActorsList, "Select Program Owner")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Program Name: ")</td>
                    <td>
                        @Html.TextBox("pName", null, new { required = string.Empty })
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Program Description: ")</td>
                    <td>
                        @Html.TextBox("pDesc", null, new { required = string.Empty })
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Clasification: ")</td>
                    <td>
                        <select id="ddlClasification" name="ddlClasification">
                            <option value="0">Select</option>
                            <option value="1">Lead</option>
                            <option value="2">Draft</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("MRD Link: ")</td>
                    <td>
                        @Html.TextBox("pMRD", null)
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("PRD Link ")</td>
                    <td>
                        @Html.TextBox("pPRD", null)
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://sharepoint.amr.ith.intel.com/sites/PED_Exec_MRC/SitePages/Home.aspx?RootFolder=%2Fsites%2FPED%5FExec%5FMRC%2FShared%20Documents%2FProgram%20Description%20Slide%20Decks&FolderCTID=0x012000C87FD65F43D315409EC0FA4843317A12&View=%7b0C5F6975-7C79-4F0E-9139-3F54336BF435%7d" target="_blank">
                            @Html.Label("Program Description Link: ")
                        </a>
                    </td>
                    <td>@Html.TextBox("pDescLink")</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://sharepoint.amr.ith.intel.com/sites/PED_Exec_MRC/SitePages/Home.aspx" target="_blank">
                            @Html.Label("One Page Indicator Link: ")
                        </a>
                    </td>
                    <td>@Html.TextBox("pLink")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Sharepoint Site :")</td>
                    <td>@Html.TextBox("pSharepoint", null)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tRoadmap" class="w3-container Tabs" style="display:none">
        <table width="400" align="center" id="SnapshotTable" class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr>
                    <td>@Html.Label("Roadmap Date :")</td>
                    <td>
                        @Html.Label("Start WW : ")<input type="number" id="pWWI" name="pWWI" style="width:40px" min="1" max="54" maxlength="2" />@Html.Label("Year: ")<input type="number" id="pWWYI" name="pWWYI" style="width:40px" max="99" maxlength="2" /><br />
                        @Html.Label("End WW : ")<input type="number" id="pWWE" name="pWWE" style="width:40px" min="1" max="54" maxlength="2" />@Html.Label("Year: ")<input type="number" id="pWWYE" name="pWWYE" style="width:40px" max="99" maxlength="2" />
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Roadmap Color Start:")</td>
                    <td><input type="color" id="pColor" name="pColor" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Roadmap Color End:")</td>
                    <td><input type="color" id="pColorEnd" name="pColorEnd" /></td>
                </tr>
                <tr style="display:none">
                    <td>@Html.Label("Roadmap Color %:")</td>
                    <td><input type="number" id="pColorW" name="pColorW" /></td>
                </tr>
                <tr>
                    <td>@Html.Label("Position on Roadmap:")</td>
                    <td>
                        <input type="number" id="pPosition" name="pPosition" value="0" onkeydown="if($(this).val().length<2 || event.keyCode==8) return true; return false;" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:right"><input type="button" onclick="validateFormAdd()" value="Save" id="saveBtn" /></div>
</form>

<script type="text/javascript">
    // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
    $('body').on('click','.close', function (e) {
        $("#warning").hide();
    });
</script>

<script type="text/javascript">
    function validateFormAdd(){
        var url = $("#pLink").val();
        var descUrl = $("#pDescLink").val();

        //URL validation
        if (validateURL(url)) { } else {
            if (url != "") {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid URL, remember including http://");
                return;
            }
        }
        function openTab(tab, tabid) {
            $(".Tabs").hide();
            $('#' + tab).show();
            $('#' + tabid).css("background-color: gray");
        }
        if (validateURL(descUrl)) { } else {
            if (descUrl != "") {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid URL, remember including http://");
                return;
            }
        }

    //PXT validation
    if ($("#ddlPXT").val()) { } else {
        $('#warning').show();
        $('#warningMessage').text("Please enter a valid PXT, choosing one from the list");
        return;
    }

    //GEO validation
    if ($("#ddlGEO").val()) { } else {
        $('#warning').show();
        $('#warningMessage').text("Please enter a valid GEO, choosing one from the list");
        return;
    }

    //Program Type validation
    if ($("#ddlPT").val()) { } else {
        $('#warning').show();
        $('#warningMessage').text("Please enter a valid Program Type, choosing one from the list");
        return;
    }

    //Program Owner validation
    if ($("#ddlOwner").val()) { } else {
        $('#warning').show();
        $('#warningMessage').text("Please enter a valid Owner, choosing one from the list");
        return;
    }

    $.post('/ProgEdit/ValidatePT', { PTID: $("#ddlPT").val() }, function (response) {
        if(response.Milestones.length==0 || response.HealthIndicator.length==0 )
        {
            $('#warning').show();
            $('#warningMessage').text("The selected Type dosen't have Milestones or Indicators");
            return;
        }else
        {
            $.post('/ProgEdit/Add', $('#AddForm').serialize(), function (response) {
                location.reload();
            });
            $('#AddForm').find('input[type=submit]').attr('disabled', 'disabled');
        }
    });


}

    function validateURL(url) {
        var reurl = /(ftp|http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
        return reurl.test(url);
    }
</script>

@*<script type="text/javascript">
    $('#AddForm').submit(function () {
        $(this).find('input[type=submit]').attr('disabled', 'disabled');
    });
</script>*@