﻿@using AutoIndicators.Models
@model dynamic

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/Scripts/quill/examples/styles/style.css">

<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>
@using (Html.BeginForm("ProgramManagerSaveEdit", "ProgEdit", FormMethod.Post, new { id = "EditFormPM" }))
{
    foreach(var item in Model.list)
    {
        @Html.Hidden("OperationType", "0");
        @Html.Hidden("PId", (int)@item.id);
    <table width="400" align="center" id="PMAddTable" class="table table-bordered table-striped">
        <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 50%;">
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.Label("Name: ")</td>
                <td>@Html.TextBox("pName", (string)@item.Name, new { required = string.Empty })</td>
            </tr>
            <tr>
                <td>@Html.Label("Last Name: ")</td>
                <td>@Html.TextBox("pLastName", (string)@item.LastName, new { required = string.Empty })</td>
            </tr>
            <tr>
                <td>@Html.Label("E-mail: ")</td>
                <td>@Html.TextBox("pEmail", (string)@item.Email, new { required = string.Empty })</td>
            </tr>
            <tr>
                <td align="left"><input type="submit" value="Delete" id="deletebtn" name="Delete" onkeydown="MakeValue2()"></td>
                <td align="right"><input type="button" onclick="Validation()" value="Save" id="saveBtn" name="Save" onkeydown="    MakeValue1()" /></td>
            </tr>
        </tbody>
    </table>
    }
}

@section Scripts
{
    <link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
        $('body').on('click', '.close', function (e) {
            $("#warning").hide();
        });
    </script>

    <script type="text/javascript">
        $('#deleteBtn').hover(function MakeValue2() {
            alert(2);
            //document.getElementById("OperationType").value("2");
            //alert(document.getElementById("OperationType").value);
        });

        $('#saveBtn').hover(function MakeValue1() {
            alert(1);
            //document.getElementById("OperationType").value("1");
            //alert(document.getElementById("OperationType").value);
        });
       

    </script>

    <script type="text/javascript">
        $('#EditFormPM').submit(function () {
            $(this).find('input[type=submit]').attr('disabled', 'disabled');
        });

        function Validation()
        {
            if(validateEmail($('#pEmail').val()))
            {
                AddFormPM.submit();
            }else{
                $("#warningMessage").text("Invalid Email");
                $("#warning").show();
            }
        }
        function validateEmail(email)
        {

            var reurl =@("/^\\w+([\\.-]?\\w+)*@\\w+([\\.-]?\\w+)*(\\.\\w{2,4})+$/");

            return reurl.test(email);
        }
    </script>

}