﻿@using AutoIndicators.Models
@model List<PXTs>
@{
    Layout = "";
}

<table>
    <tr>
        <td>Name</td>
        <td>@Html.TextBox("txtName")</td>
    </tr>
    <tr>
        <td>Link</td>
        <td>@Html.TextBox("txtLink")<input type="button" onclick="SavePXT()" class="button" value="Create New"></input></td>
    </tr>
    <tr>
        <td colspan="2">
            <table id="data" style="width:100%">
                <tr>
                    <th style="width:50px">Id</th>
                    <th style="width:30%">Name</th>
                    <th style="width:15%">Short Name</th>
                    <th>Link</th>
                </tr>
                @foreach(PXTs pxt in Model)
                {
                    <tr>
                        <td>@pxt.id</td>
                        <td contenteditable="true" onclick="selectid(this)" onkeyup="SaveInLine($(this).parent())">@pxt.Name</td>
                        <td contenteditable="true" onclick="selectid(this)" onkeyup="SaveInLine($(this).parent())">@pxt.Alias</td>
                        <td contenteditable="true" onclick="selectid(this)" onkeyup="SaveInLine($(this).parent())">@pxt.Link</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
<script>
    var id = 0;
    function SavePXT() {
        if ($('#txtName').val().length > 0) {

            $.post('/ProgEdit/SavePXT', { id: 0, Name: $('#txtName').val(), Link: $('#txtLink').val() }, function (response) {
                if (response.id > 0) {
                    var row = $($('#data').children().children()[1]).clone();
                    $($(row).children()[0]).text(response.id);
                    $($(row).children()[1]).text(response.Name);
                    $($(row).children()[2]).text(response.Alias);
                    $($(row).children()[3]).text(response.Link);
                    $('#data').append(row);
                }
            });
            $('.close').hide();
        }
    }
    function SaveInLine(row)
    {
        if (id > 0) {
            $.post('/ProgEdit/SavePXT', { id: id, Name: $(row.children()[1]).text(),Link: $(row.children()[3]).text(), Alias: $(row.children()[2]).text() });
        }
    }
    function selectid(obj)
    {
        id = $($(obj).parent().children()[0]).text();
    }
</script>