﻿@using AutoIndicators.Models
@using System.Collections.Specialized
@using System.Collections
@model IEnumerable<HealthIndicator>
@section JSLibs{
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/reports.js"></script>
}

<div class="modal fade" id="HIModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">

    <div class="modal-content" id="HIModalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myHIModalLabel"></h4>
        </div>
        <div class="modal-body" id="HImodalContainer"></div>
    </div>

</div>

@{
    ViewBag.Module = "HealthIndicator";

    ViewBag.HiddenFilter = false;
    ViewBag.Params = "WWID," + ViewBag.WWID + ";weekName, " + ViewBag.WW;
    ViewBag.ShowExtra = true;
    ViewBag.Archived = false;
    
    List<HealthIndicator> dataCol = new List<HealthIndicator>();
    List<SnapshotIndex> snap = (List<SnapshotIndex>)ViewBag.Program;
    StringCollection headers = new StringCollection();
    string color = "";
    string title = "";
    if (ViewBag.WeekStatus.Equals(2))
    {
        <div style="color:red"><b>Archived</b></div>
        ViewBag.Archived = true;
    }
    else if (!ViewBag.WeekStatus.Equals(1))
    {
        <div style="color:red"><b>No Data Found</b></div>
    }
}
@section Extras{
    @GeneralHelpers.MenuExtras((int)ViewBag.WWID,(bool)ViewBag.Archived, (List<Users>)ViewBag.validUsers)
}
            @*main loop through the whole model from controller*@
            @for (int i = 0; i < snap.Count(); i++)
            {
                SnapshotIndex item = (SnapshotIndex)snap[i];

                <table id="mainTable" style="width:100%; border:none;" cellspacing="0" cellpadding="0">
                    <colgroup>
                        <col span="1" style="width: 25%">
                        <col span="1" style="width: 75%;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="border:none">
                                <table id="@item.ProgName" class="table table-bordered table-striped" style="margin-bottom:0px; table-layout:fixed;word-wrap:break-word;">
                                    <colgroup>
                                        <col span="1" style="width: 20px;">
                                        <col span="1" style="width: 50px;">
                                    </colgroup>
                                    <tbody>
                                        @GeneralHelpers.ProgDetail(item, Url, true)
                                    </tbody>
                                </table>
                            </td>
                            <td style="border:none">
                                <table id="@item.ProgName" class="table table-bordered table-striped" style="margin-bottom:0px; table-layout:fixed;word-wrap:break-word;">
                                    <tbody>
                                        @{
                List<HealthIndicator> health = Model.Where(x => x.ContinuityID == item.ContinuityID).ToList();
                                        }

                                        <tr>
                                            @for (int y = 0; y < health.Count(); y++)
                                            {
                                                HealthIndicator bit = (HealthIndicator)health[y];
                                                //we only want to extract from dataCol the data pertaining to the program we are treating
                                                string notifData = "2|" + item.ContinuityID + "|" + bit.PTHIid + "|" + item.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(2) + "|" + item.OwnerId + "|" + item.ProgTypeID + "|" + item.PXTId;

                                                string popUpHeader = "Status Change for " + bit.ProgName + " on " + bit.Milestone;
                                                if (bit.value == null || bit.value == "" || bit.value == "W")
                                                {
                                                    <td data-notif="@notifData" data-notifproj="@item.ProgName" id="@("F" + bit.HealthId.ToString())" data-owner="@bit.OwnerId" data-pxt="@bit.PXTId" data-progtype="@bit.ProgTypeID" data-header="@popUpHeader" data-continuityid="@bit.ContinuityID">@bit.Milestone</td>
                                                }
                                                else
                                                {
                                                    if (bit.value.ToUpper() == "G")
                                                    {
                                                        color = "green";
                                                        title = "Green implies there are no known Program Commitment (Schedule, Quality, Feature(s), Product Cost, or Program Budget) impacting risks and that the associated function area or Program is on track to meet all Program Commitments";
                                                    }
                                                    else if (bit.value.ToUpper() == "Y")
                                                    {
                                                        color = "yellow";
                                                        title = "Yellow implies there are one or more Program Commitment (Schedule, Quality, Feature(s), Product Cost, or Program Budget) impacting risks identified with either a work around in place or a line of sight to root cause and corrective action (ie awaiting new board HW to validate RC/CA, awaiting Silicon or Ingredient update, awaiting Validation confirmation of RC/CA, etc). Associate with each Yellow Status the Problem, Impact and When the Corrective Action is expected to be verified to mitigate the Risk to Program Commitments.";
                                                    }
                                                    else if (bit.value.ToUpper() == "R")
                                                    {
                                                        color = "red";
                                                        title = "Red implies there are one or more Program Commitment (Schedule, Quality, Feature(s), Product Cost, or Program Budget) impacting risks identified with no known work around or line of sight to root cause and corrective action. Associate with each Red Status should be a clear description of the Problem, Time Sensitivity and Impact (ie Gates to HW Tape Out, CAD Release, Phase Entrance, etc) and What Actions you are taking to overcome the Risk's negative impact to Program Commitments.";
                                                    }
                                                    <td data-notif="@notifData" data-notifproj="@item.ProgName" id="@("F" + bit.HealthId.ToString())" data-owner="@bit.OwnerId" data-pxt="@bit.PXTId" data-progtype="@bit.ProgTypeID" style="background-color:@color; cursor:pointer" title="@title" data-continuityid="@bit.ContinuityID" data-header="@popUpHeader">@bit.Milestone</td>
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        <tr>
                    <tbody>
                </table>
            }
            @{
                var intr = 5;

            }
            @section Scripts
{
                <link href="@Url.Content("~/Content/healthIndicatorStyle.css")" rel="stylesheet" type="text/css" />


                <script type="text/javascript">
                    $('td').dblclick(function () {
                        var header = $(this).data("header");
                        var continuityId=$(this).data("continuityid");
                        var owner=$(this).data("owner");
                        var progtype=$(this).data("progtype");
                        var pxt=$(this).data("pxt");

                        if(tinyMCE.editors.length>0)
                        {
                            tinyMCE.editors[0].destroy();
                        }
                        if(header!=undefined && continuityId!=undefined && owner!=undefined && progtype!=undefined && pxt!=undefined){
                            var stringID = $(this).attr('id');
                            var splitString = ("F" + stringID.split("F").join(''));
                            var ID = stringID.split("F").join('');

                            if (stringID == splitString) {
                                if($(this).html()=='Budget' && progtype!=undefined)
                                    showPopUpHI(ID, 2, header,continuityId,owner,progtype,pxt);
                                else
                                    showPopUpHI(ID, 1, header,continuityId,owner,progtype,pxt);
                            }
                        }
                    });
                </script>

                <script type="text/javascript">
                    //Function to show the popup and pass the correct PWID to the view
                    var scroll=0;

                    function showPopUpHI(ID, Op, Information,continuityID,owner,progType,pxt) {

                        ContinuityID=continuityID;
                        Owner=owner;
                        ProgramType=progType;
                        PXT=pxt;

                        scroll=$(window).scrollTop();

                        if(tinyMCE.editors.length>0)
                        {
                            tinyMCE.editors[0].destroy();
                        }
                        if (Op == 1)
                        {
                            var textHealthID = ID.toString();
                            var text = "/HealthIndicator/CommentView?HIID=";
                            var urlLink = text + textHealthID;
                            $('#myHIModalLabel').html("Status Change for " + Information);
                            $('#HIModal').data('url', urlLink);
                            //$('#HImodalcontent').height('auto');

                            var url = $('#HIModal').data('url');
                            $.post(url, function (data) {
                                $('#HImodalContainer').html(data);
                                $('#modalcontent').width('400');
                                $('#HIModal').modal("show");

                            });
                        }else if(Op==2)
                        {
                            var textHealthID = ID.toString();
                            $.post("/Budget/getBudgetID?ContinuityID="+ContinuityID+"&WWID=@((int)ViewBag.WWID)",function(response){
                                $('#myModalLabel').html("Status Change for " + Information);
                                $('#modalContainer').load("/Budget/CommentView?BudgetID="+response+"&WWID=@((int)ViewBag.WWID)&HIID="+ID.toString()+"&Owner="+Owner+"&ProgType="+ProgramType+"&PXT="+PXT+'&Continuity='+ContinuityID);
                                $('#modalcontent').width('1000');
                                $('#Modal').modal("show");
                            } )
                        }


                    }
                    function SaveBudget()
                    {
                        $('#txtDescriptionB_').val(tinyMCE.get('txtDescriptionB_').getContent());
                        $.post('/Budget/Save', $('#CommentFormBudget').serialize(), function (response) {
                            var id = $('#HealthID').val();
                            var color = '';

                            $('#F' + id).attr("id", "F" + response);

                            switch ($('#ddlTrend').val()) {
                                case '1': color = 'red';
                                    break;
                                case '2': color = 'red';
                                    break;
                                case '3': color = 'yellow';
                                    break;
                                case '4': color = 'yellow';
                                    break;
                                case '5': color = 'green';
                                    break;
                            }

                            $('.close').click();
                            $('#F' + response).css('background-color', color);
                            $(window).scrollTop(scroll);
                        })
                    }
                    function SaveHI() {
                        $('#txtDescription_').val(tinyMCE.get('txtDescription_').getContent());
                        $.post('/HealthIndicator/Save', $('#CommentForm').serialize(), function (response) {
                            var id = $('#HealthID').val();
                            var color = '';

                            $('#F' + id).attr("id", "F" + response.focusID);

                            switch ($('#Semaphore').val()) {
                                case 'G': color = 'green';
                                    break;
                                case 'Y': color = 'yellow';
                                    break;
                                case 'R': color = 'red';
                                    break;
                            }

                            $('.close').on("click",function(){
                                $(window).scrollTop(scroll);
                            });
                            $('.close').click();
                            $('#F' + response.focusID).css('background-color', color);

                        })

                    }
                </script>

                <script type="text/javascript">
                    //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
                    $(document).ready(function () {
                        $('#aHealth').css("background-color", "#0062a8");
                    });
                    @{
            if(Session["Focus"]!=null && (int)Session["Focus"]>0)
            {
                    @:$('#F@((int)Session["Focus"])').attr('style','border: blue solid 1px');
                    @:$('#F@((int)Session["Focus"])').get(0).scrollIntoView();
                
            }

            }</script>

<script>
    module = '@ViewBag.Module';
    skip = '../';
    view=2;
    wwid=@ViewBag.WWID;
</script>
            }
