﻿@using AutoIndicators.Models
@using System.Web.UI.WebControls
@model IEnumerable<OpsQuery>
@{
    ViewBag.Title = "Ops Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="400" align="center" class="table table-bordered table-striped">
    <colgroup>
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 33%;">
    </colgroup>
    <thead>
        <tr>
            <th id="th1" align="center" height="30">Program name</th>
            <th id="th2" align="center">Comments</th>
            <th id="th3" align="center">Status</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Comments</td>
            <td>@item.value</td>
        </tr>
        }
</tbody>
</table>