﻿@{
    Layout = null;
}
<div class="container" ng-controller="CCBRegisterController as main">
    <h1><i class="fa fa-check-square-o"></i> Control Change Board
    <br /><small ng-if="!main.ccbid" style="color:#fff;"><i class="fa fa-plus" aria-hidden="true"></i> Add new item</small>
        <small ng-if="main.ccbid" style="color:#fff;"><i class="fa fa-pencil" aria-hidden="true"></i> Edit item</small>
    </h1>
    <div class="row well">
        <div class="col-md-2">
            <button class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
        </div>
        <div class="col-md-3" ng-if="main.ccbid">
            <button class="btn btn-success"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach File</button>
            <button class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</button>
        </div>
        <div class="col-md-3" ng-if="main.ccbid">
            <button class="btn btn-primary"><i class="fa fa-archive" aria-hidden="true"></i> AR</button>
            <button class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> Suscribe</button>
            <button class="btn btn-primary"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Notify</button>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-12">
            <div class="table-responsive">
                <table style="background-color: #eee;" class="table table-bordered table-striped">
                    <tbody>
                        <tr ng-if="main.ccbid">
                            <th>Number</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Project</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Title *</th>
                            <td>
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <input type="text" class="form-control" placeholder="Title">
                                        </li>
                                        <li class="list-group-item">
                                            <div class="radio">
                                                <label><input type="radio" name="tt">HW</label>
                                                <label><input type="radio" name="tt">SW</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <label>Is SW CCB required?</label>
                                            <div class="radio">
                                                <label><input type="radio" name="swccb">Yes</label>
                                                <label><input type="radio" name="swccb">No</label>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Explain...">
                                        </li>
                                        <li class="list-group-item">
                                            <input type="text" class="form-control" placeholder="SW Category">
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Project Phase tag</th>
                            <td>
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="PPT">NPI</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="PPT">Sustaining</label>
                                    </div>
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>CCB Status *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Project Affected *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Other Program(s)</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Initiator Name *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>CCB Submit Date *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>CCB Target Implemented Date</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Change Description *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Change Justification *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Spec or Doc need to be modified? *</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>What functional areas does this change affect?</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impacted Function(scoping input is reqd)</th>
                            <td>
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                        <div class="radio">
                                            <label><input type="radio" name="IF">Yes</label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="radio">
                                            <label><input type="radio" name="IF">No</label>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="Impacted Function(scoping input is reqd)">
                                    </div>
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impact to Program HC</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="IPHC">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="IPHC">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Impact to Program HC">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impact to Program BTI</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="IPBTI">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="IPBTI">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Impact to Program BTI">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impact to Customer - OEM, Channel</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ITC">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ITC">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Link">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impact to Marketing - PME, TME</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ITM">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ITM">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Link">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impact to Engineering</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ITE">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ITE">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Link">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Design for Security Impact</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="DSI">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="DSI">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Link">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Other Impact (QRE, Customer Service, etc)</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="QRE">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="QRE">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Link">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>ROI Analysis</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ROI">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="ROI">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Link">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Impact to Program Schedule</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>SOW Required</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="SOW">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="SOW">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="SOW Required">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>AR/Comments</th>
                            <td></td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Design Win Involved(Y/N)</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="DWI">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="DWI">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Design Win Involved(Y/N)">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Design Win Achieved</th>
                            <td>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="DWA">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="radio">
                                        <label><input type="radio" name="DWA">No</label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Design Win Achieved">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>CCB Approved Date</th>
                            <td>
                                <div class="col-md-12">
                                    <input type="date" class="form-control" placeholder="CCB Approved Date">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Category Change</th>
                            <td>
                                <div class="col-md-12">

                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Common CCB Approved by</th>
                            <td>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Common CCB Approved by">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Email Common CCB Approved by">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Version Where Fixed\ Supported - BMC</th>
                            <td>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Version Where Fixed\ Supported - BMC">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Version Where Fixed\ Supported - BIOS</th>
                            <td>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Version Where Fixed\ Supported - BIOS">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>Version Where Fixed\ Supported - Utilities</th>
                            <td>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="CCB Actual BTI Spending">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>CCB Actual Implemented Date</th>
                            <td>
                                <div class="col-md-12">
                                    <input type="date" class="form-control" placeholder="CCB Actual Implemented Date">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                        <tr>
                            <th>CCB Actual BTI Spending</th>
                            <td>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="CCB Actual BTI Spending">
                                </div>
                            </td>
                            <td ng-if="main.ccbid"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
