﻿@{
    Layout = null;
}
<div class="container" ng-controller="CCBController as main">
    <h1><i class="fa fa-check-square-o"></i> Control Change Board</h1>
    <div class="table-responsive">
        <table style="background-color: #eee;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="1">Quick Serach</th>
                   <th colspan="12">
                           <input type="text" class="form-control" ng-model="main.searchText" placeholder="Search here ...">
                   </th>
                </tr>
                <tr>
                    <th>DEG PXT</th>
                    <th>Project</th>
                    <th>Draft</th>
                    <th>Submit</th>
                    <th>Scoping</th>
                    <th>Appv'd Implem</th>
                    <th>Implem</th>
                    <th>Denied</th>
                    <th>On hold</th>
                    <th>WithDrwn</th>
                    <th>Affected By</th>
                    <th>Total</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in main.CCBList | filter: main.searchText">
                <tr>
                    <td><strong>{{x.PXTName}}</strong></td>
                    <td>
                        <button class="btn btn-primary btn-block" ng-click="x.info = x.info*-1">{{x.ProgName}}</button>
                        <ul class="list-group" ng-show="x.info>0">
                            <li class="list-group-item"><strong>Name: </strong> {{x.ProgName}}</li>
                            <li class="list-group-item"><strong>Description: </strong> {{x.ProgDesc}}</li>
                            <li class="list-group-item"><strong>Type: </strong> {{x.ProgType}}</li>
                            <li class="list-group-item"><strong>GEO: </strong> {{x.GEO}}</li>
                            <li class="list-group-item"><strong>PLC Status: </strong> {{x.PLCStatus}}</li>
                            <li class="list-group-item"><strong>Progrma Owner: </strong> {{x.OwnerName}}</li>
                        </ul>
                    </td>
                    <td ng-repeat="y in x.CCBStatus">{{y.hijos.length}}
                        <br ng-if="y.hijos.length>0" />
                        <i class="fa fa-plus" style="float:right;" ng-click="y.selected=y.selected*-1; x.showTable = x.showTable*-1" ng-if="y.selected<0 && y.hijos.length>0"></i>
                        <i class="fa fa-minus" style="float:right;" ng-click="y.selected=y.selected*-1; x.showTable = x.showTable*-1" ng-if="y.selected>0 && y.hijos.length>0"></i>
                    </td>
                    <td>{{x.total}}
                        <br ng-if="x.total>0" />
                        <i class="fa fa-plus" style="float:right;" ng-click="x.selectedAll=x.selectedAll*-1; x.showTable = x.showTable*-1" ng-if="x.selectedAll<0 && x.total>0"></i>
                        <i class="fa fa-minus" style="float:right;" ng-click="x.selectedAll=x.selectedAll*-1; x.showTable = x.showTable*-1" ng-if="x.selectedAll>0 && x.total>0"></i>
                    </td>
                    <td><a ui-sref="CCBRegister({ContID: x.ContinuityID, proj: x.ProgName})" class="btn btn-success btn-block">New Item</a></td>
                </tr>
                <tr ng-if="x.showTable>0">
                    <td colspan="13">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="bluethead">
                                    <tr>
                                        <th ng-if="x.selectedAll < 0">#</th>
                                        <th>Edit</th>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Owner</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="y in x.CCBStatus" ng-if="y.selected > 0 || x.selectedAll > 0">
                                    <tr ng-repeat="z in y.hijos">
                                        <td ng-if="x.selectedAll < 0">{{$index+1}}</td>
                                        <td><a ui-sref="CCBRegister({ContID: x.ContinuityID, proj: x.ProgName, ccbid: z.intCCBid})" target="_blank" class="btn btn-warning btn-block">GO</a></td>
                                        <td>{{z.intCCBid}}</td>
                                        <td>{{z.strTitle}}</td>
                                        <td>{{z.strName}}</td>
                                        <td>{{z.dttCreateDate}}</td>
                                        <td>{{z.strUser}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <center><h1><i class="fa fa-circle-o-notch fa-spin" style="color: #fff" ng-if="main.loading"></i></h1></center>
</div>
