﻿
@{
    Layout = null;
}
<div class="container" ng-controller="HealthController as main">
    <h1><i class="fa fa-heartbeat"></i> RYG Health</h1>
    <div class="row well" style="padding: 0px;" ng-repeat="x in main.projects">
        <div class="col-md-3">
            <center>
                <h2>
                    {{x.PXTName}}<br />
                    <small ng-click="x.info = x.info*-1">{{x.ProgName}}</small>
                </h2>
                    <ul class="list-group" ng-show="x.info>0">
                        <li class="list-group-item"><strong>Name: </strong> {{x.ProgName}}</li>
                        <li class="list-group-item"><strong>Description: </strong> {{x.ProgDesc}}</li>
                        <li class="list-group-item"><strong>Type: </strong> {{x.ProgType}}</li>
                        <li class="list-group-item"><strong>GEO: </strong> {{x.GEO}}</li>
                        <li class="list-group-item"><strong>PLC Status: </strong> {{x.PLCStatus}}</li>
                        <li class="list-group-item"><strong>Progrma Owner: </strong> {{x.OwnerName}}</li>
                    </ul>
            </center>
        </div>
        <div class="col-md-9">
            <div class="table-responsive" style="margin-top: 0px; margin-bottom: 0px; height: 100%;">
                <table style="background-color: #eee; height: 100%; margin-bottom:0px;" class="table table-bordered table-striped">
                    <thead style="height: 100%; ">
                        <tr style="height: 100%; ">
                            <td ng-repeat="y in x.Fields" ng-class="{redb: y.value == 'R', greenb: y.value == 'G', yellowb: y.value == 'Y'}" style="height: 130px; border: 0px; vertical-align: middle;">
                                {{y.Milestone}}
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <center><h1><i class="fa fa-circle-o-notch fa-spin" style="color: #fff" ng-if="main.loading"></i></h1></center>
</div>