﻿@{
    Layout = null;
}
<div ng-controller="IndicatorsController as main">
    <div class="container">
        <div class="row">
            <h1><i class="fa fa-line-chart"></i> Indicators</h1>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" ng-model="main.ContinuityID" ng-change="main.setProgram(main.ContinuityID)">
                        <option value="" selected disabled>Select an option</option>
                        <option ng-repeat="opt in main.programs | orderBy: 'ProgName'" value="{{opt.ContinuityID}}">{{opt.ProgName}}</option>
                    </select>
                </div>
                <center style="color:#fff;">
                    <h3>{{main.thisProgram.ProgName}}</h3>
                    <h5>{{main.thisProgram.ProgDesc}}</h5>
                    <p>{{main.thisProgram.ContinuityID}}</p>
                </center>
            </div>
            <div class="col-md-6">
                <table style="background-color: #eee;" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>PLC Phase</th>
                            <th>WW</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{main.thisProgram.OwnerName}}</td>
                            <td>{{main.thisProgram.PLCStatus}}</td>
                            <td>{{main.thisProgram.weekName}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>GEO</th>
                            <th>Proj</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{main.thisProgram.ProgType}}</td>
                            <td>{{main.thisProgram.GEO}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container" ng-if="main.ContinuityID" style="background-color: #fff;">
        <div class="table-responsive" ng-if="main.Snapshot">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="blue"><center><h3>Snapshot</h3> 
                            <br /><i class="fa fa-plus" aria-hidden="true" ng-if="main.Snapshot.bandera == -1 && !main.getSnapshotComment_loading" ng-click="main.getSnapshotComment(main.thisProgram.ContinuityID, main.thisProgram.WWID, main.thisProgram.ProgTypeID); main.Snapshot.bandera = main.Snapshot.bandera*-1"></i>
                            <i class="fa fa-circle-o-notch fa-spin" ng-if="main.getSnapshotComment_loading"></i>
                            <i class="fa fa-minus" aria-hidden="true" ng-if="!main.getSnapshotComment_loading && main.Snapshot.bandera == 1" ng-click="main.Snapshot.bandera = main.Snapshot.bandera*-1"></i>
                            </center>
                        </td>
                        <td>
                            <p ng-bind-html="main.Snapshot.Updatetxt"></p>
                            <table class="table table-bordered" ng-if="main.Snapshot.bandera == 1 && main.lstSnapshotComment.length>0">
                                <thead class="bluethead">
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in main.lstSnapshotComment | limitTo:main.lstSnapshotComment.limit">
                                        <td>
                                            {{x.Timestamp}}
                                            <br /><i class="fa fa-plus" aria-hidden="true" ng-click="main.lstSnapshotComment.limit=main.lstSnapshotComment.limit+1" ng-if="$index+1 == main.lstSnapshotComment.limit && $index+1 < main.lstSnapshotComment.length" />
                                            <i class="fa fa-minus" aria-hidden="true" ng-click="main.lstSnapshotComment.limit=$index+1" ng-if="$index+1 < main.lstSnapshotComment.limit" />
                                        </td>
                                        <td ng-bind-html="x.Updated"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" ng-if="main.Healthlist.length">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td rowspan="2" class="blue"><center><h3>Program Health</h3>
                            <br /><i class="fa fa-plus" aria-hidden="true" ng-if="main.Healthlist.bandera == -1 && !main.getHeatlhIndicatorComment_loading" ng-click="main.getHeatlhIndicatorComment(main.thisProgram.ContinuityID, main.thisProgram.WWID, main.thisProgram.ProgTypeID); main.Healthlist.bandera = main.Healthlist.bandera*-1"></i>
                            <i class="fa fa-circle-o-notch fa-spin" ng-if="main.getHeatlhIndicatorComment_loading"></i>
                            <i class="fa fa-minus" aria-hidden="true" ng-if="main.Healthlist.bandera == 1 && !main.getHeatlhIndicatorComment_loading" ng-click="main.Healthlist.bandera = main.Healthlist.bandera*-1"></i>
                            </center>
                        </td>
                        <td ng-repeat="n in main.Healthlist" style="vertical-align: middle;" ng-class="{redb: n.value == 'R', greenb: n.value == 'G', yellowb: n.value == 'Y'}">
                            {{n.Milestone}}
                        </td>
                    </tr>
                    <tr ng-if="main.Healthlist.bandera == 1 && main.lstHeatlhIndicatorComment.length>0">
                        <td colspan="{{main.Healthlist.length}}">
                            <table class="table table-bordered">
                                <thead class="bluethead">
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Category</th>
                                        <th>Update</th>
                                        <th>(Prior)</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in main.lstHeatlhIndicatorComment | limitTo:main.lstHeatlhIndicatorComment.limit">
                                        <td>
                                            {{x.Timestamp}}
                                            <br /><i class="fa fa-plus" aria-hidden="true" ng-click="main.lstHeatlhIndicatorComment.limit=main.lstHeatlhIndicatorComment.limit+1" ng-if="$index+1 == main.lstHeatlhIndicatorComment.limit && $index+1 < main.lstHeatlhIndicatorComment.length" />
                                            <i class="fa fa-minus" aria-hidden="true" ng-click="main.lstHeatlhIndicatorComment.limit=$index+1" ng-if="$index+1 < main.lstHeatlhIndicatorComment.limit" />
                                        </td>
                                        <td>{{x.Category}}</td>
                                        <td ng-class="{redb: x.Updated == 'Red', greenb: x.Updated == 'Green', yellowb: x.Updated == 'Yellow'}">{{x.Updated}}</td>
                                        <td ng-class="{redb: x.Prior == 'Red', greenb: x.Prior == 'Green', yellowb: x.Prior == 'Yellow'}">{{x.Prior}}</td>
                                        <td ng-bind-html="x.UpdatedComments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" ng-if="main.Schedulelist.length">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="blue"><center><h3>Schedule</h3>
                            <br /><i class="fa fa-plus" aria-hidden="true" ng-if="main.Schedulelist.bandera == -1 && !main.lstScheduleComment_loading" ng-click="main.getScheduleComment(main.thisProgram.ContinuityID, main.thisProgram.WWID, main.thisProgram.ProgTypeID); main.Schedulelist.bandera = main.Schedulelist.bandera*-1"></i>
                                             <i class="fa fa-circle-o-notch fa-spin" ng-if="main.lstScheduleComment_loading"></i>
                                             <i class="fa fa-minus" aria-hidden="true" ng-if="main.Schedulelist.bandera == 1 && !main.lstScheduleComment_loading" ng-click="main.Schedulelist.bandera = main.Schedulelist.bandera*-1"></i>
                            </center></td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th ng-repeat="n in main.Schedulelist">{{n.Milestone}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-repeat="n in main.Schedulelist">
                                            <a href="{{n.link}}" ng-if="n.link != ''">{{n.value}}</a>
                                            <p ng-if="n.link == ''">{{n.value}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" ng-if="main.Schedulelist.bandera == 1 && main.lstScheduleComment.comments.length>0">
                                <thead class="bluethead">
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Milestone</th>
                                        <th>Update</th>
                                        <th>(Prior)</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in main.lstScheduleComment.comments | limitTo:main.lstScheduleComment.limit">
                                    <tr ng-repeat="y in x">
                                        <td rowspan="{{x.length}}" ng-if="$first">
                                            {{y.Timestamp}}
                                            <br /><i class="fa fa-plus" aria-hidden="true" ng-click="main.lstScheduleComment.limit=main.lstScheduleComment.limit+1" ng-if="x.id+1 == main.lstScheduleComment.limit && x.id+1 < main.lstScheduleComment.comments.length" />
                                            <i class="fa fa-minus" aria-hidden="true" ng-click="main.lstScheduleComment.limit=x.id+1" ng-if="x.id+1 < main.lstScheduleComment.limit" />
                                        </td>
                                        <td>{{y.Milestone}}</td>
                                        <td>{{y.Updated}}</td>
                                        <td>{{y.Prior}}</td>
                                        <td ng-bind-html="y.PriorComments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" ng-if="main.PCOSList.length">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="blue"><center><h3>PCOS</h3>
                            <br /><i class="fa fa-plus" aria-hidden="true" ng-if="main.PCOSArray.bandera  == -1 && !main.getPCOSListComment_loading" ng-click="main.getPCOSListComment(main.thisProgram.ContinuityID, main.thisProgram.WWID, main.thisProgram.ProgTypeID); main.PCOSArray.bandera  = main.PCOSArray.bandera *-1"></i>
                            <i class="fa fa-circle-o-notch fa-spin" ng-if="main.getPCOSListComment_loading"></i>
                            <i class="fa fa-minus" aria-hidden="true" ng-if="main.PCOSArray.bandera  == 1 && !main.getPCOSListComment_loading" ng-click="main.PCOSArray.bandera  = main.PCOSArray.bandera *-1"></i>
                            </center></td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Code</th>
                                        <th>Cost Category</th>
                                        <th>POPL3 Target</th>
                                        <th>Actual</th>
                                        <th>HVM Trend</th>
                                        <th>GAP</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in main.PCOSArray">
                                    <tr>
                                        <td>{{x.SKU}}</td>
                                        <td>Summary
                                            <br />
                                            <i class="fa fa-plus" ng-click="x.show = x.show*-1" ng-if="x.show<0"></i>
                                            <i class="fa fa-minus" ng-click="x.show = x.show*-1" ng-if="x.show>0"></i>
                                        </td>
                                        <td ng-class="{redb: x.TargetValue < 0}">{{x.TargetValue}}</td>
                                        <td ng-class="{redb: x.ActualValue < 0}">{{x.ActualValue}}</td>
                                        <td ng-class="{redb: x.TrendValue < 0}">{{x.TrendValue}}</td>
                                        <td ng-class="{redb: x.TargetValue - x.TrendValue < 0}">{{x.TargetValue - x.TrendValue}}</td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="y in x.hijo" ng-if="x.show == 1">
                                        <td>{{y.SKU}}</td>
                                        <td>{{y.CostCategory}}</td>
                                        <td ng-class="{redb: y.TargetValue < 0}">{{y.TargetValue}}</td>
                                        <td ng-class="{redb: y.ActualValue < 0}">{{y.ActualValue}}</td>
                                        <td ng-class="{redb: y.TrendValue < 0}">{{y.TrendValue}}</td>
                                        <td ng-class="{redb: y.TargetValue - y.TrendValue < 0}">{{y.TargetValue - y.TrendValue}}</td>
                                        <td>{{y.Comments}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" ng-if="main.PCOSArray.bandera == 1 && main.lstPCOSComment.comments.length>0">
                                <thead class="bluethead">
                                    <tr>
                                        <th rowspan="2">Timestamp</th>
                                        <th rowspan="2">ProductCode</th>
                                        <th rowspan="2">CostCategory</th>
                                        <th colspan="3">Actual</th>
                                        <th colspan="3">Prior</th>
                                        <th rowspan="2">Comment</th>
                                    </tr>
                                    <tr>
                                        <th>POPL3 Target</th>
                                        <th>Actual</th>
                                        <th>Trend</th>
                                        <th>POPL3 Target</th>
                                        <th>Actual</th>
                                        <th>Trend</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in main.lstPCOSComment.comments | limitTo:main.lstPCOSComment.limit">
                                    <tr ng-repeat="y in x">
                                        <td rowspan="{{x.length}}" ng-if="$first">
                                            {{y.Timestamp}}
                                            <br /><i class="fa fa-plus" aria-hidden="true" ng-click="main.lstPCOSComment.limit=main.lstPCOSComment.limit+1" ng-if="x.id+1 == main.lstPCOSComment.limit && x.id+1 < main.lstPCOSComment.comments.length" />
                                            <i class="fa fa-minus" aria-hidden="true" ng-click="main.lstPCOSComment.limit=x.id+1" ng-if="x.id+1 < main.lstPCOSComment.limit" />
                                        </td>
                                        <td>{{y.ProgramSKU}}</td>
                                        <td>{{y.CostCategory}}</td>
                                        <td>{{y.TargetValue}}</td>
                                        <td>{{y.ActualValue}}</td>
                                        <td>{{y.TrendValue}}</td>
                                        <td>{{y.TargetValuePrior}}</td>
                                        <td>{{y.ActualValuePrior}}</td>
                                        <td>{{y.TrendValuePrior}}</td>
                                        <td ng-bind-html="y.Comments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" ng-if="main.Budgetlist.length">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="blue">
                            <center>
                                <h3>Budget</h3>
                                <br /><i class="fa fa-plus" aria-hidden="true" ng-if="main.BudgetArray.bandera == -1 && !main.lstBudgetComment_loading" ng-click="main.getlstBudgetComment(main.thisProgram.ContinuityID, main.thisProgram.WWID, main.thisProgram.ProgTypeID); main.BudgetArray.bandera = main.BudgetArray.bandera *-1"></i>
                                <i class="fa fa-circle-o-notch fa-spin" ng-if="main.lstBudgetComment_loading"></i>
                                <i class="fa fa-minus" aria-hidden="true" ng-if="main.BudgetArray.bandera == 1 && !main.lstBudgetComment_loading" ng-click="main.BudgetArray.bandera = main.BudgetArray.bandera *-1"></i>
                            </center>
                        </td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>{{main.BudgetHeaders.Header1}}</th>
                                        <th>{{main.BudgetHeaders.Header2}}</th>
                                        <th>{{main.BudgetHeaders.Header3}}</th>
                                        <th>{{main.BudgetHeaders.Header4}}</th>
                                        <th>{{main.BudgetHeaders.Header5}}</th>
                                        <th>Trend</th>
                                        <th>Health</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in main.BudgetArray">
                                    <tr>
                                        <td>
                                            {{x.CategoryName}}
                                            <br />
                                            <i class="fa fa-plus" ng-click="x.show = x.show*-1" ng-if="x.show<0"></i>
                                            <i class="fa fa-minus" ng-click="x.show = x.show*-1" ng-if="x.show>0"></i>
                                        </td>
                                        <td>{{x.Data1 | currency}}</td>
                                        <td>{{x.Data2 | currency}}</td>
                                        <td>{{x.Data3 | currency}}</td>
                                        <td>{{x.Data4 | currency}}</td>
                                        <td>{{x.Data5 | currency}}</td>
                                        <td rowspan="{{x.hijo.length+1}}">{{x.Trend | currency}}</td>
                                        <td ng-class="{redbb: x.RYG == 1 || x.RYG == 2, greenbb: x.RYG == 5 , yellowbb: x.RYG == 3 || x.RYG == 4}" rowspan="{{x.hijo.length+1}}">
                                            <select ng-model="x.RYG">
                                                <option value="" selected disabled>Select</option>
                                                <option value="1">Overspend</option>
                                                <option value="2">Underspend</option>
                                                <option value="3">Overspend</option>
                                                <option value="4">Underspend</option>
                                                <option value="5">On Track</option>
                                            </select>
                                        </td>
                                        <td ng-bind-html="x.Comments"></td>
                                    </tr>
                                    <tr ng-repeat="y in x.hijo" ng-if="x.show == 1">
                                        <td>{{y.CategoryName}}</td>
                                        <td>{{y.Data1 | currency}}</td>
                                        <td>{{y.Data2 | currency}}</td>
                                        <td>{{y.Data3 | currency}}</td>
                                        <td>{{y.Data4 | currency}}</td>
                                        <td>{{y.Data5 | currency}}</td>
                                        <td ng-bind-html="x.Comments"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" ng-if="main.BudgetArray.bandera == 1 && main.lstBudgetComment.length>0">
                                <thead class="bluethead">
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Health</th>
                                        <th>(Prior)</th>
                                        <th>Trend</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="x in main.lstBudgetComment | limitTo:main.lstBudgetComment.limit">
                                    <tr>
                                        <td>
                                            {{x.Timestamp}}
                                            <br /><i class="fa fa-plus" aria-hidden="true" ng-click="main.lstBudgetComment.limit = main.lstBudgetComment.limit+1" ng-if="$index+1 == main.lstBudgetComment.limit && $index+1 < main.lstBudgetComment.length" />
                                            <i class="fa fa-minus" aria-hidden="true" ng-click="main.lstBudgetComment.limit = $index+1" ng-if="$index+1 < main.lstBudgetComment.limit" />
                                        </td>
                                        <td ng-class="{redb: x.RYG == 1 || x.RYG == 2, greenb: x.RYG == 5 , yellowb: x.RYG == 3 || x.RYG == 4}">
                                            <p ng-if="x.RYG == 1">Overspend</p>
                                            <p ng-if="x.RYG == 2">Underspend</p>
                                            <p ng-if="x.RYG == 3">Overspend</p>
                                            <p ng-if="x.RYG == 4">Underspend</p>
                                            <p ng-if="x.RYG == 5">On Track</p>
                                        </td>
                                        <td ng-class="{redb: x.Prior == 1 || x.Prior == 2, greenb: x.Prior == 5 , yellowb: x.Prior == 3 || x.Prior == 4}">
                                            <p ng-if="x.Prior == 1">Overspend</p>
                                            <p ng-if="x.Prior == 2">Underspend</p>
                                            <p ng-if="x.Prior == 3">Overspend</p>
                                            <p ng-if="x.Prior == 4">Underspend</p>
                                            <p ng-if="x.Prior == 5">On Track</p>
                                        </td>
                                        <td>{{x.Trend | currency}}</td>
                                        <td ng-bind-html="x.UpdatedComments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" ng-if="main.CCBStatusList.length">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="blue"><center><h3>CCB</h3></center></td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Reqm'ts Docs</th>
                                        <th ng-repeat="x in main.CCBStatusCat">{{x.strShortName}}</th>
                                        <th>Affected By</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Reqm'ts Docs</td>
                                        <td ng-repeat="x in main.CCBStatusCat">{{x.count}}
                                            <br />
                                            <i class="fa fa-plus" ng-click="main.thisCCBSID = x.intStatus; x.show=x.show*-1" ng-if="x.show<0"></i>
                                            <i class="fa fa-minus" ng-click="main.thisCCBSID = -1; x.show=x.show*-1" ng-if="x.show>0"></i>
                                        </td>
                                        <td>Affected By
                                            <br />
                                            <i class="fa fa-plus" ng-click="main.thisCCBSID = -2; main.show=main.show*-1" ng-if="main.show<0"></i>
                                            <i class="fa fa-minus" ng-click="main.thisCCBSID = -1; main.show=main.show*-1" ng-if="main.show>0"></i>
                                        </td>
                                        <td>{{main.CCBStatusList.length}}
                                            <br />
                                            <i class="fa fa-plus" ng-click="main.all = true" ng-if="!main.all"></i>
                                            <i class="fa fa-minus" ng-click="main.all = false" ng-if="main.all"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" ng-if="main.thisCCBSID != -1 || main.all">
                                <thead class="bluethead">
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Owner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="y in main.CCBStatusList" ng-if="main.thisCCBSID == y.intStatus">
                                        <td>{{y.intCCBid}}</td>
                                        <td>{{y.strTitle}}</td>
                                        <td>{{y.strName}}</td>
                                        <td>{{y.dttCreateDate}}</td>
                                        <td>{{y.strUser}}</td>
                                    </tr>
                                    <tr ng-repeat="y in main.CCBStatusList" ng-if="main.all">
                                        <td>{{y.intCCBid}}</td>
                                        <td>{{y.strTitle}}</td>
                                        <td>{{y.strName}}</td>
                                        <td>{{y.dttCreateDate}}</td>
                                        <td>{{y.strUser}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <center><h1><i class="fa fa-circle-o-notch fa-spin" style="color: #0062a8" ng-if="main.loading"></i></h1></center>
    </div>
</div>