﻿@{
    Layout = null;
}
<div class="container" ng-controller="ProductCostController as main">
    <h1><i class="fa fa-usd"></i> Product Cost</h1>
    <div class="table-responsive">
        <table style="background-color: #eee;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="9">
                        <input type="text" class="form-control" ng-model="main.searchText" placeholder="Search here ...">
                    </th>
                </tr>
                <tr>
                    <th>DEG PXT</th>
                    <th>Project</th>
                    <th>Product Code</th>
                    <th>Cost Category</th>
                    <th>POPL3 Target</th>
                    <th>Actual</th>
                    <th>HVM Trend</th>
                    <th>GAP</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in main.PCOSArray | filter: main.searchText">
                <tr>
                    <td rowspan="{{x.hijo.length+1}}"><strong><a href="/PCos/{{x.PXTLink}}">{{x.PXTName}}</a></strong></td>
                    <td rowspan="{{x.hijo.length+1}}">
                        <button class="btn btn-primary btn-block" ng-click="x.info = x.info*-1">{{x.ProgName}}</button>
                        <ul class="list-group" ng-show="x.info>0">
                            <li class="list-group-item"><strong>Name: </strong> {{x.ProgName}}</li>
                            <li class="list-group-item"><strong>Description: </strong> {{x.ProgDesc}}</li>
                            <li class="list-group-item"><strong>Type: </strong> {{x.ProgType}}</li>
                            <li class="list-group-item"><strong>GEO: </strong> {{x.GEO}}</li>
                            <li class="list-group-item"><strong>PLC Status: </strong> {{x.PLCStatus}}</li>
                            <li class="list-group-item"><strong>Progrma Owner: </strong> {{x.OwnerName}}</li>
                        </ul>
                    </td>
                    <td rowspan="{{x.hijo.length+1}}">{{x.SKU}}</td>
                    <td>
                        Summary
                        <br />
                        <i class="fa fa-plus" ng-click="x.show = x.show*-1" ng-if="x.show<0"></i>
                        <i class="fa fa-minus" ng-click="x.show = x.show*-1" ng-if="x.show>0"></i>
                    </td>
                    <td ng-class="{redb: x.TargetValue < 0}">{{x.TargetValue | currency}}</td>
                    <td ng-class="{redb: x.ActualValue < 0}">{{x.ActualValue | currency}}</td>
                    <td ng-class="{redb: x.TrendValue < 0}">{{x.TrendValue | currency}}</td>
                    <td ng-class="{redb: x.GAP < 0}">{{x.GAP | currency}}</td>
                    <td></td>
                </tr>
                <tr ng-repeat="y in x.hijo" ng-if="x.show == 1">
                    <td>{{y.CostCategory}}</td>
                    <td ng-class="{redb: y.TargetValue < 0}">{{y.TargetValue | currency}}</td>
                    <td ng-class="{redb: y.ActualValue < 0}">{{y.ActualValue | currency}}</td>
                    <td ng-class="{redb: y.TrendValue < 0}">{{y.TrendValue | currency}}</td>
                    <td ng-class="{redb: y.GAP < 0}">{{y.GAP | currency}}</td>
                    <td ng-bind-html="y.Comments"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
