﻿@{
    Layout = null;
}
<div class="container" ng-controller="ScheduleController as main">
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Due date for {{main.modalSchedule.ProgName}} on {{main.modalField.Milestone}}</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-if="main.modalField.value">
                                <td><strong>Current Date: </strong>{{main.modalField.value}}</td>
                                <td><strong>Current Comments: </strong><p ng-bind-html="main.modalField.Comments"></p></td>
                                <td><strong>By: </strong></td>
                            </tr>
                            <tr>
                                <td style="border-top:none"><strong>Date</strong></td>
                                <td style="border-top:none">
                                    <div class="col-md-12">
                                        <input type="radio" name="gender" value="male"> WW<br>
                                    </div>
                                </td>
                                <td style="border-top:none">
                                    <div class="col-md-12">
                                        <input type="radio" name="gender" value="female"> Q<br>
                                        <div class="input-group">
                                            <span class="input-group-addon">Q </span>
                                            <input type="number" class="form-control" min="0" placeholder="Q">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">Year </span>
                                            <input type="number" class="form-control" min="0" placeholder="Year">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:none"><strong>Comments</strong></td>
                                <td style="border-top:none" colspan="2">
                                    <div class="col-md-12">
                                        <div class="ta-toolbar btn-toolbar">
                                            <div class="btn-group">
                                                <button type="button" ng-disabled="main.loadingSA" ng-click="main.searchAcronym(main.modalField, 3)" class="btn btn-primary"><i ng-show="main.loadingSA" class="fa fa-circle-o-notch fa-spin"></i> <i class="fa fa-link" aria-hidden="true"></i> Auto</button>
                                                <button data-toggle="modal" href="#ModalManual" type="button" ng-disabled="main.loadingSA" ng-click="main.manual()" class="btn btn-primary"><i class="fa fa-link" aria-hidden="true"></i> Manual</button>
                                            </div>
                                        </div>
                                        <div text-angular ng-model="main.myUpdatetxt" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="active">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:none"><strong>Link</strong></td>
                                <td style="border-top:none" colspan="2">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Link">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top:none"><strong>Is task completed?</strong></td>
                                <td style="border-top:none" colspan="2">
                                    <div class="col-md-12">
                                        <input type="checkbox" ng-model="main.taskcompleted" checked> yes<br>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <!-- ModalManual -->
    <div id="ModalManual" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save a link</h4>
                </div>
                <div class="modal-body">
                    <h2 ng-if="!main.selectedText">No selected Word</h2>
                    <div class="table-responsive" ng-if="main.selectedText">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>Link Text</label>
                                            <input type="text" ng-model="main.selectedText" class="form-control" placeholder="Link Text">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>HoverOver Text</label>
                                            <input type="text" class="form-control" placeholder="HoverOver Text">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>Hyperlink (Optional)</label>
                                            <input type="text" class="form-control" placeholder="Hyperlink">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-if="main.selectedText" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- ModalManual -->
    <h1><i class="fa fa-calendar"></i> Schedule</h1>
    <div class="table-responsive" ng-repeat="x in main.projects">
        <table style="background-color: #eee;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:100px;">DEG PXT</th>
                    <th style="width:200px;">Project</th>
                    <th ng-repeat="y in x.Fields">{{y.Milestone}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>{{x.PXTName}}</a></td>
                    <td>
                        <button class="btn btn-primary btn-block" ng-click="x.info = x.info*-1">{{x.ProgName}}</button>
                            <ul class="list-group" ng-show="x.info>0">
                                <li class="list-group-item"><strong>Name: </strong> {{x.ProgName}}</li>
                                <li class="list-group-item"><strong>Description: </strong> {{x.ProgDesc}}</li>
                                <li class="list-group-item"><strong>Type: </strong> {{x.ProgType}}</li>
                                <li class="list-group-item"><strong>GEO: </strong> {{x.GEO}}</li>
                                <li class="list-group-item"><strong>PLC Status: </strong> {{x.PLCStatus}}</li>
                                <li class="list-group-item"><strong>Progrma Owner: </strong> {{x.OwnerName}}</li>
                                <li class="list-group-item"><strong>Clasification: </strong> {{x.ClasificationName}}</li>
                            </ul>
                    </td>
                    <td ng-repeat="y in x.Fields" ng-class="{red: y.Delinquent == true}" ng-click="main.setModal(x, y)">
                        <p ng-if="y.link"><a href="{{y.link}}" target="_blank">{{y.value}}</a></p>
                        <p ng-if="!y.link">{{y.value}}</p>
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <center><h1><i class="fa fa-circle-o-notch fa-spin" style="color: #fff" ng-if="main.loading"></i></h1></center>
</div>
