﻿@{
    Layout = null;
}
<div class="container" ng-controller="MainController as main">
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save a link</h4>
                </div>
                <div class="modal-body">
                    <h2 ng-if="!main.selectedText">No selected Word</h2>
                    <div class="table-responsive" ng-if="main.selectedText">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>Link Text</label>
                                            <input type="text" ng-model="main.selectedText" class="form-control" placeholder="Link Text">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>HoverOver Text</label>
                                            <input type="text" class="form-control" placeholder="HoverOver Text">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>Hyperlink (Optional)</label>
                                            <input type="text" class="form-control" placeholder="Hyperlink">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-if="main.selectedText" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <h1><i class="fa fa-camera"></i> Snapshot</h1>
    <div class="table-responsive">
        <table style="background-color: #eee;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="5">
                        <input type="text" class="form-control" ng-model="main.searchText" placeholder="Search here ...">
                    </th>
                </tr>
                <tr>
                    <th>DCG Swim Lanes</th>
                    <th>Platform</th>
                    <th>Project</th>
                    <th>PLC Status</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in main.list | orderBy : -VerticalOrder | filter: main.searchText">
                    <td>{{x.VerticalName}}</td>
                    <td>{{x.PXTName}}</td>
                    <td>
                        <button class="btn btn-primary btn-block" ng-click="x.info = x.info*-1">{{x.ProgName}}</button>
                        <ul class="list-group" ng-show="x.info>0">
                            <li class="list-group-item"><strong>Name: </strong> {{x.ProgName}}</li>
                            <li class="list-group-item"><strong>Description: </strong> {{x.ProgDesc}}</li>
                            <li class="list-group-item"><strong>Type: </strong> {{x.ProgType}}</li>
                            <li class="list-group-item"><strong>GEO: </strong> {{x.GEO}}</li>
                            <li class="list-group-item"><strong>PLC Status: </strong> {{x.PLCStatus}}</li>
                            <li class="list-group-item"><strong>Progrma Owner: </strong> {{x.OwnerName}}</li>
                        </ul>
                    </td>
                    <td>{{x.PLCStatus}}</td>
                    <td>
                        <div class="col-md-12" ng-if=" x.flagRichText<0">
                            <p ng-bind-html="x.Updatetxt"></p>
                            <button type="button" class="btn btn-primary btn-block" ng-click="x.flagRichText = 1">
                                Update
                            </button>
                        </div>
                        <div class="col-md-12" ng-if="x.flagRichText>0">
                            <div class="ta-toolbar btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" ng-disabled="main.loadingSA || main.loadingSaving" class="btn btn-success" ng-click="main.saveSnapshot(x, x.Updatetxt)"><i ng-show="main.loadingSaving" class="fa fa-circle-o-notch fa-spin"></i> <i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                                    <button type="button" ng-disabled="main.loadingSA || main.loadingSaving" class="btn btn-danger" ng-click="x.flagRichText = -1">Cancel</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" ng-disabled="main.loadingSA || main.loadingSaving" ng-click="main.searchAcronym(x, 1)" class="btn btn-primary"><i ng-show="main.loadingSA" class="fa fa-circle-o-notch fa-spin"></i> <i class="fa fa-link" aria-hidden="true"></i> Auto</button>
                                    <button data-toggle="modal" data-target="#myModal" type="button" ng-disabled="main.loadingSA || main.loadingSaving" ng-click="main.manual()" class="btn btn-primary"><i class="fa fa-link" aria-hidden="true"></i> Manual</button>
                                    <button type="button" ng-disabled="main.loadingSA || main.loadingSaving" class="btn btn-primary"><i class="fa fa-link" aria-hidden="true"></i> Unlink</button>
                                </div>
                            </div>
                            <div text-angular id="text_{{x.PWID}}" ng-model="x.Updatetxt" ng-disabled="main.loadingSA" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="active"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <center><h1><i class="fa fa-circle-o-notch fa-spin" style="color: #fff" ng-if="main.loading"></i></h1></center>
</div>