﻿@using AutoIndicators.Models
@model dynamic
<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>
<div id="gridIndicatorCat"></div>
<div id="PT" style="display:none">@ViewBag.PTID</div>
<table id="IndicatorCat" style="display:none">
        <tr>
            <td>id</td>
            <td>Name</td>
        </tr>
        @foreach (IndicatorCatalog indicator in Model)
        {
            <tr>
                <td>@indicator.Id</td>
                <td>@indicator.strName</td>
            </tr>
        }
    </table>
