﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "ManProgramTypeView";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ProgTypes> lstProgType = Model.ProgTypes;
    List<MilestoneCatalog> lstMilestone = Model.Milestones;
    List<IndicatorCatalog> lstIndicator = Model.Indicators;
    
}
@section JSLibs{
    <script src="~/Scripts/Totalnput.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/pqgrid.min.js"></script>
}
@section Styles{
    <link href="http://paramquery.com/Content/css/themes/Office/pqgrid.css" rel="stylesheet">
    <link href="~/Content/pqgrid.min.css" rel="stylesheet" />
}
<div id="container" style="text-align:center">
    <div id="gridProgtype" style="float:left"></div>

    <script>
        window.onload = function () {
            var canvas = document.getElementById("myCanvas");
            var context = canvas.getContext("2d");
        
            context.lineWidth = 1;
            context.moveTo(20, 100);
            context.lineTo(100, 100);
            context.moveTo(100, 100);
            context.lineTo(75, 80);
            context.moveTo(100, 100);
            context.lineTo(75, 120);
            
            context.moveTo(20, 600);
            context.lineTo(100, 600);
            context.moveTo(100, 600);
            context.lineTo(75, 580);
            context.moveTo(100, 600);
            context.lineTo(75, 620);

            context.stroke();
          
        };
    </script>
    <table id="DataProgType" style="display:none">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Link</th>
            <th>Short Name</th>
        </tr>
        @foreach (ProgTypes prog in lstProgType)
        {
            <tr>
                <td style="width:200px">@prog.id</td>
                <td style="width:200px">@prog.Name</td>
                <td style="width:200px">@prog.Link</td>
                <td style="width:200px">@prog.Alias</td> 
            </tr>
        }
    </table>
    <div id="Arrows" style="float:left; display:none"><canvas id="myCanvas" width="100" height="820"></canvas></div>
    <div>
        @foreach (ProgTypes prog in lstProgType)
        {
            <div class="milestones" id="grid-m-@prog.id"></div>
            <table id="M-@prog.id" style="display:none">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Definition</th>
                </tr>
                @foreach (MilestoneCatalog milestone in prog.Milestones)
                {
                    <tr>
                        <td>@milestone.Id</td>
                        <td>@milestone.strName</td>
                        <td>@milestone.strDefinition</td>
                    </tr>
                }
            </table>
        }
        <div style="height:30px; width:400px;"></div>
        @foreach (ProgTypes prog in lstProgType)
        {
            <div class="indicators" id="grid-i-@prog.id"></div>
            <table id="I-@prog.id" style="display:none">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                @foreach (IndicatorCatalog indicator in prog.HealthIndicator)
                {
                    <tr>
                        <td>@indicator.Id</td>
                        <td>@indicator.strName</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
<script>
    changeToGridProg();
</script>
