﻿@using AutoIndicators.Models
@model List<RelSilicon>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/pqgrid.min.js"></script>
<table id="DataRel" style="display:none">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Short Name</td>
        <td>Link</td>
    </tr>
    @foreach (RelSilicon rel in Model)
    {
        <tr>
            <td>@rel.id</td>
            <td>@rel.Name</td>
            <td>@rel.shortName</td>
            <td>@rel.Link</td>
        </tr>
    }
</table>
<div id="gridRel"></div>
<script>
    changeToGridRel();


</script>