﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "CCB";
    ViewBag.Module = "CCB";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Params = null;
    ViewBag.ShowExtra = true;
    List<CCBStatus> lstFil = new List<CCBStatus>();
    ViewBag.HiddenFilter = false;
    List<CCBAffected> lstCCBAffected = Model.AffectedCCB;
    bool bArchived = false;
    List<string>
    Menu = new List<string>();
    Menu.Add("<a href=\"/CCB/All/)\" target=\"_blank\">All CCBs</a>|P");
}
@section Scripts
{
    <script>
        module = '@ViewBag.Module';
        skip = '../';
        view=6;
        wwid=@ViewBag.WWID;
    </script>
}
@section JSLibs{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
}

   @section Styles{
    <link href="~/Content/ccb.css" rel="stylesheet" />
}
@{
    if (ViewBag.WeekStatus != null && ViewBag.WeekStatus.Equals(2))
    {
        <div style="color:red"><b>Archived</b></div>
        bArchived = true;
    }
    else if (ViewBag.WeekStatus != null && !ViewBag.WeekStatus.Equals(1))
    {
        <div style="color:red"><b>No Data Found</b></div>
    }
}
@section Extras{
        @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, ViewBag.validUsers, Menu)
}
<script>
    var $grid=null;
    function changeToGridCCB(grid) {
        var tbl = $("#"+grid);
        var obj = $.paramquery.tableToArray(tbl);
        var newObj = {
            width: '100%',
            height: 850,
            title: "Details",
            //DataGrid Menu
            editable: true,
            //collapsible: false,
            rowBorders: true,
            filterModel: { mode: 'AND', header: true, on: true },
            datatype: 'local',
            selectionModel: {type:'cell'},
            scrollModel: { autoFit: true }
        };

        newObj.dataModel = {
            data: obj.data,
            sorting: "local",
            sortDir: ["up", "down"]
        };
        newObj.colModel = obj.colModel;
        
        newObj.colModel[0].editable=false;
        newObj.colModel[1].datatype = "int";
        newObj.colModel[1].width = 100;
        newObj.colModel[1].editable=false;
        newObj.colModel[2].datatype = "string";
        newObj.colModel[2].width = 450;
        newObj.colModel[2].sortIndx ="Title";
        
        newObj.colModel[3].datatype = "string";
        newObj.colModel[3].width = 100;
        newObj.colModel[3].editable=false;
        newObj.colModel[4].datatype = "date";
        newObj.colModel[4].sortIndx ="Date";
        newObj.colModel[4].width = 100;
        newObj.colModel[4].editable=false;
        newObj.colModel[5].datatype = "string";
        newObj.colModel[5].width = 100;
        newObj.colModel[5].editable=false;
        newObj.colModel[6].datatype = "string";
        newObj.colModel[6].width = 100;
        newObj.colModel[6].editable=false;
       

        if( newObj.colModel[7]!=undefined)
        {
            newObj.colModel[7].datatype = "string";
            newObj.colModel[7].width = 100;
            newObj.colModel[7].editable=false;
        }

        var items = newObj.dataModel.data;
        var result = [];

        for (x = 0; x < newObj.colModel.length; x++) {
            Val = [];
            for (var item, i = 0; item = items[i++];) {
                if (Val.indexOf(item[x]) < 0) {
                    Val[Val.length] = item[x];
                }
            }
            result[result.length] = Val;
        }
        for (i = 0; i < newObj.colModel.length; i++) {
            newObj.colModel[i].filter = {
                type: 'select',
                attr: "multiple",
                cache: null,
                options: result[i],
                condition: 'range',
                listeners: ['change'],
                init: function () {
                    $(this).pqSelect({ checkbox: true, radio: true, width: '100%' });
                }
            };
        }

        newObj.colModel[0].filter=null;
        
        newObj.colModel[2].filter={ type: 'textbox', condition: 'between', listeners: ['keyup'] };
        newObj.colModel[4].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };
        newObj.colModel[5].filter = { type: 'textbox', condition: 'contain', listeners: ['keyup'] };

        if( newObj.colModel[7]!=undefined)
            newObj.colModel[7].filter=null;
        else
            newObj.colModel[6].filter=null;

        newObj.pageModel = { rPP: 15, type: "local" };
        $grid=$("#grid_table-"+grid).pqGrid(newObj);

        try {
            if ($grid.pqGrid() != null)
                $grid.pqGrid("destroy");

            $grid.pqGrid(newObj);

        } catch (err) { }
    }
</script>
@using (Html.BeginForm())
{
    <input type="hidden" id="pastValue">
    <input type="hidden" id="pastID">
    <input type="hidden" id="quillCode">
    <table id="header-fixed" class="table table-bordered table-striped" style="width: 87% !important"></table>


        <table width="100%" align="center" id="mainTable" class="table table-bordered table-striped">
            <colgroup>
                <col style="width : 15%;">
                <col style="width : 25%;">
                @foreach (CatCCBStatus cat in Model.CatCCBStatus)
                {
                    <col style="width: 5%; height:auto">
                    <col style="width: 20px;">
                }
                <col style="width: 5%;">
                <col style="width: 20px;">
                <col style="width: 5%;">
                <col style="width: 40px;">
                <col style="width: 20%;">
                @*<col style="width: 40%;">*@
            </colgroup>
            <thead>
                <tr>
                    <th>Quick Search</th>
                    <th colspan="@((Model.CatCCBStatus.Count*2)+6)" align="left"><input type="text" onkeyup="QuickSearch(this.value)" /></th>
                </tr>
                <tr>
                    <th id="thEGPXTSP" height="30">DEG PXT</th>
                    <th id="thProjectName">Project</th>
                    @foreach (CatCCBStatus cat in Model.CatCCBStatus)
                    {
                        <th colspan="2" id="thPlCStatus@(cat.intStatus)" title="@cat.strName"><div class="headerstatus">@cat.strShortName</div></th>

                    }
                    <th colspan="2" id="thProjectRelated"><div class="headerstatus">Affected By</div></th>
                    <th colspan="2" id="thTotal"><div class="headerstatus">Total</div></th>
                    <th id="thAction">Add</th>
                    @*drob column by Lisas's Email*@
                    @*<th id="thComment" data-view="@ViewBag.Module">Comment</th>*@
                </tr>
            </thead>
            <tbody id="TableBody">

                @{int i = 0;}
                @foreach (CCB ccb in Model.CCB)
                {
                    try
                    {
                        i++;
                        <tr id="@("F" +i)">
                            <td id="rowId" style="display:none">@i</td>
                            <td id="@("PWID_" + i.ToString())" style="display:none">@ccb.PWID</td>
                            @GeneralHelpers.ProgDetail(ccb, Url, true)

                            @foreach (CatCCBStatus ccbStatus in Model.CatCCBStatus)
                            {
                                string strVal = ccb.ContinuityID.ToString() + "&statusID=" + ccbStatus.intStatus.ToString();

                                <!--   <td style="border-right:none; cursor:pointer" onclick="showPopUp('/CCB/StatusDetail?WWID=@(Model.WWID)&ContID=@strVal&proj=@ccb.ProgName','@ccbStatus.strName','@ccb.ProgName')"><a>@ccbStatus.strName</a></td>
                                  <td style="border-left:none;" id="detail"></td>
                                -->


                                var intTot = ccb.lStatus.Select(row => row.intStatus == ccbStatus.intStatus);
                                int ist = 0;
                                bool bExiste = false;
                                //if(Convert.ToBoolean(intTot.ToList()[ist].ToString()))
                                //{
                                foreach (CCBStatus ccbStat in ccb.lStatus)
                                {
                                    if (ccbStat.intStatus == ccbStatus.intStatus)
                                    {
                                        bExiste = true;
                                    }
                                }
                                if (bExiste)
                                {
                                    int intTp = 0;
                                    foreach (CCBStatus ccbStat in ccb.lStatus)
                                    {


                                        if (ccbStat.intStatus == ccbStatus.intStatus)
                                        {
                                            intTp++;
                                        }

                                    }
                                    <td style="vertical-align:middle; text-align:center; border-right:none">@intTp</td>
    <td style="vertical-align:bottom; cursor:pointer; border-left:none" onclick="showDetail('@("grid_table-S-" + ccbStatus.intStatus.ToString() + "-" + ccb.ContinuityID)','@("collapseme_" + ccb.ContinuityID)'); changeToGridCCB('@("S-"+ccbStatus.intStatus+"-"+ccb.ContinuityID)');">
        <img id="imgDetail-@("grid_table-S-" + ccbStatus.intStatus.ToString() + "-" + ccb.ContinuityID)" src="~/Content/images/plus.jpg" width="8" height="8" />
    </td>
                                }
                                else
                                {
                                    <td style="vertical-align:middle; text-align:center; border-right:none">0</td>
                                    <td style="border-left: none"></td>
                                }

                            }
                            @{

                        List<CCBAffected> lstCCBAPTot = lstCCBAffected.Where(x => x.ContinuityID == ccb.ContinuityID).ToList();
                            }
                            <td style="vertical-align:middle; text-align: right; border-right:none">@lstCCBAPTot.Count</td>
                            <td style="vertical-align:bottom; cursor:pointer; border-left:none" onclick="showDetail('@("grid_table-AF-" + ccb.ContinuityID)','@("collapseme_" + ccb.ContinuityID)'); changeToGridCCB('@("AF-"+ccb.ContinuityID)');">
                                @if (lstCCBAPTot.Count > 0)
                                {
                                    <img id="imgDetail-@("grid_table-AF-" + ccb.ContinuityID)" src="~/Content/images/plus.jpg" width="8" height="8" />
                                }
                            </td>

                            <td style="vertical-align:middle; text-align: right; border-right:none">@(ccb.lStatus.Sum(row => row.intNumber) + lstCCBAPTot.Count)</td>
                            @{
                        if (ccb.lStatus.Sum(row => row.intNumber) > 0)
                        {
                            <td style="vertical-align:bottom; cursor:pointer; border-left:none" onclick="showDetail('@("grid_table-T-" + ccb.ContinuityID)','@("collapseme_" + ccb.ContinuityID)'); changeToGridCCB('@("T-"+ccb.ContinuityID)');">
                                <img id="imgDetail-@("grid_table-T-" + ccb.ContinuityID)" src="~/Content/images/plus.jpg" width="8" height="8" />
                            </td>
                        }
                        else
                        {
                            <td style="vertical-align:bottom; cursor:pointer; border-left:none"></td>
                        }
                            }
                            <td align="left">
                                <input style="color:blue" class="btn" type="button" onclick="window.open('/CCB/RegisterCCB?WWID=@(Model.WWID)&ContID=@ccb.ContinuityID&proj=@ccb.ProgName&WWName=@ViewBag.WW.Replace("'","_")','_self')" value="New Item" />

                            </td>
                            @*drob column by Lisas's Email*@
                            @*<td style="cursor:pointer" id="@("UpdateText_" +ccb.ContinuityID)">
                                <div data-div="@(ccb.PWID.ToString())" id="@("txtDesc_" + ccb.PWID.ToString())" onclick="Edit(@ccb.PWID.ToString(),@ccb.WWID,'@ccb.ContinuityID')" style="width:100%; height:@(ccb.strComments != null && ccb.strComments.Length > 0 ? "auto" : "50px");">@MvcHtmlString.Create(ccb.strComments)</div>
                                @if (ViewBag.WeekStatus != null && !ViewBag.WeekStatus.Equals(2))
                                {
                                    <textarea data-area="@(ccb.PWID.ToString())" id="@("txtDescription_" + ccb.PWID.ToString())" name="@("txtDescription_" + ccb.PWID.ToString())" style="width:400px; display:none">@ccb.strComments</textarea>
                                }*@

                        </tr>
                        <tr id="@("collapseme_" + ccb.ContinuityID)" style="display:none">
                            <td colspan="2"></td>

                            <td colspan="26">
                                    @foreach (CatCCBStatus ccbStatus in Model.CatCCBStatus)
                                    {
                                        lstFil = ccb.lStatus.Where(row => row.intStatus == ccbStatus.intStatus).ToList();
                                        string strIds = "";
                                        string strTitle = "";
                                        
                                        foreach(CCBStatus reg in lstFil.OrderBy(x=>x.strTitle).ThenByDescending(x=> x.dttCreateDate))
                                        {
                                            strIds += "-" + reg.intCCBid;
                                            strTitle += "-" + reg.strTitle;
                                        }
                                        strIds = strIds.Length>0? strIds.Substring(1) :"";
                                        strTitle = strTitle.Length>0? strTitle.Substring(1) : "";
                                        
                                        <div id="grid_table@("-S-"+ccbStatus.intStatus+"-"+ccb.ContinuityID)" style="display:none" data-ccb="@strIds" data-continuity="@ccb.ContinuityID" data-title="@strTitle" data-status="@ccbStatus.intStatus-@ccbStatus.strName"></div>
                                        <table id="@("S-"+ccbStatus.intStatus+"-"+ccb.ContinuityID)" data-detail="@(ccbStatus.intStatus+"-"+ccb.ContinuityID)" style="display:none">
                                            <thead>
                                                <tr>
                                                    <th>...</th>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th>Owner</th>
                                                    <th>Other Program</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (CCBStatus reg in lstFil)
                                                {
                                                    string strRute = "/CCB/RegisterCCB?WWID=" + Model.WWID + "&ccbid=" + reg.intCCBid + "&ContID=" + reg.ContinuityID + "&proj=" + ccb.ProgName + "&WWName=" + ViewBag.WW.Replace("'", "_");
                                                    string notifData = "6|" + reg.ContinuityID + "||" + Model.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(6) + "|"+reg.OwnerId+"|"+reg.ProgTypeID+"|"+reg.PXTId;
                                                    <tr>
                                                        <td><input style="color:blue" class="btn" type="button" onclick="window.open('@strRute')" value="GO" /></td>
                                                        <td>@reg.intCCBid</td>
                                                        <td>@reg.strTitle.Trim()</td>
                                                        <td>@reg.strName</td>
                                                        <td>@reg.dttCreateDate.ToShortDateString()</td>
                                                        <td>@reg.strUser</td>
                                                        <td>@reg.strOtherProgram</td>
                                                        <td>
                                                            <input style=" color:blue" class="btn" type="button" onclick="window.open('/RAPID/InputRapid?id=0&WWID=@(Model.WWID)&ccb=@reg.intCCBid&WName=@(ViewBag.WW)','_self')" value="RAPID" />
                                                            @*<input style="color:blue" class="btn" type="button" data-notif="@notifData" data-notifproj="@reg.strTitle" onclick="showPopUpShiftClick(this,'/')" style="cursor:pointer" value="Notif" /></td>*@
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    }

                                @{
                        List<CCBAffected> lstCCBAP = lstCCBAffected.Where(x => x.ContinuityID == ccb.ContinuityID).OrderByDescending(x=> x.dttDate).ToList();
                        <div id="grid_table@("-AF-"+ccb.ContinuityID)" style="display:none"></div>
                            <table width="600" id="@("AF-"+ccb.ContinuityID)" data-detail="@("AF-"+ccb.ContinuityID)" style="display:none">
                                <thead>
                                    <th>...</th>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Owner</th>
                                    <th>Action</th>
                                </thead>

                                @foreach (CCBAffected cbbA in lstCCBAP.OrderBy(x=> x.strTitle).ThenByDescending(x=> x.dttDate))
                                {

                                    string strRute = "/CCB/RegisterCCB?WWID=" + Model.WWID + "&ccbid=" + cbbA.intID + "&ContID=" + cbbA.ContinuityIDOwner + "&proj=" + cbbA.ProjectName + "&WWName=" + ViewBag.WW.Replace("'", "_");
                                    string notifData = "6|" + cbbA.ContinuityID + "||" + Model.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(6) + "|" + ccb.OwnerId + "|" + ccb.ProgTypeID + "|" + ccb.PXTId;
                                    <tr>
                                        <td><input style="color:blue" class="btn" type="button" onclick="window.open('@strRute')" value="GO" /></td>
                                        <td>@cbbA.intID</td>
                                        <td>@cbbA.strTitle</td>
                                        <td>@cbbA.strStatus</td>
                                        <td>@cbbA.dttDate.ToShortDateString()</td>
                                        <td>@cbbA.strOwner</td>
                                        <td>
                                            <input style="color:blue" class="btn" type="button" onclick="window.open('/RAPID/InputRapid?id=0&WWID=@(Model.WWID)&ccb=@cbbA.intID&WName=@(ViewBag.WW)','_self')" value="RAPID" />
                                            @*<input style="color:blue" class="btn" type="button" data-notif="@notifData" data-notifproj="@cbbA.strTitle" onclick="showPopUpShiftClick(this,'/')" style="cursor:pointer" value="Notif" />*@
                                        </td>
                                    </tr>



                                }
                            </table>
                               
                                }
                                <div id="grid_table@("-T-"+ccb.ContinuityID)" style="display:none"></div>
                                <table width="600" id="@("T-"+ccb.ContinuityID)" data-detail="@(ccb.ContinuityID)" class="table table-bordered table-striped" style="display:none">
                                    <thead>
                                        <th>..</th>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Owner</th>
                                        <th>Program</th>
                                    </thead>

                                    @foreach (CatCCBStatus ccbStatus in Model.CatCCBStatus)
                                    {
                                        lstFil = ccb.lStatus.Where(row => row.intStatus == ccbStatus.intStatus).ToList();

                                        foreach (CCBStatus reg in lstFil.OrderBy(x=> x.strTitle).ThenByDescending(x=>x.dttCreateDate))
                                        {
                                            string strRute = "/CCB/RegisterCCB?WWID=" + Model.WWID + "&ccbid=" + reg.intCCBid + "&ContID=" + reg.ContinuityID + "&proj=" + ccb.ProgName + "&WWName=" + ViewBag.WW.Replace("'", "_");
                                            
                                            <tr>
                                                <td><input style="color:blue" class="btn" type="button" onclick="window.open('@strRute')" value="GO" /></td>
                                                <td>@reg.intCCBid</td>
                                                <td>@reg.strTitle</td>
                                                <td>@reg.strName</td>
                                                <td>@reg.dttCreateDate.ToShortDateString()</td>
                                                <td>@reg.strUser</td>
                                                <td>@reg.strOtherProgram</td>
                                            </tr>

                                        }

                                    }
                                    @foreach (CCBAffected cbbA in lstCCBAP.OrderBy(x=> x.strTitle).ThenByDescending(x=> x.dttDate))
                                    {

                                        string strRute = "/CCB/RegisterCCB?WWID=" + Model.WWID + "&ccbid=" + cbbA.intID + "&ContID=" + cbbA.ContinuityIDOwner + "&proj=" + cbbA.ProjectName + "&WWName=" + ViewBag.WW.Replace("'", "_");
                                        <tr>
                                            <td><input style="color:blue" class="btn" type="button" onclick="window.open('@strRute')" value="GO" /></td>
                                            <td>@cbbA.intID</td>
                                            <td>@cbbA.strTitle</td>
                                            <td>@cbbA.strStatus</td>
                                            <td>@cbbA.dttDate.ToShortDateString()</td>
                                            <td>@cbbA.strOwner</td>
                                            <td>N/A</td>
                                        </tr>
                                    }
                                </table>
                                
</td>
                        </tr>
                    }
                    catch { }
                }
            </tbody>
        </table>
}


<script type="text/javascript">

    @*function showRichText(Row,WWID,ContinuityID)
    {
        var textbox=tinymce.init({
            selector: 'textarea#txtDescription_' + Row  // change this value according to your HTML
            , width: 300
            , statusbar: false
            , plugins: 'textcolor save link'
            , menu :'edit'
            , default_link_target: '_blank'
            , save_onsavecallback: function () {
                $.post("/CCB/UpdateComments", { ContinuityID: ContinuityID, Comments: tinyMCE.get('txtDescription_'+Row).getContent(), WWID: @(Model.WWID), WWName: "@(Html.Raw(ViewBag.WW))" }, function (response) {
                    location.reload();
                }, "html");
            }
            , toolbar: 'save | backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | link | mybutton '
            , setup: function (editor) {
                editor.addButton('mybutton', {
                    text: 'Add an Acronym',
                    icon: false,
                    onclick: function () {
                        showAcronyms();
                    }
                });
                editor.on( 'keydown', function( args ) {
                    if(args.keyCode==27)
                    {
                        cancelEdit(Row);
                    }
                });
            }
        });


    }*@

    function showPopUp(urlLink, Status,proj) {
        $('#myModalLabel').html("CCB in " + Status+" for "+proj);
        $('#Modal').data('url', urlLink);

        var url = $('#Modal').data('url');
        $.get(url, function (data) {
            $('#modalContainer').html(data);
            $('#Modal').modal("show");

        });
    }

    var difrow = '';
    var statbef = '';

    function QuickSearch(search)
    {
        var obj=$('div[data-ccb*="'+search+'"], div[data-title*="'+search+'"]');
        if(obj.data('status')!=null)
        {
            var status=$(obj).data('status').split('-');

            if(search.length>0)
            {
                showDetail('grid_table-S-'+ status[0] + '-' +$(obj).data('continuity'),'collapseme_' + $(obj).data('continuity'),true);
                changeToGridCCB('S-'+status[0]+"-"+$(obj).data('continuity'));
            }
            else{
                showDetail('grid_table-S-'+ status[0] + '-' +$(obj).data('continuity'),'collapseme_' + $(obj).data('continuity'),true);
            }
        }
    }

    function showDetail(detail,row,search)
    {
        if(search!=undefined && $("#" + detail).is(":visible"))
        {
            return;
        }

        var components = document.querySelectorAll('[data-detail]');

        $($($("#"+detail).children()[0]).children()[1]).click();
        $($($("#"+detail).children()[0]).children()[1]).click();

        if (difrow != row) {
            for (i = 0; i < components.length; i++) {
                if (components[i] != null)
                    components[i].style.display = 'none';
            }
            if (difrow.length > 0) {
                $("#" + difrow).hide();
            }
            $("#" + row).show();

            if (!$("#" + statbef).is(":visible"))
                $("#imgDetail-" + statbef).attr("src", "../Content/images/plus.jpg");
            else
                $("#imgDetail-" + statbef).attr("src", "../Content/images/minus.png");

            if ($("#" + detail).is(":visible"))
                $("#imgDetail-" + detail).attr("src", "../Content/images/plus.jpg");
            else
                $("#imgDetail-" + detail).attr("src", "../Content/images/minus.png");



            $("#" + detail).show();

            difrow = row;
            statbef = detail;
        } else {


            if (statbef != detail) {
                if (statbef.length > 0) {
                    if ($("#" + statbef).is(":visible")) {
                        $("#imgDetail-" + statbef).attr("src", "../Content/images/plus.jpg");
                        $("#" + statbef).hide();
                        $("#" + detail).show();
                    }else
                        $("#" + detail).show();

                    $("#imgDetail-" + detail).attr("src", "../Content/images/minus.png");
                    $("#" + row).show();
                } else
                {
                    for (i = 0; i < components.length; i++) {
                        if (components[i] != null)
                            components[i].style.display = 'none';
                    }
                    if ($("#" + detail).is(":visible")) {
                        $("#imgDetail-" + detail).attr("src", "../Content/images/plus.jpg");
                        $("#" + detail).hide();
                        $("#" + row).hide();
                    }
                    else {
                        $("#imgDetail-" + detail).attr("src", "../Content/images/minus.png");
                        $("#" + detail).show();
                        $("#" + row).show();
                    }
                }

                statbef = detail;

            } else {
                if ($("#" + detail).is(":visible")) {
                    $("#imgDetail-" + detail).attr("src", "../Content/images/plus.jpg");
                    $("#" + detail).hide();
                    $("#" + row).hide();
                }
                else {
                    $("#imgDetail-" + detail).attr("src", "../Content/images/minus.png");
                    $("#" + detail).show();
                    $("#" + row).show();
                }
            }
        }


    }

</script>
<script type="text/javascript">
    var tableOffset = $("#mainTable").offset().top;
    var $header = $("#mainTable > thead");
    var $fixedHeader = $("#header-fixed").append($header.clone());

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();


        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function (ind, val) {
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding", original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });

    $(document).ready(function () {
        $('#aCCB').css("background-color", "#0062a8");
        $('#helpbar').height(30);
    });

  

</script>
