﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "CCBLinksView";
    Layout = null;
}
<div class="alert alert-warning" hidden="hidden" id="warning">
    <a href="#" class="close" aria-label="close" onclick="return false;">&times;</a>
    <strong>Warning!</strong>
    <div id="warningMessage"></div>
</div>
@using(Html.BeginForm("SaveLink","CCB",FormMethod.Post, new { onsubmit = "return validateForm2()", id = "AddLinkForm" }))
{
<div>
    @Html.Hidden("txtCCBID",(int)Model.CCBID)
    @Html.Hidden("txtWWID", (int)Model.WWID)
    @Html.Hidden("txtContID", (string)Model.ContID)
    @Html.Hidden("txtProj", (string)Model.Proj)
    <table width="400" align="center">
            <tr>
                <td>Name</td>
                <td>@Html.TextBox("txtName",null)</td>
            </tr>
            <tr>
                <td>Url</td>
                <td>@Html.TextBox("txtUrl", null)</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save" /></td>
            </tr>
    </table>
</div>
}
<script>
    function validateForm2() {
        var url = $("#txtUrl").val();

        //  URL validation
        if (validateURL(url)) { } else {
            if (url != "") {
                $('#warning').show();
                $('#warningMessage').text("Please enter a valid URL, remember including http://");
                return false;
            }
        }
    }
    $(function () {
        $('AddLinkForm').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#result').html(result);
                    }
                });
            }
            return false;
        });
    });
    function validateURL(url) {
        var reurl = /(ftp|http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
        return reurl.test(url);
    }
</script>