﻿@using AutoIndicators.Models
@model dynamic

@{
    Layout = null;
}

    <div>
    <table width="400"  align="center">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
        </thead>
        @foreach(CCBStatus reg in Model.CCBs)
        {
            string strRute = "/CCB/RegisterCCB?WWID="+Model.WWID+"&ccbid=" + reg.intCCBid + "&ContID=" + reg.ContinuityID+"&proj="+Model.Proj;
            <tr>
                <td><a href="@strRute" target="_self">@reg.intCCBid</a></td>
                <td><a href="@strRute" target="_self">@reg.strTitle</a></td>
                <td>@reg.strName</td>
            </tr>
            
        }
    </table>
    </div>