﻿@using AutoIndicators.Models
@model dynamic

@{
    ViewBag.Title = "Snapshot";
    ViewBag.Module = "Snapshot";
    ViewBag.HiddenFilter = false;
   
    ViewBag.ShowExtra = true;
    List<SnapshotIndex> lstSnap = Model.list;
    bool bArchived = ViewBag.WeekStatus!=null && ((int)ViewBag.WeekStatus) == 2;
    int res = 0;

    string userName = User.Identity.Name;
    int size = Model.validUsers.Count;
    int j = 0;

    string[] valid1Users = new string[size];

    foreach (var item in Model.validUsers)
    {
        if (item.UserType == 1)
        {
            valid1Users[j] = item.validUsers;

            j++;
        }

    }

    res = Array.IndexOf(valid1Users, userName.Remove(0, 4));
}
@section Scripts
{
<script>
    module = '@ViewBag.Module';
    view=1;
    skip = '../';
    wwid=@ViewBag.WWID;
</script>
    
}
@section JSLibs{
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/FreeHtml.js"></script>
    <script src="~/Scripts/reports.js"></script>
}

@section Styles{
    <link href="@Url.Content("~/Content/snapshotStyle.css")" rel="stylesheet" type="text/css"/>
  
}

<input type="hidden" id="pastValue">
<input type="hidden" id="pastID">
<input type="hidden" id="quillCode">
<div class="modal fade" id="BModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">
    <div class="modal-content" id="Bmodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myBModalLabel">Terminate program</h4>
        </div>
        <div class="modal-body" id="BmodalContainer"></div>
    </div>
</div>
<div class="modal fade" id="UserModal" tabindex="-1" aria-labelledby="myModalLabel" style="overflow:hidden;">
    <div class="modal-content" id="Usermodalcontent">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myUserModalLabel">Please leave a comment explaining the negative Result</h4>
        </div>
        <div class="modal-body" id="UsermodalContainer"></div>
    </div>
</div>
    <fieldset id="fieldSet">

        @section Extras{
                @GeneralHelpers.MenuExtras(ViewBag.WWID, bArchived, Model.validUsers)
          
        }
@if(bArchived)
{
    if(res > -1)
    {
        <div style="float:right"><a href="@Url.Action("onOffWW", "Snapshot", new { pWWID = Session["FilWW"] != null && Convert.ToInt32(Session["FilWW"].ToString()) > 0 ? Convert.ToInt32(Session["FilWW"].ToString()) : ViewBag.WWID, switcho = 1 })" target="_self">Activate this Snapshot</a></div>
    }
    <div style="color:red"><b>Archived</b></div>
}
        @using (Html.BeginForm())
        {
    <table  id="header-fixed" class="table table-bordered table-striped" style="width: 87% !important">
    </table>
            <form name="TableForm" id="Table" method="POST">
                <table width="100%" align="center" id="SnapshotTable" class="table table-bordered table-striped">
                    <colgroup>
                        <col style="width : 8%;">
                        <col style="width : 8%;">
                        <col style="width : 17%;">
                        <col style="width : 15%;">
                        @if(bArchived)
                        { 
                            <col style="width : 10%;">
                            <col style="width : 50%;">
                        }else
                        { 
                            <col style="width: 60%" />
                        }
                    </colgroup>
                    <thead id="TableHeaders">
                        <tr>
                            <th id="thVertical" align="center">DCG Swim Lanes</th>
                            <th id="thEGPXTSP" align="center" height="30">Platform</th>
                            <th id="thProjectName" align="center">Project</th>
                            <th id="thPlCStatus" align="center">PLC Status</th>
                            @if(bArchived)
                            { 
                                <th id="thOwner" align="center">Owner</th>
                            }
                            <th id="thUpdate" align="center">Update</th>
                           
                        </tr>
                            
                    </thead>
                    <tbody id="TableBody">
                        @{int i = 0;}
                        @foreach (var item in lstSnap.OrderBy(x => x.VerticalOrder).ThenBy(x => x.PXTOrder).ThenBy(x => x.OrderAs).ThenBy(x=> x.ProgName))
                        {
                            i++;
                            //View|continuity|elementId|WWID|icon
                            string notifData = "1|" + item.ContinuityID + "||" + item.WWID.ToString() + "|" + AutoIndicators.GeneralClasses.General.getIcon(1) + "|" + item.OwnerId + "|" + item.ProgTypeID + "|" + item.PXTId;
                            <tr id="@("F" + item.PWID)">
                                <td id="rowId" style="display:none">i</td>
                                <td>@if (item.VerticalLink!=null && item.VerticalLink.Length > 0)
                                    {
                                        <a href="@item.VerticalLink" target="_blank">@item.VerticalName</a>
                                    }
                                    else
                                    { 
                                        @item.VerticalName
                                    }</td>
                                <td id="@("PWID_" + i.ToString())" style="display:none">@item.PWID</td>
                                @GeneralHelpers.ProgDetail(item, Url, !bArchived, (string)ViewBag.Module, bArchived)                              
                                <td id="@("PLCStatus_" + i.ToString())">
                                                @if (!bArchived)
{
    <select id="plcDD@i.ToString()" name="plcDDi.ToString()" onchange="if(PWID==0) { PWID=@item.PWID.ToString(); }  CheckC('@item.ContinuityID'); UpdateSnapshot('@item.PWID.ToString()', 2, this.value)">
        @foreach (SelectListItem ite in Model.PlCList)
        {
            if (ite.Text == item.PLCStatus)
            {
                <option value="@ite.Value" selected="selected">@ite.Text</option>
            }
            else
            {
                <option value="@ite.Value">@ite.Text</option>
            }

        }
    </select>

}
else
{
                                                @item.PLCStatus
                                                }</td>                                
                                @*<td class="comboBox" id="@("PLCStatus_" + i.ToString())">@Html.DropDownList("plcDD" + i.ToString(), (IEnumerable<SelectListItem>)item.PTPLCStatus, (string)item.PLCStatus, new { @onchange = "UpdateSnapshot(" + item.PWID.ToString() + ", 2, this.value)" })</td>*@                                
                                @if (bArchived)
                                { 
                                    <td><a href="mailto:@item.OwnerEmail?subject=Snapshot @item.weekName - @item.ProgName">@item.OwnerName</a></td>
                                    <td>@MvcHtmlString.Create(item.Updatetxt)</td>
                                }
                                else
                                { 
                                    <td data-addnotify="1" data-titlenoti="Notif Enabled! - Shift + Click on area" id="@("UpdateText_" + i.ToString())" data-notif="@notifData" data-notifproj="@item.ProgName">
                                        <div data-div="@(item.PWID.ToString())" id="@("txtDesc_" + item.PWID.ToString())" onclick="
                                             if(PWID==0) { 
                                                PWID=@item.PWID.ToString(); 
                                             } 
                                             CheckC('@item.ContinuityID'); 
                                             Edit(@item.PWID.ToString(),@item.WWID,'@item.ContinuityID',@item.OwnerId,@item.ProgTypeID, @item.PXTId);
                                             " style="width:100%; height:@(item.Updatetxt != null && item.Updatetxt.Length > 0 ? "auto" : "50px");">@MvcHtmlString.Create(item.Updatetxt)</div>
                                        <textarea data-area="@(item.PWID.ToString())" id="@("txtDescription_" + item.PWID.ToString())" name="@("txtDescription_" + item.PWID.ToString())" style="width:400px; display:none">@item.Updatetxt</textarea>

                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
    </fieldset>
    <table id="BadOwners" style="display:none">
        <thead>
            <tr>
                <th>Project</th>
                <th>Owner</th>
                <th>Email</th>
            </tr>
        </thead>
        @{
            string strEmails="";    
            foreach (SnapshotIndex item in lstSnap)
            {
                if ((item.Updatetxt==null || item.Updatetxt.Length ==  0 )&& item.ProgTypeID!=18)
                {
                    if(strEmails.IndexOf(item.OwnerEmail)<0)
                    { 
                        strEmails+= item.OwnerEmail.Trim()+";";
                    }
                    <tr>
                        <td>@item.ProgName</td>
                        <td>@item.OwnerName</td>
                        <td><a href="mailto:@item.OwnerEmail">@item.OwnerEmail</a></td>
                    </tr>
                }
            }
        }
        <tr>
            <td colspan="3" align="right"><button class="button" onclick="window.location.href='mailto:@strEmails'">Send Email</button></td>
        </tr>
    </table>
      
        <script type="text/javascript">
            //This script goes on all view. At activates or deactivates the active cell on the menu bar options, so the user knows where he is.
            $(document).ready(function () {
                $('#aSnapshot').css("background-color", "#0062a8");
            });

            function CheckC(con)
            {
                if(ContinuityID.length>0 && ContinuityID!=con)
                {
                    ContinuityID=con;
                    SC=false;
                    PWID=0;
                }else
                {
                    SC=true;
                }
            }

            var PWID=0;
            var editing=false;
            var SC=true;
            function showRichText(Row,WWID)
            {
                if(!editing){  

                    var textbox=tinymce.init({ 
                        selector: 'textarea#txtDescription_' + Row  // change this value according to your HTML
                        , width: '100%'
                        , statusbar: false
                        , plugins: 'textcolor save link'
                        , menu :'edit'
                        , default_link_target: '_blank'
                        , save_onsavecallback: function () {  
                            editing =true;
                            if(PWID==0)
                            {
                                PWID=Row;
                            }
                            UpdateSnapshot(Row, 1, tinyMCE.get('txtDescription_'+Row).getContent());
                            $('#txtDesc_'+Row).html(tinyMCE.get('txtDescription_'+Row).getContent());
                            $('#txtDesc_'+Row).css('height','100%');
                            cancelEdit(Row);
                        }
                        ,save_enablewhendirty: false
                        , toolbar: 'save | backcolor | forecolor | bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | cut | copy | paste | bullist | numlist | outdent | indent | blockquote | mybutton | mybuttonPL | AcronymsSearch | LinkAdd '
                        , setup: function (editor) {
                            editor.addButton('AcronymsSearch', {
                                text: 'Auto',
                                icon: 'link',
                                onclick: function () {
                                    UpdateSnapshot(1,3,tinyMCE.get('txtDescription_'+Row).getContent(), Row);
                                }
                            });
                            editor.addButton('LinkAdd', {
                                text: 'Manual',
                                icon: 'link',
                                onclick: function () {
                                    AddLinks(Row);
                                }
                            });
                            editor.on( 'keydown', function( args ) {
                                if(args.keyCode==27)
                                {
                                    editing=false;
                                    cancelEdit(Row);
                                }
                            });
                        }
                    });
                }else { alert('Saving data. Please wait'); }
            }

        </script>

        <script>
            

    //Update function to send to the controller
            function UpdateSnapshot(PWID, pOpType, pNewVal, pCurrentString,continuity) {
                //If the Operation Type is 1, we craete the value we're going to send

                var WWIDpar = @Model.WWID;
                var URL = "/Snapshot/Snapshot";
                if (pOpType == 2 || pOpType ==1) {
                    $.post(URL,{PWID: PWID, opType: pOpType, newVal: pNewVal, WWID: WWIDpar },function(response){
                        if(SC)
                        {
                            PWID=response;
                        }

                        editing=false;
                    });
                }
                else{
                    var URL = "/Snapshot/SearchAcronyms";
                    var Row = pCurrentString;
                   
                    if (pNewVal!=null) {
                        $.post(URL,{TextAcronyms:pNewVal, WWID: wwid,ContinuityID: ContinuityID , Owner: Owner , ProgType: ProgramType , PXT: PXT, View:view},function (data) {
                            tinyMCE.get('txtDescription_'+Row).setContent(data);
                            editing=false;
                        }
                            );
                    }

                     }
    }
        </script>

        <script>;
            $(document).keyup(function(e) {//Function to escape editing in the quill with the "Esc" Key
                if (e.keyCode == 27) { // escape key maps to keycode `27`

                        var pastID = $('#pastID').text();    
                        var stringID = "UpdateText_"+pastID.toString();
                        document.getElementById("commentSpace").appendChild(document.getElementById("commentsDialog"));
                        $('#CommentsDialog').hide();
                        $('#'+stringID).html($('#ql-editor-1').html());
                        $('#pastID').text("null");
                        $('#commentsDialog').hide();
                }
            });
        </script>

       
       <script>
    
           function CreateNewWW()
           {
               if(confirm("Do you want to create the new working week?"))
               {
                   window.location.href="/Snapshot/CreateNewWW";
               }
           }
      </script>
@{
    if(Session["Focus"]!=null && ((int)Session["Focus"])>0)
    {
        <script>
            $('#F@((int)Session["Focus"])').attr('style','border: blue solid 1px');
            $('#F@((int)Session["Focus"])').get(0).scrollIntoView();
        </script>    
    }
    
}
    
<script>
    var tableOffset = $("#SnapshotTable").offset().top;
    var $header = $("#SnapshotTable > thead");
    var $fixedHeader = $("#header-fixed").append($header.clone());

    $(window).bind("scroll", function() {
        var offset = $(this).scrollTop();
       
    
        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
            $.each($header.find('tr > th'), function(ind,val){
                var original_width = $(val).width();
                var original_padding = $(val).css("padding");
                $($fixedHeader.find('tr > th')[ind])
                .width(original_width)
                .css("padding",original_padding);
            });
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });

    
</script>

















        
