﻿@using AutoIndicators.Models
@model dynamic
@{
    Layout = null;
}
@using (Html.BeginForm("SaveSingle", "Pcos", FormMethod.Post, new { onsubmit = "return validateForm()", id = "SKUForm" }))
{
     foreach (var item in Model.list)
     {
       @Html.Hidden("WWID", (int)ViewBag.WW);
       @Html.Hidden("ID", (int)@item.id);
       @Html.Hidden("PID", (string)@ViewBag.PID);
    
    <table width="400" align="center" id="SnapshotTable" class="SnapShot">
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 70%;">
        </colgroup>
        <tbody>
            <tr>
                <td>@Html.Label("Name:")</td>
                <td>
                    @Html.TextBox("pName", (string)@item.Name, new { required = string.Empty })
                </td>
            </tr>
            @*<tr>
                <td>@Html.Label("Link: ")</td>
                <td>
                    @Html.TextBox("pLink", (string)@item.Link, new { required = string.Empty })
                </td>
            </tr>*@

            <tr>
                <td>@Html.Label("Description Text: ")</td>
                <td>
                    @Html.TextArea("pDescText", (string)@item.DescText, new { required = string.Empty })
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" align="right"><input type="submit" value="Save" id="saveBtn" /></td>
            </tr>
        </tbody>
    </table>
  }
}


    <link href="@Url.Content("~/Content/commentStyle.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        // WHEN CLOSE CLICK HIDE THE ERROR / WARNING .
        $('body').on('click', '.close', function (e) {
            $("#warning").hide();
        });
    </script>

    <script type="text/javascript">
        $('#SKUForm').submit(function () {
            $(this).find('input[type=submit]').attr('disabled', 'disabled');
        });
    </script>

